/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    background: #eee;
}

.trading_wrap {
    margin: 0 auto;
    margin-bottom: 1.40rem;
    padding: 0 16px;
    max-width: 7.5rem;
    min-height: 100%;
    background: #fff;
    overflow: hidden;
}

.navbar {
    margin-bottom: 6px;
    width: 7.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    // 移除捲動卷軸
    &::-webkit-scrollbar {
        display: none;
    }

    .active {
        color: rgb(0, 37, 200) !important;
        transform: scale(1.1);
        font-weight: 600;
    }

    .btn_bar {
        display: inline-block;
        background: #fff;
        font-size: 0.20rem;
        padding: 6px 0;
        margin-right: 12px;
        text-decoration: none;
        color: #666;
        border: 3px solid transparent;

        &:hover {
            transform: scale(1.1);
            transition: all 0.1s;
            font-family: bolder;
            font-weight: 900;
            color: #000;
            cursor: pointer;
            border-bottom: 3px solid #000;
        }

        // &:focus{
        //     transform: scale(1.1);
        //     font-family: bolder;
        //     color: #111;
        //     font-weight: 900;
        //     border-bottom: 3px solid #000;
        //     border-style: dashed;
        // }
    }
}

.head_classification {
    line-height: 1.5;
    color: #aaa;
    border-bottom: 1px solid #eee;

    li {
        span {
            font-size: 0.24rem;
            text-align: left;
        }
    }

    .title_right {
        text-align: right;
    }
    .title_center{
        text-align: right;
    }
}

.rise {
    color: #53CC9A;
}

.fall {
    color: #E3525C;
}

.productList_alink {
    max-width: 7.5rem;
    width: 100%;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #eee;

    &:hover {
        background: rgb(233, 246, 239);
    }

    .productList_left {
        flex: 1 1 20%;
        flex-wrap: wrap;
        padding: 6px 0;

        span {
            line-height: 1.5;
            font-weight: 400;
            flex: 1 1 100%;
            text-align: left;
        }

        .prn {
            font-size: 0.24rem;
        }

        .en {
            color: #aaa;
            font-size: 0.20rem;
        }
    }

    .productList_center {
        flex: 1 1 30%;

        span {
            font-size: 0.18rem;
            font-weight: 600;
            text-align: left;
        }
    }

    .productList_right {
        flex: 1 1 40%;

        .buy {
            line-height: 1.5;
            font-size: 0.18rem;
            font-weight: 600;
            text-align: right;

            &:nth-child(1) {
                flex: 1 1 100%;
            }
        }
        .cell{
            flex: 1 1 100%;
        }
        .wave {
            font-size: 0.14rem;
            margin-right: 6px;
            line-height: 1.5;
            font-size: 0.18rem;
            font-weight: 600;
        }

        .wave_percent {
            font-size: 0.14rem;
            line-height: 1.5;
            font-size: 0.18rem;
            font-weight: 600;
        }
    }
}



.u-flex {
    display: flex;
}

.u-fw {
    flex-wrap: wrap;
}

.jcc {
    justify-content: center;
}

.jcs {
    justify-content: start;
}
.jce{
    justify-content: flex-end;
}

.aic {
    align-items: center;
}
.aib{
    align-items: baseline;
}
.f-2 {
    flex: 1 1 20%;
}
.f-3 {
    flex: 1 1 33.33333%;
}
.f-4{
    flex: 1 1 40%;
}