@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}
img {
  border: 0 none;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.clearFix {
	clear:both;
	width:100%;
	display:block;
	font-size:0px;
	line-height:0px;
	height:0px;
	overflow:hidden;
}
.clear {
	clear:both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	-webkit-text-size-adjust: none;	
	position:relative;
}
html{
  font-size: 100px;
}
.wrapper{
	max-width:750px;
    min-width: 320px;
	margin: 0 auto;
	overflow:hidden;
	height:auto;
	/* 共用 */
}
/* header */
body {
	padding-top:0rem;
	background-color:#4d008c;	
	color:#fff;	
}
.headerMain {
    height:1.33rem;
	position: fixed;
	top:0rem;
	left:0rem;
	width:100%;
	z-index:997;
}
.header-info {
	height:1.33rem;
	position:relative;
	max-width:750px;
	margin:auto;
	margin:auto;
}
.header-info .logo {
	position:absolute;
	top:50%;
	height:0.48rem;
	margin-top:-0.24rem;
	left:4%;
	display:block;	
}
.header-info .headerBtQ {
	position:absolute;
	top:50%;
	height:0.48rem;
	margin-top:-0.24rem;
	right:4%;
}
.header-info .headerBtQ img {
	height:0.44rem;
	display:block;
	float:right;
	margin-left:0rem;
}
@keyframes bgFadeIn {
    0% {
        background-color: #4d008c;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
.wrapper:before {
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	animation: bgFadeIn 0.5s ease-in both;
	top:0px;
	left:0px;
	z-index:0;
}
.wrapper {
	background-image:url(../img/bg.jpg);
	background-repeat:repeat-x;
	background-size:100% auto;
	position:relative;
}
.part_01 {
	padding:1.6rem 0 0 0;
	text-align:center;
	position:relative;
	z-index:2;
}
.part_01 h2 img {
	display:block;
	width:90.3%;
	margin:0 auto 1.06rem auto;
}
.part_01 .i1 img {
	display:block;
	width:92%;
	margin:0 auto 0 auto;
}
.part_01 .i2 {
	padding-top:1.2rem;
	text-align:center;
	clear:both;
}
.part_01 .i2 img {
	display:inline-block;
	width:46.1%;
}
.part_02 {
	padding-top:0.55rem;
	text-align:center;
	position:relative;
	z-index:2;
}
.part_02 h3 img {
	display:block;
	width:92.3%;
	margin:0 auto 0.15rem auto;
}
.part_02 h3 i {
	width:92.1%;
	text-align:left;
	font-size:0.24rem;
	line-height:0.36rem;
	display:block;
	margin:0 auto 0.3rem auto;
	color:#f9f3fd;
	font-weight:normal;
}
.part_02 .i1 img {
	display:block;
	width:94.9%;
	margin:0 auto 0.07rem auto;
}
.part_02 .i2 img {
	display:block;
	width:62.1%;
	margin:0 auto 0.35rem auto;
}
.part_03 {
	padding:0 4%;
	padding-bottom:0.55rem;
	background-image:url(../img/304.png);
	background-repeat:no-repeat;
	background-position:bottom center;
	background-size:100% auto;
	position:relative;
	z-index:2;
}
.part_03 h3 {
	height:auto;
	overflow:hidden;
	margin-bottom:0.3rem;
}
.part_03 h3 img.i1_1 {
	height:0.36rem;
	display:block;
	float:left;
	width:auto;
}
.part_03 h3 img.i1_2 {
	height:0.4rem;
	display:block;
	float:right;
	width:auto;
}
.part_03 .i2 {
	width: 100%;
	border-radius: 0.18rem;
	overflow:hidden;
	display: block;
	background-color:#fff;
	padding-bottom:0.22rem;
}
.part_03 .i2 img {
	width: 100%;
	display:block;
}
.part_03 table.xauTable {
	width:98%;
	margin:auto;
	text-align:left;
}
table.xauTable td,table.xauTable th {
	border:solid 0.01rem #bab9b8;
	font-size:0.21rem;
	padding:0.12rem;
}
table.xauTable th {
	padding:0.12rem;
	font-weight:normal;
	font-size:0.24rem;
}
table.xauTable th strong {
	height: 0.3rem;
	line-height: 0.3rem;
	font-size:0.2rem;
	vertical-align: middle;
	padding: 0 0.15rem;
	border-radius: 0.15rem;
	font-weight:normal;
}

.part_04 {
	padding:0.56rem 0 0 0;
	background-color:#e7caff;
	height:auto;
	overflow:hidden;
	position:relative;
	z-index:2;
}
.part_04 h3 img {
	display:block;
	width:94.2%;
	margin:0 auto 0.3rem auto;
}
.part_04 .i1 {
	padding:0 4% 0 4%
}
.part_04 .i1 img {
	width: 100%;
	border-radius: 0.16rem;
	display: block;
	margin-bottom:0.12rem;
}
.part_04 .i2 img {
	display:block;
	width:94%;
	margin-left:2%;
	margin-bottom:0.62rem;
	clear:both;
}
.part_05 {
	background-image:url(../img/504_1.png);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% auto;
	padding-top:0.56rem;
	position:relative;
	z-index:2;
}
.part_05 h3 img {
	display:block;
	width:80.9%;
	margin:0 auto 0.36rem auto;
}

.part_05 .i1 img {
	display:block;
	width:92%;
	margin:0 auto 0.6rem auto;
}

.part_05 .i2 {
	padding:0 4% 0.6rem 4%;
	background-image:url(../img/504.png);
	background-position:bottom left;
	background-repeat:no-repeat;
	background-size:100% auto;
	clear:both;
	text-align:center;
}
.part_05 .i2 img {
	display:block;
	width:30.6%;
	float:left;
	margin-right:4%;
}
.part_05 .i2 a:nth-child(3) img{
	margin-right:0px;
}
.xauTab {
	padding:0.17rem 0 0.2rem 0;
	width:98%;
	margin:auto;
}
.xauTab li {
	color:#000;
	font-size:0.16rem;
	display: inline-block;
	padding: 0 0.08rem;
	height: 0.3rem;
	line-height: 0.3rem;
	vertical-align: middle;
	border-radius: 0.03rem;
	background-color: #dcdedd;
	margin-right:0.08rem;
}
.xauTab li.cur {
	background-color:#f29700;
}
#tnc .xauTab {
	width:100%;
	padding:0.25rem 0 0.12rem 0;
}
@media(max-width:360px){
#tnc .xauTab li {
	padding: 0 0.06rem;
	margin-right:0.05rem;
}
}
#tnc .popup_div_content {
	max-width:700px;
}

#tnc .popup_div_content .popup_inside .popup_inside_over {
	padding:30px 0.12rem;
}
#tnc .xauTitle {
	font-size:0.18rem;
	padding:0.65rem 0 0.12rem 0.15rem;
}
#tnc .xauTitle span {
	float:right;
	display:inline-block;
	color:#a0a0a0;
	font-weight:normal;
}
#tnc table.xauTable {
	width:100%;
}
#tnc table.xauTable th,#tnc table.xauTable td {
	font-size:0.15rem;
	padding:0.05rem 0.08rem;
	border:solid 1px #000;
}
#tnc table.xauTable2 td:nth-child(2) {
	color:#000;
}
#tnc table.xauTable2 td {
	border-right:0px;
	border-left:0px;
}
#tnc table.xauTable2 td:first-child {
	border-left:solid 1px #000;
}
#tnc table.xauTable2 td:last-child {
	border-right:solid 1px #000;
}
@media(max-width:360px){
#tnc table.xauTable2 td {
	border-right:0px;
	border-left:0px;
	padding:0.05rem 0.04rem;
}
#tnc table.xauTable2 {
	stransform-origin: 0 0;
	margin-left:-0.3rem;
	transform:perspective(1px) scale(0.91);
}
#tnc table.xauTable3 td {
	border-right:0px;
	border-left:0px;
	padding:0.05rem 0.05rem;
}
#tnc table.xauTable3 {
	margin-left:0rem;
	transform: scale(1);
}
}
.regBt {
	position:relative;
	width:100%;
	text-align:center;
}
.regBt div {
	width:7.01rem;
	margin:auto;
	position:relative;
}
.regBt div .i2 {
	width:100%;
	display:block;
}
.regBt div .i1 {
	display:block;
	position:absolute;
	top:0.44rem;
	right:0.5rem;
	height:0.77rem;
}
.footerINfo {
	background-color: #fff;
	color:#333333;
	padding:0.57rem 4% 0.68rem 4%;
	position:relative;
	z-index:2;
}
.footerINfo h3 {
	text-align:center;
}
.footerINfo h3 img {
	width:88%;
	margin:0 auto 0.16rem auto;
}
.footerINfo .i1 a {
	color:#a3a3a3;
}
.footerINfo .i1 a img {
	display:inline-block;
	vertical-align:middle;
	height:0.13rem;
}
.footerINfo .i1 {
	font-size:0.24rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
	display:block;
	text-align:left;
	color:#333333;
}
.footerINfo .i2 {
	text-align:center;
	width:100%;
	display:block;
	margin-bottom:0.19rem;
}
.footerINfo .i2 a img {
	display: inline-block;
	border-radius: 0.05rem;
	width: 31.4%;
}
.footerINfo .i2 a:nth-child(1) img {
	float:left;
}
.footerINfo .i2 a:nth-child(3) img {
	float:right;
}
.footerINfo .i3  {
	width:100%;
}
.footerINfo .i3 li {
	width: 48%;
	float: left;
	text-align: center;
	color: #b70000;
	background-color: #fff;
	border-radius: 0.08rem;
	border: solid 0.02rem #4d008c;
	padding-bottom:0.25rem;
	background: linear-gradient(#fff,#fff);
}
.footerINfo .i3 li:nth-child(2) {
	float:right;
}
.footerINfo .i3 li h4 {
	display: inline-block;
	line-height: 0.48rem;
	padding: 0 0.2rem 0 0.7rem;
	background-image: url(../img/115_201.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0.2rem center;
	height: 0.48rem;
	vertical-align: middle;
	font-size: 0.24rem;
	font-weight: normal;
	border-radius: 0.24rem;
	background-color: #f7eeff;
	color:#7432aa;
	margin:0.2rem;
}
.footerINfo .i3 li p {
	font-weight:bold;
	font-size:0.48rem;
	line-height:0.48rem;
	vertical-align: bottom;
	color:#4d008c;
}
.footerINfo .i3 li p strong {
	line-height:0.24rem;
	font-size:0.24rem;
	font-weight:normal;
	color:#4d008c;
	vertical-align:bottom;
}
.footerINfo .i4 {
	clear:both;
	padding:0.58rem 0 0.4rem 0;
}
.footerINfo .i4 img {
	display:block;
	width:54%;
	margin:auto;
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity:1;
     }
    25% {
        opacity:0;
    }
    50% {
        opacity: 0;    
    }
    75% {
        opacity:1;
    }
}
.anim_fade_image {
    position:absolute;    
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -webkit-animation-direction: alternate;
}

.chart_content {
	background-color: #4d008c;
	display:block;
	padding:0.3rem;
}

.chart_top:after {
	content:"";
	clear:both;
	display:block;
}

.chart_top {
	display:flex;
	background:#4d008c;
	height: 1.8rem;
	max-height: 88px;
	position: relative;
}
.chart_top p {
	display:block;
	width:3rem;
	float:left;
}
.chart_top b {
	display:block;
	float:left;
	font-size:0.56rem;
	color:#003875;
	line-height:0.7rem;
	border-right:1px solid #779ba6;
	margin:0.14rem 0 0 0;
	width:1.9rem;
	text-align:center;
}
.chart_top span {
	font-size:0.24rem;
	color:#00c517;
	width:.95rem;
	text-align:center;
	display:block;
	float:left;
	padding:0.4rem 0 0 0;
}

.content1_chart {
	display:block;
	margin:0.3rem auto;
	border:1px solid #d4d4d4;
	box-sizing:border-box;
	overflow:hidden;
	border-radius:0.1rem;
}
.content1_chart img {
	display:block;
	max-width:100%;
}

.cover {
	background-color: #4d008c;
	width: 40px;
	height: 40px;
	position: absolute;
	border-radius: 999rem;
	right:5px;
	top:5px;
}


.trade_strategy .pic1{
  position: relative;
  margin: 0 auto;
  width: 6.97rem;
  height: 2.08rem;
  background: url(../img/pic1.png) no-repeat top center;
  background-size: 100% 100%;
  overflow: hidden;

}
.trade_strategy .pic1 .infors{
  display: block;
  margin: 0 auto;
  font-size: 0.3rem;
  color: #ffffff;
  line-height: 0.4rem;
  margin-top: 0.82rem;
  font-weight: bold;
  text-align: center;
}

.greenFont {
	color: green;
}

.redFont {
	color:red;	
}


.strongSellText, .sellText{
	color: #852121	
}

.strongBuyText, .buyText {
    color: #085c00;
}

.buyBg {
    background-color: #f2c7c7;
    color: #852121;
}	

table.xauTable th{	
    color: #000;	
}
table.xauTable .normal{	
    color: #000;	
}
table.xauTable th .buy{	
    background-color: #228619;
    color: #fff;	
}
table.xauTable th .sell{	
    background-color: #b80404;
    color: #fff;
}
table.xauTable th .neutral{	
	background-color: #a6a6a6;
    color: #fff;
}
	
