html {
	font-size:100px;
}
body { 
	 font-family: arial, "Microsoft YaHei"; 
	 background: #fff;
	 padding:0;
	 margin:0; 
	}
.wrapper {
	overflow-x: hidden;
}
a {
    transition-duration: 0.5s; 
    -webkit-transition-duration: 0.5s; 
	text-decoration: none;
}
input, button , select {
	 font-family: arial, "Microsoft YaHei"; 
}
p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, pre, input, table, tr, td, form {    margin: 0;    padding: 0}
ol, ul, li { list-style: none}
input { border: 0 none}
img {border: 0 none}

.float_clear {
	float: none;
	clear:both;
	display:block;
	width:100%;
}

.page1 {
	display: block;
	width: 7.5rem;
	margin: auto;
	background: url("../images/page1_bg.jpg") no-repeat top center #ff4850;
	background-size: 100% auto;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 0.45rem 0 1.8rem 0;
	position: relative;
	box-shadow: 0 0 0.1rem rgba(0,0,0,0.1);
	overflow: hidden;
}
.page1_title {
	display: block;
	width: 3.8rem;
	margin: auto;
	position: relative;
	z-index: 10;
}
.page1_title img {
	display: block;
	width: 100%;
}
.page1_title span {
	display: block;
	margin: -0.25rem 0 0 0;
}
.banner_coin {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 2.8rem;
	z-index: 1;
}
.banner_coin li {
	position: absolute;
	width: 2rem;
	display: block;
}
.banner_coin li.coin1 {
	left: 5.25rem;
	top: 1.4rem;
}
.banner_coin li.coin2 {
	width: 1.6rem;
	top: 0.35rem;
	left: 0.45rem;
}
.banner_coin li p {
	display: block;
	animation: banner_coin2 7s;
	animation-iteration-count: infinite;
}
.banner_coin li+li p {
	animation-delay: -5s;
	animation-duration: 8s;
}
@keyframes banner_coin2 {
	0% , 100% {
		transform: translate(0,40%);
	}
	50% {
		transform: translate(0,-40%);
	}
}
.banner_coin li p img {
	display: block;
	width: 100%;
	animation: banner_coin 12s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
.banner_coin li+li p img {
	animation-delay: -5s;
}
@keyframes banner_coin {
	0% {
		transform: rotate(0deg) ;
	}
	10% , 35%, 60% {
		transform: rotate(20deg) ;
	}
	20%, 45%, 75% {
		transform: rotate(-20deg) ;
	}
}
.page1_list {
	display: block;
	color: #930a10;
	font-size: 0;
	width: 6.8rem;
	margin: 0.5rem auto ;
}
.page1_list p {
	display: block;
	padding: 0 0 0 1.1rem;
	box-sizing: border-box;
}
.page1_list p span {
	display: inline-block;
	text-align: center;
	font-size: 0.26rem;
	width: 2rem;
}
.page1_list p span:nth-child(2) {
	width: 1.2rem;
}
.page1_list p span:nth-child(3) {
	width: 2rem;
}
.page1_list ul {
	display: block;
}
.page1_list ul li {
	display: block;
	height: 1.2rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding: 0.35rem 0 0 1.1rem;
	font-size: 0px;
	margin-bottom: 0.05rem;
}
.page1_list ul li:nth-child(1) {
	background-image: url("../images/page1_list_bg1.png");
	color: #ca9f68;
}
.page1_list ul li:nth-child(1) span:nth-child(1){
	color: #e9972d;
}
.page1_list ul li:nth-child(2) {
	background-image: url("../images/page1_list_bg2.png");
	color: #6f92a0;
	animation-delay: 0.2s;
}
.page1_list ul li:nth-child(2) span:nth-child(1){
	color: #557987;
}
.page1_list ul li:nth-child(3) {
	background-image: url("../images/page1_list_bg3.png");
	color: #b75b5b;
	animation-delay: 0.4s;
}
.page1_list ul li span {
	display: inline-block;
	text-align: center;
	width: 2rem;
	font-size: 0.32rem;
	line-height: 0.5rem;
}
.page1_list ul li span:nth-child(2) {
	width: 1.2rem;
}
.page1_list ul li span:nth-child(3) {
	width: 2rem;
}

.page1_title3 {
	display: block;
	padding: 0.1rem 0 0.2rem 0;
}
.page1_title3 img {
	display: block;
	margin: auto;
	width: 6.5rem;
}
.page1_list2 {
	display: block;
	width: 6.5rem;
	margin: auto;
}
.page1_list2 li {
	display: block;
	position: relative;
	padding: 0.07rem 0;
	font-size: 0px;
}
.page1_list2 li span {
	font-size: 0.26rem;
	color: #930a10;
	width: 2.5rem;
	text-align: center;
	display: inline-block;
}
.page1_list2 li:nth-child(1) {
	padding: 0 0 0.1rem 0;
}
.page1_list2 li:nth-child(1) span+span {
	position: absolute;
	right: 0;
	top: 0;
} 
.page1_list2 li p {
	display: block;
	color: #fff;
	font-size: 0.32rem;
	line-height: 0.5rem;
	height: 0.5rem;
}
.page1_list2 li p.stars {
	position: absolute;
	right: 0;
	top: 0.07rem;
	font-size: 0px;
}
.page1_list2 li p.stars img {
	display: inline-block;
	width: 0.5rem;
}


.bottom_menu {
	display: block;
	position: fixed;
	width: 7.5rem;
	margin-left: -3.75rem;
	bottom: 0;
	left: 50%;
	height: 1.14rem;
	box-sizing: border-box;
	border-top: 0.06rem solid #f1f1f1;
	background: #fff;
	z-index: 100;
	font-size: 0px;
	text-align: center;
}
.bottom_menu li {
	width: 1.45rem;
	display: inline-block;
	padding: 0.15rem 0 0 0;
	position: relative;
	height: 100%;
}
.bottom_menu li a {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}
.bottom_menu li p {
	width: 0.5rem;
	position: relative;
	display: block;
	margin: auto;
}
.bottom_menu li p img {
	display: block;
	width: 100%;
}
.bottom_menu li p img+img {
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
}
.bottom_menu li.selected p img {
	opacity: 0;
}
.bottom_menu li.selected p img+img {
	opacity: 1;
}
.bottom_menu li b {
	font-size: 0.22rem;
	display: block;
	color: #bababa;
}
.bottom_menu li.selected  b {
	color: #bc1d24;
}


.content_page {
	display: block;
	width: 7.5rem;
	margin: auto;
	min-height: 100vh;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0 0 0.1rem rgba(0,0,0,0.1);
	padding: 0.4rem 0.4rem 1.8rem 0.4rem;
	font-size: 0.22rem;
}
.page4_list {
	display: block;
}
.page4_list li {
	display: block;
	font-size: 0.24rem;
	color: #000;
	text-align: justify;
	border-bottom: 1px solid #f1f1f1;
	padding:  0.05rem 0 0.2rem 0; 
}
.page4_list li+li {
	padding:  0.2rem 0; 
}
.page4_list li h4 {
	display: block;
	font-size: 0.26rem;
	color: #000;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

@media(max-width:750px){
	html {
		font-size: 55px;
	}
	
	


}
	
	
	