<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="public/js/jquery.min.js"></script>
    <script src='public/js/axios.js'></script>
    <script src='public/js/vue.min.js'></script>

    <title>行情</title>
    <link rel="stylesheet" href="public/css/menubar.css">
    <link rel="stylesheet" href="public/css/h5_tade.css">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Trebuchet MS, roboto, ubuntu, "sans-serif";
        }
        
        .trading_wrap_background {
            max-width: 7.5rem;
            margin: 0 auto;
            height: 100%;
        }
    </style>
</head>

<body>
    <!--#if expr="$QUERY_STRING=/utm_source/"-->
    <!--#set var="wx_url" value="?$QUERY_STRING"-->
    <!--#set var="wx_url2" value="&$QUERY_STRING"-->
    <!--#set var="wx_url3" value="$QUERY_STRING"-->
    <!--#else-->
    <!--#set var="wx_url" value=""-->
    <!--#set var="wx_url2" value=""-->
    <!--#set var="wx_url3" value=""-->
    <!--#endif-->
    <!--#if expr="$QUERY_STRING=/app=ix_app_orig/"-->
    <!--#set var="wx_url" value="?wx=ix_app_orig"-->
    <!--#set var="app_url" value="?app=ix_app_orig"-->
    <!--#set var="app_urld" value="noTopBlank"-->
    <!--#else-->
    <!--#set var="app_url" value=""-->
    <!--#set var="wx_url" value=""-->
    <!--#endif-->
    <div class="trading_wrap_background">
        <div id="app" class="trading_wrap">
            <div id="selection_bar" class="navbar u-flex jcs">
                <a href="javascript:;" v-for="(item,key) in subscrition" class="btn_bar" @click="selectProduct = item;showtar(key)" :class='{active:item === selectProduct}'>{{item}}</a>
            </div>
            <ul class="head_classification">
                <li class="u-flex">
                    <span class="title_left f-2 ">名称代码</span>
                    <span class="title_center f-4">卖出价</span>
                    <span class="title_right f-4">买入价</span>
                </li>
            </ul>
            <ul>
                <li v-for="(item,key) in temps" class="list_wrap" :id="item.code_id">
                    <a :href="item.alink" class="u-flex productList_alink " v-if="item.title === selectProduct">
                        <div class="productList_left u-flex jcs aib">
                            <span class="prn">{{item.ProductName}}</span>
                            <span class="en">{{item.enName}}</span>
                        </div>
                        <div class="productList_center u-flex jce aib">
                            <span class="sell">{{item.sell_price}}</span>
                        </div>
                        <div class="productList_right u-flex jcs u-fw">
                            <span class="buy">{{item.buy_price}}</span>
                            <div class="cell u-flex jce">
                                <span style="color:#53CC9A;" class="wave" v-if="((item.cur_price - item.yesterday_price)) >= 0">+{{(item.cur_price - item.yesterday_price).toFixed(3)}}</span>
                                <span style="color:#E3525C;" class="wave" v-else>{{(item.cur_price - item.yesterday_price).toFixed(3)}}</span>
                                <span style="color:#53CC9A;" class="wave_percent" v-if="(((item.cur_price - item.yesterday_price) / item.yesterday_price)) >= 0">+{{((((item.cur_price - item.yesterday_price) / item.yesterday_price))*100).toFixed(3)}}%</span>
                                <span style="color:#E3525C;" class="wave_percent" v-else>{{((((item.cur_price - item.yesterday_price) / item.yesterday_price))*100).toFixed(3)}}%</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="floatwrapper">
        <div class="nav-list">
            <a data-num="0" href="javascript:;" onclick="lp_home()">
                <s class="icons icons5"></s>
                <b class="txt">无本炒<span id="link_adj">汇</span></b>
            </a>
            <a data-num="1" href="javascript:void(0);" class="on" onclick="toh5_trade()">
                <s class="icons icons6"></s>
                <b class="txt">行情</b>
            </a>
            <a href="infoList.html" onclick="">
                <s class="icons icons7"></s>
                <b class="txt">资讯</b>
            </a>
        </div>
    </div>

    <script src="public/js/IX_postMessage.js" charset="utf-8"></script>
    <script type="text/javascript">
        function gotoProduct(e) {
            if (isApp()) {
                IX_postMessage.toPage(`/productDetail/` + e);
            } else {
                let url = "<!--#echo var='gwfx_oa_new'-->/JW666key/productDetail/" + e + window.location.search;
                window.location.href = url;
            }
        }

        function isApp() {
            let app = new URL(window.location.href).searchParams.get("app");
            return (app == 'ix_app_orig');
        }

        let menubar_path = 'public/images/menubar_img/';
        let icon_list = {
            "lp55TR_v2": ['lp55TR_v2/blue1.png', 'lp55TR_v2/blue2.png', 'lp55TR_v2/blue3.png', 'lp55TR_v2/grey1.png', 'lp55TR_v2/grey2.png', 'lp55TR_v2/grey3.png'],
            "lp115TR": ['lp115TR/red1.png', 'lp115TR/red2.png', 'lp115TR/red3.png', 'lp115TR/grey1.png', 'lp115TR/grey2.png', 'lp115TR/grey3.png']
        }
        let url = new URL(window.location.href)
        let from_lp = url.searchParams.get('fw')
        let menu_bar = url.searchParams.get("menubar") === 'bf' ? menubar_block() : menubar_none()
        let menu_style = url.searchParams.get('version') === 'orig' ? true : change_menubar_b(menubar_path, icon_list)

        function menubar_block() {
            $('.floatwrapper').css('display', 'block');
            $('.bottom_btn').css('display', 'none');
        }

        function menubar_none() {
            $('.floatwrapper').css('display', 'block');
            $('.bottom_btn').css('display', 'none');
        }

        function toh5_trade() {
            let trade_url = new URL(window.location.href)

            window.location.href = 'h5_IX_trade_.html' + trade_url.search;
        }

        function change_menubar_b(menubar_path, icon_list) {
            let str1 = `${menubar_path}${icon_list[from_lp][3]}`
            let str2 = `${menubar_path}${icon_list[from_lp][1]}`
            let str3 = `${menubar_path}${icon_list[from_lp][5]}`
            $('a .icons5').css({
                "background": 'url(' + str1 + ') no-repeat top center',
                "background-size": '100% 100%'
            })
            $('a.on .icons6').css({
                "background": 'url(' + str2 + ') no-repeat top center',
                "background-size": '100% 100%'
            })
            $('a .icons7').css({
                "background": 'url(' + str3 + ') no-repeat top center',
                "background-size": '100% 100%'
            })
        }

        function lp_home() {
            if (isApp()) {
                IX_postMessage.toPage('/trade');
            } else {
                let url = "<!--#echo var='gwfx_m'-->" + from_lp + ".html" + window.location.search;
                window.location.href = url;
            }
        }

        function lp_infoList() {
            let trade_url = new URL(window.location.href)

            window.location.href = 'infoList.html' + trade_url.search;
        }
        let link_adj = url.searchParams.get('link')
        console.log(link_adj);
        if (link_adj === '1') {
            document.getElementById('link_adj').textContent = "金"
        } else if (link_adj === '7') {
            document.getElementById('link_adj').textContent = "汇"
        }
    </script>
    <script src="public/js/h5_trad_rem.js"></script>
    <script src="public/js/ws-index-url.js"></script>

    <script type="text/javascript">
        remCompute(750, true);
    </script>
    <script>
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    // 03 總產品清單 json url
                    jsonUrl: 'public/js/json/gura.json',
                    // Http 登入獲取 token
                    Http_config: {
                        method: 'post',
                        url: `${HTTP_BASE_URL}/account/appProperties/getAccountProperties`,
                        headers: {
                            'Content-type': 'application/json',
                            'module': 'uat-account',
                            'rpcType': 'http',
                            'method': '/account/appProperties/getAccountProperties',
                            'httpMethod': 'post',
                            'trace': 'h5_' + this.get_current_time(),
                            // 發送後才可以取 token
                            'Authorization': ''
                        },
                        data: {
                            "head": {
                                "appKey": "yz352001"
                            },
                            "data": {
                                "login_name": "Guest",
                                "password": ""
                            }
                        },
                    },
                    // 建立 websocket 記憶體
                    websock: null,
                    // 初始化 ws 格式
                    Ws_config: {
                        trace: `h5 ${this.get_current_time()}`,
                        version_code: 1,
                        device: "h5",
                        head: {
                            server: "yz",
                            msgType: "",
                            sendTime: this.get_current_time(),
                            Authorization: "",
                            lang: "zh-TW"
                        },
                        content: {
                            // appKey: "",
                            // clientIp: "",
                            // company_id: "",
                            // login_name: "Guest",
                            // password: "",
                            // user_type: 1
                        },
                    },
                    selectProduct: '贵金属',
                    // 訂閱產品
                    subscrition: [],
                    // JSON 總產品
                    jsonDate: null,
                    // 最後一口總產品
                    temp: [],
                    // 單筆更新時實數據
                    realTime_singleProduct: [],
                    // 所有產品 id
                    typeId: [],
                    // 物件化所有產品 id ( 包含產品分類 )
                    sortProduct: [],
                    // 紅漲綠跌判斷
                    tempLastA: [],
                    tempLastB: []
                }
            },
            computed: {
                temps() {
                    return this.temp
                }
            },
            methods: {
                // 接收產品類別參數
                getValue() {
                    let vm = this
                    let url = new URL(document.location).searchParams;
                    let type = url.get('tab')
                    let chose = url.get('link')


                    if (chose !== null) {
                        let arrType = chose.split(' ')
                        arrType.forEach(el => {
                            switch (el) {
                                case '1':
                                    vm.subscrition.push('贵金属')
                                    break;
                                case '2':
                                    vm.subscrition.push('指数')
                                    break;
                                case '3':
                                    vm.subscrition.push('能源')
                                    break;
                                case '4':
                                    vm.subscrition.push('数字货币')
                                    break;
                                case '5':
                                    vm.subscrition.push('美股')
                                    break;
                                case '6':
                                    vm.subscrition.push('港股')
                                    break;
                                case '7':
                                    vm.subscrition.push('外汇')
                                    break;
                                case '8':
                                    vm.subscrition.push('农产品')
                                    break;
                                case '9':
                                    vm.subscrition.push('ETF')
                                    break;
                            }
                        })
                        vm.selectProduct = vm.subscrition[0]
                    } else {
                        console.log(vm.sortProduct);
                        vm.sortProduct.filter(el => {
                            if (el.id.length > 0) {
                                vm.subscrition.push(el.title)
                            }
                        })
                        vm.subscrition.pop()
                        vm.selectProduct = vm.subscrition[0]
                    }
                    if (type !== null) {
                        vm.selectProduct = vm.subscrition[(type * 1) - 1]
                        console.log(vm.selectProduct);
                    }
                },
                // scroll 位置調整
                showtar(e) {
                    let vm = this
                    let productBar_All = [...document.querySelectorAll('.btn_bar')]
                    let parentBar = productBar_All[e].parentElement.clientWidth
                    let productScrollWidth = productBar_All[e].parentElement.scrollWidth
                    console.log(parentBar, productBar_All[e].offsetLeft);
                    parentBar.scrollLeft = productBar_All[e].offsetLeft
                        // if (productScrollWidth >= 500) {
                        //     return
                        // } else if () {
                        //     console.log(productBar_All[e].offsetLeft);
                        //     parentBar.scrollLeft = productBar_All[e].offsetLeft
                        // }
                },
                // 時間具有唯一性
                get_current_time() {
                    var d = new Date();
                    return d.getTime();
                },
                // utm_source帶入

                // 要做 ws 以前都要先做 http 發送登入，才能夠要到 token 做 ws 操作 ix 文檔
                // https://testdocs.ixmiddle.com/ixmiddle/http-interface-doc/account/appProperties/getAccountProperties.html
                gotourl() {
                    let vm = this
                    axios(vm.Http_config)
                        .then(function(response) {
                            // 進行 ws 操作
                            // 從 HTTP 所取得的 response 帶入 websocket head
                            vm.Ws_config.head.Authorization = response.headers.authorization
                            vm.Ws_config.head.msgType = 'login'
                            vm.Ws_config.content.appKey = response.data.data.transBaseConfigVo.appKey
                            vm.Ws_config.content.clientIp = response.data.data.clientIp
                            vm.Ws_config.content.company_id = response.data.data.toKenCompanyInfoVo.companyId
                            vm.Ws_config.content.login_name = vm.Http_config.data.data.login_name
                            vm.Ws_config.content.password = vm.Http_config.data.data.password
                            vm.Ws_config.content.user_type = -1
                            vm.initWebSocket(vm.Ws_config)
                            return axios(vm.jsonUrl)
                        }).then(function(jsonRes) {
                            vm.jsonDate = JSON.parse(JSON.stringify(jsonRes.data))
                        })
                        .catch(function(error) {
                            console.log(error, 'axios 發送的 Http 、 Ws 出現錯誤');
                        });
                },
                initWebSocket(Ws_config) { //初始化 websocket
                    this.websock = new WebSocket(WS_BASE_URL);
                    this.websock.onmessage = this.websocketonmessage;
                    this.websock.onopen = this.websocketonopen;
                    this.websock.onerror = this.websocketonerror;
                    this.websock.onclose = this.websocketclose;
                },
                websocketonopen() { //連接建立後執行 send 發送數據
                    let vm = this
                    console.log('open connect', vm.Ws_config)
                    if (this.websock.readyState === 1) {
                        this.websocketsend(JSON.stringify(vm.Ws_config));
                    } else {
                        alert("還沒進入 websocket.readyState === 1")
                    }
                },
                websocketonerror() { //連結失敗，重新連線
                    console.log('///連結失敗，重新連線')
                    this.initWebSocket();
                },
                websocketonmessage(e) { //資料接收後
                    let vm = this
                        // 接收資料後判斷數據
                    vm.Wsevent(e.data)
                },
                websocketsend(Data) { //資料發送
                    this.websock.send(Data);
                },
                websocketclose(e) { //關閉
                    console.log('websocket 連線已經中斷', e);
                },
                // --初始化所有產品 與 產品分類
                defineProduct(e) {
                    let newArr = JSON.parse(e)
                        // 分類 id
                    let idTypeArr = []
                        // 分類類型
                    let productType = []
                        // 無分類所有 id
                    let allProductId = []
                    let typeArr = newArr.content.product_category
                        // 組裝推送 id 與前置分類
                    typeArr.forEach(element => {
                        idTypeArr.push(element.code_ids)
                        allProductId = allProductId.concat(element.code_ids)
                        productType = productType.concat(element.title)
                    });
                    // 所有 id 推入
                    vm.typeId = allProductId
                        // 組分類物件
                    let _consis = {
                        id: [],
                        title: ""
                    }
                    let product_finish = []
                    for (let index = 0; index < idTypeArr.length; index++) {
                        let id = idTypeArr[index];
                        let type = productType[index]
                        _consis.id = id
                        _consis.title = type
                        let _new_consis = JSON.parse(JSON.stringify(_consis))
                        product_finish.push(_new_consis)
                    }
                    // 決定產品分類與數量
                    vm.sortProduct = product_finish
                    vm.getValue()
                },
                // 需要 token 者 ( 依照文檔目前只在判斷客戶來源使用 )
                WsBuildup(msgType, _content) {
                    let vm = this
                    vm.Ws_config.head.msgType = msgType
                    vm.Ws_config.content = _content
                        // 登入後正式進入 Wsevent 判斷
                    vm.websocketsend(JSON.stringify(vm.Ws_config));
                },
                // 共通 head
                Ws_Head(msgType) {
                    let vm = this
                    let _head = {
                        "server": "yz",
                        "msgType": msgType,
                        "sendTime": vm.get_current_time()
                    }
                    return _head
                },
                // 訂閱所有行情最後一口價 ( 可直接訂閱 )
                // --最後一口價--
                WsLastpriceBuildup(msgType, _content) {
                    let vm = this
                    let Ws_LsConfig = {
                        "head": vm.Ws_Head(msgType),
                        "content": _content,
                        "trace": vm.get_current_time(),
                        "device": "h5",
                        "version_code": 1
                    }
                    vm.websocketsend(JSON.stringify(Ws_LsConfig));
                },
                // 訂閱產品實時報價
                // --產品報價
                WsProductCurBuildup(msgType, _content) {
                    let vm = this
                    let ws_PrCurConfig = {
                        "head": vm.Ws_Head(msgType),
                        "content": _content,
                        "device": "h5",
                        "trace": vm.get_current_time(),
                        "version_code": 1
                    }
                    vm.websocketsend(JSON.stringify(ws_PrCurConfig));
                },
                // lastPrice form(object)
                // buy_price code_id cur_price high_price low_price open_price sell_price seq time title yesterday_price
                // realTime form(array)
                // id 賣價(sell_price) 買價(buy_price) 當前價(cur_price) 秒 最高價格(high_price) 最低價格(low_price)
                // --更新時實數據
                WsUpdateReal(data) {
                    let vm = this

                    vm.temp.filter(elO => {
                        if ((data[0] * 1) === elO.code_id) {
                            elO.cur_price = data[3]
                        }
                    })
                    vm.tempLastA = JSON.parse(JSON.stringify(vm.temp))
                    vm.tempLastA.forEach(elA => {
                        if ((elA.code_id * 1) === (data[0] * 1)) {

                            //sellPrice 漲跌判斷
                            if (data[1] > elA.sell_price) {
                                vm.temp.filter(elO => {
                                    if ((elO.code_id * 1) === (elA.code_id * 1)) {
                                        if (document.getElementById(`${elO.code_id}`) == null) {
                                            return
                                        }
                                        let site = document.getElementById(`${elO.code_id}`)
                                        if (site.querySelector('.sell') == null) {
                                            return
                                        }
                                        site.querySelector('.sell').classList.remove('fall')
                                        site.querySelector('.sell').classList.add('rise')
                                        elO.sell_price = data[1]
                                    }
                                })
                            } else if (data[1] < elA.sell_price) {
                                vm.temp.filter(elO => {
                                    if ((elO.code_id * 1) === (elA.code_id * 1)) {
                                        if (document.getElementById(`${elO.code_id}`) == null) {
                                            return
                                        }
                                        let site = document.getElementById(`${elO.code_id}`)
                                        if (site.querySelector('.sell') == null) {
                                            return
                                        }
                                        site.querySelector('.sell').classList.remove('rise')
                                        site.querySelector('.sell').classList.add('fall')
                                        elO.sell_price = data[1]
                                    }
                                })
                            } else {
                                return
                            }

                            // buyPrice 漲跌判斷
                            if (data[2] > elA.buy_price) {
                                vm.temp.filter(elO => {
                                    if ((elO.code_id * 1) === (elA.code_id * 1)) {
                                        if (document.getElementById(`${elO.code_id}`) == null) {
                                            return
                                        }
                                        let site = document.getElementById(`${elO.code_id}`)
                                        if (site.querySelector('.buy') == null) {
                                            return
                                        }
                                        site.querySelector('.buy').classList.remove('fall')
                                        site.querySelector('.buy').classList.add('rise')
                                        elO.buy_price = data[2]
                                    }
                                })
                            } else if (data[2] < elA.buy_price) {
                                vm.temp.filter(elO => {
                                    if ((elO.code_id * 1) === (elA.code_id * 1)) {
                                        if (document.getElementById(`${elO.code_id}`) == null) {
                                            return
                                        }
                                        let site = document.getElementById(`${elO.code_id}`)
                                        if (site.querySelector('.buy') == null) {
                                            return
                                        }
                                        site.querySelector('.buy').classList.remove('rise')
                                        site.querySelector('.buy').classList.add('fall')
                                        elO.buy_price = data[2]
                                    }
                                })
                            } else {
                                return
                            }

                        }
                    })
                },
                Wsevent(e) {
                    let vm = this
                    var msg = null;
                    // 進來的字串，需要再轉字串才能使用方法
                    if (e.toString().indexOf("p(") > -1) {
                        // --產品報價處理
                        // p( 因為非物件開頭 所以不能單純使用 json.parse 去做處理
                        // ws_realTimeProduct( [0]產品ID,[1]賣價,[2]買價,[3]當前價,[4]時間,[5]最高價格,[6]最低價格 )
                        // 字串處理
                        let newData = e.slice(2, e.length - 1);
                        let ws_realTimeProduct = newData.split(",");
                        if (ws_realTimeProduct.length < 7) {
                            console.log("報價有錯 " + e);
                        }
                        // string 轉為 num
                        var numSplit = ws_realTimeProduct[0] * 1

                        // 時刻訂閱產品 id
                        if (vm.realTime_singleProduct.indexOf(numSplit) < 0) {
                            vm.realTime_singleProduct.push(numSplit)
                        }
                        vm.WsUpdateReal(ws_realTimeProduct)

                        // ws 登入後會回傳數據
                        // 將數據轉換成可以比對的 msg_type 
                        // msg_type 請看 ix 文檔
                        // https://testdocs.ixmiddle.com/ixmiddle/ix-socket-proxy-doc/trade-login.html
                        // 為字串且排除產品訂閱的條件後，再行轉換
                    } else if (typeof(e) === "string" && e.toString().indexOf("p(") < 0) {
                        msg = JSON.parse(e);
                        var msg_code = msg.msg_code;
                    }
                    // 比對什麼回傳訊息
                    // 再做什麼樣的事
                    switch (msg_code) {
                        // 比對到使用者登入
                        case "UserLoginInfoRet":
                            // 已經有用戶帳戶資料 參考 ix 文檔
                            // https://testdocs.ixmiddle.com/ixmiddle/ix-socket-proxy-doc/trade-login/tui-song-deng-lu-jie-guo.html

                            break;
                        case "HeartBeatConf":
                            break;
                        case "InitProductInfo":
                            // --初始化所有產品 與 產品分類
                            vm.defineProduct(e)
                                // 訂閱所有產品最後一口價
                            _content_ls = {
                                    code_ids: vm.typeId,
                                }
                                // --最後一口價
                            vm.WsLastpriceBuildup("lastPrice", _content_ls)
                            break;
                        case "LastPrice":
                            // console.log(`找到最後一口報價`, msg)
                            let newarr = []
                            let tempType = ''
                            vm.temp = msg.content
                                // 比對 id 填入產品名稱、英文代碼
                            console.log(vm.jsonDate);
                            vm.temp.filter(tempGroup => {
                                    vm.jsonDate.forEach(jsonEl => {
                                        if ((tempGroup.code_id * 1) === (jsonEl.id * 1)) {

                                            tempGroup.ProductName = jsonEl.name
                                            tempGroup.enName = jsonEl.en
                                            tempGroup.alink = `javascript:gotoProduct(${jsonEl.id})`
                                                //tempGroup.alink = `https://h5.bofu210.com/JW666key/upgrade/account/1`
                                        }
                                    })
                                })
                                // 插入 title

                            // vm.sortProduct.filter(el => {
                            //     if (el.id.length > 0) {
                            //         vm.subscrition.push(el.title)
                            //     }
                            // })
                            // vm.subscrition.pop()
                            vm.sortProduct.filter(el => {
                                el.id.forEach(innerid => {
                                    vm.temp.filter(tempGroup => {
                                        if (innerid !== tempGroup.code_id) {
                                            return
                                        } else if (innerid === tempGroup.code_id && tempType === '' && tempGroup.title === undefined) {
                                            // console.log(`id 相等 tempType 尚未賦予 `)
                                            tempGroup.title = el.title
                                            tempType = el.title
                                        } else if (innerid === tempGroup.code_id && tempType === el.title && tempGroup.title === undefined) {
                                            // console.log(`id 相等 tempType 已經有了，title 還沒定義`)
                                            tempGroup.title = el.title
                                        } else if (innerid === tempGroup.code_id && tempType !== el.title && tempGroup.title === undefined) {
                                            // console.log(`id 並不相等 tempType 已經有了，title 還沒定義`)
                                            tempGroup.title = el.title
                                            tempType = el.title
                                        }
                                    })
                                })
                            })

                            // console.log(vm.temp, vm.jsonDate, vm.sortProduct);
                            // vm.sortProduct.forEach(el => {
                            //         el.id.forEach(innerid => {
                            //             vm.temp.filter(tempGroup => {
                            //                 if (innerid !== tempGroup.code_id) {
                            //                     return
                            //                 } else if (innerid === tempGroup.code_id && tempType === '' && tempGroup.title === undefined) {
                            //                     // console.log(`id 相等 tempType 尚未賦予 `)
                            //                     tempGroup.title = el.title
                            //                     tempType = el.title
                            //                 } else if (innerid === tempGroup.code_id && tempType === el.title && tempGroup.title === undefined) {
                            //                     // console.log(`id 相等 tempType 已經有了，title 還沒定義`)
                            //                     tempGroup.title = el.title
                            //                 } else if (innerid === tempGroup.code_id && tempType !== el.title && tempGroup.title === undefined) {
                            //                     // console.log(`id 並不相等 tempType 已經有了，title 還沒定義`)
                            //                     tempGroup.title = el.title
                            //                     tempType = el.title
                            //                 }
                            //             })
                            //         })
                            //     })
                            // 訂閱實時報價
                            _content_pr = {
                                    code_ids: vm.typeId,
                                    subscribeType: "reSubscribe",
                                    type: "yz"
                                }
                                // --產品報價
                            vm.WsProductCurBuildup("productSubscription", _content_pr)
                            break
                        default:
                            break;
                    }
                }
            },
            mounted() {},
            created() {
                this.gotourl()
            },
            destroyed() {}
        })
    </script>

</body>

</html>