<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>来港美股大赚特赚</title>
    <meta name="keywords" content="来港美股大赚特赚">
    <meta name="description" content="来港美股大赚特赚">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="stylesheet" type="text/css" href="promote/lp135A/css/common.css" />
    <link rel="stylesheet" type="text/css" href="promote/lp135A/css/animate.min.css" />
    <link rel="stylesheet" href="promote/lp135A/css/tech_analysis.css">
    <@_includePlace path="/analytics-head.html" />
    <#-- analytics-head -->
        <style>
            .products>a {
                line-height: 0.4rem !important;
                font-size: 0.24rem !important;
                align-self: center;
            }
        </style>
</head>

<body>

    <div class="wrap">
        <div class="header">
            <div class="topbox">
                <div class="logo wow animate__animated animate__fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0s">
                    <a href="javascript:void(0);"><img src="promote/lp135A/images/logo.png"></a>
                </div>
                <a href="javascript:void(0)" onclick="toCustomerService();gtag('event', 'toCustomerService', {'event_category':$GA_NAME,'event_label':'header','non_interaction': true});" class="service wow animate__animated animate__fadeInRight" data-wow-duration="0.6s"
                    data-wow-delay="0s"></a>
            </div>
        </div>

        <div class="imain1">
            <div class="box1">
                <div class="box1_t wow animate__animated animate__zoomIn" data-wow-duration="0.6s" data-wow-delay="0.1s"><img src="promote/lp135A/images/box1_t.png"></div>
                <div class="box1_l wow animate__animated animate__fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.2s"><img src="promote/lp135A/images/box1_l.png"></div>
                <div class="box1_r wow animate__animated animate__fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.3s"><img src="promote/lp135A/images/box1_r.png"></div>
                <div class="box1_light">
                    <div class="light light1"><img src="promote/lp135A/images/light1.png"></div>
                    <div class="light light2"><img src="promote/lp135A/images/light1.png"></div>
                    <div class="light light3"><img src="promote/lp135A/images/light1.png"></div>
                    <div class="light light4"><img src="promote/lp135A/images/light2.png"></div>
                </div>
            </div>

            <div class="box2">
                <div class="box2_1 wow animate__animated animate__fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.1s"><img src="promote/lp135A/images/box2_1.png"></div>
                <div class="box2_2 wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.2s"><img src="promote/lp135A/images/box2_2.png"></div>
                <div class="box2_light wow animate__animated animate__zoomIn" data-wow-duration="0.6s" data-wow-delay="0.3s"><img src="promote/lp135A/images/box2_light.png"></div>
                <div class="box2_logo">
                    <div class="pinduoduo wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.3s"><img src="promote/lp135A/images/pinduoduo.png"></div>
                    <div class="niu wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.4s"><img src="promote/lp135A/images/niu.png"></div>
                    <div class="alibaba wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.5s"><img src="promote/lp135A/images/alibaba.png"></div>
                    <div class="apple wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.6s"><img src="promote/lp135A/images/apple.png"></div>
                    <div class="tesila wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.7s"><img src="promote/lp135A/images/tesila.png"></div>
                    <div class="baidu wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.8s"><img src="promote/lp135A/images/baidu.png"></div>
                    <div class="mi wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.9s"><img src="promote/lp135A/images/mi.png"></div>
                </div>
            </div>

            <div class="box3">
                <div class="box3_t wow animate__animated animate__fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.1s"><img src="promote/lp135A/images/box3_t.png"></div>
                <div class="box3_2 wow animate__animated animate__fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.2s">
                    <div class="tit">其它平台</div>
                    <div class="con">
                        <p>需要50万资产</p>
                        <p>需要海外银行账户</p>
                        <p>股票有限，没热门股</p>
                    </div>
                </div>
                <div class="box3_3 wow animate__animated animate__fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.3s">
                    <div class="tit">柏富</div>
                    <div class="con">
                        <p>送钱0本炒</p>
                        <p>只需银联卡</p>
                        <p>热点牛股全都有</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="imain2">

            <div class="box4">
                <div class="box4_t wow animate__animated animate__fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.1s"><img src="promote/lp135A/images/box3_t.png"></div>
                <div class="ilist1 wow animate__animated animate__flipInY" data-wow-duration="0.8s" data-wow-delay="0.2s" id="tab_table1">
                    <div id="technical_analysis_content" class="part_03" v-cloak>
                        <div class="main wow fadeInUp">
                            <div class="tech_analysis_group" v-if="rankedIds.length>0 && isShowTechnicalAnalysisHtml">

                                <ul class="tech_analysis_menu">
                                    <div v-for="(id, index) in rankedIds">
                                        <li v-bind:class="{selected: techAnalyIndex===index}" @click="setTechAnalyIndex(index)" :page="index+1">
                                            <span v-if="id==='573014'">美国<br>TECH100</span>
                                            <span v-else>{{product[id].name}}</span>
                                        </li>
                                    </div>
                                </ul>

                                <ul class="tech_analysis_data" v-cloak>
                                    <li class="selected">
                                        <!-- <p class="more_btn" @click="isShowTimeMenu=false;isShowTechDetailMenu=true;getPivotpoint()">
了解更多</p> -->
                                        <p class="more_btn" @click="isShowTimeMenu=false;isShowTechDetailMenu=true;">
                                            了解更多</p>
                                        <h1 v-if="product[rankedIds[techAnalyIndex]]">{{product[rankedIds[techAnalyIndex]].name}}
                                        </h1>
                                        <div class="tech_analysis_time_menu">
                                            <template v-for="(e,index) in techDetailTimingSort">
													<span v-bind:class="{selected:index===techDetailTimingIndex}"
														  @click="setTechDetailTimingIndex(index)">{{e.timeString}}</span>
												</template>
                                            <div v-bind:class="{show:isShowTimeMenu}" class="other_menu" id="tech_analysis_other_menu">
                                                <i class="tbt" @click="isShowTimeMenu=!isShowTimeMenu"></i>
                                                <p>
                                                    <template v-for="(e,index) in techDetailTimingMenu">
															<span @click="switchTiming(index)">{{e.timeString}}</span>
														</template>
                                                </p>
                                            </div>
                                        </div>
                                        <table class="tech_analysis_table">
                                            <tr>
                                                <th>总结</th>
                                                <th colspan="3">
                                                    <p :class="techAnalyInfo.conclusionBg"><span>{{techAnalyInfo.conclusion}}</span>
                                                    </p>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>移动平均指数</p>
                                                </td>
                                                <td>
                                                    <p :class="techAnalyInfo.conclusionMATextColor">
                                                        {{techAnalyInfo.conclusionMAText}}</p>
                                                </td>
                                                <td>
                                                    <p v-html="techAnalyInfo.conclusionMABuyText"></p>
                                                </td>
                                                <td>
                                                    <p v-html="techAnalyInfo.conclusionMASellText"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>技术指标</p>
                                                </td>
                                                <td>
                                                    <p :class="techAnalyInfo.conclusionTechIndiTextColor">
                                                        {{techAnalyInfo.conclusionTechIndiText}}</p>
                                                </td>
                                                <td>
                                                    <p v-html="techAnalyInfo.conclusionTechIndiBuyText"></p>
                                                </td>
                                                <td>
                                                    <p v-html="techAnalyInfo.conclusionTechIndiSellText"></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                            <!-- /tech_analysis_group-->
                            <!-- <span class="ad" style=" margin-left: 5.3rem;  margin-top: -.2rem;">广告</span> -->
                            <div class="tech_analysis_popup" v-if="isShowTechDetailMenu && start" v-cloak>
                                <div class="tech_analysis_popup_content">
                                    <p class="tech_analysis_popup_close" @click="isShowTechDetailMenu=false;isShowInnerTimeMenu=false"></p>
                                    <h1 v-if="product[rankedIds[techAnalyIndex]]">{{product[rankedIds[techAnalyIndex]].name}}</h1>
                                    <div class="tech_analysis_time_menu" id="tech_analysis_time_menu">
                                        <template v-for="(e,index) in techDetailTimingSort">
												<!-- <span v-bind:class="{selected:index===techDetailTimingIndex}"
@click="setTechDetailTimingIndex(index);getPivotpoint()">{{e.timeString}}</span> -->
												<span v-bind:class="{selected:index===techDetailTimingIndex}"
													  @click="setTechDetailTimingIndex(index);">{{e.timeString}}</span>
											</template>
                                        <div v-bind:class="{show:isShowInnerTimeMenu}" class="other_menu" id="tech_analysis_other_menu">
                                            <i @click="isShowInnerTimeMenu=!isShowInnerTimeMenu"></i>
                                            <p>
                                                <template v-for="(e,index) in techDetailTimingMenu">
														<!-- <span @click="switchTiming(index);getPivotpoint()">{{e.timeString}}</span> -->
														<span @click="switchTiming(index);">{{e.timeString}}</span>
													</template>
                                            </p>
                                        </div>
                                    </div>
                                    <table class="tech_analysis_table">
                                        <tr>
                                            <th>总结</th>
                                            <th colspan="3">
                                                <p :class="techAnalyInfo.conclusionBg"><span>{{techAnalyInfo.conclusion}}</span></p>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>移动平均指数</p>
                                            </td>
                                            <td>
                                                <p :class="techAnalyInfo.conclusionMATextColor">{{techAnalyInfo.conclusionMAText}}
                                                </p>
                                            </td>
                                            <td>
                                                <p v-html="techAnalyInfo.conclusionMABuyText"></p>
                                            </td>
                                            <td>
                                                <p v-html="techAnalyInfo.conclusionMASellText"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>技术指标</p>
                                            </td>
                                            <td>
                                                <p :class="techAnalyInfo.conclusionTechIndiTextColor">
                                                    {{techAnalyInfo.conclusionTechIndiText}}</p>
                                            </td>
                                            <td>
                                                <p v-html="techAnalyInfo.conclusionTechIndiBuyText"></p>
                                            </td>
                                            <td>
                                                <p v-html="techAnalyInfo.conclusionTechIndiSellText"></p>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- <h4 class="curr_table_title">枢轴点</h4> -->
                                    <!-- <table class="curr_table"></table> -->

                                    <div class="tech_analysis_over">
                                        <h4>移动平均指数</h4>
                                        <table class="tech_analysis_table_top">
                                            <tr>
                                                <td>名称</td>
                                                <td>标准</td>
                                                <td>移动</td>
                                            </tr>
                                        </table>
                                        <table class="tech_analysis_table table2">
                                            <tr>
                                                <td>
                                                    <p>MA5</p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA5HTML)"><span v-html="techAnalyInfo.standardMA5HTML"></span></p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA5HTML)"><span v-html="techAnalyInfo.moveMA5HTML"></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>MA10</p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA10HTML)"><span v-html="techAnalyInfo.standardMA10HTML"></span></p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA10HTML)"><span v-html="techAnalyInfo.moveMA10HTML"></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>MA20</p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA20HTML)"><span v-html="techAnalyInfo.standardMA20HTML"></span></p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA20HTML)"><span v-html="techAnalyInfo.moveMA20HTML"></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>MA50</p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA50HTML)"><span v-html="techAnalyInfo.standardMA50HTML"></span></p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA50HTML)"><span v-html="techAnalyInfo.moveMA50HTML"></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>MA100</p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA100HTML)"><span v-html="techAnalyInfo.standardMA100HTML"></span></p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA100HTML)"><span v-html="techAnalyInfo.moveMA100HTML"></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>MA200</p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA200HTML)"><span v-html="techAnalyInfo.standardMA200HTML"></span></p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA200HTML)"><span v-html="techAnalyInfo.moveMA200HTML"></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><b>总结</b></p>
                                                </td>
                                                <td>
                                                    <p v-html="techAnalyInfo.maConcludeText"></p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.maConclude)"><span v-html="techAnalyInfo.maConclude">买入</span></p>
                                                </td>
                                            </tr>
                                        </table>


                                        <h4>技术指标</h4>
                                        <table class="tech_analysis_table_top">
                                            <tr>
                                                <td>代码</td>
                                                <td>价值</td>
                                                <td>操作</td>
                                            </tr>
                                        </table>
                                        <table class="tech_analysis_table table2">
                                            <template v-for="item in techAnalyInfo.ti">
													<tr>
														<td>{{item.name}}</td>
														<td>
															<p><span>{{item.info}}</span></p>
														</td>
														<td>
															<p :class="setTechConclusionBgColor(item.conclude)">
																<span>{{item.conclude}}</span>
															</p>
														</td>
													</tr>
												</template>


                                            <tr>
                                                <td>
                                                    <p><b>总结</b></p>
                                                </td>
                                                <td>
                                                    <p v-html="techAnalyInfo.tiConcludeInfo"></p>
                                                </td>
                                                <td>
                                                    <p :class="setTechConclusionBgColor(techAnalyInfo.tiConclude)">
                                                        <span>&nbsp;<br>{{techAnalyInfo.tiConclude}}<br>&nbsp;</span></p>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>

                                </div>
                                <!-- /tech_analysis_popup_content-->
                            </div>
                            <!-- /tech_analysis_popup-->
                        </div>
                        <div class="clearFix"></div>

                        <!-- /tech_analysis_group-->
                    </div>
                </div>
                <div class="iframe_main">
                    <!-- <div class="iframe_box wow animate__animated animate__flipInX" data-wow-duration="0.8s" data-wow-delay="0.2s"></div> -->
                    <@_includePlace path="/public/lp/Trading_cms.html" />
                    <#-- 體驗場CMS後台 -->
                </div>
                <div class="box4_btn">
                    <div class="btn btnl wow animate__animated animate__fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.2s"><i></i></div>
                    <div class="btn btnr wow animate__animated animate__fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.3s"><i></i></div>
                </div>
                <div class="box4_f wow animate__animated animate__heartBeat" data-wow-duration="1.6s" data-wow-delay="0.3s">您得赠金已到账！点击上方开始赚钱！</div>
            </div>

            <div class="box5">
                <div class="box5_t wow animate__animated animate__fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.1s"><img src="promote/lp135A/images/box5_t.png"></div>
                <div class="box5_m wow animate__animated animate__fadeIn" data-wow-duration="0.6s" data-wow-delay="0.2s">
                    <div class="item item1 wow animate__animated animate__fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.3s">单次可领$100美金，无限次可领！</div>
                    <div class="item item2 wow animate__animated animate__fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.5s">盈利就提现，亏损接着领$100！</div>
                    <div class="item item3 wow animate__animated animate__fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.7s">无限次领$100，别人都赚了你还不来？</div>
                </div>
            </div>

            <div class="intip wow animate__animated animate__rotateInUpRight" data-wow-duration="0.6s" data-wow-delay="0.2s">安卓：点击右下角 <img src="promote/lp135A/images/in1.png"> ，点击“添加至”，点击“桌面”
                <br>IOS：点击 <img src="promote/lp135A/images/in2.png"> ，选择“添加到主屏幕”</div>

        </div>

        <div class="footbar">
            <ul>
                <li><a href="javascript:jump_scroll('TR_products');" class="btn1">·领金暴赚·</a></li>
                <li><a href="javascript:void(0);" onclick="h5toMine();gtag('send','event',$GA_NAME,'toH5_mine','content_first');" class="btn2">·30秒开户·</a></li>
            </ul>
        </div>

    </div>
    <script type="text/javascript" src="promote/lp135A/js/jquery.js"></script>
    <script type="text/javascript" src="promote/lp135A/js/common.js"></script>
    <script type="text/javascript" src="promote/lp135A/js/wow.min.js"></script>
    <script src="public/js/ws-index-url.js"></script>
    <script src="public/js/axios.js"></script>
    <script src="public/js/vue.js"></script>
    <script src="promote/lp135A/js/main.js"></script>
    <script>
        new WOW().init();
        var $GA_NAME = "lp135A";
        var $UA;

        function jump_scroll(h) {
            console.log(h)
            document.querySelector('.TRbox').scrollIntoView({
                block: "center",
                inline: "nearest"
            });
        }
    </script>
    <@_includePlace path="/toH5Page.html" />
    <#-- toH5Page -->
</body>

</html>