<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> </title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="[2020.09] Designed by Kim;Coded by Pong">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico" />
    <link href="public/TechnicalAnalysis/css/TechnicalAnalysis.css" type="text/css" rel="stylesheet" />
    <script src="public/js/jquery.min.js" type="text/javascript"></script>
    <script src="public/js/rem.js" charset="utf-8"></script>
    <script src="public/js/wow.min.js" type="text/javascript"></script>
    <!--<script src="TechnicalAnalysis/js/lp295A.js" charset="utf-8"></script>-->

</head>


<body>

    <script src="public/js/ws-index-url.js" charset="utf-8"></script>
    <script src="public/js/axios.js" type="text/javascript"></script>
    <script src="public/js/vue.js" charset="utf-8"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <div class="technical_analysis_main_content" id="technical_analysis_content" v-cloak @click="closeTechTimeMenu">
        <div class="title_1">
            <p>行情推荐</p>
        </div>
        <div class="technical_analysis_suggest_data_group">
            <div class="technical_analysis_suggest_data_menu">
                <div @click="gotoSelectCatagory();">
                    <span>选产品类别</span>
                    <p><span>{{selectedCatagoryText}}</span></p>
                </div>
            </div><!-- /data_menu-->

            <div class="technical_analysis_suggest_data_list">
                <div class="w_bg">
                    <table>
                        <tr>
                            <th></th>
                            <th>产品名称</th>
                            <th>现价</th>
                            <th colspan="2">投入$500可盈利</th>
                        </tr>
                        <template v-for="(id, index) in rankedIds">
                            <tr>
                                <td><img :src="rankedImgPath[index]" class="icon" :class="'rank'+(index+1)"></td>
                                <td v-bind:style= "[product[rankedIds[index]].isShow ? {} : {'color':'grey'}]">{{product[rankedIds[index]].name}}
								<img v-if="!product[rankedIds[index]].isShow" src="promote/lp295/images/closed2.png" class="icon">
								</td>
                                <td v-bind:style= "[product[rankedIds[index]].isShow ? {} : {'color':'grey'}]">{{product[rankedIds[index]].current}}</td>
                                <td v-bind:style= "[product[rankedIds[index]].isShow ? {} : {'color':'grey'}]">{{product[rankedIds[index]].profit.toFixed(2)}}</td>
                                <td><a href="javascript:void(0)"
                                        @click="lpToH5PageChecking('/productDetail/'+rankedIds[index]);gaPush('market'+rankedIds[index],'content_first')"
                                        class="r_btn"><img :src="rankedButtonPath"></a></td>
                            </tr>
                        </template>
                    </table>
                </div>
            </div><!-- /technical_analysis_suggest_data_list-->
        </div><!-- /technical_analysis_suggest_data_group-->


        <div class="technical_analysis_suggest_popup_group" v-if="isSelectCatagory && start">
            <div class="suggest_popup_content">
                <p class="popup_title">产品类别</p>
                <ul id="suggest_popup_data">
                    <li>
                        <div class="suggest_data_all" v-bind:class="{ 'all': isSelectAll }"
                            @click="updateAllCatagoryToggle()">全选 <i></i></div>
                    </li>
                    <div v-for="item in catagory">
                        <li>
                            <label>{{item.type}}</label>
                            <input type="checkbox" v-model="item.toggle" @change="updateAllCatagoryButtonStatus()">
                        </li>
                    </div>
                </ul>
                <div class="suggest_popup_btn">
                    <a href="javascript:void(0)" @click="updateSelectedCatagory()" class="btn1">确认</a>
                    <a href="javascript:void(0)" @click="cancelSelectCatagory()" class="btn1">取消</a>
                </div>
            </div><!-- /suggest_popup_content-->
        </div><!-- /technical_analysis_suggest_popup_group-->


        <!-- 技術分析 -->


        <div class="title_2" v-if="rankedIds.length>0 && isShowTechnicalAnalysisHtml">
            <p>技术分析</p>
        </div>
        <div class="tech_analysis_group" v-if="rankedIds.length>0 && isShowTechnicalAnalysisHtml">

            <ul class="tech_analysis_menu">
                <div v-for="(id, index) in rankedIds">
                    <li v-bind:class="{selected: techAnalyIndex===index}" @click="setTechAnalyIndex(index);gaPush('market'+rankedIds[index],'content_second')"
                        :page="index+1">
                        <span v-if="id==='573014'">美国<br>TECH100</span>
                        <span v-else>{{product[id].name}}</span>
                    </li>
                </div>
            </ul>

            <ul class="tech_analysis_data">
                <li class="selected">
                    <p class="more_btn" @click="isShowTimeMenu=false;isShowTechDetailMenu=true;getPivotpoint();gaPush('market'+rankedIds[techAnalyIndex],'content_fourth')">了解更多</p>
                    <h1 v-if="product[rankedIds[techAnalyIndex]]">{{product[rankedIds[techAnalyIndex]].name}}</h1>
                    <div class="tech_analysis_time_menu">
                        <template v-for="(e,index) in techDetailTimingSort">
                            <span v-bind:class="{selected:index===techDetailTimingIndex}"
                                @click="setTechDetailTimingIndex(index);gaPush('market'+rankedIds[techAnalyIndex]+'_'+techDetailTiming[techDetailTimingIndex].peid,'content_third')">{{e.timeString}}</span>
                            <!-- <span v-bind:class="{selected:index===techDetailTimingIndex}"
                                @click="setTechDetailTimingIndex(index)">{{techDetailTiming[index].timeString}}</span> -->
                        </template>
                        <div v-bind:class="{show:isShowTimeMenu}" class="other_menu" id="tech_analysis_other_menu">
                            <i @click="isShowTimeMenu=!isShowTimeMenu"></i>
                            <p>
                                <!-- <template v-for="(e,index) in 5">
                                    <span @click="switchTiming(index+4)">{{techDetailTiming[index+4].timeString}}</span>
                                </template> -->
                                <template v-for="(e,index) in techDetailTimingMenu">
                                    <span @click="switchTiming(index)">{{e.timeString}}</span>
                                </template>
                            </p>
                        </div>
                    </div>
                    <table class="tech_analysis_table">
                        <tr>
                            <th>总结</th>
                            <th colspan="3">
                                <p :class="techAnalyInfo.conclusionBg"><span>{{techAnalyInfo.conclusion}}</span></p>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p>移动平均指数</p>
                            </td>
                            <td>
                                <p :class="techAnalyInfo.conclusionMATextColor">{{techAnalyInfo.conclusionMAText}}</p>
                            </td>
                            <td>
                                <p v-html="techAnalyInfo.conclusionMABuyText"></p>
                            </td>
                            <td>
                                <p v-html="techAnalyInfo.conclusionMASellText"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>技术指标</p>
                            </td>
                            <td>
                                <p :class="techAnalyInfo.conclusionTechIndiTextColor">
                                    {{techAnalyInfo.conclusionTechIndiText}}</p>
                            </td>
                            <td>
                                <p v-html="techAnalyInfo.conclusionTechIndiBuyText"></p>
                            </td>
                            <td>
                                <p v-html="techAnalyInfo.conclusionTechIndiSellText"></p>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div><!-- /tech_analysis_group-->

        <div class="tech_analysis_btn" v-if="isShowTechnicalAnalysisHtml"><a href="javascript:void(0)"
                @click="lpToH5PageChecking('/productDetail/'+rankedIds[techAnalyIndex]);gaPush('market'+rankedIds[techAnalyIndex],'content_fifth')">立 即 交 易</a></div>
        <div class="tech_analysis_popup" v-if="isShowTechDetailMenu && start">
            <div class="tech_analysis_popup_content">
                <p class="tech_analysis_popup_close" @click="isShowTechDetailMenu=false;isShowInnerTimeMenu=false"></p>
                <h1 v-if="product[rankedIds[techAnalyIndex]]">{{product[rankedIds[techAnalyIndex]].name}}</h1>
                <div class="tech_analysis_time_menu" id="tech_analysis_time_menu">
                    <template v-for="(e,index) in techDetailTimingSort">
                        <span v-bind:class="{selected:index===techDetailTimingIndex}"
                            @click="setTechDetailTimingIndex(index);getPivotpoint();gaPush('market'+rankedIds[techAnalyIndex]+'_'+techDetailTiming[techDetailTimingIndex].peid,'content_third_detail')">{{e.timeString}}</span>
                    </template>
                    <div v-bind:class="{show:isShowInnerTimeMenu}" class="other_menu" id="tech_analysis_other_menu">
                        <i @click="isShowInnerTimeMenu=!isShowInnerTimeMenu"></i>
                        <p>
                            <template v-for="(e,index) in techDetailTimingMenu">
                                <span @click="switchTiming(index);getPivotpoint()">{{e.timeString}}</span>
                            </template>
                        </p>
                    </div>
                </div>
                <table class="tech_analysis_table">
                    <tr>
                        <th>总结</th>
                        <th colspan="3">
                            <p :class="techAnalyInfo.conclusionBg"><span>{{techAnalyInfo.conclusion}}</span></p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>移动平均指数</p>
                        </td>
                        <td>
                            <p :class="techAnalyInfo.conclusionMATextColor">{{techAnalyInfo.conclusionMAText}}</p>
                        </td>
                        <td>
                            <p v-html="techAnalyInfo.conclusionMABuyText"></p>
                        </td>
                        <td>
                            <p v-html="techAnalyInfo.conclusionMASellText"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>技术指标</p>
                        </td>
                        <td>
                            <p :class="techAnalyInfo.conclusionTechIndiTextColor">
                                {{techAnalyInfo.conclusionTechIndiText}}</p>
                        </td>
                        <td>
                            <p v-html="techAnalyInfo.conclusionTechIndiBuyText"></p>
                        </td>
                        <td>
                            <p v-html="techAnalyInfo.conclusionTechIndiSellText"></p>
                        </td>
                    </tr>
                </table>

                <h4 class="curr_table_title">枢轴点</h4>
                <table class="curr_table"></table>

                <div class="tech_analysis_over">
                    <h4>移动平均指数</h4>
                    <table class="tech_analysis_table_top">
                        <tr>
                            <td>名称</td>
                            <td>标准</td>
                            <td>移动</td>
                        </tr>
                    </table>
                    <table class="tech_analysis_table table2">
                        <tr>
                            <td>
                                <p>MA5</p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA5HTML)"><span
                                        v-html="techAnalyInfo.standardMA5HTML"></span></p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA5HTML)"><span
                                        v-html="techAnalyInfo.moveMA5HTML"></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>MA10</p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA10HTML)"><span
                                        v-html="techAnalyInfo.standardMA10HTML"></span></p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA10HTML)"><span
                                        v-html="techAnalyInfo.moveMA10HTML"></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>MA20</p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA20HTML)"><span
                                        v-html="techAnalyInfo.standardMA20HTML"></span></p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA20HTML)"><span
                                        v-html="techAnalyInfo.moveMA20HTML"></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>MA50</p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA50HTML)"><span
                                        v-html="techAnalyInfo.standardMA50HTML"></span></p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA50HTML)"><span
                                        v-html="techAnalyInfo.moveMA50HTML"></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>MA100</p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA100HTML)"><span
                                        v-html="techAnalyInfo.standardMA100HTML"></span></p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA100HTML)"><span
                                        v-html="techAnalyInfo.moveMA100HTML"></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>MA200</p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.standardMA200HTML)"><span
                                        v-html="techAnalyInfo.standardMA200HTML"></span></p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.moveMA200HTML)"><span
                                        v-html="techAnalyInfo.moveMA200HTML"></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>总结</b></p>
                            </td>
                            <td>
                                <p v-html="techAnalyInfo.maConcludeText"></p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.maConclude)"><span
                                        v-html="techAnalyInfo.maConclude">买入</span></p>
                            </td>
                        </tr>
                    </table>


                    <h4>技术指标</h4>
                    <table class="tech_analysis_table_top">
                        <tr>
                            <td>代码</td>
                            <td>价值</td>
                            <td>操作</td>
                        </tr>
                    </table>
                    <table class="tech_analysis_table table2">
                        <template v-for="item in techAnalyInfo.ti">
                            <tr>
                                <td>{{item.name}}</td>
                                <td>
                                    <p><span>{{item.info}}</span></p>
                                </td>
                                <td>
                                    <p :class="setTechConclusionBgColor(item.conclude)"><span>{{item.conclude}}</span>
                                    </p>
                                </td>
                            </tr>
                        </template>


                        <tr>
                            <td>
                                <p><b>总结</b></p>
                            </td>
                            <td>
                                <p v-html="techAnalyInfo.tiConcludeInfo"></p>
                            </td>
                            <td>
                                <p :class="setTechConclusionBgColor(techAnalyInfo.tiConclude)">
                                    <span>&nbsp;<br>{{techAnalyInfo.tiConclude}}<br>&nbsp;</span></p>
                            </td>
                        </tr>
                    </table>

                </div>

            </div><!-- /tech_analysis_popup_content-->
        </div><!-- /tech_analysis_popup-->

    </div>
    <!--technical_analysis_main_content-->

    <script src="public/TechnicalAnalysis/js/main_v3.js" charset="utf-8"></script>



    <script>
        $(document).ready(function () {
            remCompute(750, true);
        });	
    </script>


</body>


</html>