<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/lp251.css">

  <title>promise</title>
</head>

<body>
  <div class="wrapper" id="app">
    <div class="mainbg"></div>
    <!-- <div v-for="item in doll" :key="item.account">
      {{item.account}} {{item.money}}
    </div>
    <div>
      {{doll.account}} {{doll.money}}
    </div> -->

    <!-- <li v-for="item in doll" :key="item.account">
      <span class="count"><i>{{item.account}}</i><b></b></span>
      <span class="direct" v-if="fapidata.direct === 'true'"><i>方向</i><b>做多</b></span>
      <span class="direct" v-else><i>方向</i><b>做空</b></span>
      <span class="benit"><i>{{item.money}}</i><b></b></span>
      <a class="fllowbtn"></a>
    </li> -->

    <!-- <p v-if="lim_1===0">{{cal1}} {{RankAccount_1}}</p>
    <p v-if="lim_2===0">{{cal2}} {{RankAccount_2}}</p>
    <p v-if="lim_3===0">{{cal3}} {{RankAccount_3}}</p> -->
    <div class="banner fadeIn wow">
      <!-- <input type="number" v-model.number="gb" style="border: paleturquoise 3px solid;">
      <input type="number" v-model.number="mb" style="border: paleturquoise 3px solid;">
      <input type="number" v-model.number="sadwq" style="border: paleturquoise 3px solid;"> -->
      <div class="main-con">
        <div class="main-title bounceIn wow"></div>
        <span class="sub-title1"></span>
        <span class="sub-title2"></span>
      </div>
      <a class="logo"></a>
      <div class=" tab-con wow bounceInLeft">
        <h3 class="tab-nav">
          <span class="on pd_one" data-num="0" @click="changeMil();RankList();tab_1 = 'true';tab_2 = 'false';tab_3 = 'false'">{{fapidata.product_1}}</span>
          <span class="pd_two" data-num="1" @click="changeMil();RankList();tab_1 = 'false';tab_2 = 'true';tab_3 = 'false'">{{fapidata.product_2}}</span>
          <span class="pd_three" data-num="2" @click="changeMil();RankList();tab_1 = 'false';tab_2 = 'false';tab_3 = 'true'">{{fapidata.product_3}}</span>
        </h3>
        <ul class="tablist" v-if="fapidata.direct ==='true'">
          <li>
            <div>
              <h3>{{fapidata.b_pd1_q1}}</h3>
              <p>{{fapidata.b_pd1_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.b_pd1_q2}}</h3>
              <p>{{fapidata.b_pd1_a2}}</p>
            </div>
          </li>
          <li style="display: none;">
            <div>
              <h3>{{fapidata.b_pd2_q1}}</h3>
              <p>{{fapidata.b_pd2_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.b_pd2_q2}}</h3>
              <p>{{fapidata.b_pd2_a2}}</p>
            </div>
          </li>
          <li style="display: none;">
            <div>
              <h3>{{fapidata.b_pd3_q1}}</h3>
              <p>{{fapidata.b_pd3_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.b_pd3_q2}}</h3>
              <p>{{fapidata.b_pd3_a2}}</p>
            </div>
          </li>
        </ul>
        <ul class="tablist" v-else>
          <li>
            <div>
              <h3>{{fapidata.s_pd1_q1}}</h3>
              <p>{{fapidata.s_pd1_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.s_pd1_q2}}</h3>
              <p>{{fapidata.s_pd1_a2}}</p>
            </div>
          </li>
          <li style="display: none;">
            <div>
              <h3>{{fapidata.s_pd2_q1}}</h3>
              <p>{{fapidata.s_pd2_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.s_pd2_q2}}</h3>
              <p>{{fapidata.s_pd2_a2}}</p>
            </div>
          </li>
          <li style="display: none;">
            <div>
              <h3>{{fapidata.s_pd3_q1}}</h3>
              <p>{{fapidata.s_pd3_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.s_pd3_q2}}</h3>
              <p>{{fapidata.s_pd3_a2}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--part1 start-->
    <div class="part1">
      <div class="main-con wow bounceInRight">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <div>
          <ul class="profitlist downtablist">
            <li>
              <h3>{{fapidata.product_1}}</h3>
              <span class="benit stockarr stock0" :id="fapidata.product_1_id">黃金實時</span>
            </li>
            <li>
              <h3>参与人数</h3>
              <span class="benit">{{people_1_n}}</span>
            </li>
            <li>
              <h3>总盈利($)</h3>
              <span class="benit">{{profit_1_n}}</span>
            </li>
          </ul>
          <ul class="profitlist downtablist" style="display: none;">
            <li>
              <h3>{{fapidata.product_2}}</h3>
              <span class="benit stockarr stock1" :id="fapidata.product_2_id">騰訊控股實時</span>
            </li>
            <li>
              <h3>参与人数</h3>
              <span class="benit">{{people_2_n}}</span>
            </li>
            <li>
              <h3>总盈利($)</h3>
              <span class="benit">{{profit_2_n}}</span>
            </li>
          </ul>
          <ul class="profitlist downtablist" style="display: none;">
            <li>
              <h3>{{fapidata.product_3}}</h3>
              <span class="benit stockarr stock2" :id="fapidata.product_3_id">TECH100實時</span>
            </li>
            <li>
              <h3>参与人数</h3>
              <span class="benit">{{people_3_n}}</span>
            </li>
            <li>
              <h3>总盈利($)</h3>
              <span class="benit">{{people_3_n}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--part2 start-->
    <div class="part2">
      <div class="main-con wow bounceInUp">
        <ul class="top-con">
          <li v-for="(item,index) in doll.slice(0,3)" :key="index">
            <span class="count"><i>{{item.account}}</i><b></b></span>
            <span class="direct" v-if="fapidata.direct === 'true' && tab_1 === 'true'"><i>方向</i><b>做多</b></span>
            <span class="direct" v-else-if="fapidata.direct === 'false' && tab_1 === 'true'"><i>方向</i><b>做空</b></span>
            <span class="direct" v-if="fapidata.direct2 === 'true' && tab_2 === 'true'"><i>方向</i><b>做多</b></span>
            <span class="direct" v-else-if="fapidata.direct2 === 'false' && tab_2 === 'true'"><i>方向</i><b>做空</b></span>
            <span class="direct" v-if="fapidata.direct3 === 'true' && tab_3 === 'true'"><i>方向</i><b>做多</b></span>
            <span class="direct" v-else-if="fapidata.direct3 === 'false' && tab_3 === 'true'"><i>方向</i><b>做空</b></span>
            <span class="benit"><i>{{item.money}}</i><b></b></span>
            <a class="fllowbtn"></a>
          </li>
        </ul>
      </div>
    </div>
    <!--part2 end-->

    <div class="popbox">
      <div class="poptablist">
        <div class="shadow"></div>
        <div class="bombox">
          <s class="closebtn" @click="startPop">XXX</s>
          <p class="tips">{{data_pop1}}平仓{{fapidata.product_1}}</p>
          <h3 class="benit">盈利<b>{{random_profit1}}</b></h3>
          <a href="" class="bom-fllowbtn"></a>
          <span class="hidetips"><i class="circle" :class="{on:isOpen}" @click="!isOpen"></i>不再提示</span>
        </div>
      </div>
      <div class="poptablist" style="display: none;">
        <div class="shadow"></div>
        <div class="bombox">
          <s class="closebtn">XXX</s>
          <p class="tips">{{data_pop2}}平仓{{fapidata.product_2}}</p>
          <h3 class="benit">盈利<b>{{random_profit2}}</b></h3>
          <a href="" class="bom-fllowbtn"></a>
          <span class="hidetips"><i class="circle" :class="{on:isOpen}" @click="!isOpen"></i>不再提示</span>
        </div>
      </div>
      <div class="poptablist" style="display: none;">
        <div class="shadow"></div>
        <div class="bombox">
          <s class="closebtn">XXX</s>
          <p class="tips">{{data_pop3}}平仓{{fapidata.product_3}}</p>
          <h3 class="benit">盈利<b>{{random_profit3}}</b></h3>
          <a href="" class="bom-fllowbtn"></a>
          <span class="hidetips"><i class="circle" :class="{on:isOpen}" @click="isOpen = !isOpen"></i>不再提示</span>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/rem.js"></script>
  <script type="text/javascript">
    // var $GA_NAME = "lp251_cg_zxwd";
    // var $UA;
    $(function () {
      // 动画加载
      // if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
      // }
      // else {
      //     $(".wow").css({ "visibility": "visible" })
      // }
      $(".tab-nav span").click(function () {
        var index = $(this).attr("data-num")
        $(this).addClass("on").siblings().removeClass("on");
        $(".tablist li").eq(index).show().siblings().hide();
        $(".downtablist").eq(index).show().siblings().hide();
      });
      
      // $(".fllowbtn").click(function () {
      //     $(".shadow").show();
      //     $(".bombox").show();
      // });
      // $(".closebtn").click(function () {
      //     $(".shadow").hide();
      //     $(".bombox").hide();
      // });
      // $(".circle").click(function () {
      //     $(this).toggleClass("on");
      // })
    });
  </script>
  <script src="./js/vue.js"></script>
  <script src="./js/pako.js"></script>
  <script src="./js/axios.js"></script>
  <script src="./js/lp251.js"></script>
</body>

</html>