<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/lp251.css">

  <title>promise</title>
</head>

<body>
  <div class="wrapper" id="app">
    <div class="mainbg"></div>
    <div class="banner fadeIn wow">
      <input type="number" v-model.number="gb" style="border: paleturquoise 3px solid;">
      <input type="number" v-model.number="mb" style="border: paleturquoise 3px solid;">
      <input type="number" v-model.number="sadwq" style="border: paleturquoise 3px solid;">
      <div class="main-con">
        <div class="main-title bounceIn wow"></div>
        <span class="sub-title1"></span>
        <span class="sub-title2"></span>
      </div>
      <a class="logo"></a>
      <div class=" tab-con wow bounceInLeft">
        <h3 class="tab-nav">
          <span class="on pd_one" data-num="0">{{fapidata.product_1}}</span>
          <span class="pd_two" data-num="1">{{fapidata.product_2}}</span>
          <span class="pd_three" data-num="2">{{fapidata.product_3}}</span>
        </h3>
        <ul class="tablist" v-if="fapidata.direct ==='true'">
          <li>
            <div>
              <h3>{{fapidata.b_pd1_q1}}</h3>
              <p>{{fapidata.b_pd1_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.b_pd1_q2}}</h3>
              <p>{{fapidata.b_pd1_a2}}</p>
            </div>
          </li>
          <li style="display: none;">
            <div>
              <h3>{{fapidata.b_pd2_q1}}</h3>
              <p>{{fapidata.b_pd2_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.b_pd2_q2}}</h3>
              <p>{{fapidata.b_pd2_a2}}</p>
            </div>
          </li>
          <li style="display: none;">
            <div>
              <h3>{{fapidata.b_pd3_q1}}</h3>
              <p>{{fapidata.b_pd3_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.b_pd3_q2}}</h3>
              <p>{{fapidata.b_pd3_a2}}</p>
            </div>
          </li>
        </ul>
        <ul class="tablist" v-else>
          <li>
            <div>
              <h3>{{fapidata.s_pd1_q1}}</h3>
              <p>{{fapidata.s_pd1_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.s_pd1_q2}}</h3>
              <p>{{fapidata.s_pd1_a2}}</p>
            </div>
          </li>
          <li style="display: none;">
            <div>
              <h3>{{fapidata.s_pd2_q1}}</h3>
              <p>{{fapidata.s_pd2_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.s_pd2_q2}}</h3>
              <p>{{fapidata.s_pd2_a2}}</p>
            </div>
          </li>
          <li style="display: none;">
            <div>
              <h3>{{fapidata.s_pd3_q1}}</h3>
              <p>{{fapidata.s_pd3_a1}}</p>
            </div>
            <div class="problem">
              <h3>{{fapidata.s_pd3_q2}}</h3>
              <p>{{fapidata.s_pd3_a2}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--part1 start-->
    <div class="part1">
      <div class="main-con wow bounceInRight">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <div>
          <ul class="profitlist downtablist">
            <li>
              <h3>{{fapidata.product_1}}</h3>
              <span class="benit stockarr stock0" :id="fapidata.product_1_id">黃金實時</span>
            </li>
            <li>
              <h3>参与人数</h3>
              <span class="benit">{{fapidata.participants_1}}</span>
            </li>
            <li>
              <h3>总盈利($)</h3>
              <span class="benit">{{fapidata.profit_1}}</span>
            </li>
          </ul>
          <ul class="profitlist downtablist" style="display: none;">
            <li>
              <h3>{{fapidata.product_2}}</h3>
              <span class="benit stockarr stock1" :id="fapidata.product_2_id">騰訊控股實時</span>
            </li>
            <li>
              <h3>参与人数</h3>
              <span class="benit">{{fapidata.participants_2}}</span>
            </li>
            <li>
              <h3>总盈利($)</h3>
              <span class="benit">{{fapidata.profit_2}}</span>
            </li>
          </ul>
          <ul class="profitlist downtablist" style="display: none;">
            <li>
              <h3>{{fapidata.product_3}}</h3>
              <span class="benit stockarr stock2" :id="fapidata.product_3_id">TECH100實時</span>
            </li>
            <li>
              <h3>参与人数</h3>
              <span class="benit">{{fapidata.participants_3}}</span>
            </li>
            <li>
              <h3>总盈利($)</h3>
              <span class="benit">{{fapidata.profit_3}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--part2 start-->
    <div class="part2">
      <div class="main-con wow bounceInUp">
        <ul class="top-con">
          <li :data-value="cal">
            <span class="count"><i>账号</i><b>{{cal}}</b></span>
            <span class="direct" v-if="fapidata.direct === 'true'"><i>方向</i><b>做多</b></span>
            <span class="direct" v-else><i>方向</i><b>做空</b></span>
            <span class="benit"><i>盈利</i><b></b></span>
            <a class="fllowbtn"></a>
          </li>
          <li>
            <span class="count"><i>账号</i><b>{{cal}}</b></span>
            <span class="direct" v-if="fapidata.direct === 'true'"><i>方向</i><b>做多</b></span>
            <span class="direct" v-else><i>方向</i><b>做空</b></span>
            <span class="benit"><i>盈利</i><b></b></span>
            <a class="fllowbtn"></a>
          </li>
          <li class="item3">
            <span class="count"><i>账号</i><b>{{cal}}</b></span>
            <span class="direct" v-if="fapidata.direct === 'true'"><i>方向</i><b>做多</b></span>
            <span class="direct" v-else><i>方向</i><b>做空</b></span>
            <span class="benit"><i>盈利</i><b></b></span>
            <a class="fllowbtn"></a>
          </li>
        </ul>
      </div>
    </div>
    <!--part2 end-->
  </div>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/rem.js"></script>
  <script type="text/javascript">
    // var $GA_NAME = "lp251_cg_zxwd";
    // var $UA;
    $(function () {
      // 动画加载
      // if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
      // }
      // else {
      //     $(".wow").css({ "visibility": "visible" })
      // }
      $(".tab-nav span").click(function () {
        var index = $(this).attr("data-num")
        $(this).addClass("on").siblings().removeClass("on");
        $(".tablist li").eq(index).show().siblings().hide();
        $(".downtablist").eq(index).show().siblings().hide();
      });
      // $(".fllowbtn").click(function () {
      //     $(".shadow").show();
      //     $(".bombox").show();
      // });
      // $(".closebtn").click(function () {
      //     $(".shadow").hide();
      //     $(".bombox").hide();
      // });
      // $(".circle").click(function () {
      //     $(this).toggleClass("on");
      // })
    });
  </script>
  <script src="./js/vue.js"></script>
  <script src="./js/pako.js"></script>
  <script src="./js/axios.js"></script>
  <script src="./js/lp251.js"></script>
</body>

</html>