<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='./json/vue.js'></script>
    <script src='./json/axios.js'></script>
    <script src="./json/rem.js"></script>
    <link rel="stylesheet" href="./css/h5cssreset.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #eee;
        }

        .container {
            width: 90%;
            margin: .20rem auto;
            height: .30rem;
        }

        .carousel {
            width: 100%;
            height: 100%;
            border-radius: .05rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: #fff;
            overflow: hidden;
            position: relative;
        }

        .slider {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 5000%;
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            color: #000;
        }

        .slider section {
            -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
            width: 100%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: .28rem;
            padding-top: 0.01rem;
        }

        .arrow {
            position: absolute;
            top: .10rem;
            cursor: pointer;
        }

        .arrow.prev {
            left: .10rem;
        }

        .arrow.next {
            right: .10rem;
        }
    </style>
    <title>websocket_資料無修正_步兵手刻</title>
</head>

<body>
    <div id="getPriceTemplate" class="trading_wrap">
        <h1>買賣產品隨機生成</h1>
        <h1>輪播買賣</h1>
        <div class="container">
            <div class="carousel">
                <div class="slider">
                    <section v-for="item in arrshow" :class="item.id">{{item.data}}</section>
                </div>
                <div class="slider-cover" ref="slider">
                </div>
            </div>
        </div>
        <h1>所有產品id</h1>
        <span v-for="(item,key) in typeId">
            {{item}}
        </span>
        <p>methods: defineProduct , data: typeId</p>
        <h1>所有產品最後一口價資料</h1>
        <table>
            <tr>
                <th>code_id</th>
                <th>cur_price</th>
                <th>buy_price</th>
                <th>sell_price</th>
                <th>high_price</th>
                <th>low_price</th>
                <th>open_price</th>
                <th>yesterday_price</th>
                <th>seq</th>
                <th>time</th>
            </tr>
            <tr v-for="item in allLastProduct">
                <td>{{item.code_id}}</td>
                <td>{{item.cur_price}}</td>
                <td>{{item.buy_price}}</td>
                <td>{{item.sell_price}}</td>
                <td>{{item.high_price}}</td>
                <td>{{item.low_price}}</td>
                <td>{{item.open_price}}</td>
                <td>{{item.yesterday_price}}</td>
                <td>{{item.seq}}</td>
                <td>{{item.time}}</td>
            </tr>
        </table>

        <h1>實時數據(含最後一口價資料)</h1>
        <table>
            <tr>
                <th>code_id</th>
                <th>cur_price</th>
                <th>buy_price</th>
                <th>sell_price</th>
                <th>high_price</th>
                <th>low_price</th>
                <th>open_price</th>
                <th>yesterday_price</th>
                <th>seq</th>
                <th>time</th>
            </tr>
            <tr v-for="item in realtimeData">
                <td>{{item.code_id}}</td>
                <td>{{item.cur_price}}</td>
                <td>{{item.buy_price}}</td>
                <td>{{item.sell_price}}</td>
                <td>{{item.high_price}}</td>
                <td>{{item.low_price}}</td>
                <td>{{item.open_price}}</td>
                <td>{{item.yesterday_price}}</td>
                <td>{{item.seq}}</td>
                <td>{{item.time}}</td>
            </tr>
        </table>
        <br>
        <p>methods: WsUpdateReal , data: realtimeData</p>
        <h1>技術分析 HTML</h1>
        <p>methods: getCurrenc , data: currenctTemp</p>
        <span>{{currenctTemp}}</span>
    </div>
    <script>
        const WS_BASE_URL = "wss://api.mircoinfolab.com:1315/websocket";
        const HTTP_BASE_URL = "https://api.mircoinfolab.com:1315";
        const TECH_ANA_URL = "https://api.bingxuegirl.com/inv/currencies";
        // 輪播 ID
        const LOOPING_PRODUCT_ID = ['573004']
        var vm = new Vue({
            el: "#getPriceTemplate",
            data() {
                return {
                    // 技術分析
                    currencies: `${TECH_ANA_URL}`,
                    // 輪播買賣
                    arrshow: [],
                    // 輪播產品選擇
                    carouselId: LOOPING_PRODUCT_ID,
                    // 輪播產品文字
                    carouseName: [],
                    carouseCur: [],
                    carouselData: [],
                    // 03 總產品清單 json url
                    jsonUrl: './json/code_03_ix.json',
                    // json資料存放陣列
                    allJson: [],
                    // Http 登入獲取 token
                    Http_config: {
                        method: 'post',
                        url: `${HTTP_BASE_URL}/account/appProperties/getAccountProperties`,
                        headers: {
                            'Content-type': 'application/json',
                            'module': 'uat-account',
                            'rpcType': 'http',
                            'method': '/account/appProperties/getAccountProperties',
                            'httpMethod': 'post',
                            'trace': 'h5_' + this.get_current_time(),
                            // 發送後才可以取 token
                            'Authorization': ''
                        },
                        data: {
                            "head": { "appKey": "yz352001" },
                            "data": { "login_name": "Guest", "password": "" }
                        },
                    },
                    // 建立 websocket 記憶體
                    websock: null,
                    // 初始化 ws 格式
                    Ws_config: {
                        trace: `h5 ${this.get_current_time()}`,
                        version_code: 1,
                        device: "h5",
                        head: {
                            server: "yz",
                            msgType: "",
                            sendTime: this.get_current_time(),
                            Authorization: "",
                            lang: "zh-TW"
                        },
                        content: {
                            appKey: "",
                            clientIp: "",
                            company_id: "",
                            login_name: "Guest",
                            password: "",
                            user_type: 1
                        },
                    },
                    // 所有產品 id
                    typeId: [],
                    // 總產品_最後一口價
                    allLastProduct: [],
                    // 時實數據
                    realtimeData: [],
                    // 心跳間隔(單位:毫秒)
                    beatTime: 30000,
                    // 行情技術分析
                    currenctTemp: "",
                }
            },
            computed: {

            },
            methods: {
                // 紀錄分頁
                recordHis() {
                    let vm = this
                    let url_path = window.location.href
                    console.log(url_path)
                    let routeFomr = sessionStorage.setItem('routerForm', url_path)
                },
                // 時間具有唯一性
                get_current_time() {
                    var d = new Date();
                    return d.getTime();
                },
                // 取得技術分析
                getCurrenc() {
                    let vm = this
                    axios(vm.currencies).then(res => {
                        vm.currenctTemp = res.data
                    }).catch(error => {
                        console.log(error, '技術分析錯誤')
                    })
                },
                // 取得 json 格式文件
                getJson() {
                    let vm = this
                    axios(vm.jsonUrl).then(res => {
                        vm.allJson = JSON.parse(JSON.stringify(res.data))
                    }).catch(error => {
                        console.log(error, '取得json錯誤')
                    })
                },
                // 生成買賣
                generate(v) {
                    let vm = this
                    const slider = document.querySelector('.slider')
                    slider.style.height = `${(100 * (vm.carouselId.length))}%`
                    _content_ls = {
                        code_ids: vm.typeId,
                    }
                    // --最後一口價 + 推入輪播
                    setTimeout(() => {
                        vm.WsLastpriceBuildup("lastPrice", _content_ls)
                        vm.allLastProduct.forEach(el => {
                            vm.allJson.forEach(el_2 => {
                                if (el.code_id == el_2.id) {
                                    vm.carouseName.push(el_2.name)
                                    vm.carouseCur.push(el.cur_price)
                                }
                            })
                        })
                    }, 1000);
                    // 因應 Ws 網路延時
                    vm.arrshow = []
                    setTimeout(() => {
                        vm.arrshow.push(vm.randomTrading(v))
                        vm.arrshow.push(vm.randomTrading(v))
                        // 輪播 start
                        // 輪播 end
                    }, 1000);
                },
                // 更新買賣
                updataGenerate() {
                    let vm = this
                    _content_ls = {
                        code_ids: vm.typeId,
                    }
                    // --最後一口價 + 推入輪播
                    vm.carouseName = []
                    vm.carouseCur = []
                    // setTimeout(() => {
                    vm.WsLastpriceBuildup("lastPrice", _content_ls)
                    vm.allLastProduct.forEach(el => {
                        vm.allJson.forEach(el_2 => {
                            if (el.code_id == el_2.id) {
                                vm.carouseName.push(el_2.name)
                                vm.carouseCur.push(el.cur_price)
                            }
                        })
                    })

                    // }, 1000);
                    // 因應 Ws 網路延時
                    setTimeout(() => {
                        for (let x = 0; x < vm.carouselId.length; x++) {
                            vm.arrshow.push(vm.randomTrading(x))
                        }
                        // 輪播 start
                        // 輪播 end
                    }, 1000);

                },
                // 亂數生成
                randomTrading(v) {
                    let vm = this
                    let randomCal = (Math.floor(Math.random() * vm.carouselId.length))

                    let account = {
                        data: `68****${Math.floor(Math.random() * 90) + 10}以 ${(vm.carouseCur[`${randomCal}`])} 买入/卖出 ${(Math.floor(Math.random() * 37) * 0.05 + 0.5).toFixed(2)}手 ${vm.carouseName[`${randomCal}`]}`,
                        id: `random${v}`
                    }
                    return account
                },
                // 輪播買賣 carousel
                looping(v) {
                    let vm = this
                    let updataCount = 0
                    const slider = document.querySelector('.slider')
                    const carousel = document.querySelector('.carousel')
                    // const prev = document.querySelector('.prev')
                    // const next = document.querySelector('.next')
                    var direction;
                    // prev.addEventListener('click', function () {
                    //     carousel.style.justifyContent = 'flex-end'
                    //     if (direction === -1) {
                    //         slider.appendChild(slider.firstElementChild);
                    //         direction = 1
                    //     }
                    //     slider.style.transform = `translateY(${100 / (vm.carouselId.length)}%)`
                    // })
                    // next.addEventListener('click', function () {
                    //     carousel.style.justifyContent = 'flex-start'
                    //     direction = -1
                    //     slider.style.transform = `translateY(-${100 / (vm.carouselId.length)}%)`
                    // })
                    slider.addEventListener('transitionend', function () {
                        if (direction === -1) {
                            slider.appendChild(slider.firstElementChild);
                        } else if (direction === 1) {
                            slider.prepend(slider.lastElementChild);
                        }
                        // vm.setVendorCss(slider, 'transform', 'translate(0)')
                        slider.style.WebkitTransition = 'none'
                        slider.style.MozTransition = 'none'
                        slider.style.MsTransition = 'none'
                        slider.style.OTransition = 'none'
                        slider.style.WebkitTransform = 'translate(0)'
                        slider.style.MozTransform = 'translate(0)'
                        slider.style.MsTransform = 'translate(0)'
                        slider.style.OTransform = 'translate(0)'
                        // slider.style.transition = 'none'
                        // slider.style.transform = 'translate(0)'
                        setTimeout(function () {
                            slider.style.WebkitTransition = 'all 0.5s'
                            slider.style.MozTransition = 'all 0.5s'
                            slider.style.MsTransition = 'all 0.5s'
                            slider.style.OTransition = 'all 0.5s'
                        })
                    })
                    let clearCount = 0
                    let goInterval = setInterval(() => {
                        clearCount++
                        direction = -1
                        // vm.setVendorCss(slider,'transform',`translateY(-${100 / (vm.carouselId.length)}%)`)
                        slider.style.WebkitTransform = `translateY(-${100 / (vm.carouselId.length)}%)`
                        slider.style.MozTransform = `translateY(-${100 / (vm.carouselId.length)}%)`
                        slider.style.MsTransform = `translateY(-${100 / (vm.carouselId.length)}%)`
                        slider.style.oTransform = `translateY(-${100 / (vm.carouselId.length)}%)`
                        if (clearCount === vm.carouselId.length) {
                            clearCount = 0
                            vm.updataGenerate()
                        }
                    }, 1500);
                    // setInterval(() => {
                    //     vm.updataGenerate(v)
                    // }, 2000);
                },
                //css prfix
                setVendorCss(element, property, value) {
                    element.style["webkit" + property] = value;
                    element.style["moz" + property] = value;
                    element.style["ms" + property] = value;
                    element.style["o" + property] = value;
                },
                // 要做 ws 以前都要先做 http 發送登入，才能夠要到 token 做 ws 操作 ix 文檔
                // https://testdocs.ixmiddle.com/ixmiddle/http-interface-doc/account/appProperties/getAccountProperties.html
                gotourl() {
                    let vm = this
                    axios(vm.Http_config)
                        .then(function (response) {
                            // 進行 ws 操作
                            // 從 HTTP 所取得的 response 帶入 websocket head
                            vm.Ws_config.head.Authorization = response.headers.authorization
                            vm.Ws_config.head.msgType = 'login'
                            vm.Ws_config.content.appKey = response.data.data.transBaseConfigVo.appKey
                            vm.Ws_config.content.clientIp = response.data.data.clientIp
                            vm.Ws_config.content.company_id = response.data.data.toKenCompanyInfoVo.companyId
                            vm.Ws_config.content.login_name = vm.Http_config.data.data.login_name
                            vm.Ws_config.content.password = vm.Http_config.data.data.password
                            vm.Ws_config.content.user_type = -1
                            vm.initWebSocket(vm.Ws_config)
                            return axios(vm.jsonUrl)
                        }).then(function (jsonRes) {
                            vm.jsonDate = JSON.parse(JSON.stringify(jsonRes.data))
                        })
                        .catch(function (error) {
                            console.log(error, 'axios 發送的 Http 、 Ws 出現錯誤');
                        });
                },
                initWebSocket(Ws_config) { //初始化 websocket
                    this.websock = new WebSocket(WS_BASE_URL);
                    this.websock.onmessage = this.websocketonmessage;
                    this.websock.onopen = this.websocketonopen;
                    this.websock.onerror = this.websocketonerror;
                    this.websock.onclose = this.websocketclose;
                },
                websocketonopen() { //連接建立後執行 send 發送數據
                    let vm = this
                    console.log('open connect', vm.Ws_config)
                    if (this.websock.readyState === 1) {
                        this.websocketsend(JSON.stringify(vm.Ws_config));
                    } else {
                        alert("還沒進入 websocket.readyState === 1")
                    }
                },
                websocketonerror() {//連結失敗，重新連線
                    console.log('///連結失敗，重新連線')
                    this.initWebSocket();
                },
                websocketonmessage(e) { //資料接收後
                    let vm = this
                    // 接收資料後判斷數據
                    vm.Wsevent(e.data)
                },
                websocketsend(Data) {//資料發送
                    this.websock.send(Data);
                },
                websocketclose(e) {  //關閉
                    console.log('websocket 連線已經中斷', e);
                },
                // --初始化所有產品 與 產品分類
                defineProduct(e) {
                    let vm = this
                    let newArr = JSON.parse(e)
                    newArr.content.product_category.forEach(element => {
                        vm.typeId = vm.typeId.concat(element.code_ids)
                    });
                    vm.typeId = LOOPING_PRODUCT_ID
                    console.log(vm.typeId, 'Id 產生')
                },
                // 需要 token 者 ( 依照文檔目前只在判斷客戶來源使用 )
                WsBuildup(msgType, _content) {
                    let vm = this
                    vm.Ws_config.head.msgType = msgType
                    vm.Ws_config.content = _content
                    // 登入後正式進入 Wsevent 判斷
                    vm.websocketsend(JSON.stringify(vm.Ws_config));
                },
                // 共通 head
                Ws_Head(msgType) {
                    let vm = this
                    let _head = {
                        "server": "yz",
                        "msgType": msgType,
                        "sendTime": vm.get_current_time()
                    }
                    return _head
                },
                // 發送心跳
                Ws_heartBeat(msgType, _content) {
                    let vm = this
                    let Ws_HtConfig = {
                        "head": vm.Ws_Head(msgType),
                        "content": _content,
                        "trace": vm.get_current_time(),
                        "device": "h5",
                        "version_code": 1
                    }
                    vm.websocketsend(JSON.stringify(Ws_HtConfig));
                },
                // 訂閱所有行情最後一口價 ( 可直接訂閱 )
                // --最後一口價--
                WsLastpriceBuildup(msgType, _content) {
                    let vm = this
                    let Ws_LsConfig = {
                        "head": vm.Ws_Head(msgType),
                        "content": _content,
                        "trace": vm.get_current_time(),
                        "device": "h5",
                        "version_code": 1
                    }
                    vm.websocketsend(JSON.stringify(Ws_LsConfig));
                },
                // 訂閱產品實時報價
                // --產品報價
                WsProductCurBuildup(msgType, _content) {
                    let vm = this
                    let ws_PrCurConfig = {
                        "head": vm.Ws_Head(msgType),
                        "content": _content,
                        "device": "h5",
                        "trace": vm.get_current_time(),
                        "version_code": 1
                    }
                    vm.websocketsend(JSON.stringify(ws_PrCurConfig));
                },
                // lastPrice format
                // buy_price code_id cur_price high_price low_price open_price sell_price seq time title yesterday_price
                // --更新時實數據
                WsUpdateReal(data) {
                    let vm = this
                    // 實時數據資料
                    vm.realtimeData.forEach(el => {
                        if (el.code_id == data[0]) {
                            el.sell_price = data[1]
                            el.buy_price = data[2]
                            el.cur_price = data[3]
                            el.time = data[4]
                            el.high_price = data[5]
                            el.low_price = data[6]
                        }
                    })
                },
                Wsevent(e) {
                    let vm = this
                    var msg = null;
                    // 進來的字串，需要再轉字串才能使用方法
                    if (e.toString().indexOf("p(") > -1) {
                        // --產品報價處理
                        // p( 因為非物件開頭 所以不能單純使用 json.parse 去做處理
                        // ws_realTimeProduct( [0]產品ID,[1]賣價,[2]買價,[3]當前價,[4]時間,[5]最高價格,[6]最低價格 )
                        // 字串處理
                        let newData = e.slice(2, e.length - 1);
                        let ws_realTimeProduct = newData.split(",");
                        if (ws_realTimeProduct.length < 7) {
                            console.log("報價有錯 " + e);
                        }

                        // 完整p資料
                        vm.WsUpdateReal(ws_realTimeProduct)

                        // ws 登入後會回傳數據
                        // 將數據轉換成可以比對的 msg_type 
                        // msg_type 請看 ix 文檔
                        // https://testdocs.ixmiddle.com/ixmiddle/ix-socket-proxy-doc/trade-login.html
                        // 為字串且排除產品訂閱的條件後，再行轉換
                    } else if (typeof (e) === "string" && e.toString().indexOf("p(") < 0) {
                        msg = JSON.parse(e);
                        var msg_code = msg.msg_code;
                        // 定義 msg_code 到下方 switch 比對
                    }
                    // 比對什麼回傳訊息
                    // 再做什麼樣的事
                    switch (msg_code) {
                        // 比對到使用者登入
                        case "UserLoginInfoRet":
                            // 已經有用戶帳戶資料 參考 ix 文檔
                            // https://testdocs.ixmiddle.com/ixmiddle/ix-socket-proxy-doc/trade-login/tui-song-deng-lu-jie-guo.html
                            break;
                        case "HeartBeatConf":
                            _content_ht = {
                                beat: 1,
                            }
                            vm.Ws_heartBeat("ping", _content_ht)
                            break;
                        case "pong":
                            setTimeout(() => {
                                _content_ht = {
                                    beat: 1,
                                }
                                vm.Ws_heartBeat("ping", _content_ht)
                            }, vm.beatTime);
                            break;
                        case "InitProductInfo":
                            // --初始化所有產品 與 產品分類
                            vm.defineProduct(e)
                            // 訂閱所有產品最後一口價
                            _content_ls = {
                                code_ids: vm.typeId,
                            }
                            // --最後一口價
                            vm.WsLastpriceBuildup("lastPrice", _content_ls)
                            for (let v = 0; v < (vm.carouselId.length); v++) {
                                let newcarouselData = vm.generate(v)
                            }
                            break;
                        case "LastPrice":
                            let newarr = JSON.parse(e)
                            vm.allLastProduct = []
                            newarr.content.forEach(el => {
                                vm.allLastProduct = vm.allLastProduct.concat(el)
                            })
                            vm.realtimeData = JSON.parse(JSON.stringify(vm.allLastProduct))
                            _content_pr = {
                                code_ids: vm.typeId,
                                subscribeType: "reSubscribe",
                                type: "yz"
                            }

                            // --產品報價
                            vm.WsProductCurBuildup("productSubscription", _content_pr)
                            break
                        default:
                            break;
                    }
                },
                loopingTime() {
                    // let timeCount = 0
                    setTimeout(() => {
                        // timeCount ++
                        this.looping()
                        // if(timeCount === this.carouselId.length){
                        //     clearInterval(loopingTime)
                        // }
                    }, this.carouselId.length * 1000);
                }
            },
            mounted() {
                this.loopingTime()
            },
            created() {
                this.gotourl()
                this.getJson()
                //this.getCurrenc()
            },
            destroyed() {
            }
        })
    </script>
    <script type="text/javascript">
        remCompute(750, true);
    </script>
</body>

</html>