<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>
    <title>RE_vue_S1E9</title>
    <style>
        html,
        body {
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <li is="component-display" v-for="item of component_filter" :c_list="item" @send-edit="receive_edit" @send-completed="receive_completed" :edit_text="edit_text"></li>
        </ul>
        <component-input @post-input="receive_input"></component-input>
        <component-select @send-change="receive_change"></component-select>
    </div>

    <script>
        Vue.component('component-input', {
            data: function() {
                return {
                    input_text: "",
                }
            },
            template: `<div>
            <input type="text" v-model="input_text" @keyup.enter="send">
            </div>`,
            computed: {},
            watch: {},
            methods: {
                send(value) {
                    this.$emit('post-input', value.target.value)
                }
            }
        });
        Vue.component('component-select', {
            data: function() {
                return {
                    button: [{
                        text: "未完成",
                        value: "undone"
                    }, {
                        text: "完成",
                        value: "done"
                    }, {
                        text: "全部",
                        value: "all"
                    }]
                }
            },
            template: `<div>
                <button v-for="item of button" :key="item.value" @click="change(item.value)">{{item.text}}</button></div>`,
            computed: {},
            watch: {},
            methods: {
                change(val) {
                    this.$emit('send-change', val)
                }
            }
        });
        Vue.component('component-display', {
            props: ['c_list', 'edit_text'],
            data: function() {
                return {}
            },
            template: `
            <li>
                        <template v-if="edit_text === c_list.content">
                            <input type="text" :value="c_list.content">
                            <input type="checkbox" v-model="c_list.status">
                            <button @click="completed(c_list.content)">完成</button>
                            <button @click=cancle>取消</button>
                        </template>
                        <template v-else>
                            {{c_list.content}} 
                            <input type="checkbox" v-model="c_list.status">
                            <button @click="editvalue(c_list.content)">修改</button>
                            <button @click=cancle>刪除</button>
                        </template>
                        </li>
                      `,
            computed: {},
            watch: {},
            methods: {
                editvalue(val) {
                    this.$emit('send-edit', val)
                },
                completed(val) {
                    this.$emit('send-completed', val)
                },
                cancle() {

                }
            }
        });
        (function VueInit() {
            var vm = new Vue({
                el: "#app",
                data: {
                    list: [],
                    show: 'all',
                    edit_text: '',
                },
                methods: {
                    receive_change(val) {
                        this.show = val
                    },
                    receive_input(value) {
                        let item = {
                            content: value,
                            status: true,
                            time: new Date().getTime()
                        }
                        this.list.push(item)
                    },
                    receive_edit(val) {
                        this.edit_text = val
                    },
                    receive_completed(val) {
                        console.log(val);
                    }
                },
                computed: {
                    component_filter() {
                        if (this.show === 'undone') {
                            return this.list.filter(el => {
                                return el.status === false
                            })
                        } else if (this.show === 'done') {
                            return this.list.filter(el => {
                                return el.status === true
                            })
                        } else {
                            return this.list
                        }
                    }
                },
                watch: {},
                mounted() {},
                created() {},
                destroyed() {}
            })
        })()
    </script>

</body>

</html>