<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>
    <title>RE_vue_S1E9</title>
</head>

<body>
    <div id="app">
        <component-input-inner></component-input-inner>
        <component-input-outer v-model="input_text" @custom-input-outer="inputChang"></component-input-outer>
        <btn v-model="btn_text" :text="btn_text"></btn>
    </div>

    <script>
        Vue.component('btn', {
            data: function() {
                return {
                    firstName: 'PJ',
                    lastName: 'Chen'
                }
            },
            props: ['text'],
            template: `<div>
            <button @click="change">{{text_computer}}</button>
            {{fullName}}
            </div>`,
            computed: {
                text_computer() {
                    return this.text
                },
                fullName: {
                    get() {
                        console.log('computed getter')
                        return this.firstName + ' ' + this.lastName
                    },
                    set(value) {
                        console.log('computed setter')
                        this.firstName = value.split(' ')[0]
                        this.lastName = value.split(' ')[1]
                    }
                }
            },
            watch: {},
            methods: {
                change() {
                    this.text_computer + "6"
                }
            }
        });
        Vue.component('component-input-inner', {
            template: `<div>
                <input type="text" @input="$emit('custom-input',$event.target.value)" v-model="input_text" @keyup.enter="gogogo">
                </div>`,
            data: function() {
                return {
                    input_text: ""
                }
            },
            methods: {
                gogogo() {
                    console.log(this.input_text);
                },
            }
        });
        Vue.component('component-input-outer', {
            template: `<div>
                <input type="text" :value="value" v-on:input="$emit('input', $event.target.value)" @keyup.enter="gogogo">
                </div>`,
            props: ['value'],
            data: function() {
                return {}
            },
            computed: {

            },
            methods: {
                gogogo() {
                    this.$emit("custom-input-outer");
                },
            }
        });
        (function VueInit() {
            var vm = new Vue({
                el: "#app",
                data() {
                    return {
                        input_text: "666",
                        btn_text: "btn"
                    }
                },
                methods: {
                    inputChang() {
                        console.log(this.input_text);
                    },
                },
                computed: {},
                watch: {},
                mounted() {},
                created() {},
                destroyed() {}
            })
        })()
    </script>

</body>

</html>