<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vueinit</title>
    <style>
        body {
            position: relative;
            display: flex;
            justify-content: center;
        }
        
        #app {
            margin-top: 30%;
        }
    </style>
</head>

<body>

    <div id="app">
        <major @scale_rang="setRang"></major>
        <minor @scale_rang="setRang"></minor>
        <!-- <input v-model="searchText"> -->
        <i_chord v-bind:cord=scale @inC_component="setScale"></i_chord>
        <ii_chord v-bind:cord=scale @inD_component="setScale"></ii_chord>
        <iii_chord v-bind:cord=scale @inE_component="setScale"></iii_chord>
        {{displayScale}}
        <!-- <custom-input v-model="searchText" v-on:input="searchText = $event"></custom-input> -->
    </div>

    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
    <script>
        //         Vue.component('custom-input', {
        //             props: ['value'],
        //             template: `
        //     <button
        //     v-bind:value="value"
        //     @click="sendSearchtext($event.target.value)"
        //     >sendSearchtext</button>
        //   `,
        //             methods: {
        //                 sendSearchtext(val) {
        //                     alert(val)
        //                 }
        //             }
        //         })
        Vue.component('major', {
            props: {},
            data() {
                return {}
            },
            template: `<button @click="major_scale(0,4,7)">Major</button>`,
            methods: {
                major_scale() {
                    this.$emit("scale_rang", val1, val2, val3)
                }
            }
        });
        Vue.component('minor', {
            props: {},
            data() {
                return {}
            },
            template: `<button @click="minor_scale(0,3,7)>Minor</button>`,
            methods: {
                minor_scale() {
                    this.$emit("scale_rang", val1, val2, val3)
                }
            }
        });
        Vue.component('i_chord', {
            props: {
                cord: {
                    type: Array,
                }
            },
            data() {
                return {}
            },
            template: `<button @click="inC(0,4,7)">{{cord[0]}}</button>`,
            methods: {
                inC(val1, val2, val3) {
                    this.$emit("inc_component", val1, val2, val3)
                }
            }
        });
        Vue.component('ii_chord', {
            props: {
                cord: {
                    type: Array,
                }
            },
            data() {
                return {}
            },
            template: `<button @click="inD(2,6,9)">{{cord[2]}}</button>`,
            methods: {
                inD(val1, val2, val3) {
                    this.$emit("ind_component", val1, val2, val3)
                }
            }
        });
        Vue.component('iii_chord', {
            props: {
                cord: {
                    type: Array,
                }
            },
            data() {
                return {}
            },
            template: `<button @click="inE(4,8,11)">{{cord[4]}}</button>`,
            methods: {
                inE(val1, val2, val3) {
                    this.$emit("ine_component", val1, val2, val3)
                }
            }
        });
        (function VueInit() {
            var vm = new Vue({
                el: "#app",
                data: {
                    scale: ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B'],
                    Root: "",
                },
                methods: {
                    setScale(val1) {
                        this.Root = val1
                    },
                    setRang(val1, val2, val3) {

                    }
                },
                computed: {
                    displayScale() {
                        let ArrScale = []
                            // this.scale.forEach((element, index) => {
                            //     this.scaleSel.filter(el2 => {
                            //         return el2 === index ? ArrScale.push(element) : null
                            //     })
                            // });
                        return this.Root
                    }
                },
                watch: {},
                mounted() {},
                created() {},
                destroyed() {}
            })
        })()
    </script>
</body>

</html>