<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vueinit</title>
</head>

<body>

    <div id="app">
        <div v-for="item,name,key of obb">
            value值{{ item }} key名稱{{name}} index數值{{key}}
        </div>
        <input type="text" v-model="inputText" @keyup.13="inputHandler">
        <button @click="filHandler(2)">篩選</button>

    </div>

    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
    <script>
        ;
        (function VueInit() {
            var vm = new Vue({
                el: "#app",
                data() {
                    return {
                        obb: {
                            name0: {
                                xd1: {
                                    fine1: 'fine1'
                                },
                                xd2: "xd2"
                            },
                            name1: 'david1',
                            name2: 'david2',
                            name3: 'david3',
                            name4: 'david4',
                        },
                        inputText: '',
                        fildata: [{
                            name: "aa"
                        }, {
                            name: "bb"
                        }, {
                            name: "cc"
                        }, {
                            name: "dd"
                        }, {
                            name: "ee"
                        }, {
                            name: "ff"
                        }, ]
                    }
                },
                methods: {
                    axios() {
                        let vm = this
                        axios()
                            .then(function(response) {})
                            .catch(function(error) {
                                console.log(error, '第一次錯誤');
                            });
                    },
                    inputHandler() {
                        console.log('66');
                    },
                    filHandler(index) {
                        this.fildata = this.fildata.filter((item, i) => {
                            return i != index
                        })
                        console.log(this.fildata)
                    }
                },
                computed: {},
                watch: {},
                mounted() {},
                created() {},
                destroyed() {}
            })
        })()
    </script>
</body>

</html>