@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0 none;
    max-width: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

.clearFix {
    clear: both;
    width: 100%;
    display: block;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    overflow: hidden;
}

.clear {
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    -webkit-text-size-adjust: none;
    position: relative;
}

html {
    font-size: 100px;
}

.wrapper {
    width: 7.5rem margin: 0 auto;
    overflow: hidden;
    height: auto;
    /* 共用 */
}


/* header */

body {
    padding-top: 0rem;
    overflow-x: hidden;
    background-color: #d9291c;
}

.wrapper {
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    background-image: url(../images/bg_01.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #fffbe0;
    /* 共用 */
}


/* header */

body {
    padding-top: 0rem;
    overflow-x: hidden;
}

.headerMain {
    height: 0.9rem;
    position: fixed;
    top: 0rem;
    left: 50%;
    width: 7.5rem;
    margin-left: -3.75rem;
    z-index: 997;
}

.header-info {
    height: 0.9rem;
    position: relative;
    max-width: 7.5rem;
    margin: auto;
}

.header-info .logo {
    position: absolute;
    top: 50%;
    height: 0.44rem;
    margin-top: -0.22rem;
    left: 0.3rem;
    display: block;
}

.header-info .headerBtQ {
    position: absolute;
    top: 50%;
    height: 0.58rem;
    margin-top: -0.29rem;
    right: 0.3rem;
}

.header-info .headerBtQ a {
    height: 0.58rem;
    width: 1.88rem;
    background-image: url(../images/button_question.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    text-indent: -5rem;
    overflow: hidden;
}

.main {
    position: relative;
}

.part_01 {
    background-image: url(../images/bg_01s.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 1rem;
    height: 6.6rem;
    position: relative;
    overflow: hidden;
}

.part_01 .i3 {
    position: absolute;
    top: 0px;
    z-index: 0;
    width: 7.5rem;
    left: 0px;
}

.part_01 .i4_1,
.part_01 .i4_2 {
    display: none;
}

.part_01 .i2 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 7.5rem;
    z-index: 5;
}

.part_01 h2 img {
    position: relative;
    z-index: 3;
    display: block;
    margin: 0 auto 0 auto;
    width: 6.35rem;
    padding-top: 1.30rem;
}

.part_01 .i1 {
    width: 1.58rem;
    display: block;
    margin: auto;
    clear: both;
    position: relative;
    z-index: 9;
    margin-top: 0.1rem;
    cursor: pointer;
}

.mTitle {
    text-align: center;
    margin-bottom: 0.5rem;
}

.mTitle span {
    display: none;
}

.mTitle p {
    font-size: 0.5rem;
    padding: 0 0.94rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    display: inline-block;
    line-height: 0.7rem;
    position: relative;
    background: linear-gradient(to bottom, #e75d5a, #a9130f);
    -webkit-background-clip: text;
    color: transparent;
}

.mTitle p strong {
    font-family: Impact, "Arial Black", sans-serif;
    font-size: 0.7rem;
    vertical-align: bottom;
    font-weight: normal;
}

.mTitle p:after,
.mTitle p:before {
    content: " ";
    bottom: 0.3rem;
    display: inline-block;
    position: absolute;
    left: 0px;
    background-image: url(../images/201_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 0.94rem;
    height: 0.14rem;
}

.mTitle p:after {
    left: auto;
    right: 0px;
    transform: rotateY(180deg);
}

.mTitle img {
    display: block;
    height: 0.74rem;
    margin: auto;
    clear: both;
}

.part_02 {
    background-image: linear-gradient(to bottom, #ffdb93, #fcdc9a);
    position: relative;
    z-index: 6;
}

.part_02 .i1 {
    display: block;
    margin: 0 auto 0.8rem auto;
    border-radius: 0.2rem;
    position: relative;
    z-index: 1;
    width: 6.9rem;
}

.part_02 .i1:after {
    content: ' ';
    position: absolute;
    top: -0.04rem;
    bottom: -0.04rem;
    left: -0.04rem;
    right: -0.04rem;
    background: linear-gradient(to right, #a66f00, #ffdb52 75%, #af7707);
    z-index: 0;
    overflow: hidden;
    border-radius: 0.2rem;
}

.part_02 .i1 .i1_1 {
    width: 6.9rem;
    display: block;
    position: relative;
    border-radius: 0.16rem;
    z-index: 2;
}

.part_03 {
    background-image: linear-gradient(to bottom, #fcdc9a, #fde7be);
    padding-bottom: 0.8rem;
    text-align: center;
}

.part_03 .i1 li {
    display: inline-block;
    width: 2.93rem;
    height: 3.02rem;
    background-image: url(../images/302.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 0 0.25rem;
}

.part_03 .i1 li:nth-child(1) {
    display: block;
    margin: 0 auto 0.4rem auto;
}

.part_03 .i1 li p {
    font-size: 0.28rem;
    color: #ebcc93;
    display: block;
    padding-top: 20px;
}

.part_03 .i1 li p strong {
    font-family: Impact, "Arial Black", sans-serif;
    display: block;
    font-size: 0.55rem;
    color: #ca100f;
    padding-top: 0.08rem;
    font-weight: normal;
}

.part_03 .i1 li h4 {
    position: absolute;
    left: 0px;
    bottom: 0.5rem;
    width: 100%;
    font-size: 0.4rem;
    background: linear-gradient(to bottom, #fffdee, #ffb61c);
    -webkit-background-clip: text;
    color: transparent;
}

.part_04 {
    background-image: url(../images/bg_02s.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding-bottom: 0.75rem;
}

.part_04 .swiper-container {
    width: 6.98rem;
    margin: 0 auto 0.4rem auto;
}

.part_04 .swiper-slide {
    position: relative;
}

.part_04 .swiper-slide img.i1_1 {
    display: block;
    width: 6.98rem;
    height: 4.59rem;
}

.part_04 .swiper-slide img.i1_2,
.part_04 .swiper-slide img.i1_3 {
    display: block;
    position: absolute;
}

@keyframes shutter2 {
    0% {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
    }
}

.shutter2 {
    animation-name: shutter2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 0.8s;
}

.part_04 .s4 img.i1_2 {
    width: 3.80rem;
    height: 2.67rem;
    display: block;
    left: 2rem;
    bottom: 0.75rem;
    position: absolute;
    transform-origin: bottom left;
}

.part_04 .s3 img.i1_2 {
    display: block;
    width: 0.89rem;
    height: 1.49rem;
    left: 0.54rem;
    top: 2.38rem;
    position: absolute;
    transform-origin: top left;
}

.part_04 .s3 img.i1_3 {
    display: block;
    left: 2.1rem;
    bottom: 0.82rem;
    width: 2.9rem;
    height: 2.38rem;
    position: absolute;
    transform-origin: bottom left;
}

.part_04 .s2 img.i1_2 {
    display: block;
    width: 1.65rem;
    height: 1.97rem;
    left: 0.25rem;
    top: 1.8rem;
    position: absolute;
    transform-origin: top left;
}

.part_04 .s1 img.i1_2 {
    display: block;
    width: 1.98rem;
    height: 2.36rem;
    left: 1.88rem;
    bottom: 0.87rem;
    position: absolute;
    transform-origin: bottom left;
}

.part_04 .swiper-pagination {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    text-align: center;
}

.part_04 .swiper-pagination-bullet {
    width: 0.2rem;
    height: 0.2rem;
    margin: 0 0.14rem;
    border: solid 0.05rem #fbcbb0;
    display: inline-block;
    border-radius: 100%;
    background: #fbcbb0;
    opacity: 1;
    font-size: 0px;
    overflow: hidden;
}

.part_04 .swiper-pagination-bullet-active {
    background: #ef4123;
}

.part_05 {
    background-image: linear-gradient(to bottom, #ffeed0, #ffefd5);
}

.part_05 .i1 {
    display: block;
    width: 6.9rem;
    margin: 0 auto;
    border-radius: 0.2rem;
    position: relative;
    z-index: 1;
    padding: 0.04rem;
    background: linear-gradient(to right, #a66f00, #ffdb52 75%, #af7707);
}

.part_05 .i1 img {
    display: block;
    width: 100%;
    border-radius: 0.17rem;
}

.part_06 {
    background-image: url(../images/bg_03s.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.75rem;
}

.part_06 .mTitle {
    margin-bottom: 0px;
}

.part_06 .mTitle p {
    margin-bottom: 0px;
}

.part_06 .i1 {
    position: relative;
}

.part_06 .i1 h4 {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0.65rem;
    width: 100%;
    font-size: 0.4rem;
    color: #fee8bb;
    font-weight: normal;
    line-height: 0.4rem;
    vertical-align: middle;
    text-shadow: 0px 0px 0.05rem rgba(0, 0, 0, 0.5);
}

.part_06 .i1 h4:after,
.part_06 .i1 h4:before {
    content: " ";
    display: inline-block;
    width: 0.7rem;
    height: 1px;
    font-size: 0px;
    overflow: hidden;
    background-color: #e57852;
    vertical-align: middle;
    margin: 0 0.1rem;
}

.part_06 .i1 img {
    width: 7.26rem;
    display: block;
    margin: auto;
}

.bottomBt {
    position: fixed;
    left: 50%;
    bottom: 0px;
    height: 1.4rem;
    width: 7.5rem;
    margin-left: -3.75rem;
    background-color: #84231f;
    text-align: center;
    z-index: 998;
}

.bottomBt .bts {
    padding-top: 0.26rem;
}

.bottomBt .bts a {
    display: block;
    width: 3.05rem;
    height: 0.52rem;
    display: block;
    position: relative;
    border-radius: 0.485rem;
    font-size: 0.36rem;
    color: #fff;
    font-weight: bold;
    padding-top: 0.45rem;
    background: linear-gradient(to bottom, #FD6762, #C92121);
    margin-left: 0.5rem;
    float: left;
}

.bottomBt .bts a span {
    position: absolute;
    display: block;
    top: -0.09rem;
    left: 50%;
    margin-left: -1.035rem;
    font-weight: normal;
    display: block;
    width: 2.07rem;
    height: 0.42rem;
    line-height: 0.42rem;
    vertical-align: middle;
    font-size: 0.24rem;
    color: #fff6d2;
    font-style: italic;
    background-image: url(../images/bt.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}

.bottomBt .bts a:nth-child(2) {
    float: right;
    margin-left: 0px;
    margin-right: 0.5rem;
    background: linear-gradient(to bottom, #fff7d7, #ffeb63);
    color: #ce0003
}

.bottoms {
    display: none;
}

.footerINfo {
    color: #5a2a08;
    padding: 0 0.3rem 2.2rem 0.3rem;
    position: relative;
    z-index: 2;
    background-color: #fef2d8;
    background-image: url(../images/bg_04s.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

.footerINfo .mTitle p {
    font-size: 0.4rem;
}

.footerINfo .mTitle {
    margin-bottom: 0rem;
}

.footerINfo h3 {
    text-align: left;
    margin-bottom: 0.12rem;
    color: #333333;
    font-size: 0.32rem;
}

.footerINfo h3 img {
    width: 48.9%;
    margin: 0 auto 0.35rem auto;
}

.footerINfo .i1 a {
    color: #e65c58;
}

.footerINfo .i1 a img {
    display: inline-block;
    vertical-align: middle;
    height: 0.13rem;
}

.footerINfo .i1 {
    font-size: 0.24rem;
    line-height: 0.4rem;
    margin-bottom: 0.2rem;
    display: block;
    text-align: left;
    color: #333333;
}

.footerINfo .i2 {
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 0.19rem;
}

.footerINfo .i2 a img {
    display: inline-block;
    border-radius: 0.05rem;
    width: 31.4%;
    /*-webkit-box-shadow: 0px 0.08rem 0.01rem rgba(0,0,0,0.05);
	box-shadow:  0px 0.08rem 0.01rem rgba(0,0,0,0.05);*/
}

.footerINfo .i2 a:nth-child(1) img {
    float: left;
}

.footerINfo .i2 a:nth-child(3) img {
    float: right;
}

.footerINfo .i3 {
    width: 100%;
}

.footerINfo .i3 li {
    width: 48%;
    float: left;
    text-align: center;
    border-radius: 0.08rem;
    padding-bottom: 0.25rem;
    border: solid 0.02rem #936f02;
    /*background: linear-gradient(#9f0a0a,#9f0a0a);
	background-color:#d9291c;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footerINfo .i3 li:nth-child(2) {
    float: right;
}

.footerINfo .i3 li h4 {
    display: inline-block;
    line-height: 0.48rem;
    padding: 0 0.2rem 0 0.7rem;
    background-image: url(../images/115_201.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0.2rem center;
    height: 0.48rem;
    vertical-align: middle;
    font-size: 0.24rem;
    font-weight: normal;
    border-radius: 0.24rem;
    background-color: #d11111;
    color: #fff;
    margin: 0.2rem;
}

.footerINfo .i3 li:nth-child(2) h4 {
    background-image: url(../images/115_202.png);
}

.footerINfo .i3 li p {
    font-weight: bold;
    font-size: 0.48rem;
    line-height: 0.48rem;
    vertical-align: bottom;
    color: #d11111;
}

.footerINfo .i3 li p strong {
    line-height: 0.24rem;
    font-size: 0.24rem;
    font-weight: normal;
    color: #d11111;
    vertical-align: bottom;
}

.footerINfo .i4 {
    clear: both;
    padding: 0.58rem 0 0.4rem 0;
}