@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0 none;
    max-width: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

.clearFix {
    clear: both;
    width: 100%;
    display: block;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    overflow: hidden;
}

.clear {
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    -webkit-text-size-adjust: none;
    position: relative;
}

html {
    font-size: 100px;
}

.headerMain {
    height: 80px;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    z-index: 997;
    background-color: #fff;
}

.header-info {
    height: 80px;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.header-info .logo {
    position: absolute;
    top: 50%;
    height: 40px;
    margin-top: -20px;
    left: 0px;
    display: block;
}

.header-info .headerBtQ {
    position: absolute;
    top: 50%;
    height: 42px;
    margin-top: -21px;
    right: 0px;
}

.header-info .headerBtQ a {
    height: 42px;
    line-height: 42px;
    width: 180px;
    background-color: #d2a229;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    display: block;
    border-radius: 21px;
    color: #fff;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    /* 共用 */
}

.main {
    width: 1200px;
    margin: auto;
    position: relative;
}

.part_01 {
    background-image: url(../images/bg_01.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.part_01 .main {
    height: 670px;
}

.part_01 .i3 {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 1050px;
    margin-left: -525px;
    z-index: 0;
}

.part_01 .i4_1 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    z-index: 1;
}

.part_01 .i4_2 {
    position: absolute;
    bottom: 40px;
    right: 0px;
    z-index: 1;
}

.part_01 .i2 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 1920px;
    min-width: 1920px;
    margin-left: -960px;
    z-index: 5;
}

.part_01 h2 img {
    position: relative;
    z-index: 3;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 120px;
}

.part_01 .i1 {
    display: block;
    margin: auto;
    clear: both;
    position: relative;
    z-index: 3;
    margin-top: -10px;
    cursor: pointer;
}

.mTitle {
    text-align: center;
    margin-bottom: 50px;
}

.mTitle br {
    display: none;
}

.mTitle p {
    font-size: 60px;
    padding: 0 107px 0 107px;
    margin-bottom: 15px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    background: linear-gradient(to bottom, #e75d5a, #a9130f);
    -webkit-background-clip: text;
    color: transparent;
}

.mTitle p strong {
    font-family: Impact, "Arial Black", sans-serif;
    font-size: 70px;
    vertical-align: middle;
    font-weight: normal;
}

.mTitle p:after,
.mTitle p:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-left: -7px;
    left: 0px;
    background-image: url(../images/201_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 94px;
    height: 14px;
}

.mTitle p:after {
    left: auto;
    right: 0px;
    transform: rotateY(180deg);
}

.mTitle img {
    display: block;
    margin: auto;
    clear: both;
}

.part_02 {
    background-image: linear-gradient(to bottom, #ffdb93, #fcda95);
}

.part_02 .i1 {
    display: block;
    max-width: 980px;
    margin: 0 auto 80px auto;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.part_02 .i1:after {
    content: ' ';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(to right, #a66f00, #ffdb52 75%, #af7707);
    z-index: 0;
    overflow: hidden;
    border-radius: 20px;
}

.part_02 .i1 .i1_1 {
    display: block;
    position: relative;
    border-radius: 16px;
    z-index: 2;
}

.part_03 {
    background-image: linear-gradient(to bottom, #fcda95, #fde0a6);
    padding-bottom: 80px;
    text-align: center;
}

.part_03 .i1 li {
    display: inline-block;
    width: 293px;
    height: 302px;
    background-image: url(../images/302.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 0 2%;
}

.part_03 .i1 li p {
    font-size: 28px;
    color: #ebcc93;
    display: block;
    padding-top: 20px;
}

.part_03 .i1 li p strong {
    font-family: Impact, "Arial Black", sans-serif;
    display: block;
    font-size: 55px;
    color: #ca100f;
    padding-top: 8px;
    font-weight: normal;
}

.part_03 .i1 li h4 {
    position: absolute;
    left: 0px;
    bottom: 50px;
    width: 100%;
    font-size: 40px;
    background: linear-gradient(to bottom, #fffdee, #ffb61c);
    -webkit-background-clip: text;
    color: transparent;
}

.part_04 {
    background-image: url(../images/bg_02.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding-bottom: 75px;
}

.part_04 .swiper-container {
    width: 788px;
    margin: 0 auto 40px auto;
}

.part_04 .swiper-slide {
    position: relative;
}

.part_04 .swiper-slide img.i1_1 {
    display: block;
    width: 100%;
}

.part_04 .swiper-slide img.i1_2,
.part_04 .swiper-slide img.i1_3 {
    display: block;
    position: absolute;
}

@keyframes shutter2 {
    0% {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
    }
}

.shutter2 {
    animation-name: shutter2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 0.8s;
}

.part_04 .s4 img.i1_2 {
    display: block;
    left: 236px;
    bottom: 67px;
    position: absolute;
    transform-origin: bottom left;
}

.part_04 .s3 img.i1_2 {
    display: block;
    left: 85px;
    top: 236px;
    position: absolute;
    transform-origin: top left;
}

.part_04 .s3 img.i1_3 {
    display: block;
    left: 246px;
    bottom: 75px;
    position: absolute;
    transform-origin: bottom left;
}

.part_04 .s2 img.i1_2 {
    display: block;
    left: 52px;
    top: 173px;
    position: absolute;
    transform-origin: top left;
}

.part_04 .s1 img.i1_2 {
    display: block;
    left: 223px;
    bottom: 81px;
    position: absolute;
    transform-origin: bottom left;
}

.part_04 .swiper-pagination {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    text-align: center;
}

.part_04 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 14px;
    border: solid 5px #fbcbb0;
    display: inline-block;
    border-radius: 100%;
    background: #fbcbb0;
    opacity: 1;
    font-size: 0px;
    overflow: hidden;
}

.part_04 .swiper-pagination-bullet-active {
    background: #ef4123;
}

.part_05 {
    background-image: linear-gradient(to bottom, #fde8bd, #fcecca);
}

.part_05 .i1 {
    display: block;
    max-width: 976px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    padding: 4px;
    background: linear-gradient(to right, #a66f00, #ffdb52 75%, #af7707);
}

.part_05 .i1 img {
    display: block;
    width: 100%;
    border-radius: 17px;
}

.part_05 .i1:after,
.part_05 .i1:before {
    content: " ";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.part_05 .i1:before {
    width: 114px;
    height: 99px;
    left: -39px;
    bottom: -25px;
    background-image: url(../images/503_1.png);
}

.part_05 .i1:after {
    width: 171px;
    height: 77px;
    right: -60px;
    bottom: -25px;
    background-image: url(../images/503_2.png);
}

.part_06 {
    background-image: url(../images/bg_03.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding-top: 80px;
    padding-bottom: 230px;
}

.part_06 .mTitle {
    margin-bottom: 0px;
}

.part_06 .mTitle p {
    margin-bottom: 0px;
}

.part_06 .i1 {
    position: relative;
}

.part_06 .i1 h4 {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 104px;
    width: 100%;
    font-size: 40px;
    color: #fee8bb;
    font-weight: normal;
    line-height: 40px;
    vertical-align: middle;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.part_06 .i1 h4:after,
.part_06 .i1 h4:before {
    content: " ";
    display: inline-block;
    width: 70px;
    height: 1px;
    font-size: 0px;
    overflow: hidden;
    background-color: #e57852;
    vertical-align: middle;
    margin: 0 10px;
}

.part_06 .i1 img {
    display: block;
    margin: auto;
}

.bottomBt {
    position: absolute;
    left: 0px;
    bottom: 80px;
    height: 164px;
    width: 100%;
    background-color: #84231f;
    text-align: center;
}

.bottomBt .bts {
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
}

.bottomBt .bts a {
    width: 435px;
    height: 51px;
    display: block;
    position: relative;
    border-radius: 48px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    padding-top: 45px;
    background: linear-gradient(to bottom, #FD6762, #C92121);
    margin-left: 4%;
    float: left;
}

.bottomBt .bts a span {
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -153px;
    font-weight: normal;
    display: block;
    width: 307px;
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
    font-size: 24px;
    color: #fff6d2;
    font-style: italic;
    background-image: url(../images/bt.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bottomBt .bts a:nth-child(2) {
    float: right;
    margin-left: 0px;
    margin-right: 4%;
    background: linear-gradient(to bottom, #fff7d7, #ffeb63);
    color: #ce0003
}

.footerINfo {
    display: none;
}

.bottoms {
    font-size: 16px;
    text-align: center;
    color: #afafaf;
    background-color: #343434;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}