@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, images, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}
images {
  border: 0 none;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.clearFix {
	clear:both;
	width:100%;
	display:block;
	font-size:0px;
	line-height:0px;
	height:0px;
	overflow:hidden;
}
.clear {
	clear:both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	-webkit-text-size-adjust: none;	
	position:relative;
}
html{
  font-size: 100px;
}
.wrapper{
	/*max-width:750px;
    min-width: 320px;*/
	width:7.5rem;
	margin: 0 auto;
	overflow:hidden;
	height:auto;
	/* 共用 */
}
/* header */
body {
	padding-top:0rem;
	color:#fff;	
}
.headerMain {
    height:0.92rem;
	position: fixed;
	top:0rem;
	left:0rem;
	width:100%;
	z-index:997;
}
.header-info {
	height:0.92rem;
	position:relative;
	max-width:750px;
	margin:auto;
	margin:auto;
}
.header-info .logo {
	position:absolute;
	top:50%;
	height:0.5rem;
	margin-top:-0.25rem;
	left:4%;
	display:block;	
}
.header-info .headerBtQ {
	position:absolute;
	top:50%;
	height:0.58rem;
	margin-top:-0.29rem;
	right:4%;
}
.header-info .headerBtQ img {
	height:0.44rem;
	display:block;
	float:right;
	margin-left:0rem;
}
@keyframes bgFadeIn {
    0% {
        background-color: #4776e0;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
/*.wrapper:before {
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	animation: bgFadeIn 0.5s ease-in both;
	top:0px;
	left:0px;
	z-index:0;
}*/
@keyframes scaleDraw {
0%{transform: scale(1);opacity: 1;}
50%{transform: scale(1.3);opacity: 1;}
100%{transform: scale(1);opacity:1;}
}
@keyframes scaleDraw2{
0%{transform: scale(1);opacity: 1;}
50%{transform: scale(0.8);opacity: 1;}
100%{transform: scale(1);opacity: 1;}
}
.yh1 {
	-webkit-animation-name: scaleDraw;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;	
}
.yh2 {
	-webkit-animation-name: scaleDraw2;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration:4s;	
}
.wrapper {
	position:relative;
}
.part_01 {
	height:10.1rem;
	background-image:url(../images/bg_01.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% auto;
	position:relative;
}
.part_01 h2 img {
	position:absolute;
	top:0.98rem;
	width:7.19rem;
	left:0px;
	z-index:5;
}
.part_01 .i1 {
	position:absolute;
	width:4.35rem;
	top:3.34rem;
	left:0.4rem;
	z-index:2;
}
.part_01 .i1 img {
	display:block;
	width:100%;
}
.part_01 .i2 {
	position:absolute;
	left:50%;
	width:2.66rem;
	margin-left:-1.53rem;
	top:4.3rem;
	z-index:4;
}
.part_01 .i2 img {
	width:2.66rem;
}
.part_01 .i5 {
	position:absolute;
	left:0px;
	top:7.30rem;
	width:7.5rem;
	text-align:center;
	z-index:3;
}
.part_01 .i5 img {
	display:block;
	margin:auto;
	width:1.63rem;	
}
.part_01 .i3 {
	position:absolute;
	left:1.26rem;
	width:4.98rem;
	top:3.4rem;
	z-index:2;
}
.part_01 .i4 {
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	z-index:1;
}
.part_01 .btM {
	width:100%;
	position:absolute;
	left:0px;
	bottom:0px;
	z-index:7;
}
.btM {
	text-align:center;
}
.btM a {
	display: inline-block;
	padding: 0 12%;
	height: 0.97rem;
	line-height: 0.97rem;
	background: linear-gradient(to bottom, #ea2151, #ff5384);
	font-size: 0.36rem;
	letter-spacing: 0.07rem;
	text-shadow: 0px 0.03rem 0.03rem rgba(0,0,0,0.2);
	border-radius: 0.16rem;
	-webkit-box-shadow: 0px 0.06rem rgba(255,87,142,0.2);	
	box-shadow: 0px 0.06rem rgba(255,87,142,0.2);
}
.mTitle {
	text-align:center;
}
.mTitle span,.part_03 h3 div {
	display: block;
	line-height: 0.36rem;
	height: 0.36rem;
	color: #3b3bbe;
	font-size: 0.36rem;
	font-style: italic;
	margin-bottom:0.15rem
}
.mTitle span:before,.mTitle span:after,.part_03 h3 div:before,.part_03 h3 div:after {
	content:" ";
	display: inline-block;
	background: linear-gradient(to right, #fff9d9, #ffd37d);
	vertical-align: middle;
	height: 0.08rem;
	border-radius: 0.04rem;
	width: 20%;
	margin:0 1.5%;
}
.mTitle span:after {
	background: linear-gradient(to left, #fff9d9, #ffd37d);
}
.part_03 h3 div:after {
	background: linear-gradient(to left, #725feb, #b5abf4);
}
.part_03 h3 div:before {
	background: linear-gradient(to left, #b5abf4, #725feb);
}
.mTitle p {
	font-size:0.6rem;
	display:block;
	background: linear-gradient(to bottom, #5656ec, #8c7ff4);
	color: transparent;
	-webkit-background-clip: text;
}
.part_02 {
	background-image:url(../images/bg_02.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
	background-size:100% auto;
	padding:0.52rem 4% 0.7rem 4%;
}
.part_02 .mTitle {
	margin-bottom:0.8rem;
}
.part_02 table.i1 {
	width:100%;
}
.part_02 table.i1 td {
	width:50%;
	position:relative;
}
.part_02 table.i1 tr:nth-child(1) td {
	vertical-align:bottom;
	padding-bottom:0.35rem;
}
.part_02 table.i1 tr:nth-child(2) td {
	vertical-align:top;
	padding-top:0.35rem;
}
.part_02 table.i1 tr:nth-child(1) td:nth-child(2),.part_02 table.i1 tr:nth-child(2) td:nth-child(2) {
	padding-left:0.25rem;
}
.part_02 table.i1 tr:nth-child(1) td:nth-child(1),.part_02 table.i1 tr:nth-child(2) td:nth-child(1) {
	padding-right:0.25rem;
}
.part_02 table.i1 td div {
	display: inline-block;
	padding: 0.85rem 9% 0.28rem 9%;
	position: relative;
	border-radius: 0.2rem;
	background: linear-gradient(to bottom, #6666ff, #a496ff);
	vertical-align:bottom;
	-webkit-box-shadow: 0px 0.06rem rgba(109,90,233,0.2);	
	box-shadow: 0px 0.06rem rgba(109,90,233,0.2);
}
.part_02 table.i1 td div h4 {
	position:absolute;
	top:-0.4rem;
	right:-0.12rem;	
}
.part_02 table.i1 tr:nth-child(2) td:nth-child(1) div h4 {
	position:absolute;
	top:-0.4rem;
	right:0;
	left:-0.12rem;	
}
.part_02 table.i1 td div p.m1 {
	display:block;
	font-size:0.24rem;
	line-height:0.3rem;
}
.part_02 table.i1 td div h4 p {
	display:inline-block;
	text-align:center;
	height: 0.8rem;
	vertical-align: middle;
	line-height: 0.8rem;
	border-radius: 0.4rem;
	padding: 0 0.4rem;
	background-color:#4030ab;
	position:relative;
	-webkit-box-shadow: 0px 0.06rem rgba(109,90,233,0.2);	
	box-shadow: 0px 0.06rem rgba(109,90,233,0.2);
}
.part_02 table.i1 td div h4 p span {
	font-size:0.24rem;
	line-height:0.26rem;
	margin-top:-0.05rem;
	color:#fff196;
	display:inline-block;
	vertical-align:middle;
}
.part_02 table.i1 td div h4 p:before {
	content:" ";
	position:absolute;
	background-image:url(../images/201_1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:0.34rem;
	height:0.31rem;
	position:absolute;
	bottom:-0.31rem;
	left:0.76rem;
}
.part_02 table.i1 tr:nth-child(1) td:nth-child(2) div h4 p:before {
	background-image:url(../images/201_2.png);
}
.part_02 table.i1 tr:nth-child(2) td:nth-child(1) div h4 p:before {
	background-image:url(../images/201_2.png);
	left:auto;
	right:0.37rem;
}
.part_02 table.i1 tr:nth-child(2) td:nth-child(2) div h4 p:before {
	left:auto;
	right:0.50rem;
}
.part_02 table.i1 td h5 {
	height: 1.57rem;
	width: 1.57rem;
	line-height:1.57rem;
	border-radius:0.785rem;
	background-color: #ec2755;
	position:absolute;
	text-align:center;
	vertical-align:middle;
	right:-0.785rem;
	bottom:-0.785rem;
	z-index:88;
	-webkit-box-shadow: 0px 0.06rem rgba(255,87,142,0.2);	
	box-shadow: 0px 0.06rem rgba(255,87,142,0.2);
}
.part_02 table.i1 td h5 span {
	font-size:0.36rem;
	line-height:0.36rem;
	display:inline-block;
	vertical-align:middle;
	font-weight:normal;
	-webkit-text-shadow: 0px 0.03rem 0.01rem rgba(0,0,0,0.1);
	text-shadow: 0px 0.03rem 0.01rem rgba(0,0,0,0.1);
}
.part_02 table.i1 td h5:after {
	content:" ";
	width:1.3rem;
	height:1.3rem;
	border-radius:0.65rem;
	border:solid 0.02rem #fbc16c;
	position:absolute;
	right:0.115rem;
	bottom:0.115rem;
	z-index:89;
}
.part_03 {
	padding:0.78rem 4% 0.81rem 4%;
	background-color:#6d5ae9;
}
.part_03 h3 {
	font-size:0.6rem;
	text-align:center;
	margin-bottom:0.48rem;
}
.part_03 h3 span {
	display:inline-block;
	padding:0 0.15rem;
	position:relative;
	color:#fff19a;
}
.part_03 h3 span:after {
	content:" ";
	width:0.92rem;
	height:0.92rem;
	background-image:url(../images/301.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-0.46rem;
	margin-top:-0.46rem;
	z-index:0;	
}
.part_03 h3 div {
	color:#fff;
	padding-top:0.17rem;
	font-size:0.36rem;
	font-weight:normal;
}
.part_03 .i1 {
	padding:0.46rem 4% 0 4%;
	background: linear-gradient(to bottom, #ffffff, #e8e5fc);
	border: solid 0.02rem #cbc4fb;
	border-radius:0.18rem;
}
.part_03 .i1 li {
	clear:both;
	height:auto;
	overflow:hidden;
	margin-bottom:0.48rem;
}
.part_03 .i1 li strong {
	display: block;
	height: 1.4rem;
	width: 1.4rem;
	line-height: 1.48rem;
	vertical-align: middle;
	text-align: center;
	float: left;
	border-radius: 50%;
	background: linear-gradient(to bottom, #5656ff, #9a8bff);
}
.part_03 .i1 li strong images {
	display:inline-block;
	vertical-align:middle;
	height:0.65rem;
}
.part_03 .i1 li div {
	width:4.60rem;
	float:right;
}
.part_03 .i1 li div h4 {
	font-size:0.3rem;
	line-height:0.3rem;
	vertical-align:middle;
	color:#4030ab;
	margin-bottom:0.15rem;
}
.part_03 .i1 li div h4 i {
	display: inline-block;
	width: 0.55rem;
	height: 0.3rem;
	line-height: 0.3rem;
	vertical-align: middle;
	text-align: center;
	font-size: 0.2rem;
	color: #fff196;
	background-color: #f02f5b;
	border-radius: 0.15rem;
	vertical-align: middle;
	margin-right:0.06rem;
}
.part_03 .i1 li div p {
	font-size:0.24rem;
	line-height:0.3rem;
	color:#4f4f4f;
}
.part_03 .container {
	width:6.9rem;
}
.part_03 .tabs li {
	width:3.42rem;
	float:left;
	text-align:center;
	padding-top:0.15rem;
}
.part_03 .tabs li.cur {
	padding-top:0rem;
}
.part_03 .tabs li:nth-child(2) {
	width:3.42rem;
	float:right;
}
.part_03 .tabs li span {
	display: block;
	background-color: #ebe8ff;
	height: 0.54rem;
	line-height: 0.54rem;
	vertical-align: middle;
	font-size: 0.28rem;
	border-radius: 0 0.18rem 0 0;
	color: #6d5ae9;
	cursor:pointer;
	font-size:0.28rem;
	font-weight:bold;
}
.part_03 .tabs li:nth-child(1) span {
	border-radius: 0.18rem 0 0 0;
}
.part_03 .tabs li.cur span {
	height: 0.69rem;
	line-height: 0.69rem;
	font-size: 0.33rem;
	color:#f58220;
	background-color: #fff6ce;
	border-radius: 0.18rem 0.18rem 0 0;
}
.part_03 .tabContent {
	width:6.9rem;
	clear:both;
	background: linear-gradient(to bottom, #fff6cb, #ffee7d);
	border-radius: 0 0 0.18rem 0.18rem;
	-webkit-box-shadow: 0px 0.06rem rgba(109,90,233,0.2);	
	box-shadow: 0px 0.06rem rgba(109,90,233,0.2);
}
.part_03 .swiper-slide {
	padding:0.47rem 0 0.3rem 0;
}
.part_03 .swiper-slide .i2 {
	width:5.8rem;
	height:3.3rem;
	margin:0 auto 0.3rem auto;
	border-radius: 0.128rem;
	border:solid 0.03rem #f58220;
	background-color:#292258;
}
.part_03 .swiper-slide ul.i3 {
	width:5.8rem;
	margin:auto;
}
.part_03 .swiper-slide ul.i3 li {
	width:2.73rem;
	text-align:center;
	height:0.9rem;
	line-height:0.9rem;
	vertical-align:middle;
	background-color:#cf3636;
	border-radius: 0.18rem;
	float:left;
}
.part_03 .swiper-slide ul.i3 li p {
	font-size:0.28rem;
	line-height:0.35rem;
	vertical-align:middle;
	display:inline-block;
}
.part_03 .swiper-slide ul.i3 li:nth-child(2) {
	background-color:#439512;
	float:right;
}
.part_04 {
	background-color:#6d5ae9;
	padding:0 4%;
}
.part_04 .mTitle {
	margin-bottom:0.38rem;
}
.mTitleW span {
	color: #fff;
}
.mTitleW span:before,.mTitleW span:after {
	background: linear-gradient(to right, #7260eb, #b5acf4);
}
.mTitleW span:after {
	background: linear-gradient(to left, #7260eb, #b5acf4);
}
.mTitleW p {
	background: linear-gradient(to bottom, #ffeb69, #fff7d3);
	color: transparent;
	-webkit-background-clip: text;
}
.part_04 {
	padding-bottom:1.42rem;
}
.part_04 .i1 {
	width: 81.4%;
	margin: 0 auto 0.4rem auto;
	padding: 0.17rem 0.17rem 0 0.17rem;
	border-radius: 0.19rem;
	border: solid 0.03rem #9c8ff2;
}
.part_04 .i1 li {
	padding-left:1rem;
	position:relative;
	margin-bottom:0.17rem;
	clear:both;
	position:relative;
}
.part_04 .i1 li:before {
	content:" ";
	height:0.59rem;
	width:0.59rem;
	background-image:url(../images/401_1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	left:0.14rem;
	top:0px;
}
.part_04 .i1 li:nth-child(2):before {
	background-image:url(../images/401_2.png);
}
.part_04 .i1 p {
	font-size:0.2rem;
	line-height:0.3rem;
}
.part_04 .i1 li:nth-child(2) {
	color:#c8c0ff;
}
.part_04 .i2 {
	position:relative;
}
.part_04 .mPhone {
	width:2.88rem;
	display:block;
	margin:auto;
	position:relative;
	height:6.90rem;
	background-image:url(../images/403_2.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	background-size:2.87rem 0.93rem;	
}
.part_04 .mPhone img {
	display:block;
	width:2.88rem;
	height:5.97rem;
}
.part_04 .mPhone .movie {
	position: absolute;
	top: 1.1%;
	left: 2.4%;
	border-radius: 0.3rem;
	width: 95%;
	height:auto;
	overflow:hidden;
}
.part_04 .mPhone .movie video {
	display:block;
}
.part_04 .i2 li {
	position:absolute;
	display:block;
	width:25%;
	right:0px;
	top:0.3rem;
}
.part_04 .i2 li h4 {
	font-size: 0.3rem;
	margin-bottom: 0.1rem;
	border-radius: 0.15rem;
	text-align: center;
	font-style: italic;
	background: linear-gradient(to bottom, #ffeb69, #fff7d3);
	color: transparent;
	-webkit-background-clip: text;
}
.part_04 .i2 li div {
	position: relative;
	padding: 0.25rem 12%;
	font-size: 0.24rem;
	line-height: 0.35rem;
	border-radius: 0.19rem;
	background-color: #f02f5b;
	-webkit-box-shadow: 0px 0.05rem rgba(60,41,185,0.2);
	box-shadow: 0px 0.05rem rgba(60,41,185,0.2);
}
.part_04 .i2 ul li div:before {
	position:absolute;
	content:" ";
	left:-0.1rem;
	top:-0.02rem;
	width:0.31rem;
	height:0.36rem;
	background-image:url(../images/402_1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.part_04 .i2 ul li:nth-child(2) div:before {
	background-image:url(../images/402_2.png);
	left:auto;
	right:-0.1rem;
}
.part_04 .i2 ul li:nth-child(2) {
	top:1.5rem;
	left:0;
	right:auto;
}
.part_04 .i2 ul li:nth-child(3) {
	top:2.5rem;
}
.part_05 {
	background-color:#6d5ae9;
	padding-bottom:1.2rem
}
.part_05 .mTitle {
	margin-bottom:0.88rem;
}
.part_05 .i1 {
	width:84%;
	margin:0 auto 0.8rem auto;
	font-size:0.3rem;
	line-height:0.4rem;
	text-align:center;
}
.part_05 .i2 {
	margin:0 4%;
	position:relative;
}
.part_05 .i2 .i2_1 {
	width:6.9rem;
	height:3.9rem;
	border-radius: 0.2rem;
	overflow: hidden;
	border:solid 0.03rem #cbc4fb;
}
.part_05 .i2 .i2_1 img {
	display:block;
	width:6.9rem;
	height:3.9rem;	
}
.part_05 .i2 li {
	position:absolute;
	right:0.1rem;
	top:-0.5rem;
}
.part_05 .i2 li:nth-child(2) {
	position:absolute;
	left:0.1rem;
	top:auto;
	right:auto;
	bottom:-0.6rem;
}
.part_05 .i2 li:nth-child(3) {
	position:absolute;
	top:auto;
	bottom:-0.6rem;
}
.part_05 .i2 li p {
	display: block;
	line-height: 0.27rem;
	vertical-align: middle;
	text-align:center;
	font-size: 0.24rem;
	color: #fff196;
	padding: 0.15rem 0.2rem;
	font-style: italic;
	background-color: #4030ab;
	border-radius: 0.17rem;
	position: relative;
	-webkit-box-shadow: 0px 0.05rem rgba(60,41,185,0.2);
	box-shadow: 0px 0.05rem rgba(60,41,185,0.2);
}
.part_05 .i2 li p:after {
	content:" ";
	display:block;
	position:absolute;
	width:1.77rem;
	height:0.2rem;
	right:0px;
	bottom:-0.2rem;
	border-left:solid 0.02rem #4030ab;
}
.part_05 .i2 li p:before {
	content: " ";
	display:block;
	position: absolute;
	width: 0.07rem;
	height: 0.07rem;
	right:1.71rem;
	bottom: -0.265rem;
	background-color: #4030ab;
	font-size:0px;
	overflow:hidden;
	border-radius: 0.065rem;
	border: solid 0.03rem #c0bbe1;
}
.part_05 .i2 li:nth-child(2) p:after {
	width:0.24rem;
	height:1.67rem;
	right:auto;
	bottom:auto;
	left:0.2rem;
	top:-1.67rem;
	border-left:solid 0.02rem #4030ab;
	border-top:solid 0.02rem #4030ab;
}
.part_05 .i2 li:nth-child(2) p:before {
	right:auto;
	bottom:auto;
	top:-1.73rem;
	left:0.41rem;
}
.part_05 .i2 li:nth-child(3) p:after {
	width:0.24rem;
	height:1.4rem;
	left:auto;
	bottom:auto;
	right:0.2rem;
	top:-1.13rem;
	border-right:solid 0.02rem #4030ab;
	border-left:0px;
	border-top:solid 0.02rem #4030ab;
}
.part_05 .i2 li:nth-child(3) p:before {
	right:auto;
	bottom:auto;
	top:-1.18rem;
	right:0.41rem;
}
.part_05 .i3 {
	margin:0 4%;
	font-size:0.24rem;
	padding:0.25rem 0 0.6rem 0;
	text-align:right;
}
.part_05 .i3 a {
	margin-left:0.28rem;
}
.part_05 .bt1 {
	margin:0 4% 0 4%;
	clear:both;
}
.bt1 a {
	height: 1.12rem;
	display:block;
	width: 4.15rem;
	background-image: url(../images/mBtBg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin:auto;
	position: relative;	
}
.bt1 a span {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	height: 0.42rem;
	line-height: 0.42rem;
	font-size: 0.24rem;
	color: #e71f4d;
	font-style: italic;
}
.bt1 a p {
	position:absolute;
	top:0.52rem;
	left:0px;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	letter-spacing:0.08rem;
}
.bt1 a:nth-child(2) {
	float:right;
}
.footerINfo {
	background-color:#6d5ae9;
	padding:0 0 1.9rem 0;
	position:relative;
	z-index:2;
}
.footerINfo h3 {
	text-align: center;
	font-size: 0.6rem;
	text-align:center;
}
.footerINfo h3 span {
	background: linear-gradient(to bottom, #ffeb69, #fff7d3);
	color: transparent;
	-webkit-background-clip: text;
}
/*.footerINfo h3 images {
	width:88%;
	margin:0 auto 0 auto;
}*/
.footerINfo .mBt {
	margin-bottom:0.3rem;
}
.footerINfo .i1 {
	color:#fff;
	margin:0 4%;
}
.footerINfo .i1 a {
	color:#f7e161;
}
.footerINfo .i1 a images {
	display:inline-block;
	vertical-align:middle;
	height:0.13rem;
}
.footerINfo .i1 {
	font-size:0.24rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
	display:block;
	text-align:left;
}
.footerINfo .i2 {
	text-align:center;
	display:block;
	margin:0 4% 0.19rem 4%;
}
.footerINfo .i2 a images {
	display: inline-block;
	border-radius: 0.15rem;
	width: 30.4%;
	border:solid 0.04rem #6e67e4;
	-webkit-box-shadow: 0px 0.08rem rgba(60,41,185,0.2);
	box-shadow: 0px 0.08rem rgba(60,41,185,0.2);
}
.footerINfo .i2 a:nth-child(1) images {
	float:left;
}
.footerINfo .i2 a:nth-child(3) images {
	float:right;
}
.footerINfo .i3  {
	margin:0 4%;
}
.footerINfo .i3 li {
	width: 47.4%;
	float: left;
	text-align: center;	
	border-radius: 0.12rem;	
	padding-bottom:0.25rem;	
	color: #6b5fff;
	background-color: #fff;
	border:solid 0.04rem #6e67e4;
	/*background: linear-gradient(#2871fb,#2871fb);
	*/
}
.footerINfo .i3 li:nth-child(2) {
	float:right;
}
.footerINfo .i3 li h4 {
	display: inline-block;
	line-height: 0.48rem;
	padding: 0 0.2rem 0 0.7rem;
	background-image: url(../images/115_201.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0.2rem center;
	height: 0.48rem;
	vertical-align: middle;
	font-size: 0.24rem;
	font-weight: normal;
	border-radius: 0.24rem;
	background-color: #dbdbff;
	color:#6b5fff;
	margin:0.2rem;
}
.footerINfo .i3 li:nth-child(2) h4 {
	background-image: url(../images/115_202.png);
}
.footerINfo .i3 li p {
	font-weight:bold;
	font-size:0.48rem;
	line-height:0.48rem;
	vertical-align: bottom;
	color:#6b5fff;
}
.footerINfo .i3 li p strong {
	line-height:0.24rem;
	font-size:0.24rem;
	font-weight:normal;
	color:#6b5fff;
	vertical-align:bottom;
}
.footerINfo .i4 {
	clear:both;
	padding:0.58rem 0 0.4rem 0;
}
.footerINfo .i4 images {
	display:block;
	width:54%;
	margin:auto;
}
.mfooter {
	width:100%;
	position:fixed;
	left:0px;
	bottom:0px;
	z-index:998;
}
.mfooter div.i1 {
	max-width: 750px;
	padding: 0.16rem 0 0.12rem 0;
	background-color: rgba(53,41,148,0.9);
	margin: auto;
	text-align: center;
	height:auto;
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity:1;
     }
    25% {
        opacity:0;
    }
    50% {
        opacity: 0;    
    }
    75% {
        opacity:1;
    }
}
.anim_fade_image {
    position:absolute;    
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -webkit-animation-direction: alternate;
}
/*popVideo*/
.popup_video {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 20;
	text-align: center;
	font-size: 0px;
	z-index:999;
}
.popup_video:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.popup_video video {
	display: inline-block;
	vertical-align: middle;
	height: 90%;
	max-width: 90%;
    outline: none;
}
.popup_video  .video_close {
	position: absolute;
	right: 0.15rem;
	top: 0.15rem;
	width: 0.5rem;
	height: 0.5rem;
	box-sizing: border-box;
	border: 0.03rem solid #fff;
	background: #333;
	border-radius: 100%;
	z-index: 10;
	cursor: pointer;
}
.popup_video  .video_close:before,
.popup_video  .video_close:after {
	content: "";
	position: absolute;
	width: 4%;
	height: 80%;
	margin: -40% -2%;
	background: #fff;
	display: block;
	left: 50%;
	top: 50%;
	transform: rotate(-45deg);
}
.popup_video  .video_close:after {
	transform: rotate(45deg);
}