body {
    background: #f5f5f5;
}

html,
body {
    overflow: inherit;
}

.header-inner h1 .logo {
    width: 60%;
}

.header-inner {
    top: 0;
    opacity: 1;
}

.tcWarp-mobile {
    width: 100%;
    height: auto;
    margin-top: 0.57px;
    border-bottom: 1px solid #ccc;
}

.Popup-mobile {
    width: 100%;
    margin: 0;
}

.Popup h2 span {
    display: none;
}

.title-popup .title-img {
    font-size: 0.22px;
    height: 40px;
    line-height: 40px;
}

.title-popup {
    padding: 6px 0;
    line-height: 1.2;
    text-align: center;
    background: #ddd;
    margin-bottom: 25px;
}

.fanhui {
    text-align: center;
	margin-top: 58px;
    height: 50px;
    line-height: 50px;
    background: #fff;
}

.fanhui a {
    display: block;
    width: 100%;
    height: 100%;
    color: #1893da;
    font-size: 16px;
}

.copyright {
    font-size: 14px;
    text-align: center;
    padding: 20px;
    background: #fff;
}

.copyright span {
    display: block;
    padding-bottom: 5px;
}

.tpopup-contet .list-table .border-ri {
    border-right: 1px solid #E8B2BB;
}

.tpopup-contet .cd {
    color: #333;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #555;
}

.tpopup-contet ol {
    list-style: decimal;
    padding-left: 26px;
}

.tpopup-contet li {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
    list-style: inherit;
}

.tpopup-contet li b {
    font-weight: 700
}

.tpopup-contet .ol-decimal li {
    list-style: inherit;
    word-break: break-all;
}

.tpopup-contet .c-purple li {
    list-style: initial;
}

.tpopup-contet ul li {
    margin-top: 10px;
}

.tpopup-contet ul li strong {
    font-size: 15px;
}

.tpopup-contet p {
    text-indent: 0;
    padding: 5px 0;
}

.tpopup-contet p.cur {
    background: url("../images/tcIcon.jpg") no-repeat 0em 8px;
}

.tpopup-contet {
    padding: 0 10px 10px;
    height: auto;
}

.lay-tablist {
    border: 1px solid #ddd
}

.tpopup-contet .lay-tablist th {
    font-size: 12px;
    padding: 5px;
    background: #ddd;
    text-align: center
}

.tpopup-contet .lay-tablist td {
    font-size: 12px;
    height: 40px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd
}

.tpopup-contet td.c-yellow {
    font-size: 13px;
}

.list-table th {
    white-space: normal;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 3%;
    box-sizing: border-box;
}

.list-table td {
    font-family: 13px;
}

.tpopup-contet {
    font-size: 12px;
}

.poptable {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.poptable th {
    font-size: 13px;
    line-height: 20px;
    padding: 5px;
    color: #4b4b4b;
    font-weight: normal;
    background: #fff;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    text-align: center;
    box-sizing: border-box;
}

.poptable td {
    font-size: 12px;
    line-height: 18px;
    padding: 6px 5px;
    color: #696969;
    background: #f7f7f7;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    text-align: center;
    box-sizing: border-box;
}

.poptable td span {
    /*padding-left: 47px;*/
    display: block;
    padding: 0 5px;
}

.poptable td b {
    color: #e84242;
}

.closea {
    cursor: pointer;
}

.c-red {
    color: #e84242 !important;
}

.noTopBlank {
    margin-top: 0
}

@media ( max-width: 360px) {
    .tpopup-contet .cd,
    .tpopup-contet li {
        font-size: 12px;
    }
    .tpopup-contet ul li strong {
        font-size: 14px;
    }
    .tpopup-contet .lay-tablist,
    .tpopup-contet .lay-tablist td {
        font-size: 10px;
    }
}


/* 活动条款更新 by Vita 2018.4.27 */

.tpopup-contet .c-purple li,
.tpopup-contet .ol-decimal li,
.tpopup-contet li {
    list-style: none
}

.tpopup-contet li {
    margin-left: 20px;
}

.tpopup-contet .ol-decimal-box li {
    list-style: decimal
}

.poptable th {
    border-left: 1px solid #ebebeb;
    background: #e4e4e4;
    border-top: 1px solid #ebebeb;
}

.poptable td {
    background: #fff;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

@media( max-width: 750px) {
    .tpopup-contet li {
        margin-left: 0;
    }
    .tpopup-contet ol {
        /*padding-left: 0.4px*/
    }
}