@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}
img {
  border: 0 none;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.clearFix {
	clear:both;
	width:100%;
	display:block;
	font-size:0px;
	line-height:0px;
	height:0px;
	overflow:hidden;
}
.clear {
	clear:both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	-webkit-text-size-adjust: none;	
	position:relative;
}
html{
  font-size: 100px;
}
.wrapper {
	width:7.5rem
	margin: 0 auto;
	overflow:hidden;
	height:auto;
	/* 共用 */
}
/* header */
body {
	padding-top:0rem;
	overflow-x:hidden;
	background-color:#d9291c;
}
.header {
	background:none;
	border:none;
}
.header h1 {
	padding-top:0.2rem;
}
.header a.app_down_btn  {
	display:none;
}
.header a.online_btn  {
	margin-left:0.3rem;
	overflow:hidden;
	width:1.44rem;
	height:0.48rem;
	background-size:100% 100%;
	background-image:url(../images/button_question.png);
	color: transparent;
}
.h-right{ margin-top:0.15rem;}
.header .header-inner { padding: 0 0 0 0.3rem;  }
.header-inner h1 .logo {
	background-image:url(../images/logo.png);
	background-size:auto 0.4rem;
}
.bottoms {
	display:none;
}
@keyframes scaleDraw {
0%{transform: scale(1);opacity: 1;}
50%{transform: scale(1.3);opacity: 1;}
100%{transform: scale(1);opacity:1;}
}
@keyframes scaleDraw2{
0%{transform: scale(1);opacity: 1;}
50%{transform: scale(0.8);opacity: 1;}
100%{transform: scale(1);opacity: 1;}
}
@keyframes scaleDraw3 {
0%{transform: scale(1);opacity: 1;}
50%{transform: scale(1.3) rotate(30deg);opacity: 1;}
100%{transform: scale(1);opacity:1;}
}
@keyframes scaleDraw4 {
0%{transform: scale(0) translate(-50px,50px);opacity: 0;}
70%{transform: scale(3) translate(50px,-50px);opacity: 1;}
100%{transform: scale(2);opacity:0;}
}
@keyframes scaleDraw5 {
0%{transform: scale(0.5) translate(50px,-50px);opacity: 0;}
70%{transform: scale(1) ;opacity: 1;}
100%{transform: scale(1);opacity:0;}
}
@keyframes scaleDraw6 {
0%{transform: scale(1) ;opacity: 0;}
70%{transform: scale(1.5) translateX(-37px);opacity: 1;}
100%{transform: scale(1);opacity:0;}
}
@keyframes scaleDraw7 {
0%{transform: scale(0) translate(150px,-150px);opacity: 0;}
75%{transform: scale(1) ;opacity: 1;}
100%{transform: scale(1) ;opacity:0;}
}
@keyframes scaleDraw_1 {
0%{transform: scale(0);opacity: 0;}
75%{transform: scale(1);opacity: 1;}
100%{transform: scale(1);opacity: 0;}
}
.yh1_1 {
	-webkit-animation-name: scaleDraw_1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;	
}
.yh2_2 {
	-webkit-animation-name: scaleDraw_1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration:8s;	
}
.yh1 {
	-webkit-animation-name: scaleDraw;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;	
}
.yh2 {
	-webkit-animation-name: scaleDraw2;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration:4s;	
}
.yh3 {
	-webkit-animation-name: scaleDraw3;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;	
}
.yh4 {
	-webkit-animation-name: scaleDraw4;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;	
}
.yh5 {
	-webkit-animation-name: scaleDraw5;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;	
}
.yh6 {
	-webkit-animation-name: scaleDraw6;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;	
}
.yh7 {
	-webkit-animation-name: scaleDraw7;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 5s;	
}
.yh7_1 {
	-webkit-animation-name: scaleDraw7;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 8s;	
}
a.mainBt {
	width:315px;
	text-align:center;
	display:inline-block;
}
a.mainBt p {
	width: 315px;
	height: 66px;
	border-radius: 33px;
	line-height: 67px;
	font-size:28px;
	font-weight:bold;
	color:#ffec6d;
	position:relative;
	margin-bottom:12px;
	display:block;
	background-image: linear-gradient(to bottom, #bd30e1 , #720897);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
a.mainBt p:before {
	content:" ";
	width: 135px;
	height: 135px;
	background-image: url(../images/ewm.png);
	border-radius: 10px;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	overflow:hidden;
	position:absolute;
	top:-143px;
	left:50%;
	margin-left:-62px;
	display:none;
	z-index:998;
}
a.mainBt:hover p:before {
	display:block;
}
a.mainBt span {
	display:block;
	font-size:22px;
	line-height:22px;
	vertical-align:middle;
	color:#fff;
}
a.mainBt span:before {
	content:" ";
	display:inline-block;
	width:60px;
	height:1px;
	background-repeat:no-repeat;
	font-size:0px;
	background-image:url(../images/btBg_1.png);
	background-size:100% auto;
	margin-right:8px;
	vertical-align:middle;
}
a.mainBt span:after {
	content:" ";
	width:60px;
	display:inline-block;
	height:1px;
	font-size:0px;
	background-image:url(../images/btBg_2.png);
	margin-left:8px;
	vertical-align:middle;
}
h3.mainBt {
	text-align:center;
}
h3.mainBt p {
	display: inline-block;
	font-size: 0.65rem;
	line-height:0.65rem;
	vertical-align:middle;
	color: #ffdab5;
	text-shadow: 0px 0px 0.05rem rgba(0,0,0,0.3);
	margin-bottom:0.15rem;
}
h3.mainBt p:before,h3.mainBt p:after {
	content:" ";
	display:inline-block;
	width:0.43rem;
	height:0.24rem;
	background-image:url(../images/201.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	vertical-align:middle;
}
h3.mainBt p:before {
	margin-right:0.1rem;	
}
h3.mainBt p:after {
	margin-left:0.1rem;
	background-image:url(../images/202.png);
}
h3.mainBt span {
	display:block;
	font-size:0.4rem;
	color:#fff;
	text-shadow: 0px 0px 0.05rem rgba(0,0,0,0.2);
	font-weight:normal;
}
.part_01 {
	background-image:url(../images/bg_01s.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% 100%;
	text-align:center;
	height:7.12rem;
}
.part_01 h2 {
	padding:1.30rem 0 0 0;
	position:relative;
	z-index:9;
}
.part_01 h2 img {	
	display:block;
	width:6.11rem;
	margin:auto;
}
.part_01 .i1 {
	width:7.5rem;
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}
.part_01 .i1_1 {
	width:7.5rem;
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.part_01 .i2 {
	text-align:center;
	display:none;
}
.part_02 {
	padding:0.9rem 0 0 0;
	background-image:url(../images/bg_02s.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:relative;
}
.hdxz {
	width:0.5rem;
	height:1.95rem;
	text-indent:-5rem;
	overflow:hidden;
	background-image:url(../images/hdxzs.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:fixed;
	z-index:999;
	top:50%;
	margin-top:-0.975rem;
	right:0px;
}
.part_02 h3 {
	margin-bottom:0.3rem;
}
.part_02 .i1 {
	width:7rem;
	margin:0 auto 0.32rem auto;
	height:auto;
	overflow:hidden;
	position:relative;
	z-index:6;
}
.part_02 .i1 div.i1_1 {
	width:3.07rem;
	height:3.08rem;
	background-image:url(../images/206s.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-align:center;
	position:relative;
	float:left;
}
.part_02 .i1 div.i1_1:nth-child(2) {
	float:right;
}
.part_02 .i1 div.i1_1:nth-child(1):after {
	content:" ";
	width:0.67rem;
	height:0.67rem;
	background-image:url(../images/205.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-top:-0.335rem;
	position:absolute;
	right:-0.75rem;
	top:50%;
}
.part_02 .i1 div.cur {
	background-image:url(../images/204.png);
}
.part_02 .i1 div.i1_1 h4 {
	font-size:0.32rem;
	color:#a70000;
	font-weight:normal;
	margin-top:0.08rem;
	height:0.59rem;
	line-height:0.59rem;
	vertical-align:middle;
	margin-bottom:0.25rem;
}
.part_02 .i1 div.i1_1 p {
	display:block;
	font-size:0.98rem;
	height:0.98rem;
	line-height:0.98rem;
	vertical-align:middle;
	font-weight:bold;
	font-family:Impact;
	color:#e22e2e;
}
.part_02 .i1 div.cur p {
	color:#b71f1b;
}
.part_02 .i1 div.i1_1 b {
	font-weight:normal;
	font-size:0.32rem;
	display:inline-block;
	vertical-align:middle;
	margin-right:0.08rem;
}
.part_02 .i1 div.i1_1 div {
	height:0.89rem;
	line-height:0.89rem;
	position:absolute;
	left:0px;
	bottom:0.1rem;
	width:100%;
}
.part_02 .i1 div.i1_1 div span {
	display:inline-block;
	vertical-align:middle;
	color:#fffac6;
	font-size:0.28rem;
	line-height:0.28rem;
	vertical-align:middle;
}
.part_02 .i1 div.i1_1 div span b {
	font-weight:normal;
	color:#fff;
	font-size:0.22rem;
}
.part_02 .i2 {
	clear:both;
	width:7.5rem;
	margin:auto;
	position:relative;
	z-index:6;
}
.part_02 .swiper-button-next,.part_02 .swiper-button-prev {
	content:"";
	margin-top:-0.365rem;
	width:0.38rem;
	height:0.73rem;
	background-repeat:no-repeat;
	background-size:100%;
}
.part_02 .swiper-button-prev {
	background-image:url(../images/jt_02.png);
	left:0.34rem;
}
.part_02 .swiper-button-next {
	background-image:url(../images/jt_01.png);
	right:0.34rem;
}
.part_02 .i2 .i2_1 {
	width:7.5rem;	
}
.part_02 .i2 .i2_1 div {
	margin:0 1.48rem;
	width:4.55rem;
	height:4.55rem;
	background-image:url(../images/208_1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-align:center;
	float:left;
	margin-bottom:0.54rem;
}
.part_02 .i2 .i2_1 h4 {
	padding:0.96rem 0 0.42rem 0;
	font-size:0.52rem;
	color:#fffac6;
}
.part_02 .i2 .i2_1 p {
	font-size:1.04rem;
	font-family:Impact;
	color:#fff;
}
.part_02 .i2 .i2_1 p b {
	font-size:0.42rem;
	display:block;
	font-weight:normal;
}
/*
.part_02 .i2 .i2_1:hover div {
	background-image:url(../images/208_2.png);
}
.part_02 .i2 .i2_1:hover p {
	color:#bf0404;
}
*/
.part_02 .i2 .i2_1 b:after,.i2 .i2_1 b:before {
	width:0.44rem;
	content:" ";
	display:inline-block;
	vertical-align:middle;
	height:0.01rem;
	font-size:0px;
	overflow:hidden;
	background-color:#a93ea6;
}
.i2 .i2_1 b:after {
	margin-left:0.08rem;
}
.i2 .i2_1 b:before {
	margin-right:0.08rem;
}
/*
.part_02 .i2 .i2_1:hover b:after,.i2 .i2_1:hover b:before {
	background-color:#ed981d;
}*/
.part_02 .i3 {
	clear:both;
	width:7.14rem;
	height:0.85rem;
	line-height:0.85rem;
	vertical-align:middle;
	background-image:url(../images/209.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:auto;
	font-size:0.35rem;
	color:#fffac6;
	text-align:center;
	margin-bottom:0.7rem;
}
.part_02 .i4 {
	display:none;
}
.part_02 .jbf_1 {
	position:absolute;
	width:0.59rem;
	height:0.44rem;
	top:1.23rem;
	right:0.4rem;
	z-index:1;
}
.part_02 .jbf_2 {
	position:absolute;
	width:0.82rem;
	height:0.61rem;
	top:400px;
	right:0px;
	display:none;
}
.part_02 .jbf_3 {
	position:absolute;
	width:0.82rem;
	height:0.61rem;
	bottom:2.39rem;
	left:0.98rem;
	z-index:1;
}
.part_03 {
	background-image:url(../images/bg_03s.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	padding-bottom:0.7rem;
	background-size:100% 100%;
}
.part_03 h3 {
	margin-bottom:0.44rem;
}
.part_03 .container {
	width:7rem;
	margin:auto;
}
.part_03 .tabs {
	display:none;
	width:7rem;
	margin: auto 0.2rem auto;
	overflow:hidden;
	height:0.5rem;
}
.part_03 .tabs li {
	text-align:center;
	width:7rem;
	height:0.4rem;
	line-height:0.4rem;
	vertical-align:middle;
	font-size:0.4rem;
	color:#ffe6b4;
	cursor:pointer;
}
.part_03 .swiper-container {
	width: 7rem;
	margin: 0 auto 0.6rem auto;
	padding:1.15rem 0 0 0;	
}
.part_03 .swiper-slide {
	background-image:url(../images/304.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:4.43rem;
	margin: auto;
	-webkit-box-shadow: 0px 0px 0.1rem rgba(0,0,0,0.5);	
	box-shadow: 0px 0px 0.1rem rgba(0,0,0,0.5);
	border-radius: 0.2rem;
	text-align:center;
}
.part_03 .swiper-slide .moblieTitle {
	position:absolute;
	top:-1.15rem;
	left:0px;
	width:100%;
	font-size:0.4rem;
	color:#ffeab3;
	font-weight:bold;
	height:0.4rem;
	line-height:0.4rem;
	vertical-align:middle;
}
.part_03 .swiper-slide .moblieTitle:before,.part_03 .swiper-slide .moblieTitle:after {
	content:" ";
	display:inline-block;
	font-size:0px;
	width:1rem;
	height:1px;
	overflow:hidden;
	background-color:#ffeab3;
	margin:0 0.1rem;
	vertical-align:middle;
}
.part_03 .swiper-slide h4 {
	width:5.65rem;
	height:1.06rem;
	line-height:0.96rem;
	vertical-align:middle;
	position:absolute;
	left:50%;
	top:-0.53rem;
	margin-left:-2.82rem;
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-align:center;
	background-image: url(../images/303_1.png);
}
.part_03 .swiper-wrapper > div:nth-child(2) h4 {
	background-image: url(../images/303_1.png);
}
.part_03 .swiper-wrapper > div:nth-child(3) h4 {
	background-image: url(../images/303_2.png);
}
.part_03 .swiper-wrapper > div:nth-child(4) h4 {
	background-image: url(../images/303_3.png);
}
.part_03 .swiper-wrapper > div:nth-child(5) h4 {
	background-image: url(../images/303_4.png);
}
.part_03 .swiper-slide h4 p {
	display:inline-block;
	font-size:0.34rem;
	line-height:0.34rem;
	vertical-align:middle;
	color:#fff9e3;
}
.part_03 .swiper-slide h5 {
	margin:0.75rem 0.35rem 0.3rem 0.25rem;
	color:#8612aa;
	font-size:0.4rem;
	height:0.4rem;
	font-weight:normal;
	position:relative;
	text-align:center;
}
.part_03 .swiper-slide h5:after {
	content:" ";
	height:1px;
	overflow:hidden;
	font-size:0px;
	background-color:#8612aa;
	position:absolute;
	width:100%;
	left:0px;
	top:50%;
	z-index:0;
}
.part_03 .swiper-slide h5 p {
	display:inline-block;
	padding:0 0.12rem;
	background-color:#faeecf;
	position:relative;
	z-index:2;
}
.part_03 .swiper-slide h5 strong {
	font-family:Impact;
	font-size:0.5rem;
	vertical-align:middle;
}
.part_03 .swiper-slide ul {
	padding:0 0.35rem 0 0.35rem;
}
.part_03 .swiper-slide ul li {
	width: 3.06rem;
	height: 2.65rem;
	border-radius: 0.17rem;
	background-color: #FFFFFF;
	float:left;
	position:relative;
}
.part_03 .swiper-slide ul li:nth-child(2) {
	float:right;
}
.part_03 .swiper-slide ul li strong {
	display:block;
	padding:0.24rem 0 0 0;
	font-size:0.28rem;
	color:#c09338;
	margin-bottom:0.15rem;
	text-align:center;
}
.part_03 .swiper-slide ul li strong img {
	display:inline-block;
	vertical-align:middle;
	height:0.32rem
}
.part_03 .swiper-slide ul li p {
	display:block;
	padding:0 0.2rem;
	font-size:0.24rem;
	line-height:0.38rem;
}
.part_03 .swiper-slide ul li div {
	position:absolute;
	display:block;
	left:0px;
	bottom:0.26rem;
	font-size:0.28rem;
	color:#c09338;
	width:100%;
	font-weight:bold;
	text-align:center;
}
.part_03 .bt {
	display:none;
}
.part_04 {
	background-image:url(../images/bg_04s.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% 100%;
	padding-bottom:0.3rem;
}
.part_04 h3 {
	margin-bottom:0.4rem;
}
.part_04 .i1 {
	width:7rem;
	margin:auto;
}
.part_04 .i1 li {
	width: 3.25rem;
	height:3.4rem;
	background-image: url(../images/401.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 0.15rem rgba(0,0,0,0.2);
	box-shadow: 0px 0px 0.15rem rgba(0,0,0,0.2);
	margin-right: 0.5rem;
	margin-bottom:0.45rem;
	border-radius: 0.2rem;
	float: left;
	text-align:center;
}
.part_04 .i1 li:nth-child(2n) {
	margin-right:0px;
}
.part_04 .i1 li h4 {
	font-size:0.24rem;
	color:#ffe7bc;
	padding:0.18rem 0 0.25rem 0;
}
.part_04 .i1 li h4 b {
	font-family:Impact;
	font-size:0.44rem;
	color:#ffd35d;
	vertical-align:middle;
}
.part_04 .i1 li strong {
	font-size:0.24rem;
	padding-top:0.7rem;
	padding-bottom:0.16rem;
	line-height:0.28rem;
	color:#bf180b;
	background-image:url(../images/402_1.png);
	background-size:0.64rem 0.64rem;
	background-repeat:no-repeat;
	background-position:top center;
	display:block;
}
.part_04 .i1 li:nth-child(2) strong {
	background-image:url(../images/402_2.png);
}
.part_04 .i1 li:nth-child(3) strong {
	background-image:url(../images/402_3.png);
}
.part_04 .i1 li:nth-child(4) strong {
	background-image:url(../images/402_4.png);
}
.part_04 .i1 li p {
	display:block;
	font-size:0.24rem;
	line-height:0.3rem;
	color:#58595b;
	margin:0 0.28rem;
	display:block;
	border-top:solid 1px #c56958;
	position:relative;
	padding-top:0.15rem;
}
.part_04 .i1 li p:before {
	content: " ";
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 0.05rem;
	background-color: #c56958;
	position:absolute;
	top:-0.05rem;
	left:50%;
	margin-left:-0.05rem;
}
.popup_div h4 {
	color:#9d0a0e;
	font-size:0.2rem;
	font-weight:normal;
}
.popZg .popup_div_content {
	width: 6rem;
	height: 3.5rem;
	border-radius: 0.02rem;
	background-color: #fff;
}
.popZg .popup_div_content h3 {
	width:6rem;
	height:0.8rem;
	line-height:0.8rem;
	vertical-align:middle;
	position:relative;
	background-image:url(../images/opwBg.png);
	background-size:100% 100%;
	text-align:center;
	font-size:0.3rem;
	font-weight:normal;
	background-color:#5d2c09;
}
.popZg .popup_div_content h3 .popup_close {
	width:0.21rem;
	position:absolute;
	right:0.08rem;
	top:0.11rem;
	cursor:pointer;
}
.popZg .popup_div_content .i1 {
	font-size:0.26rem;
	line-height:0.45rem;
	padding:0.48rem 0 0.2rem 0;
	text-align:center;
	color:#666666;
}
.popZg .popup_div_content .i2 {
	text-align:center;
}
.popZg .popup_div_content .i2 a {
	width: 3rem;
	height: 0.46rem;
	line-height: 0.46rem;
	vertical-align: middle;
	color: #fff;
	font-size: 0.22rem;
	border-radius: 0.23rem;
	background-color: #d00a03;
	letter-spacing:0.09rem;
	display:block;
	margin:auto;
}
.popZg .popup_div_content .i3 {
	padding:0.3rem 0 0 0;
	text-align:center;
	
}
.popZg .popup_div_content .i3 input {
	text-align:left;
	width:2.27rem;
	height:0.37rem;
	line-height:0.37rem;
	vertical-align:middle;
	color:#f1f1f1;
	font-size:0.14rem;
	padding:0 0.1rem;
	border:solid 0.01rem #e2e2e2;
	margin:0 auto 0.1rem auto;
	clear:both;
}
.popZg .popup_div_content .i3 p {
	font-size:0.16rem;
	color:#ff0900;
	display:block;
	margin-bottom:0.15rem;
}
.popZg .popup_div_content .i4 {
	padding-top: 0.15rem;
	text-align: center;
	font-size: 0.16rem;
	color: #5a2a08;
	text-decoration: underline;
}
.footerINfo {
	color:#5a2a08;
	padding:0 0.3rem 2rem 0.3rem;
	position:relative;
	z-index:2;
}
.footerINfo h3 {
	text-align:center;
	font-size:0.65rem;
	margin-bottom:0.3rem;
	color:#ffe589;
}
.footerINfo h3 img {
	width:48.9%;
	margin:0 auto 0.35rem auto;
}
.footerINfo .i1 a {
	color:#ffe589;
}
.footerINfo .i1 a img {
	display:inline-block;
	vertical-align:middle;
	height:0.13rem;
}
.footerINfo .i1 {
	font-size:0.24rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
	display:block;
	text-align:left;
	color:#fff;
}
.footerINfo .i2 {
	text-align:center;
	width:100%;
	display:block;
	margin-bottom:0.19rem;
}
.footerINfo .i2 a img {
	display: inline-block;
	border-radius: 0.08rem;
	width: 31.4%;
	/*-webkit-box-shadow: 0px 0.08rem 0.01rem rgba(0,0,0,0.05);
	box-shadow:  0px 0.08rem 0.01rem rgba(0,0,0,0.05);*/
}
.footerINfo .i2 a:nth-child(1) img {
	float:left;
}
.footerINfo .i2 a:nth-child(3) img {
	float:right;
}
.footerINfo .i3  {
	width:100%;
}
.footerINfo .i3 li {
	width: 48%;
	float: left;
	text-align: center;
	border-radius: 0.08rem;	
	padding-bottom:0.25rem;
	border: solid 0.02rem #ffe589;
	/*background: linear-gradient(#9f0a0a,#9f0a0a);*/
	background-color:#d9291c;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.footerINfo .i3 li:nth-child(2) {
	float:right;
}
.footerINfo .i3 li h4 {
	display: inline-block;
	line-height: 0.48rem;
	padding: 0 0.2rem 0 0.7rem;
	background-image: url(../images/115_201.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0.2rem center;
	height: 0.48rem;
	vertical-align: middle;
	font-size: 0.24rem;
	font-weight: normal;
	border-radius: 0.24rem;
	background-color:#ffe589;
	color:#cc1f1b;
	margin:0.2rem;
}
.footerINfo .i3 li:nth-child(2) h4 {
	background-image: url(../images/115_202.png);
}
.footerINfo .i3 li p {
	font-weight:bold;
	font-size:0.48rem;
	line-height:0.48rem;
	vertical-align: bottom;
	color:#ffe589;
}
.footerINfo .i3 li p strong {
	line-height:0.24rem;
	font-size:0.24rem;
	font-weight:normal;
	color:#ffe589;
	vertical-align:bottom;
}
.footerINfo .i4 {
	clear:both;
	padding:0.58rem 0 0.4rem 0;
}
.footerINfo .i4 img {
	display:block;
	width:54%;
	margin:auto;
}
.bottomBt{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	z-index:998;
}
.bottomBt .bts {
	background-color:#561b91;
	width:7.5rem;
	padding:0.35rem 0;
	height:auto;
	overflow:hidden;
	text-align:center;
	margin:auto;
}
.bottomBt .bts a {
	width: 3.15rem;
	height: 0.67rem;
	line-height: 0.67rem;
	vertical-align: middle;
	font-size: 0.28rem;
	font-weight: blod;
	color: #fbe7bf;
	overflow: hidden;
	font-weight:bold;
	float: left;
	margin-left: 0.35rem;
	background-image: linear-gradient(to bottom, #fe4c4c , #af0808);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	border-radius: 0.335rem;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.bottomBt .bts a:nth-child(2) {
	background-image: linear-gradient(to bottom, #fdf0d4 , #efba4d);
	color:#b32d26;
	float:right;
	margin-left:0rem;
	margin-right:0.35rem;
}

.popTable th {
	font-weight:normal;
	background-color:#f8f8f8;
	font-size:0.22rem;
	padding:0.1rem;
	color:#393939;
	border:solid 1px #e2e2e2;
	text-align:center;
}
.popTable th strong {
	color:#fe8a8d;
	font-weight:normal;
}
.popTable td {
	background-color:#fff;
	padding:0.1rem ;
	border:solid 0.01rem #e2e2e2;
	text-align:center;
}