@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0 none;
    max-width: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

.clearFix {
    clear: both;
    width: 100%;
    display: block;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    overflow: hidden;
}

.clear {
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    -webkit-text-size-adjust: none;
    position: relative;
    background-color: #c80000
}

html {
    font-size: 100px;
}

.header a.app_down_btn,
.header a.online_btn {
    width: 1.3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #fff;
    border-radius: 0.05rem;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 0 0 0.2rem;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0.05rem 0px;
}

.header a.app_down_btn {
    background-color: #1d82d2;
    background-image: url(../images/top_btn_icon2.png);
}

.header a.online_btn {
    background-color: #18ce83;
    margin-left: 0.1rem;
    background-image: url(../images/top_btn_icon1.png);
}

.header a.app_down_btn span {
    width: 1.3rem;
    height: 0;
    left: 50%;
    margin-left: -0.65rem;
    position: absolute;
    top: 100%;
    background-size: 100% auto;
    transition-duration: 0.5s;
}

.header a.app_down_btn:hover span {
    height: 1.3rem;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    /* 共用 */
}

@keyframes scaleDraw {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleDraw2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleDraw3 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3) rotate(30deg);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleDraw4 {
    0% {
        transform: scale(0) translate(-50px, 50px);
        opacity: 0;
    }
    70% {
        transform: scale(3) translate(50px, -50px);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes scaleDraw5 {
    0% {
        transform: scale(0.5) translate(50px, -50px);
        opacity: 0;
    }
    70% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes scaleDraw6 {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    70% {
        transform: scale(1.5) translateX(-37px);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes scaleDraw7 {
    0% {
        transform: scale(0) translate(150px, -150px);
        opacity: 0;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes scaleDraw_1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.yh1_1 {
    -webkit-animation-name: scaleDraw_1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}

.yh2_2 {
    -webkit-animation-name: scaleDraw_1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
}

.yh1 {
    -webkit-animation-name: scaleDraw;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}

.yh2 {
    -webkit-animation-name: scaleDraw2;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
}

.yh3 {
    -webkit-animation-name: scaleDraw3;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}

.yh4 {
    -webkit-animation-name: scaleDraw4;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}

.yh5 {
    -webkit-animation-name: scaleDraw5;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}

.yh6 {
    -webkit-animation-name: scaleDraw6;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}

.yh7 {
    -webkit-animation-name: scaleDraw7;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}

.yh7_1 {
    -webkit-animation-name: scaleDraw7;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
}

.main {
    width: 1200px;
    margin: auto;
    position: relative;
}

a.mainBt {
    width: 315px;
    text-align: center;
    display: inline-block;
}

a.mainBt p {
    width: 315px;
    height: 66px;
    border-radius: 33px;
    line-height: 67px;
    font-size: 28px;
    font-weight: bold;
    color: #ffec6d;
    position: relative;
    margin-bottom: 12px;
    display: block;
    background-image: linear-gradient(to bottom, #bd30e1, #720897);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

a.mainBt p:before {
    content: " ";
    width: 135px;
    height: 135px;
    background-image: url(../images/ewm.png);
    border-radius: 10px;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: absolute;
    top: -143px;
    left: 50%;
    margin-left: -62px;
    display: none;
    z-index: 998;
}

a.mainBt:hover p:before {
    display: block;
}

a.mainBt span {
    display: block;
    font-size: 22px;
    line-height: 22px;
    vertical-align: middle;
    color: #fff;
}

a.mainBt span:before {
    content: " ";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-repeat: no-repeat;
    font-size: 0px;
    background-image: url(../images/btBg_1.png);
    background-size: 100% auto;
    margin-right: 8px;
    vertical-align: middle;
}

a.mainBt span:after {
    content: " ";
    width: 60px;
    display: inline-block;
    height: 1px;
    font-size: 0px;
    background-image: url(../images/btBg_2.png);
    margin-left: 8px;
    vertical-align: middle;
}

h3.mainBt {
    text-align: center;
}

h3.mainBt p {
    display: inline-block;
    font-size: 65px;
    line-height: 65px;
    vertical-align: middle;
    color: #ffdab5;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

h3.mainBt p:before,
h3.mainBt p:after {
    content: " ";
    display: inline-block;
    width: 43px;
    height: 24px;
    background-image: url(../images/201.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}

h3.mainBt p:before {
    margin-right: 10px;
}

h3.mainBt p:after {
    margin-left: 10px;
    background-image: url(../images/202.png);
}

h3.mainBt span {
    display: block;
    font-size: 40px;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-weight: normal;
}

.part_01 {
    background-image: url(../images/bg_01.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 1920px;
    margin: auto;
    text-align: center;
    height: 722px;
}

.part_01 h2 {
    padding: 139px 0 50px 0;
    position: relative;
    z-index: 9;
}

.part_01 h2 img {
    display: block;
    margin: auto;
}

.part_01 .i1 {
    width: 998px;
    display: block;
    position: absolute;
    margin-left: -540px;
    left: 50%;
    top: 0px;
    z-index: 2;
}

.part_01 .i1_1 {
    width: 998px;
    display: block;
    position: absolute;
    margin-left: -540px;
    left: 50%;
    top: 0px;
    z-index: 1;
}

.part_01 .i2 {
    text-align: center;
    position: relative;
    z-index: 20;
}

.part_01 .i2 a {
    margin: 0 35px;
}

.part_01 .i2 a:nth-child(2) p {
    color: #a70000;
    background-image: linear-gradient(to bottom, #fdffc8, #ffef9d, #ffb929, #ba7f0c);
}

.part_01 .i2 a:nth-child(1):hover p:before {
    display: none;
}

.part_02 {
    max-width: 1920px;
    padding: 80px 0 0 0;
    background-image: url(../images/bg_02.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.hdxz {
    width: 148px;
    height: 29px;
    text-indent: -500px;
    overflow: hidden;
    background-image: url(../images/hdxz.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    right: 60px;
}

.part_02 h3 {
    margin-bottom: 50px;
}

.part_02 .i1 {
    width: 840px;
    margin: 0 auto 50px auto;
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 6;
}

.part_02 .i1 div.i1_1 {
    width: 367px;
    height: 308px;
    background-image: url(../images/206.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    position: relative;
    float: left;
}

.part_02 .i1 div.i1_1:nth-child(2) {
    float: right;
}

.part_02 .i1 div.i1_1:nth-child(1):after {
    content: " ";
    width: 74px;
    height: 74px;
    background-image: url(../images/205.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -37px;
    position: absolute;
    right: -90px;
    top: 50%;
}

.part_02 .i1 div.cur {
    background-image: url(../images/204.png);
}

.part_02 .i1 div.i1_1 h4 {
    font-size: 32px;
    color: #a70000;
    font-weight: normal;
    margin-top: 8px;
    height: 59px;
    line-height: 59px;
    vertical-align: middle;
    margin-bottom: 25px;
}

.part_02 .i1 div.i1_1 p {
    display: block;
    font-size: 98px;
    height: 98px;
    line-height: 98px;
    vertical-align: middle;
    font-weight: bold;
    font-family: Impact;
    color: #e22e2e;
}

.part_02 .i1 div.cur p {
    color: #b71f1b;
}

.part_02 .i1 div.i1_1 b {
    font-weight: normal;
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.part_02 .i1 div.i1_1 div {
    height: 89px;
    line-height: 89px;
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 100%;
}

.part_02 .i1 div.i1_1 div span {
    display: inline-block;
    vertical-align: middle;
    color: #fffac6;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
}

.part_02 .i1 div.i1_1 div span b {
    font-weight: normal;
    color: #fff;
    font-size: 22px;
}

.popup_div h4 {
    color: #9d0a0e;
    font-size: 20px;
    font-weight: normal;
}

.part_02 .i2 {
    width: 1040px;
    margin: 0 auto 0 auto;
    padding-top: 25px;
    clear: both;
    position: relative;
    z-index: 9;
}

.part_02 .swiper-button-next,
.part_02 .swiper-button-prev {
    display: none;
}

.part_02 .i2 .i2_1.d-focus {
    background-image: url(../images/208_2.png);
}

.part_02 .i2 .i2_1 .d-focus {
    color: #bf0404;
}

.part_02 .i2 .i2_1 {
    width: 308px;
    height: 308px;
    background-image: url(../images/208_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    float: left;
    margin-bottom: 70px;
}

.part_02 .i2 .i2_1 h4 {
    /* padding: 66px 0 23px 0; */
    margin-top: -0.2rem;
    font-size: 34px;
    color: #fffac6;
}

.part_02 .i2 .i2_1 p {
    font-size: 68px;
    font-family: Impact;
    color: #fff;
}

.part_02 .i2 .i2_1 p b {
    font-size: 27px;
    display: block;
    font-weight: normal;
}

.part_02 .i2 .i2_1:focus {
    background-image: url(../images/208_2.png);
}

.part_02 .i2 .i2_1:focus p {
    color: #bf0404;
}

.part_02 .i2 .i2_1:nth-child(2) {
    transform: scale(1.165);
    margin-left: 55px;
}

.part_02 .i2 .i2_1:nth-child(3) {
    float: right;
    margin-left: 55px;
}

.part_02 .i2 .i2_1 b:after,
.i2 .i2_1 b:before {
    width: 44px;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    font-size: 0px;
    overflow: hidden;
    background-color: #a93ea6;
}

.i2 .i2_1 b:after {
    margin-left: 8px;
}

.i2 .i2_1 b:before {
    margin-right: 8px;
}

.part_02 .i2 .i2_1:focus b:after,
.i2 .i2_1:focus b:before {
    background-color: #ed981d;
}

.popZg .popup_div_content {
    width: 600px;
    height: 350px;
    border-radius: 2px;
    background-color: #fff;
}

.part_02 .i3 {
    clear: both;
    width: 899px;
    height: 95px;
    line-height: 95px;
    vertical-align: middle;
    background-image: url(../images/209.png);
    background-repeat: no-repeat;
    margin: auto;
    font-size: 0.35rem;
    color: #fffac6;
    text-align: center;
    margin-bottom: 55px;
}

.part_02 .i4 {
    clear: both;
    text-align: center;
    padding-bottom: 0.7rem;
}

.part_02 .jbf_1 {
    position: absolute;
    width: 59px;
    height: 44px;
    top: 136px;
    left: 609px;
    z-index: 1;
}

.part_02 .jbf_2 {
    position: absolute;
    width: 82px;
    height: 61px;
    top: 400px;
    right: 0px;
    z-index: 1;
}

.part_02 .jbf_3 {
    position: absolute;
    width: 82px;
    height: 61px;
    top: 850px;
    left: 20px;
    z-index: 1;
}

.part_03 {
    background-image: url(../images/bg_03.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 70px;
    background-size: auto 100%;
}

.part_03 h3 {
    margin-bottom: 35px;
}

.part_03 .container {
    width: 991px;
    margin: auto;
}

.part_03 .tabs {
    width: 950px;
    height: 75px;
    padding: 65px 0 0 41px;
    background-image: url(../images/301.png);
    background-repeat: no-repeat;
    margin-bottom: 32px;
}

.part_03 .tabs li {
    width: 200px;
    height: 69px;
    line-height: 69px;
    vertical-align: middle;
    font-size: 30px;
    color: #ffe6b4;
    background-image: url(../images/302_2.png);
    margin-right: 36.5px;
    float: left;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.part_03 .tabs li:hover,
.part_03 .tabs li.cur {
    background-image: url(../images/302_1.png);
    color: #9c0000;
}

.part_03 .moblieTitle {
    display: none;
}

.part_03 .swiper-container {
    width: 909px;
    margin: 0 auto 60px auto;
    padding: 48px 10px 0 10px;
}

.part_03 .swiper-slide {
    background-image: url(../images/304.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 383px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.part_03 .swiper-slide h4 {
    width: 565px;
    height: 106px;
    line-height: 96px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: -53px;
    margin-left: -282px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/303_1.png);
}

.part_03 .swiper-wrapper>div:nth-child(2) h4 {
    background-image: url(../images/303_1.png);
}

.part_03 .swiper-wrapper>div:nth-child(3) h4 {
    background-image: url(../images/303_2.png);
}

.part_03 .swiper-wrapper>div:nth-child(4) h4 {
    background-image: url(../images/303_3.png);
}

.part_03 .swiper-wrapper>div:nth-child(5) h4 {
    background-image: url(../images/303_4.png);
}

.part_03 .swiper-slide h4 p {
    display: inline-block;
    font-size: 34px;
    line-height: 34px;
    vertical-align: middle;
    color: #fff9e3;
}

.part_03 .swiper-slide h5 {
    margin: 75px 58px 30px 58px;
    color: #8612aa;
    font-size: 40px;
    height: 40px;
    font-weight: normal;
    position: relative;
    text-align: center;
}

.part_03 .swiper-slide h5:after {
    content: " ";
    height: 1px;
    overflow: hidden;
    font-size: 0px;
    background-color: #8612aa;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50%;
    z-index: 0;
}

.part_03 .swiper-slide h5 p {
    display: inline-block;
    padding: 0 12px;
    background-color: #faeecf;
    position: relative;
    z-index: 2;
}

.part_03 .swiper-slide h5 strong {
    font-family: Impact;
    font-size: 50px;
    vertical-align: middle;
}

.part_03 .swiper-slide ul {
    padding: 0 58px 0 58px;
}

.part_03 .swiper-slide ul li {
    width: 377px;
    height: 201px;
    border-radius: 17px;
    background-color: #FFFFFF;
    float: left;
    position: relative;
}

.part_03 .swiper-slide ul li:nth-child(2) {
    float: right;
}

.part_03 .swiper-slide ul li strong {
    display: block;
    padding: 24px 0 0 0;
    font-size: 28px;
    color: #c09338;
    margin-bottom: 15px;
    text-align: center;
}

.part_03 .swiper-slide ul li strong img {
    display: inline-block;
    vertical-align: middle;
}

.part_03 .swiper-slide ul li p {
    display: block;
    padding: 0 20px;
    font-size: 24px;
    line-height: 28px;
}

.part_03 .swiper-slide ul li div {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 25px;
    font-size: 28px;
    color: #c09338;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.part_03 .bt {
    text-align: center;
}

.part_04 {
    max-width: 1920px;
    margin: auto;
    background-image: url(../images/bg_04.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding-bottom: 96px;
}

.part_04 h3 {
    margin-bottom: 40px;
}

.part_04 .i1 li {
    width: 274px;
    height: 327px;
    background-image: url(../images/401.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin-right: 34px;
    border-radius: 20px;
    float: left;
    text-align: center;
}

.part_04 .i1 li:last-child {
    margin-right: 0px;
}

.part_04 .i1 li h4 {
    font-size: 24px;
    color: #ffe7bc;
    padding: 18px 0 25px 0;
}

.part_04 .i1 li h4 b {
    font-family: Impact;
    font-size: 44px;
    color: #ffd35d;
    vertical-align: middle;
}

.part_04 .i1 li strong {
    font-size: 24px;
    padding-top: 70px;
    padding-bottom: 16px;
    line-height: 28px;
    color: #bf180b;
    background-image: url(../images/402_1.png);
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
}

.part_04 .i1 li:nth-child(2) strong {
    background-image: url(../images/402_2.png);
}

.part_04 .i1 li:nth-child(3) strong {
    background-image: url(../images/402_3.png);
}

.part_04 .i1 li:nth-child(4) strong {
    background-image: url(../images/402_4.png);
}

.part_04 .i1 li p {
    display: block;
    font-size: 24px;
    line-height: 30px;
    color: #58595b;
    margin: 0 28px;
    display: block;
    border-top: solid 1px #c56958;
    position: relative;
    padding-top: 15px;
}

.part_04 .i1 li p:before {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #c56958;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
}

.popZg .popup_div_content h3 {
    width: 600px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    position: relative;
    background-image: url(../images/opwBg.png);
    background-size: 100% 100%;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    background-color: #5d2c09;
}

.popZg .popup_div_content h3 .popup_close {
    width: 21px;
    position: absolute;
    right: 8px;
    top: 11px;
    cursor: pointer;
}

.popZg .popup_div_content .i1 {
    font-size: 26px;
    line-height: 45px;
    padding: 48px 0 20px 0;
    text-align: center;
    color: #666666;
}

.popZg .popup_div_content .i2 {
    text-align: center;
}

.popZg .popup_div_content .i2 a {
    width: 300px;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    color: #fff;
    font-size: 22px;
    border-radius: 23px;
    background-color: #d00a03;
    letter-spacing: 9px;
    display: block;
    margin: auto;
}

.popZg .popup_div_content .i3 {
    padding: 30px 0 0 0;
    text-align: center;
}

.popZg .popup_div_content .i3 input {
    text-align: left;
    width: 277px;
    height: 37px;
    line-height: 37px;
    vertical-align: middle;
    color: #f1f1f1;
    font-size: 14px;
    padding: 0 10px;
    border: solid 1px #e2e2e2;
    margin: 0 auto 10px auto;
    clear: both;
}

.popZg .popup_div_content .i3 p {
    font-size: 16px;
    color: #ff0900;
    display: block;
    margin-bottom: 15px;
}

.popZg .popup_div_content .i4 {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #5a2a08;
    text-decoration: underline;
}

.footerINfo,
.bBt {
    display: none;
}

.popTable th {
    font-weight: normal;
    background-color: #f8f8f8;
    font-size: 18px;
    padding: 10px;
    color: #393939;
    border: solid 1px #e2e2e2;
    text-align: center;
}

.popTable th strong {
    color: #fe8a8d;
    font-weight: normal;
}

.popTable td {
    background-color: #fff;
    padding: 10px;
    border: solid 1px #e2e2e2;
    text-align: center;
}

.bottomBt {
    display: none;
}