.point_none {
  pointer-events: none;
}

.content2_chart {
  height: 3.7rem;
  width: 4.1rem;
  color: #000;
  background: #fff;
}

.content2_chart .content {
  width: 100%;
  height: 100%;
}

.content2_chart .content .products {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content2_chart .content .products button {
  font-size: 0.2rem;
  font-weight: bold;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  background: white;
  border-radius: 0.05rem;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #797979;
  -webkit-box-shadow: #c3c3c3 1px 3px 3px;
          box-shadow: #c3c3c3 1px 3px 3px;
}

.content2_chart .content .products button:hover {
  background: whitesmoke;
  border-bottom: 4px solid green;
  -webkit-box-shadow: #575757 1px 2px 3px;
          box-shadow: #575757 1px 2px 3px;
}

.content2_chart .content .products button:focus {
  background: #e4e4e4;
  border-bottom: 2px solid green;
  -webkit-box-shadow: #2e2e2e 1px 1px 2px;
          box-shadow: #2e2e2e 1px 1px 2px;
  color: green;
}

.content2_chart .content .products button:active {
  background: #d8d8d8;
}

.content2_chart .content .main {
  height: 90%;
}

.content2_chart .content .main .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 20%;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
}

.content2_chart .content .main .info .nameAndCode {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.content2_chart .content .main .info .nameAndCode span {
  font-size: 0.28rem;
  font-weight: bold;
}

.content2_chart .content .main .info .nameAndCode span + span {
  font-weight: normal;
  font-size: 0.20rem;
  line-height: 0.28rem;
  padding-left: 0.1rem;
}

.content2_chart .content .main .info .data-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content2_chart .content .main .info .data-wrap .cur {
  line-height: 0.5rem;
  font-size: 0.3rem;
}

.content2_chart .content .main .info .data-wrap .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.1rem;
  font-size: 0.2rem;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content2_chart .content .main .info .data-wrap .col span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.content2_chart .content .main #chart-panel {
  height: 60% !important;
}

.content2_chart .content .main .bt.btns {
  padding-top: 0.05rem;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content2_chart .content .main .bt.btns a {
  color: #fff;
  padding: 0 0.2rem;
  border-radius: 0.04rem;
  font-size: 0.12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 0.2rem;
  -webkit-box-shadow: #3d3d3d 2px 3px 10px;
          box-shadow: #3d3d3d 2px 3px 10px;
  cursor: pointer;
}

.content2_chart .content .main .bt.btns a:hover {
  -webkit-box-shadow: #3d3d3d 2px 2px 5px;
          box-shadow: #3d3d3d 2px 2px 5px;
}

.content2_chart .content .main .bt.btns a span {
  padding-left: 0.1rem;
}
/*# sourceMappingURL=index.css.map */