@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
images,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

images {
    border: 0 none;
    max-width: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

.clearFix {
    clear: both;
    width: 100%;
    display: block;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    overflow: hidden;
}

.clear {
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    -webkit-text-size-adjust: none;
    position: relative;
}

html {
    font-size: 100px;
}

.wrapper {
    /*max-width:750px;
    min-width: 320px;*/
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    /* 共用 */
}


/* header */

body {
    padding-top: 0rem;
    color: #fff;
}

.headerMain {
    height: 0.92rem;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    z-index: 997;
}

.header-info {
    height: 0.92rem;
    position: relative;
    max-width: 750px;
    margin: auto;
    margin: auto;
}

.header-info .logo {
    position: absolute;
    top: 50%;
    height: 0.5rem;
    margin-top: -0.25rem;
    left: 4%;
    display: block;
}

.header-info .headerBtQ {
    position: absolute;
    top: 50%;
    height: 0.58rem;
    margin-top: -0.29rem;
    right: 0;
}

.header-info .headerBtQ img {
    height: 0.44rem;
    display: block;
    float: right;
    margin-left: 0.1rem;
}

@keyframes bgFadeIn {
    0% {
        background-color: #4776e0;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}


/*.wrapper:before {
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	animation: bgFadeIn 0.5s ease-in both;
	top:0px;
	left:0px;
	z-index:0;
}*/

@keyframes scaleDraw {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleDraw2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.yh1 {
    -webkit-animation-name: scaleDraw;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}

.yh2 {
    -webkit-animation-name: scaleDraw2;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
}

.wrapper {
    position: relative;
    background-image: url(../images/bg03.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.quickMenu {
    position: fixed;
    right: 0px;
    width: 1.07rem;
    height: 2.10rem;
    top: 50%;
    margin-top: -1.05rem;
    z-index: 998;
}

.quickMenu img {
    width: 1.07rem;
    height: 2.10rem;
    display: block;
}

.part_01 {
    background-image: url(../images/bg01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 1.1rem;
}

.part_01 .i1 {
    display: block;
    width: 5.28rem;
    height: 0.68rem;
    line-height: 0.68rem;
    vertical-align: middle;
    margin: 0 auto 1rem auto;
    font-size: 0.36rem;
    background-image: url(../images/102.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
}

.part_01 strong {
    color: #fff600;
}

.part_01 h2 img {
    display: block;
    width: 6.54rem;
    margin: 0 auto 0.22rem auto;
}

.part_01 .i2 {
    background-image: linear-gradient(to right, #1d0145, #800500);
    display: inline-block;
    font-size: 0.24rem;
    color: #ffff;
    padding: 0 0.18rem;
    height: 0.46rem;
    line-height: 0.46rem;
    border-radius: 0.23rem;
    margin: 0 auto 0.65rem auto;
}

.part_01 .i2 strong {
    color: #fff600;
    font-weight: normal;
}

.part_02 {
    background-image: url(../images/bg02.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: relative;
    height: 5rem;
    margin-bottom: 10%;
}

.part_02 h3 img {
    position: absolute;
    left: 20%;
    top: 0;
    display: block;
    width: 4.49rem;
    margin: 0 auto 0.18rem auto;
}

.part_02 .i1 {
    position: absolute;
    top: 20%;
    left: 22%;
    width: 4.20rem;
    height: 3.70rem;
    margin: auto;
    background: #fff;
    -webkit-box-shadow: 0px 0.08rem 0.1rem rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0.08rem 0.1rem rgba(0, 0, 0, 0.3);
}

.part_02 .i2 {
    position: absolute;
    display: block;
    width: 7.28rem;
    left: 0;
    bottom: -10%;
}

.part_02_inter {
    height: 5rem;
}

.part_03 {
    padding-bottom: 0.5rem;
}

.part_03 h3 img {
    display: block;
    width: 5.65rem;
    margin: 0 auto 0.4rem auto;
}

.part_03 .i1 {
    position: relative;
}

.part_03 .i1 .swiper-container {
    width: 6rem;
    height: 4.5rem;
    background-image: url(../images/bg04.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

.part_03 .i1 .swiper-slide {
    padding-top: 0.54rem;
    color: #2e2e2e;
}

.part_03 .i1 .swiper-slide div.i1_1 {
    padding-top: 0.2rem;
    width: 2.1rem;
    height: 2.1rem;
    padding: 0.06rem;
    background-image: linear-gradient(to right, #533fb6, #fc4b47, #533fb6);
    float: left;
    border-radius: 1.11rem;
    margin-left: 0.53rem;
    overflow: hidden;
    font-size: 0.28rem;
    line-height: 0.48rem;
    font-weight: bold;
    overflow: hidden;
}

.part_03 .i1 .swiper-slide div.i1_1 img {
    display: block;
    width: 2.1rem;
    border-radius: 1.05rem;
    height: 2.1rem;
    display: block;
}

.part_03 .swiper-button-next,
.part_03 .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 0.26rem;
    height: 0.45rem;
    margin-top: -0.225rem;
    background-size: 100% 100%;
}

.part_03 .swiper-button-next {
    background-image: url(../images/jt_r.png);
    right: 0.4rem;
}

.part_03 .swiper-button-prev {
    background-image: url(../images/jt_l.png);
    left: 0.4rem;
}

.part_03 .i2 {
    display: block;
    clear: both;
    margin-left: 1.38rem;
    padding: 0.3rem 0.44rem 0 0;
    position: relative;
    font-weight: bold;
    font-size: 0.28rem;
    line-height: 0.36rem;
}

.part_03 .i2 h4 {
    display: block;
    position: absolute;
    top: 0.3rem;
    left: -0.9rem;
}

.part_03 .i1 .swiper-slide .i1 {
    width: 3rem;
    float: right;
    font-weight: bold;
    display: block;
    font-size: 0.28rem;
    line-height: 0.48rem;
}

.part_03 .i1 .swiper-slide .i1 .cred {
    color: #ff0900;
}

.part_03 .i1 .swiper-slide .i1 .cblue {
    color: #1701a1;
}

.bt1 a {
    height: 1.15rem;
    display: block;
    width: 4.06rem;
    background-image: url(../images/mBt.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
    padding: 0px;
    z-index: 10;
}

.bt1 a span {
    font-size: 0.18rem;
    height: 0.18rem;
    line-height: 0.18rem;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 0.08rem;
    width: 4.16rem;
}

.bt1 a p {
    font-size: 0.36rem;
    display: block;
    position: absolute;
    left: 0px;
    top: 0.4rem;
    width: 4.16rem;
}

.bt1 a:nth-child(2) {
    float: right;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

.anim_fade_image {
    position: absolute;
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -webkit-animation-direction: alternate;
}


/*popVideo*/

.popup_video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
    text-align: center;
    font-size: 0px;
    z-index: 999;
}

.popup_video:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.popup_video video {
    display: inline-block;
    vertical-align: middle;
    height: 90%;
    max-width: 90%;
    outline: none;
}

.popup_video .video_close {
    position: absolute;
    right: 0.15rem;
    top: 0.15rem;
    width: 0.5rem;
    height: 0.5rem;
    box-sizing: border-box;
    border: 0.03rem solid #fff;
    background: #333;
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;
}

.popup_video .video_close:before,
.popup_video .video_close:after {
    content: "";
    position: absolute;
    width: 4%;
    height: 80%;
    margin: -40% -2%;
    background: #fff;
    display: block;
    left: 50%;
    top: 50%;
    transform: rotate(-45deg);
}

.popup_video .video_close:after {
    transform: rotate(45deg);
}