html {
    /*background: #f6f6f6;*/
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    min-width: 1080px;
    /* font-family: "PingFang_Medium", "Hiragino Sans GB", arial, "Microsoft Yahei", sans-serif; */
    font-family: "Hiragino Sans GB", arial, "Microsoft Yahei", sans-serif;
    color: #333;
    font-size: 16px;
    overflow: hidden;
}

html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img,
div,
tr,
td {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.conttd,
th,
td,
td span {
    font-size: 14px;
}

ul,
ol {
    list-style: none;
}

a {
    color: #1e82d2
}

a,
button {
    outline: none;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fb9c21;
}

a.white:link {
    color: #1e82d2;
    text-decoration: none;
}

a.white:visited {
    text-decoration: none;
    color: #1e82d2;
}

a.white:hover {
    text-decoration: none;
    color: #1e82d2;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    clear: both;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

input,
textarea {
    vertical-align: middle;
    font-family: arial, "Microsoft Yahei", sans-serif;
    outline: none;
}

.din {
    font-family: 'din1451a';
}

input,
textarea[placeholder],
[placeholder],
*[placeholder] {
    color: #333 !important;
}


/* @font-face {
	font-family: 'PingFang_Medium';
	src:url('../fonts/PingFang_Medium.eot');
	src:url('../fonts/PingFang_Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PingFang_Medium.ttf') format('truetype'),
	url('../fonts/PingFang_Medium.woff') format('woff'),
	url('../fonts/PingFang_Medium.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
    font-family: 'din1451a';
    src: url('../fonts/din1451a.eot');
    src: url('../fonts/din1451a.eot?#iefix') format('embedded-opentype'), url('../fonts/din1451a.ttf') format('truetype'), url('../fonts/din1451a.woff') format('woff'), url('../fonts/din1451a.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang_Heavy';
    src: url('../fonts/PingFang_Heavy.eot');
    src: url('../fonts/PingFang_Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/PingFang_Heavy.ttf') format('truetype'), url('../fonts/PingFang_Heavy.woff') format('woff'), url('../fonts/PingFang_Heavy.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFang Light';
    src: url('../fonts/PingFang Light.eot');
    src: url('../fonts/PingFang Light.eot?#iefix') format('embedded-opentype'), url('../fonts/PingFang Light.ttf') format('truetype'), url('../fonts/PingFang Light.woff') format('woff'), url('../fonts/PingFang Light.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*common style*/

*html {
    background-image: url(about:blank);
    background-attachment: fixed;
}

.disblo {
    display: block;
}

.pt15 {
    padding-top: 15px;
    clear: both;
}

.pb8 {
    padding-bottom: 8px
}

.imgcenter {
    text-align: center;
    margin: 15px 0;
}

.page_w {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fb,
.fb p {
    font-weight: bold;
    font-size: 14px;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.dis {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.loading {
    text-align: center;
}


/*header*/

.header {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 75px;
    width: 100%;
    transition: all .4s;
}

.header:hover {
    background-color: rgba(6, 29, 67, .3);
}

.header a {
    color: #fff;
    transition: all .4s;
    line-height: 2em;
}

.header .wrapper {
    width: 95%;
}

.header .logo {
    width: 180px;
    height: 75px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/Asset3.png") center left no-repeat;
}

.header .logo a {
    display: block;
    height: 75px;
}

.header .nav-box {
    float: right;
    width: 1020px;
    margin-top: 5px;
    font-size: 0;
}

.header .main-menu li a {
    display: block;
    width: 100%;
    height: 100%
}

.header .main-menu {
    display: inline-block;
    vertical-align: middle;
    width: 73%;
    margin-top: 18px;
    margin-right: 2%;
    text-align: right;
}

.header .main-menu li {
    display: inline-block;
    margin: 0 15px;
    height: 50px;
    font-size: 16px;
    position: relative;
    cursor: pointer
}

.header .main-menu li:hover {
    border-bottom: 2px solid #1e82d2;
}

.header .main-menu .head-icon {
    border-bottom: 2px solid #1e82d2;
}

.header .main-menu li .submenu {
    min-width: 120px;
    position: absolute;
    top: 42px;
    left: -50%;
    border-radius: 0 0 5px 5px;
    background-color: #1675c1;
    opacity: 0;
}

.header .main-menu li .submenu.spread {
    opacity: 1;
    margin-top: 10px;
}

.header .main-menu li .submenu li {
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.header .main-menu li .submenu li:hover {
    border-bottom: 0 solid #1e82d2;
}

.header .main-menu li .submenu li a {
    display: block;
    color: #fff;
    line-height: 2.2em;
    font-size: 16px;
}

.header .main-menu li .submenu li a:last-child {
    border-radius: 0 0 5px 5px;
}

.header .main-menu li .submenu li a:hover {
    background-color: #1e82d2;
}

.header .main-menu li.cur :after {
    content: '';
    width: 24px;
    height: 3px;
    margin: 0 auto;
    display: block;
    background: #0575e8;
}


/*.header .main-menu li.elder>a:after {
	content: '';
	width: 16px;
	height: 16px;
	margin-top: -3px;
	margin-left: 3px;
	display: inline-block;
	vertical-align: middle;
	background: url("https://images.hxfx.com/public/www/index/arrow_nav.png") center no-repeat;
	transition: All 0.4s ease-in-out;
	-webkit-transition: All 0.4s ease-in-out;
	-moz-transition: All 0.4s ease-in-out;
	-o-transition: All 0.4s ease-in-out;
}

.header .main-menu li.elder:hover>a:after {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}*/


/*.header .main-menu li.elder>a:after {
	content: '';
	width: 16px;
	height: 16px;
	margin-top: -3px;
	margin-left: 3px;
	display: inline-block;
	vertical-align: middle;
	background: url("https://images.hxfx.com/public/www/index/arrow_nav.png") center no-repeat;
	transition: All 0.4s ease-in-out;
	-webkit-transition: All 0.4s ease-in-out;
	-moz-transition: All 0.4s ease-in-out;
	-o-transition: All 0.4s ease-in-out;
}

.header .main-menu li.elder:hover>a:after {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}*/

.header .top-button {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    text-align: right;
}

.header .top-button a {
    display: inline-block;
    width: 40%;
    line-height: 33px;
    font-size: 16px;
    border: 1px solid #1e85cf;
    color: #53b5ff;
    text-align: center;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*&.btn-demo{
        background: $mainColor;
        background: -webkit-linear-gradient(left, #264ea6 , #2a5bc7);
        background: -o-linear-gradient(right, #264ea6 , #2a5bc7);
        background: -moz-linear-gradient(right, #264ea6 , #2a5bc7);
        background: linear-gradient(to right, #264ea6 , #2a5bc7);
        border:0;
    }*/
}

.header .top-button a.btn-real {
    color: #fff;
    width: 55%;
    background: -webkit-linear-gradient(left, #1e88cc, #19b59d);
    background: -o-linear-gradient(right, #1e88cc, #19b59d);
    background: -moz-linear-gradient(right, #1e88cc, #19b59d);
    background: linear-gradient(to right, #1e88cc, #19b59d);
    border: 0;
    line-height: 35px;
}

.header .top-button a.btn-real .topuser {
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
    width: 18px;
    height: 19px;
    background: url(../images/topuser.png) no-repeat top center;
    margin-right: 3px;
}

.header .top-button a:hover {
    color: #fff;
}

.header-inverted .top-button a:hover,
.header-dark .top-button a:hover {
    color: #fff
}

.header-inverted {
    position: fixed;
    z-index: 20;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(52, 63, 75, 0.06), 0 10px 40px 0 rgba(52, 63, 75, 0.06), 0 0 0 1px rgba(52, 63, 75, 0.02);
    color: #444;
}

.header-dark {
    background: #fff;
    color: #444;
    border-bottom: 1px solid #efedf0;
}

.header-inverted.header-dark {
    border-bottom: 0;
}

.header-inverted:hover,
.header-dark:hover {
    background-color: #fff;
}

.header-inverted .logo,
.header-dark .logo {
    background: url("../images/full_color.png") center left no-repeat;
}

.header-inverted .main-menu a,
.header-dark .main-menu a {
    color: #444;
}

.header-inverted .top-button a,
.header-dark .top-button a {
    color: #1e85cf;
    border: 1px solid #1e85cf;
}


/* é¢åŒ…å±‘ */

.bread-crumbs {
    font-size: 0;
    border-bottom: 1px solid #efefef;
    padding: 30px 0;
    font-size: 16px;
    line-height: 32px;
    color: #999;
}

.bread-crumbs a {
    color: #1e82d2;
}

.bread-crumbs em {
    font-style: normal;
    font-family: 'simsun';
}


/*float-right*/

.sidebar {
    display: none;
    position: fixed;
    z-index: 10;
    right: 0px;
    bottom: 25%;
    border: 1px solid #d5e6f4;
    border-right: none;
    box-sizing: border-box
}

.sidebar a {
    color: #1e82d2;
}

.sidebar li {
    width: 89px;
    height: 90px;
    display: block;
    color: #1e82d2;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    background: #fff;
    border-bottom: 1px solid #d5e6f4;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: background .4s;
    position: relative;
}

.sidebar li:hover i {
    background: url("../images/right-icon-hover.png") no-repeat;
}

.sidebar li:hover {
    background: #0555bc;
}

.sidebar li:hover a {
    color: #fff
}

.sidebar li .download-app,
.sidebar li .qrcode_weixin {
    display: none;
    position: absolute;
    top: 0;
    right: 89px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px;
    color: #999;
    background: white;
}

.sidebar li i {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    background: url("../images/right-icon.png") no-repeat;
}

.sidebar li .hot {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 28px;
    height: 28px;
    background: url(../images/hot.png) no-repeat top center;
    z-index: 3;
}

.sidebar li:hover .hot {
    background: url(../images/hot-hover.png) no-repeat top center;
}

.sidebar li.online i,
.sidebar li.online:hover i {
    background-position: 0 0;
}

.sidebar li.qqkf i,
.sidebar li.qqkf:hover i {
    background-position: 0 -49px;
}

.sidebar li.deposit i,
.sidebar li.deposit:hover i {
    background-position: 0 -101px;
    width: 43px
}

.sidebar li.download-app i,
.sidebar li.download-app:hover i {
    background-position: 0 -161px;
}

.sidebar li.weixin i,
.sidebar li.weixin:hover i {
    background-position: 0 -222px;
    width: 45px;
}

.sidebar li.weixin:hover .qrcode_weixin,
.sidebar li.download-app:hover .qrcode_weixin,
.sidebar li.deposit:hover .qrcode_weixin {
    display: block;
}

.sidebar li.totop i,
.sidebar li.totop:hover i {
    background-position: 0 -272px;
}

.sidebar li.online:hover .txt-list {
    display: block;
}

.sidebar li .txt-list:hover {
    display: block;
}

.sidebar li .txt-list {
    display: none;
    position: absolute;
    top: 0;
    right: 91px;
    background-color: #fff;
    box-shadow: 0px 2px 6.66px 2.34px rgba(138, 155, 168, 0.2);
    width: 276px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 1px solid #fff;
}

.sidebar li .txt-list a {
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    color: #1e82d2;
    line-height: 24px;
    padding: 15px 0 15px 22px;
}

.sidebar li .txt-list a.first,
.sidebar li .txt-list a.last {
    padding: 20px 0 20px 22px;
}

.sidebar li .txt-list a:hover {
    background: #f4f7fe;
}


/*åº•éƒ¨css*/

.footer {
    width: 100%;
    padding: 60px 0;
    background: #424242;
    position: relative;
    z-index: 5;
    color: #adadae;
    font-size: 15px;
}

.footer-line {
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    padding: 33px 0;
    height: 50px;
    margin-top: 20px;
}

.footer span {
    margin-top: 60px;
    color: #6c6a68;
    display: block;
    width: 100%
}

.footer-line li {
    width: 19.9%;
    text-align: center;
    float: left;
    border-right: 1px solid #4f4f4f;
    height: 50px;
}

.footer-line li a {
    color: #adadae;
}

.footer-line li:last-child {
    border-right: none
}

.footer-line li i {
    background: url("../images/footer.png") no-repeat;
    width: 28px;
    height: 30px;
    display: block;
    margin: 0 auto 5px auto
}

.footer-line li .online-icon {
    background-position: 0 0
}

.footer-line li .qq-icon {
    background-position: -37px 0
}

.footer-line li .mail-box {
    background-position: -75px 0
}

.footer-line li .phone-icon {
    background-position: -114px 0
}

.footer-line li .WeChat-id {
    background-position: -153px 0;
    width: 35px;
}

.footer-line li :hover i {
    background: url("../images/footer-hover.png") no-repeat;
}

.footer-line li a:hover {
    color: #fff;
}

.footer-line li a:hover i {
    animation: tada 1s infinite;
    -webkit-animation: tada 1s infinite;
}

.footer-line li:hover.online-icon {
    background-position: 0 0
}

.footer-line li:hover .qq-icon {
    background-position: -37px 0
}

.footer-line li:hover .mail-box {
    background-position: -75px 0
}

.footer-line li:hover .phone-icon {
    background-position: -114px 0
}

.footer-line li:hover .WeChat-id {
    background-position: -153px 0;
    width: 35px;
}

.footer-list {
    margin-top: 76px;
    text-align: center
}

.footer-list a {
    color: #6c6a68;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

.footer-list em {
    width: 1px;
    height: 12px;
    background: #6c6a68;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    margin: 0 3px
}

.footer-list a:hover {
    color: #fff
}

.copyright {
    text-align: center;
    color: #6c6a68;
    display: block;
    margin-top: 20px;
}

.footer-line .wx-qr {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    bottom: 60px;
    left: 50%;
    padding: 5px;
    background: #fff;
    margin-left: -60px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 5px;
}

.footer-line .wx-qr:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff transparent transparent;
    border-width: 5px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
}

.footer-line li:last-child a {
    position: relative;
}

.footer-line a:hover .wx-qr {
    opacity: 1;
    filter: alpha(opacity=100);
    bottom: 80px;
}


/*=====================================================*/

@media (max-width: 1240px) {
    body {
        width: auto;
        min-width: 980px;
    }
    .header .logo {
        background-size: 120px auto;
        width: 120px;
        margin-top: 3px;
    }
    .page_w {
        width: 940px;
    }
    .header .top-button {
        width: 29%
    }
    .header .nav-box {
        width: 760px;
    }
    .header .main-menu li {
        margin: 0 8px;
        font-size: 14px;
    }
    .header .top-button a {
        font-size: 14px;
    }
    #chat .chat_wrap {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        top: 0;
        left: 0;
    }
    .vertical-alignment-helper .chat-popup-sm {
        width: 90%;
        margin-left: 5%;
    }
}