@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}
img {
  border: 0 none;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.clearFix {
	clear:both;
	width:100%;
	display:block;
	font-size:0px;
	line-height:0px;
	height:0px;
	overflow:hidden;
}
.clear {
	clear:both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	-webkit-text-size-adjust: none;	
	position:relative;
}
html{
  font-size: 100px;
}
.wrapper{
	width:7.5rem;
	margin: 0 auto;
	overflow:hidden;
	height:auto;
	/* 共用 */
}
/* header */
body {
	padding-top:0rem;
	color:#fff;	
}
.headerMain {
    height:0.92rem;
	position: fixed;
	top:0rem;
	left:0rem;
	width:100%;
	z-index:997;
}
.header-info {
	height:0.92rem;
	position:relative;
	max-width:750px;
	margin:auto;
}
.header-info .logo {
	position:absolute;
	top:50%;
	height:0.4rem;
	margin-top:-0.2rem;
	left:0.3rem;
	display:block;	
}
.header-info .headerBtQ {
	position:absolute;
	top:50%;
	height:0.4rem;
	margin-top:-0.2rem;
	right:0.3rem;
}
.header-info .headerBtQ img {
	height:0.4rem;
	display:block;
	float:right;
	margin-left:0rem;
}
@keyframes bgFadeIn {
    0% {
        background-color: #4776e0;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
@keyframes scaleDraw {
0%{transform: scale(1);opacity: 1;}
50%{transform: scale(1.3);opacity:1;}
100%{transform: scale(1);opacity:1;}
}
@keyframes scaleDraw2{
0%{transform: scale(1);opacity: 1;}
50%{transform: scale(0.8);opacity: 1;}
100%{transform: scale(1);opacity: 1;}
}
.yh1 {
	-webkit-animation-name: scaleDraw;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;	
}
.yh2 {
	-webkit-animation-name: scaleDraw2;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration:4s;	
}
/*.wrapper:before {
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	animation: bgFadeIn 0.5s ease-in both;
	top:0px;
	left:0px;
	z-index:0;
}*/
.wrapper {
	position:relative;
	background-color:#4d031e;
}
.part_01 {
	background-image:url(../images/bg_01.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:1.3rem 0 0.05rem 0;
	position:relative;
	text-align:center;
}
.part_01 h2 {
	width:6.15rem;
	margin:auto;
	position:relative;
}
.part_01 h2 .s1 {
	display:block;
	width:6.15rem;
}
.part_01 h2 .s2 {
	display:block;
	position:absolute;
	width:1.94rem;
	right:0px;
	top:-0.2rem;
}
.part_01 .i1 {
	display:block;
	width:7.5rem;
}
.part_01 .mBt {
	position:absolute;
	left:0px;
	width:100%;
	bottom:0.45rem;
}
.mBt a {
	width:5.16rem;
	height:0.98rem;
	padding:0.04rem;
	border-radius:0.53rem;
	background-image:linear-gradient(-45deg, #d07f02, #fffae6,#d18000,#d18000);
	display:block;
	margin:auto;
}
.mBt a p {
	display: block;
	height: 0.86rem;
	background: linear-gradient(to bottom, #ff3732 0%, #df2622 50%, #a20703 95%, #cf0500 100%);
	border-radius: 0.49rem;
	text-align: center;
	color: #fef1c2;
	font-size: 0.45rem;
	text-shadow: 0.03rem 0.03rem rgba(0,0,0,0.1);
	padding-top:0.12rem;
	font-weight:bold;
}
.mBt a p strong {
	display:block;
	font-size:0.22rem;
	line-height:0.22rem;
	vertical-align:middle;
	color:#fff;
	padding-top:0.08rem;
	font-weight:normal;
	text-shadow: 0rem 0rem rgba(0,0,0,0);
}
.mBt a p strong:after,.mBt a p strong:before {
	content:" ";
	height:1px;
	background-color:#df8a88;
	line-height:0px;
	font-size:0px;
	overflow:hidden;
	display:inline-block;
	width:0.6rem;
	margin:0 0.08rem;
	vertical-align:middle;
}
.part_02 {
	background-image:url(../images/bg_02.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:relative;
	text-align:center;
	padding-bottom:0.2rem;
}
.part_02 h3 img {
	display:block;
	width:7.13rem;
	margin:auto;
}
.part_02 .i1 {
	width:6.9rem;
	margin:auto;
}
.part_02 .i1 li {
	width:3.25rem;
	float:left;
	padding-top:0.7rem;
	position:relative;
	margin-bottom:0.3rem;
}
.part_02 .i1 li h4 {
	width:1.82rem;
	height:1.36rem;
	background-image:url(../images/202_1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-0.91rem;
	padding-top:0.2rem;
}
.part_02 .i1 li h4 img {
	display:block;
	height:0.66rem;
	width:auto;
	margin:auto;
}
.part_02 .i1 li h4 strong {
	display:block;
	font-size:0.3rem;
	color:#810034;
	padding-top:0.04rem;
}
.part_02 .i1 li div {
	width: 3.25rem;
	height: 1.86rem;
	border-radius: 0.2rem;
	padding-top: 0.1rem;
	background-image: linear-gradient(-45deg, #430588, #802ebf,#430588);
	clear: both;
	-webkit-box-shadow: 0px 0px 0.15rem rgba(0,0,0,0.3);
	box-shadow: 0px 0px 0.15rem rgba(0,0,0,0.3);
}
.part_02 .i1 li div p {
	display:block;
	width:3.03rem;
	height:0.9rem;
	padding-top:0.85rem;
	border:solid 1px #8c62a1;
	margin:auto;
	font-size:0.28rem;
	line-height:0.34rem;
	color:#fff39b;
	border-radius:0.15rem;
	font-weight:normal;
}
.part_02 .i1 li:nth-child(2n) {
	float:right;
}
.part_02 .i1 li:nth-child(2n) h4 {
	background-image:url(../images/202_2.png);
}
.part_03 {
	background-image:url(../images/bg_03.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:relative;
	text-align:center;
	padding-bottom:0.4rem;
}
.part_03 h3 img {
	display:block;
	width:7.07rem;
	margin:0 auto 0.2rem auto;
}
.part_03 .container {
	width:6.9rem;
	margin:auto;
}
.part_03 .tabs li {
	width: 2.23rem;
	margin-right:0.105rem;
	float:left;
	padding-top:0.2rem;
	-webkit-transition: all .25s linear .25s;
	transition: all .25s linear .25s;
}
.part_03 .tabs li span {
	display:block;
	width: 2.23rem;
	height: 0.74rem;
	line-height: 0.74rem;
	vertical-align: middle;
	font-size: 0.29rem;
	color: #664f25;
	background-color: #ffecdb;
	text-align: center;
	margin-right:0.105rem;
	cursor:pointer;
	-webkit-transition: all .25s linear .25s;
	transition: all .25s linear .25s;
}
.part_03 .tabs li:first-child span {
	border-radius:0.2rem 0 0 0;
}
.part_03 .tabs li:last-child {
	margin-right:0rem;
}
.part_03 .tabs li:last-child span {
	border-radius:0 0.2rem 0 0;
}
.part_03 .tabs li.cur {
	padding-top:0px;
	-webkit-transition: all .25s linear .25s;
	transition: all .25s linear .25s;
}
.part_03 .tabs li.cur span {
	height:0.94rem;
	line-height:0.94rem;
	background-color:#d6b675;
	font-size:0.33rem;
	color:#fff;
	text-shadow: 0px 0px 0.03rem rgba(0,0,0,0.3);
	border-radius:0.2rem 0.2rem 0 0;
	-webkit-transition: all .25s linear .25s;
	transition: all .25s linear .25s;
}
.part_03 .tabContent {
	clear:both;
	padding:0.12rem;
	background: linear-gradient(to bottom, #d6b675, #836119);
	border-radius:0 0 0.2rem 0.2rem;
}
.part_03 .swiper-wrapper {
	width:6.62rem;
	height:4.64rem;
	color:#231f20;
}
.part_03 .swiper-container .swiper-slide {
	width:6.62rem;
	height:4.64rem;
	background-color:#fff;
	border-radius:0.18rem;
	text-align:left;
}
.part_03 .swiper-container .swiper-slide .i1 {
	padding-top:0.3rem;
	font-size:0.26rem;
	padding-left:0.25rem;
}
.part_03 .swiper-container .swiper-slide .i1 li {
	float:left;
	height:0.35rem;
	}
.part_03 .swiper-container .swiper-slide .i1 li:nth-child(1) {
	width:1.85rem;
}
.part_03 .swiper-container .swiper-slide .i1 li:nth-child(2) {
	width:1.35rem;
}
.part_03 .swiper-container .swiper-slide .i1 li:nth-child(3) {
	width:1.8rem;
}
.part_03 .swiper-container .swiper-slide .mInfo {
	padding:0 0 0 0.25rem;
	width:6.25rem;
	height:3.62rem;
	overflow:auto;
}
.part_03 .swiper-container .swiper-slide .mInfo table {
	width:5.86rem;
}
.part_03 .swiper-container .swiper-slide .mInfo table td:nth-child(1) {
	width:1.85rem;
}
.part_03 .swiper-container .swiper-slide .mInfo table td:nth-child(2) {
	width:1.50rem;
}
.part_03 .swiper-container .swiper-slide .mInfo table td:nth-child(3) {
	width:1.5rem;
	text-align:center;
}
.part_03 .swiper-container .swiper-slide .mInfo table td {
	padding:0.1rem 0;
	vertical-align:middle;
	border-bottom:solid 0.02rem #f4f5f5;
	font-size:0.24rem;
	color:#58595b;
}
.part_03 .swiper-container .swiper-slide .mInfo table td a {
	display:block;
	float:right;
	width:0.96rem;
	height:0.69rem;
	line-height:0.63rem;
	vertical-align:middle;
	background-color:#6c21ad;
	color:#fff;
	text-align:center;
	border-radius:0.08rem;
}
.part_03 .swiper-container .swiper-slide .mInfo table td a p {
	display:inline-block;
	font-size:0.24rem;
	line-height:0.28rem;
	vertical-align:middle;
}
.part_03 .swiper-container .swiper-slide .mInfo table td.cGreen {
	color:#0ba82c;
}
.part_03 .swiper-container .swiper-slide .mInfo table td.cRed {
	color:#d13030;
}
.part_03 .swiper-container .swiper-slide ::-webkit-scrollbar {
    width: 0.2rem;
} 
.part_03 .swiper-container .swiper-slide ::-webkit-scrollbar-track {
	background:#f0ddb6; 
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
}
.part_03 .swiper-container .swiper-slide ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    background:#d5b574; 
}
.part_03 .swiper-container .swiper-slide ::-webkit-scrollbar-thumb:window-inactive {
	background:#d5b574; 
}
.part_04 {
	background-image:url(../images/bg_04.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:relative;
	text-align:center;
	padding-bottom:0.45rem;
}
.part_04 h3 img {
	display:block;
	width:5.04rem;
	margin:0 auto 0.3rem auto;
}
.part_04 .i1_1 {
	display: block;
	margin: 0 auto 0.35rem auto;
	border-radius: 0.3rem;
	width:2.87rem;
	display: block;
	overflow: hidden;
	background-color:rgba(203,37,73,0.4);
	-webkit-box-shadow: 0px 0px 0.2rem rgba(203,37,73,0.7);
	box-shadow: 0px 0px 0.2rem rgba(203,37,73,0.7);
}
.part_04 .i1 {
	position:relative;
	width:6.9rem;
	margin:auto;
}
.part_04 .i1 div {
	position:absolute;
}
.part_04 .i1 div:nth-child(1) {
	right:0px;
	top:0.58rem;
}
.part_04 .i1 div:nth-child(2) {
	left:0px;
	top:1.75rem;
}
.part_04 .i1 div:nth-child(3) {
	right:0px;
	top:3rem;
}
.part_04 .i1 div p {
	font-size:0.24rem;
	line-height:0.3rem;
	color:#6e031a;
	width:1.5rem;
	padding:0.3rem 0.2rem 0 0.3rem;
	display:block;
	background-image:url(../images/402_2.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:0.86rem;
	text-align:left;
}
.part_04 .i1 div h4 {
	font-size: 0.3rem;
	margin-bottom: 0.1rem;
	font-style: italic;
	color:#fff4cf;
	text-align:center;
}
.part_04 .i1 div:nth-child(2) p {
	background-image:url(../images/402_1.png);
	padding:0.3rem 0.3rem 0 0.2rem;
	height:1.2rem;
}
.part_04 .i1 div:nth-child(3) p {
	background-image:url(../images/402_3.png);
	height:1.45rem;
}
.part_04 .mBt a p {
	height: 0.7rem;
	padding-top:0.28rem;
}
.footerINfo {
	background-image:url(../images/bg_05.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	color: #fff;
	position: relative;
	z-index: 2;
	padding:0 0.3rem 0.8rem 0.3rem;
}
.footerINfo h3 {
	text-align:center;
	color:#fff;
	font-size:0.4rem;
	margin-bottom:0rem;
}
.footerINfo h3 img {
	width:3.02rem;
	display:block;
	margin:auto;
}
.footerINfo .i1 {
	padding:0 0rem;
	font-size:0.24rem;
	line-height:0.3rem;
	margin-bottom:0.25rem;
}
.footerINfo .i1 a {
	color:#ffc77f;
}
.footerINfo .i1 a img {
	display:inline-block;
	vertical-align:middle;
	height:0.13rem;
}
.footerINfo .i1 {
	font-size:0.24rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
	display:block;
	text-align:left;
}
.footerINfo .i2 {
	text-align:center;
	width:100%;
	display:block;
	margin-bottom:0.19rem;
}
.footerINfo .i2 a img {
	display: inline-block;
	border-radius: 0.05rem;
	width: 31.4%;/*
	-webkit-box-shadow: 0px 0.05rem 0.05rem rgba(0,0,0,0.3);
	box-shadow: 0px 0.05rem 0.05rem rgba(0,0,0,0.3);*/
}
.footerINfo .i2 a:nth-child(1) img {
	float:left;
}
.footerINfo .i2 a:nth-child(3) img {
	float:right;
}
.footerINfo .i3  {
	width:100%;
}
.footerINfo .i3 li {
	width: 47%;
	float: left;
	text-align: center;
	color: #fff;	
	border-radius: 0.05rem;	
	padding-bottom:0.25rem;
	background-color: #fff;
	border: solid 0.02rem #fff6b4;
	background: linear-gradient(#8d0216,#8d0216);
}
.footerINfo .i3 li:nth-child(2) {
	float:right;
}
.footerINfo .i3 li h4 {
	display: inline-block;
	line-height: 0.48rem;
	padding: 0 0.2rem 0 0.7rem;
	background-image: url(../images/115_201.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0.2rem center;
	height: 0.48rem;
	vertical-align: middle;
	font-size: 0.24rem;
	font-weight: normal;
	border-radius: 0.24rem;
	background-color: #f2302b;
	color:#ffff;
	margin:0.2rem;
}
.footerINfo .i3 li:nth-child(2) h4 {
	background-image: url(../images/115_202.png);
}
.footerINfo .i3 li p {
	font-weight:bold;
	font-size:0.48rem;
	line-height:0.48rem;
	vertical-align: bottom;
	color:#ffdc6b;
}
.footerINfo .i3 li p strong {
	line-height:0.24rem;
	font-size:0.24rem;
	font-weight:normal;
	color:#ffdc6b;
	vertical-align:bottom;
}
.footerINfo .i4 {
	clear:both;
	padding:0.58rem 0 0.4rem 0;
}
.footerINfo .i4 img {
	display:block;
	width:54%;
	margin:auto;
}
.bottomBt{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	z-index:998;
}
.bottomBt .bts {
	background-color: rgba(129,15,1,0.9);
	width:7.5rem;
	padding:0.24rem 0;
	height:auto;
	overflow:hidden;
	text-align:center;
	margin:auto;
	text-align:center;
}
.bottomBt .bts a {
	width:3.91rem;
	height:0.98rem;
	line-height:0.98rem;
	vertical-align:middle;
	font-size:0.34rem;
	font-weight:bold;
	color:#000;
	display:block;
	background-image:url(../images/bt.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-webkit-box-shadow: 0px 0 0.1rem rgba(0,0,0,0.2);
	box-shadow: 0px 0 0.1rem rgba(0,0,0,0.2);
	border-radius:0.35rem;
	margin:auto;
}
a.btHdtk {
	font-size:0.3rem;
	line-height:0.35rem;
	background-color:#ba8f28;
	width:0.5rem;
	text-align:center;
	padding:0.3rem 0;
	border-radius:0.1rem 0 0 0.1rem;
	position:fixed;
	right:0px;
	top:50%;
	margin-top:-0.98rem;
	z-index:998;
}