@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}
img {
  border: 0 none;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.clearFix {
	clear:both;
	width:100%;
	display:block;
	font-size:0px;
	line-height:0px;
	height:0px;
	overflow:hidden;
}
.clear {
	clear:both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	-webkit-text-size-adjust: none;	
	position:relative;
}
html{
  font-size: 100px;
}
.wrapper{
	max-width:750px;
    min-width: 320px;
	margin: 0 auto;
	overflow:hidden;
	height:auto;
	/* 共用 */
}
/* header */
body {
	padding-top:0rem;
	background-color:#2971fb;	
	color:#fff;	
}
.headerMain {
    height:1.33rem;
	position: fixed;
	top:0rem;
	left:0rem;
	width:100%;
	z-index:997;
}
.header-info {
	height:1.33rem;
	position:relative;
	max-width:750px;
	margin:auto;
	margin:auto;
}
.header-info .logo {
	position:absolute;
	top:50%;
	height:0.48rem;
	margin-top:-0.24rem;
	left:4%;
	display:block;	
}
.header-info .headerBtQ {
	position:absolute;
	top:50%;
	height:0.48rem;
	margin-top:-0.24rem;
	right:4%;
}
.header-info .headerBtQ img {
	height:0.44rem;
	display:block;
	float:right;
	margin-left:0rem;
}
@keyframes bgFadeIn {
    0% {
        background-color: #4776e0;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
/*.wrapper:before {
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	animation: bgFadeIn 0.5s ease-in both;
	top:0px;
	left:0px;
	z-index:0;
}*/
.wrapper {
	background-image:url(../images/bg.jpg);
	background-repeat:repeat-x;
	background-size:100% auto;
	position:relative;
}
.part_01 {
	padding:0.9rem 0 0 0;
}
.part_01 h2 img {
	display:block;
	width:89.7%;
	margin:0 auto 0.1rem auto;
	
}
.part_01 .i1 {
	display:block;
	width:86.4%;
	margin:0 auto 0.5rem auto;
}
.part_01 .i2 {
	width:81.6%;
	margin:0 auto 0.64rem auto;
	position:relative;
	z-index:10;
}
.part_01 .i2 img {
	display:block;
	width:98%;
	margin:auto;
	padding-top:0.12rem;
}
.part_01 .i2 a {
	display: block;
	width: 32.5%;
	float: left;
	height: 0.54rem;
	line-height: 0.54rem;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	border-radius: 0.27rem;
	font-size: 0.32rem;
	letter-spacing:0.08rem;
	-webkit-box-shadow: 0px 0.08rem 0.08rem rgba(0,0,0,0.1);
	box-shadow: 0px 0.08rem 0.08rem rgba(0,0,0,0.1);
	background: linear-gradient(to bottom, #789aeb 0%,#3b62c7 100%);
}
.part_01 .i2 a:nth-child(2) {
	float:right;
}
.part_02 h3 img {
	display:block;
	width:66%;
	margin:0 auto 0.3rem auto;
}
.part_02 .i1 {
	width: 92%;
	margin: auto;
	padding:0.01rem 0;
	border-radius: 0.1rem;
	background: linear-gradient(to bottom, #37329c 0%,#284ca6 50%);
	margin-bottom:0.4rem;
}
.part_02 .i1_1 {
	border-radius: 0.08rem;
	margin:0 0.01rem;
	background-color:#fff;
	overflow:hidden;
}
.part_02 .i1_2 li {
	height:0.6rem;
	line-height:0.6rem;
	vertical-align:middle;
	padding:0 0.23rem 0 0;
	display:table;
}
.part_02 .i1_2 li h4 {
	display:table-cell;
	font-size:0.31rem;
	color:#e5c271;
	padding-right:0.12rem;
	width:1.1rem;
	text-align:right;
}
.part_02 .i1_2 li p {
	display:table-cell;
	font-size:0.17rem;
	line-height:0.17rem;
	vertical-align:middle;
}
@media screen and (max-width:360px) {
.part_02 .i1_2 li p {
	line-height:0.3rem;
}
}
.part_02 .i2,.part_04 .i2 {
	width:92%;
	height:auto;
	overflow:hidden;
	padding-bottom:0.5rem;
	margin:0 auto 0 auto;
	position:relative;
	z-index:10;
}
.part_02 .i2 a,.part_03 .i1_2 a,.part_04 .i2 a {
	margin-left: 0.5rem;
	float: left;
	display: block;
	width: 2.4rem;
	height: 0.55rem;
	line-height: 0.55rem;
	vertical-align: middle;
	text-align: center;
	-webkit-box-shadow: 0px 0.08rem 0.08rem rgba(0,0,0,0.1);
	box-shadow: 0px 0.08rem 0.08rem rgba(0,0,0,0.1);
	border-radius: 0.275rem;
	background: linear-gradient(to bottom, #fefed3 0%,#ffde77 100%);
	font-size:0.31rem;
	font-weight:bold;
	color:#ff6e12;
}
.part_02 .i2 a:nth-child(2),.part_04 .i2 a:nth-child(1) {
	margin-left:0rem;
	margin-right: 0.5rem;
	float: right;
	background: linear-gradient(to bottom, #8dbdfe 0%,#3c64c9 100%);
	color:#fff;
}
.part_03 {
	padding-bottom:0.75rem;
	background-image:url(../images/bg_02.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;
	background-size:100% auto;
}
.part_03 h3 {
	background-position:top center;
	background-size:100% auto;
	padding:0.4rem 0.1rem 0rem 0.1rem;
	background-repeat:no-repeat;
}
.part_03 h3 img {
	width:68.9%;
	display:block;
	margin:auto;
}
.part_03 .i1 {
	width:92%;
	margin:auto;	
}
.part_03 .i1 h4 {
	font-weight: normal;
	font-size: 0.4rem;
	font-style: italic;
	margin-bottom:0.25rem;
}
.part_03 .i1_1 {
	border-radius: 0.15rem;
	background-color: #fff;
	padding-bottom:0.2rem;
	margin-bottom:0.46rem;
}
.xauTab {
	padding:0.3rem 0 0.2rem 0;
	width:98%;
	margin:auto;
	position:relative;
	z-index:10;
}
.xauTab li {
	color:#000;
	font-size:0.16rem;
	display: inline-block;
	padding: 0 0.08rem;
	height: 0.3rem;
	line-height: 0.3rem;
	vertical-align: middle;
	border-radius: 0.03rem;
	background-color: #dcdedd;
	margin-right:0.08rem;
	cursor:pointer;
}
.xauTab li.cur {
	background-color:#f29700;
}
.part_03 table.xauTable {
	width:98%;
	margin:auto;
	text-align:left;
}
table.xauTable td,table.xauTable th {
	border:solid 0.01rem #bab9b8;
	font-size:0.21rem;
	color:#000;
	padding:0.12rem;
}
table.xauTable th {
	padding:0.12rem;
	font-weight:normal;
	font-size:0.24rem;
}
table.xauTable th strong {
	height: 0.3rem;
	line-height: 0.3rem;
	font-size:0.2rem;
	vertical-align: middle;
	padding: 0 0.15rem;
	border-radius: 0.15rem;
	color: #fff;	
	font-weight:normal;
}
table.xauTable2 td {
	border-right:0px;
	border-left:0px;
	padding-left:0.3rem;
}
table.xauTable2 td:first-child {
	border-left:solid 1px #000;
}
table.xauTable2 td:last-child {
	border-right:solid 1px #000;
}
.cRedBg {
	background-color:#ff0000;
}
.cGreenBg {
	background-color:#009b4c;
}
.cRed,table.xauTable td.cRed {
	color:#ff0000;
}
.cGreen,table.xauTable td.cGreen {
	color:#009b4c;
}
.xauTitle {
	font-size:0.18rem;
	padding:0.5rem 0.1rem 0.12rem 0.15rem;
	color:#000;
}
.xauTitle span {
	float:right;
	display:inline-block;
	color:#a0a0a0;
	font-weight:normal;
}
.part_03 .i1_2 {
	position:relative;
	z-index:10;
}
.part_03 .i1_2 a {
	float: none;
	margin: auto;
	width: 4.50rem;
	clear: both;
	height: 0.8rem;
	border-radius: 0.4rem;
	line-height: 0.8rem;
}
.part_04 h3 img {
	display:block;
	width:72.8%;
	margin:0 auto 0.18rem auto;
}
.part_04 h3 p {
	font-size: 0.3rem;
	line-height: 0.4rem;
	text-align: center;
	display: block;
	font-style: italic;
	margin-bottom:0.3rem;
	font-weight:normal;
}
.part_04 img {
	display:block;
	width:100%;
}
.part_04 .i1 {
	position:relative;
	height:auto;
	overflow:hidden;
}
.part_04 .i1 .i1_2 {
	position:absolute;
	left:0px;
	bottom:0px;
}
.part_04 .i1 .i1_3 {
	font-size: 0.19rem;
	display: block;
	width: 1.60rem;
	height: 0.35rem;
	line-height: 0.35rem;
	text-align: center;
	vertical-align: middle;
	background-color: #e7dbe6;
	color: #ff0007;
	font-style: italic;
	position: absolute;
	right: 22.2%;
	bottom: 1.34rem;
	border-radius: 0.2rem;
	z-index: 10;
}
.part_04 .i2 {
	padding-top:0.4rem;
}
.part_04 .i2 a {
	margin-left: 0rem;
	float:left;
	width:40.6%;
	margin:0 4.65%;
}
.regBt {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
	z-index:980;
}
.regBt div {
	max-width:750px;
	margin:auto;
	position:relative;
	padding-top:0.24rem;
	height:1.06rem;
	background: linear-gradient(to bottom, #4d85e9 0%,#6525cf 100%);	
}
.regBt div a {
	width:91.7%;
	display:block;
	margin:auto;
	position:relative;
}
.regBt div a img {
	display: block;
	width: 100%;
}
.regBt div a img.i1 {
	display:block;
	width:31.7%;
	right:10%;
	position:absolute;
	top:-0.12rem;	
}
.footerINfo {
	background-color: #4e20a7;
	color:#fff;
	padding:0.57rem 4% 1.68rem 4%;
	position:relative;
	z-index:2;	
}
.footerINfo h3 {
	text-align:center;
	font-size:0.56rem;
	margin-bottom:0.4rem;
}
.footerINfo h3 img {
	width:88%;
	margin:0 auto 0 auto;
}
.footerINfo .i1 a {
	color:#5d91f4;
}
.footerINfo .i1 a img {
	display:inline-block;
	vertical-align:middle;
	height:0.13rem;
}
.footerINfo .i1 {
	font-size:0.24rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
	display:block;
	text-align:left;
}
.footerINfo .i2 {
	text-align:center;
	width:100%;
	display:block;
	margin-bottom:0.19rem;
}
.footerINfo .i2 a img {
	display: inline-block;
	border-radius: 0.05rem;
	width: 31.4%;
}
.footerINfo .i2 a:nth-child(1) img {
	float:left;
}
.footerINfo .i2 a:nth-child(3) img {
	float:right;
}
.footerINfo .i3  {
	width:100%;
}
.footerINfo .i3 li {
	width: 48%;
	float: left;
	text-align: center;	
	border-radius: 0.08rem;	
	padding-bottom:0.25rem;	
	color: #fff;
	/*border: solid 0.02rem #4d008c;
	background-color: #2871fb;
	background: linear-gradient(#2871fb,#2871fb);
	*/
}
.footerINfo .i3 li:nth-child(2) {
	float:right;
}
.footerINfo .i3 li h4 {
	display: inline-block;
	line-height: 0.48rem;
	padding: 0 0.2rem 0 0.7rem;
	background-image: url(../images/115_201.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0.2rem center;
	height: 0.48rem;
	vertical-align: middle;
	font-size: 0.24rem;
	font-weight: normal;
	border-radius: 0.24rem;
	background-color: #2871fb;
	color:#fff;
	margin:0.2rem;
}
.footerINfo .i3 li p {
	font-weight:bold;
	font-size:0.48rem;
	line-height:0.48rem;
	vertical-align: bottom;
	color:#fff;
}
.footerINfo .i3 li p strong {
	line-height:0.24rem;
	font-size:0.24rem;
	font-weight:normal;
	color:#fff;
	vertical-align:bottom;
}
.footerINfo .i4 {
	clear:both;
	padding:0.58rem 0 0.4rem 0;
}
.footerINfo .i4 img {
	display:block;
	width:54%;
	margin:auto;
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity:1;
     }
    25% {
        opacity:0;
    }
    50% {
        opacity: 0;    
    }
    75% {
        opacity:1;
    }
}
.anim_fade_image {
    position:absolute;    
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -webkit-animation-direction: alternate;
}