* {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
a img,
a:hover img {
    border: 0;
}

i,
em {
    font-style: normal
}

ol,
ul,
dl,
li,
dt,
dd {
    list-style: none;
}

input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-family: inherit;
    appearance: none;
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

th,
td {
    border-collapse: collapse;
}

input {
    -webkit-appearance: none;
}

:focus {
    outline: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

a:active {
    color: #fffa3f;
    text-decoration: none;
}

a,
a:active,
.btn,
.more {
    transition: all 300ms ease;
    appearance: none;
    -webkit-appearance: none;
}

input,
select,
button {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: #999999;
}

.clear {
    height: 0;
    font-size: 0;
    overflow: hidden;
    clear: both;
    float: none;
}

html {
    font-size: 100px;
    height: 100%;
}

body {
    margin: 0 auto;
    max-width: 750px;
    background: #ffffff;
    line-height: 2;
    color: #333333;
    -webkit-text-size-adjust: 100% !important
}

.wrap {
    width: 100%;
    font-size: 0.28rem;
    padding-bottom: 1.62rem;
    overflow: hidden;
    background: url(../images/bg.jpg) center top repeat-y;
    background-size: 100% auto;
}

.wow {
    visibility: hidden;
}

.imain1 {
    position: relative;
    height: 16.02rem;
    background: url(../images/bg2.jpg) center top no-repeat;
    background-size: 100% auto;
}

.imain2 {
    position: relative;
}

.header {
    position: fixed;
    left: 50%;
    width: 7.5rem;
    margin-left: -3.75rem;
    top: 0;
    z-index: 999;
    height: 1.43rem;
    padding: 0.5rem 0;
    transition: all 300ms ease;
}

.topbox {
    width: 6.9rem;
    margin: 0 auto;
}

.topbox .logo {
    float: left;
    padding-top: 0.02rem;
}

.topbox .logo img {
    display: block;
    height: 0.38rem;
}

.topbox .service {
    float: right;
    display: block;
    width: 1.6rem;
    height: 0.43rem;
    background: url(../images/service.png) no-repeat;
    background-size: 1.6rem auto;
}

.header2 {
    background: rgba(0, 0, 0, 0.2);
    height: 0.83rem;
    padding: 0.2rem 0;
}

.box1 {
    background: url(../images/box1_bg.png) center top no-repeat;
    background-size: 100% auto;
    position: relative;
    height: 5.54rem;
}

.box1_t {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.54rem;
    z-index: 1;
}

.box1_t img {
    display: block;
    width: 7.23rem;
    margin: 0 auto;
    animation: move1 3s 0.5s infinite alternate ease-in-out;
}

.box1_l {
    position: absolute;
    left: 0;
    top: 3.7rem;
    z-index: 10;
}

.box1_l img {
    display: block;
    height: 2.06rem;
}

.box1_r {
    position: absolute;
    right: 0;
    top: 3.7rem;
    z-index: 10;
}

.box1_r img {
    display: block;
    height: 2.1rem;
}

.box1_light {}

.box1_light .light {
    position: absolute;
    z-index: 20;
}

.box1_light .light img {
    display: block;
    height: 0.59rem;
    opacity: 0;
}

.box1_light .light4 img {
    height: 0.26rem;
}

.box1_light .light1 {
    left: 1rem;
    top: 2rem;
}

.box1_light .light2 {
    left: 2.7rem;
    top: 2.3rem;
}

.box1_light .light3 {
    left: 4rem;
    top: 2.2rem;
}

.box1_light .light4 {
    left: 6.4rem;
    top: 2.2rem;
}

.box1_light .light1 img {
    animation: light1 3s 0.5s infinite alternate ease-in-out;
}

.box1_light .light2 img {
    animation: light2 2s 0.5s infinite alternate ease-in-out;
}

.box1_light .light3 img {
    animation: light3 3s 0.5s infinite alternate ease-in-out;
}

.box1_light .light4 img {
    animation: light4 2s 0.5s infinite alternate ease-in-out;
}

@keyframes light1 {
    0% {
        opacity: 0.4;
        margin-left: 0;
    }
    50% {
        opacity: 1;
        margin-left: -0.3rem;
    }
    100% {
        opacity: 0.4;
        margin-left: 0;
    }
}

@keyframes light2 {
    0% {
        opacity: 0.4;
        margin-top: 0;
    }
    50% {
        opacity: 1;
        margin-top: 0.05rem;
    }
    100% {
        opacity: 0.4;
        margin-top: 0;
    }
}

@keyframes light3 {
    0% {
        transform: scale(1);
        opacity: 0.4;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.4;
    }
}

@keyframes light4 {
    0% {
        transform: scale(1);
        opacity: 0.4;
    }
    50% {
        transform: scale(2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.4;
    }
}

.box2 {
    position: relative;
    height: 5.86rem;
}

.box2_1 {
    position: absolute;
    left: 0;
    bottom: 0.07rem;
    z-index: 14;
}

.box2_1 img {
    display: block;
    height: 1.98rem;
}

.box2_2 {
    position: absolute;
    left: 0.4rem;
    bottom: 3.24rem;
    z-index: 13;
}

.box2_2 img {
    display: block;
    height: 2.02rem;
}

.box2_light {
    position: absolute;
    left: 0;
    bottom: -1.2rem;
    transform-origin: left center;
    z-index: 12;
}

.box2_light img {
    display: block;
    height: 5.2rem;
    transform-origin: left center;
    transform: scale(0.9);
    opacity: 0.4;
    animation: box2_light 2s 0.5s infinite alternate ease-in-out;
}

@keyframes box2_light {
    0% {
        transform: scale(0.9);
        opacity: 0.4;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.4;
    }
}

.box2_logo {}

.box2_logo div {
    position: absolute;
    z-index: 30;
}

.box2_logo div img {
    display: block;
}

.box2_logo .pinduoduo {
    left: 1.61rem;
    bottom: 1.45rem;
}

.box2_logo .niu {
    left: 2.34rem;
    bottom: 0.4rem;
}

.box2_logo .alibaba {
    left: 2.3rem;
    bottom: 2.9rem;
}

.box2_logo .apple {
    left: 3.2rem;
    bottom: 1.8rem;
}

.box2_logo .tesila {
    left: 4.33rem;
    bottom: 0.46rem;
}

.box2_logo .baidu {
    left: 4.15rem;
    bottom: 3.2rem;
}

.box2_logo .mi {
    left: 5.08rem;
    bottom: 2.26rem;
}

.box2_logo .pinduoduo img {
    height: 1.86rem;
    animation: move2 3s 0s linear infinite;
}

.box2_logo .niu img {
    height: 1.69rem;
    animation: move3 4s 0s linear infinite;
}

.box2_logo .alibaba img {
    height: 2.94rem;
    animation: move4 5s 0s linear infinite;
}

.box2_logo .apple img {
    height: 2rem;
    animation: move5 6s 0s linear infinite;
}

.box2_logo .tesila img {
    height: 2.01rem;
    animation: move6 3.5s 0s linear infinite;
}

.box2_logo .baidu img {
    height: 2.61rem;
    animation: move7 4.5s 0s linear infinite;
}

.box2_logo .mi img {
    height: 2.08rem;
    animation: move8 5.5s 0s linear infinite;
}

.box3 {
    position: relative;
    height: 4.62rem;
}

.box3_t {}

.box3_t img {
    display: block;
    width: 7.21rem;
    margin: 0 auto;
}

.box3_2 {
    position: absolute;
    left: 0.56rem;
    top: 1.49rem;
    width: 2.45rem;
}

.box3_2 .tit {
    background: url(../images/box3_t2.png) center center no-repeat;
    background-size: 100% auto;
    height: 1.14rem;
    padding-top: 0.24rem;
    line-height: 0.88rem;
    color: #fff;
    font-size: 0.25rem;
    letter-spacing: 0.04rem;
    font-weight: bold;
    text-align: center;
    text-indent: 0.95rem;
}

.box3_2 .con {
    background: url(../images/box3_m2.png) center top no-repeat;
    background-size: auto 1.98rem;
    height: 1.98rem;
    text-align: center;
    color: #fff;
    font-size: 0.16rem;
    font-weight: bold;
    line-height: 0.4rem;
    padding-top: 0.14rem;
    letter-spacing: 0.02rem;
}

.box3_3 {
    position: absolute;
    right: 0.74rem;
    top: 1.42rem;
    width: 3.35rem;
}

.box3_3 .tit {
    background: url(../images/box3_t3.png) center center no-repeat;
    background-size: 100% auto;
    height: 1.21rem;
    padding-top: 0.2rem;
    line-height: 1rem;
    color: #fff15b;
    font-size: 0.37rem;
    letter-spacing: 0.4rem;
    font-weight: bold;
    text-align: center;
    text-indent: 1.3rem;
}

.box3_3 .con {
    background: url(../images/box3_m3.png) center top no-repeat;
    background-size: auto 1.98rem;
    height: 1.98rem;
    text-align: center;
    color: #fffa81;
    font-size: 0.26rem;
    font-weight: bold;
    line-height: 0.4rem;
    padding-top: 0.18rem;
    letter-spacing: 0.02rem;
}

.box4 {
    position: relative;
    margin-bottom: 0.56rem;
}

.box4_t {}

.box4_t img {
    display: block;
    width: 7.21rem;
    margin: 0 auto;
}

.ilist1 {
    margin: 0 auto 0.3rem auto;
    background: url(../images/box4_m.png) no-repeat;
    background-size: 6.84rem auto;
    width: 6.84rem;
    /* height: 4.74rem; */
    /* padding-top: 0.01rem; */
}

.ilist1 .tit {
    height: 0.79rem;
    margin-bottom: 0.02rem;
    border-radius: 0.32rem 0.32rem 0 0;
    overflow: hidden;
}

.ilist1 .tit ul li {
    float: left;
    width: 20%;
}

.ilist1 .tit ul li span {
    display: block;
    margin: 0 0.01rem;
    height: 0.79rem;
    line-height: 0.79rem;
    text-align: center;
    font-size: 0.22rem;
    background: #d1eaed;
    color: #007d8c;
    cursor: pointer;
    transition: all 300ms ease;
    white-space: nowrap;
}

.ilist1 .tit ul li.show span {
    background: #007d8c;
    color: #fff;
}

.ilist1 .con {
    overflow: hidden;
    height: 3.9rem;
    width: 6.8rem;
    margin: 0 auto;
    position: relative;
}

.ilist1 .con .item {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 3.9rem;
    width: 6.8rem;
    border-radius: 0 0 0.32rem 0.32rem;
    transition-duration: 0.5s;
    opacity: 0;
    transform: rotateY(180deg);
    z-index: 1;
    overflow: hidden;
    background: #fff;
}

.ilist1 .con .item.show {
    position: relative;
    z-index: 5;
    opacity: 1;
    transform: scale(1);
}

.iframe_main {
    background: url(../images/box4_m2.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-size: 6.83rem auto;*/
    width: 6.83rem;
    /* height: 7.39rem; */
    /* padding-top: 0.28rem; */
    padding: 0.1rem;
    margin: 0 auto;
    border-radius: 0.2rem;
}

.iframe_box {
    width: 6.2rem;
    height: 6.84rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 0.2rem;
    overflow: hidden;
}

.box4_btn {
    height: 2.34rem;
    width: 6.6rem;
    margin: 0 auto;
    /*margin-top: -0.5rem;*/
    pointer-events: none;
}

.box4_btn .btn {
    float: left;
    position: relative;
    width: 3.3rem;
    height: 2.34rem;
    pointer-events: none;
}

.box4_btn .btn i {
    display: block;
    width: 0.56rem;
    height: 0.63rem;
    position: absolute;
    left: 50%;
    margin-left: -0.28rem;
    top: 0.3rem;
    pointer-events: none;
}

.box4_btn .btnl {
    background: url(../images/kandian.png) center 0.96rem no-repeat;
    background-size: auto 1.01rem;
    pointer-events: none;
}

.box4_btn .btnr {
    background: url(../images/kanzhang.png) center 0.96rem no-repeat;
    background-size: auto 1.01rem;
    pointer-events: none;
}

.box4_btn .btnl i {
    background: url(../images/blue.png) no-repeat;
    background-size: 0.56rem auto;
    animation: ups 2s 0s linear infinite;
    pointer-events: none;
}

.box4_btn .btnr i {
    background: url(../images/red.png) no-repeat;
    background-size: 0.56rem auto;
    animation: ups 2s 0s linear infinite;
    pointer-events: none;
}

@keyframes ups {
    0% {
        top: 0.3rem;
    }
    50% {
        top: 0.2rem;
    }
    100% {
        top: 0.3rem;
    }
}

.box4_f {
    background: url(../images/box4_f.png) center center no-repeat;
    background-size: 100% auto;
    height: 0.73rem;
    line-height: 0.73rem;
    text-align: center;
    font-size: 0.32rem;
    color: #ffe88b;
    letter-spacing: 0.04rem;
    text-indent: 0.1rem;
}

.box5 {
    position: relative;
    margin-bottom: 0.48rem;
}

.box5_t {}

.box5_t img {
    display: block;
    width: 7.22rem;
    margin: 0 auto;
}

.box5_m {
    background: url(../images/box5_m.png) center top no-repeat;
    background-size: 6.83rem auto;
    height: 3.31rem;
    padding-top: 0.1rem;
}

.box5_m .item {
    text-align: center;
    height: 1.03rem;
    line-height: 1rem;
    font-size: 0.27rem;
    color: #fff7a3;
    text-indent: 0.4rem;
}

.box5_m .item1 {
    background: url(../images/box5_2.png) center center no-repeat;
    background-size: auto 0.91rem;
    letter-spacing: 0.02rem;
}

.box5_m .item2 {
    background: url(../images/box5_3.png) center center no-repeat;
    background-size: auto 0.91rem;
    letter-spacing: 0.02rem;
}

.box5_m .item3 {
    background: url(../images/box5_4.png) center center no-repeat;
    background-size: auto 0.91rem;
}

.intip {
    background: url(../images/box5_f.png) center center no-repeat;
    background-size: 100% auto;
    height: 0.86rem;
    padding: 0.12rem 0.3rem 0 1.16rem;
    text-align: left;
    font-size: 0.2rem;
    line-height: 0.3rem;
    font-weight: bold;
    color: #ffe88b;
    letter-spacing: 0.02rem;
}

.intip img {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.04rem;
    height: 0.2rem;
}

.footbar {
    position: fixed;
    left: 50%;
    width: 7.5rem;
    height: 1.54rem;
    margin-left: -3.75rem;
    bottom: -1.54rem;
    background: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: all 600ms ease;
}

.footbar ul {
    display: block;
    padding-top: 0.34rem;
    margin: 0 auto;
}

.footbar ul li {
    float: left;
    width: 50%;
}

.footbar ul li a {
    display: block;
    width: 2.84rem;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 0.43rem;
    font-size: 0.38rem;
    letter-spacing: 0.04rem;
    font-weight: bold;
}

.footbar ul li a.btn1 {
    border: 0.03rem #ffe682 solid;
    background-image: linear-gradient(#eb5f55, #bc1110);
    color: #fefec4;
}

.footbar ul li a.btn2 {
    border: 0.03rem #6decff solid;
    background-image: linear-gradient(#3897e3, #161aba);
    color: #ffffff;
}

@keyframes move1 {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-1deg);
    }
    66% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes move2 {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 0.2rem;
    }
    100% {
        margin-bottom: 0;
    }
}

@keyframes move3 {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -0.2rem;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes move4 {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -0.2rem;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes move5 {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -0.2rem;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes move6 {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 0.2rem;
    }
    100% {
        margin-bottom: 0;
    }
}

@keyframes move7 {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: -0.2rem;
    }
    100% {
        margin-bottom: 0;
    }
}

@keyframes move8 {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -0.2rem;
    }
    100% {
        margin-left: 0;
    }
}