/* 更多按钮 */
.apply-common-tooltip[data-name='legend-more-action'] {
    display: none !important;
}

/* 指标弹层 */
.dialog-34XTwGTT {}

.buttons-3yvtQ_uI {
    margin: 0 auto;
}

.wrapper-1tN_aWXZ {
    display: none !important;
}

.price-axis-stub-3MoqVLRB {
    pointer-events: none !important;
}

/* 指标宽度 */
.titleWrapper-1Zs2rjQ6 {
    max-width: 96% !important;
}

/* 指标标题宽度 */
.study-lgC0tuTJ .title-bcHj6pEn.title1st-2at68hKe {
    min-width: 20px;
}

body{
    min-width: auto;
}