html {
    font-size: 100px;
}

body {
    font-family: arial, "Microsoft YaHei";
    background: #fff;
    padding: 0;
    margin: 0;
}

.wrapper {
    overflow-x: hidden;
}

a {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    text-decoration: none;
}

input,
button,
select {
    font-family: arial, "Microsoft YaHei";
}

p,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
pre,
input,
table,
tr,
td,
form {
    margin: 0;
    padding: 0
}

ol,
ul,
li {
    list-style: none
}

input {
    border: 0 none
}

img {
    border: 0 none
}

.float_clear {
    float: none;
    clear: both;
    display: block;
    width: 100%;
}

.header-inner h1 .logo {
    background-image: url(../images_v3/lp_logo.png);
    background-size: auto 100%;
}

.header a.app_down_btn,
.header a.online_btn {
    width: 1.3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #fff;
    border-radius: 0.05rem;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 0 0 0.2rem;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0.05rem 0px;
}

.header a.app_down_btn {
    display: none;
}

.header a.app_down_btn {
    background-color: #1d82d2;
    background-image: url(../images_v3/top_btn_icon2.png);
}

.header a.online_btn {
    background-color: #18ce83;
    margin-left: 0.1rem;
    background-image: url(../images_v3/top_btn_icon1.png);
}

.header a.app_down_btn span {
    width: 1.3rem;
    height: 0;
    left: 50%;
    margin-left: -0.65rem;
    position: absolute;
    top: 100%;
    background: url(../images_v3/top_qr.png) no-repeat;
    background-size: 100% auto;
    transition-duration: 0.5s;
}

.header a.app_down_btn:hover span {
    height: 1.3rem;
}

.news_header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
    z-index: 50;
    transition-duration: 0.5s;
}

.news_header.show_bg {
    background: rgba(0, 0, 0, 0.4);
}

.news_header div {
    display: block;
    max-width: 750px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding: 0.2rem 0.25rem 0 0.25rem;
}

.news_header div .logo {
    width: 1.05rem;
    display: block;
}

.news_header div .logo img {
    width: 100%;
    display: block;
}

.news_header div .cs_btn {
    display: block;
    right: 0.2rem;
    position: absolute;
    top: 0.2rem;
    font-size: 0.24rem;
    width: 1.9rem;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    line-height: 0.5rem;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.news_header div .cs_btn img {
    height: 0.3rem;
    vertical-align: middle;
    margin: -0.02rem 0.05rem 0 -0.05rem;
}

.main_content {
    display: block;
    max-width: 750px;
    margin: auto;
    background: #440e8f;
    min-height: 100vh;
    padding: 0 0 0 0;
    overflow: hidden;
    font-size: 0.22rem;
}

.main_banner {
    display: block;
    max-width: 1920px;
    margin: auto;
    height: 11.8rem;
    background: url(../images_v3/banner_bg.jpg) no-repeat top center #752cdb;
    background-size: 100% auto;
    position: relative;
    box-sizing: border-box;
    padding: 1.4rem 0 0 0;
    text-align: center;
}

.main_banner h2 {
    display: block;
    text-align: center;
    font-size: 0.56rem;
    color: #ffda57;
    line-height: 1.3;
}

.main_banner h4 {
    display: inline-block;
    color: #fff;
    font-size: 0.4rem;
    font-weight: normal;
    background: rgba(95, 40, 190, 0.9);
    padding: 0 0.3rem;
    border-radius: 50px;
    line-height: 1.5;
    margin-top: 0.15rem;
}

.vs_box_group {
    display: block;
    position: absolute;
    background: #fff;
    width: 6.9rem;
    left: 0.3rem;
    bottom: 0;
    border-radius: 0.3rem;
    padding: 0.3rem;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.45);
}

.vs_box_group .vs_bar {
    display: block;
    height: 0.75rem;
    background: #ffe984;
    border-radius: 70px;
    padding: 0.1rem;
    box-sizing: border-box;
    position: relative;
}

.vs_box_group .vs_bar>div {
    display: block;
    border-radius: 55px;
    overflow: hidden;
    height: 0.55rem;
    background: #6c49e7;
    background: -moz-linear-gradient(left, #6c49e7 0%, #a489ff 100%);
    background: -webkit-linear-gradient(left, #6c49e7 0%, #a489ff 100%);
    background: linear-gradient(to right, #6c49e7 0%, #a489ff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6c49e7', endColorstr='#a489ff', GradientType=1);
}

.vs_box_group .vs_bar>div span {
    display: block;
    height: 0.55rem;
    width: 50%;
    background: #ff5b5b;
    background: -moz-linear-gradient(left, #ff5b5b 0%, #e82829 100%);
    background: -webkit-linear-gradient(left, #ff5b5b 0%, #e82829 100%);
    background: linear-gradient(to right, #ff5b5b 0%, #e82829 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5b5b', endColorstr='#e82829', GradientType=1);
}

.vs_box_group .vs_bar p {
    display: block;
    line-height: 0.55rem;
    position: absolute;
    font-size: 0.36rem;
    color: #ffe984;
    top: 0.1rem;
    padding: 0 0.2rem;
}

.vs_box_group .vs_bar p.right_text {
    right: 0.1rem;
}

.vs_btn {
    display: block;
    padding: 0.2rem 0.1rem;
}

.vs_btn:after {
    content: "";
    clear: both;
    display: block;
}

.vs_btn p {
    display: block;
    width: 2.85rem;
    height: 1.15rem;
    background-image: url(../images_v3/vs_btn1.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    color: #fff;
    box-sizing: border-box;
    padding: 0.15rem 0 0 0;
    font-size: 0.24rem;
    cursor: pointer;
}

.vs_btn p+p {
    background-image: url(../images_v3/vs_btn2.png);
    margin-left: 0.4rem;
}

.vs_btn p span {
    display: block;
    color: #ffe984;
    font-size: 0.28rem;
}

.vs_btn p span img {
    height: 0.4rem;
    vertical-align: middle;
    margin: 0 0.04rem 0 0;
}

.vs_bottom {
    display: block;
    margin: 0 -0.3rem -0.3rem -0.3rem;
    background: #cdcdcd;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.24rem;
    color: #666666;
}

.icon {
    display: inline-block;
    width: 0.4rem;
    vertical-align: middle;
    border-radius: 100%;
}

.icon img {
    display: block;
    width: 100%;
}

.vs_bottom .icon {
    margin: -0.02rem 0 0 -0.15rem;
    border: 2px solid #cdcdcd;
}

.content1 {
    display: block;
    background: url(../images_v3/content1_bg.jpg) no-repeat #752cdb;
    background-position: 0 0.7rem;
    background-size: 100% auto;
    min-height: 6rem;
    padding: 1.3rem 0 0.1rem 0;
    box-sizing: border-box;
    margin-top: -0.6rem;
}

.big_title {
    display: block;
    font-size: 0.42rem;
    text-align: center;
    color: #fff;
}

.big_title span {
    color: #ffd966;
}

.content1_list {
    display: block;
    height: 3.5rem;
    width: 86%;
    margin: 0.4rem auto 1.2rem auto;
    position: relative;
}

.content1_list li {
    display: block;
    position: absolute;
    width: 2.95rem;
    height: 1.35rem;
    background-image: url(../images_v3/content1_list_bg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    font-size: 0.24rem;
    padding: 0.2rem 0.15rem 0 0.25rem;
    opacity: 0;
}

.content1_list li:nth-child(even) {
    background-image: url(../images_v3/content1_list_bg2.png);
    padding: 0.2rem 0.25rem 0 0.15rem;
    right: 0;
}

.content1_list li .icon {
    float: left;
    display: block;
}

.content1_list li p {
    margin: 0 0 0 0.5rem;
    text-align: justify;
    overflow: hidden;
    height: 1rem;
}

.content1_list li.list1,
.content1_list li.list5 {
    top: 0;
}

.content1_list li.list2,
.content1_list li.list6 {
    top: 10%;
}

.content1_list li.list3,
.content1_list li.list7 {
    bottom: 10%;
}

.content1_list li.list4,
.content1_list li.list8 {
    bottom: 0%;
}

.content1_list li.show {
    animation: content1_list_show 0.7s;
    animation-fill-mode: forwards;
}

@keyframes content1_list_show {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.content1_list li.hide {
    animation: content1_list_hide 0.7s;
    animation-fill-mode: forwards;
}

@keyframes content1_list_hide {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, -100%);
    }
}

.big_title2 {
    display: block;
    font-size: 0.3rem;
    width: 3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    margin: 0.1rem auto;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
}

.content1_list2 {
    display: block;
    position: relative;
    margin: 0.2rem 0 0 0;
}

.content1_list2 img {
    display: block;
    max-width: 100%;
    position: relative;
}

.content1_list2 span {
    position: absolute;
    top: 0;
    width: 100%;
}

.content1_list2 p {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    height: 70%;
    overflow: hidden;
}

.content1_list2 p img {
    animation-name: content1_list2;
}

@keyframes content1_list2 {
    0% {
        transform: translate(0, 70%)
    }
    100% {
        transform: translate(0, 0)
    }
}

.content3 {
    display: block;
    max-width: 750px;
    box-sizing: border-box;
    padding: 0.6rem 0.3rem 2.1rem 0.3rem;
    color: #fff;
    font-size: 0.24rem;
    background: url(../images_v3/content2_bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.content3 .big_title {
    margin: 0 auto 0.2rem auto;
    width: 60%;
}

.content3 h1 {
    display: block;
    font-size: 0.38rem;
    font-weight: normal;
    color: #004fa6;
    margin: 0;
    padding: 0.15rem 0;
    text-align: center;
    font-weight: bold;
}

.content3 .more_btn2 {
    color: #f1c978;
}

.content3 .more_btn {
    display: block;
    float: right;
    color: #fff;
    font-size: 0.24rem;
    text-decoration: none;
    margin-top: 0.25rem;
}

.content3 .more_btn i {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(45deg);
    margin: -0.02rem 0 0.02rem 0.04rem;
    width: 0.1rem;
    height: 0.1rem;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.content3 .blue_icon {
    display: block;
    padding: 0.3rem 0 0.2rem 0;
    margin: auto;
}

.content3 .blue_icon:after {
    content: "";
    clear: both;
    display: block;
}

.content3 .blue_icon li {
    width: 31.33%;
    display: block;
    float: left;
    height: 1.27rem;
    text-align: center;
    box-sizing: border-box;
    padding: 0.15rem 0;
    color: #6a2ebf;
    border-radius: 0.05rem;
    font-size: 0.24rem;
    position: relative;
    background: #fff9da;
    background: -moz-linear-gradient(top, #fff9da 0%, #ffd37d 100%);
    background: -webkit-linear-gradient(top, #fff9da 0%, #ffd37d 100%);
    background: linear-gradient(to bottom, #fff9da 0%, #ffd37d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff9da', endColorstr='#ffd37d', GradientType=0);
}

.content3 .blue_icon li b {
    display: block;
    font-weight: normal;
}

.content3 .blue_icon li+li {
    margin-left: 3%;
}

.content3 .blue_icon li img {
    display: block;
    margin: 0 auto 0.05rem auto;
    width: 0.6rem;
}

.content3 .blue_icon li a {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.price_list {
    display: block;
    padding: 0;
    margin: 0;
}

.price_list:after {
    display: block;
    content: "";
    clear: both;
}

.price_list li {
    display: block;
    width: 3.35rem;
    height: 1.6rem;
    background: url(../images_v3/content3_bg4.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    box-sizing: border-box;
    padding: 0.2rem 0 0 0;
}

.price_list li.list2 {
    margin-left: 0.2rem;
}

.price_list li span {
    display: block;
    margin: auto;
    width: 2.35rem;
    height: 0.5rem;
    font-size: 0.24rem;
    color: #f1c978;
    line-height: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    padding-left: 0.3rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    background-image: url(../images_v3/g_icon1.png);
    background-position: 5% 50%;
    background-size: 0.4rem;
    background-repeat: no-repeat;
}

.price_list li.list2 span {
    background-image: url(../images_v3/g_icon2.png);
}

.price_list li span img {
    display: inline-block;
    width: 0.4rem;
    vertical-align: middle;
    margin: -0.04rem 0.02rem 0.04rem -0.05rem;
}

.price_list li p {
    display: block;
    font-size: 0.24rem;
    color: #b484a1;
    text-align: center;
    margin: 0 auto;
    padding: 0.08rem 0 0 0;
}

.price_list li p b {
    font-size: 0.48rem;
    color: #f1c978;
}

.bottom_btn {
    display: block;
    height: 1.4rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 7.5rem;
    margin-left: -3.75rem;
    z-index: 100;
    background: rgba(65, 10, 135, 0.9);
    box-sizing: border-box;
    padding: 0.15rem 0 0 0;
    text-align: center;
    font-size: 0px;
}

.bottom_btn a {
    display: inline-block;
    width: 3.3rem;
    height: 1.06rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0.48rem 0 0 0;
    font-size: 0.36rem;
    font-weight: bold;
}

.bottom_btn a.btn1 {
    background-image: url(../images_v3/bottom_btn1.png);
    color: #c31414;
}

.bottom_btn a.btn2 {
    background-image: url(../images_v3/bottom_btn2.png);
    margin-left: 0.25rem;
    color: #440e8f;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 120;
    text-align: center;
}

.popup:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.popup .popup_content {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    background: #f9f8f8;
    border-radius: 0.2rem;
    padding: 0 0 0.4rem 0;
    font-size: 0.24rem;
    color: #333333;
    position: relative;
    max-width: 640px;
}

.popup .popup_content a.popup_btn {
    display: block;
    width: 2.4rem;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #fff;
    margin: 0.3rem auto 0 auto;
    background: #752cdb;
    border-radius: 60px;
}

.popup .popup_content img {
    width: 4.3rem;
    margin: auto;
    display: block;
}

.popup .popup_content h1 {
    display: block;
    height: 0.95rem;
    line-height: 0.95rem;
    font-size: 0.36rem;
    color: #fff;
    background: url(../images_v3/popup_title.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 0.25rem;
    border-radius: 0.2rem 0.2rem 0 0;
}

.popup .popup_content .popup_close {
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images_v3/popup_close.png) no-repeat;
    background-size: 100% 100%;
    margin: -0.2rem;
    top: 0;
    right: 0;
    cursor: pointer;
}

.phone_video {
    display: block;
    margin: 0.5rem auto;
    width: 4.48rem;
    height: 9.6rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    background: #000;
    outline: none;
}

video.phone_video::-webkit-media-controls-fullscreen-button {
    display: none;
}

.content2 {
    display: block;
    background: url("../images_v3/content2_bg.jpg") top no-repeat #752cdb;
    background-size: 100% auto;
    padding: 0.5rem 0 0 0;
}

.content4 {
    display: block;
    background: url("../images_v3/content4_bg.jpg") bottom no-repeat #752cdb;
    background-size: 100% auto;
    padding: 0.05rem 0 0.5rem 0;
    height: auto;
}

.content5 {
    display: block;
    background: url("../images_v3/content5_bg.jpg") top no-repeat #752cdb;
    background-size: cover;
    padding: 0.5rem 0.3rem;
}

.mobile_sreen {
    display: block;
    height: 8.4rem;
    position: relative;
    padding: 0.4rem 0 0.2rem 0;
}

.mobile_group {
    display: block;
    width: 4.02rem;
    height: 8.34rem;
    margin: 0 auto;
    /*	background: url("../images_v3/mobilebg.png") no-repeat;*/
    background-size: 100% 100%;
    position: relative;
    z-index: 10;
}

.mobile_group img {
    display: block;
    width: 100%;
}

.video_btn {
    display: block;
    text-align: center;
    padding: 0 0 0 0;
    cursor: pointer;
    width: 2rem;
    margin: auto;
}

.video_btn span {
    display: inline-block;
    font-size: 0.24rem;
    color: #f1c978;
    border-bottom: 1px solid #f1c978;
}

.video_btn img {
    height: 0.2rem;
    vertical-align: middle;
    margin-left: 0.1rem;
}

.mobile_ball {
    display: block;
    position: absolute;
    height: 8.4rem;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.mobile_ball li {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 100%;
    display: block;
    text-align: center;
    animation: ball1 6s linear;
    animation-iteration-count: infinite;
}

@keyframes ball1 {
    0%,
    100% {
        transform: translate(5%, 5%);
    }
    12.5% {
        transform: translate(8%, 0);
    }
    25% {
        transform: translate(5%, -5%);
    }
    37.5% {
        transform: translate(0, -8%);
    }
    50% {
        transform: translate(-5%, -5%);
    }
    62.5% {
        transform: translate(-8%, 0);
    }
    75% {
        transform: translate(-5%, 5%);
    }
    87.5% {
        transform: translate(0, 8%);
    }
}

.mobile_ball li p {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0px;
    animation: ball2 6s;
    animation-iteration-count: infinite;
}

@keyframes ball2 {
    0%,
    100% {
        transform: translate(0, 2%);
    }
    50% {
        transform: translate(0, -2%);
    }
}

.mobile_ball li p:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.mobile_ball li p span {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.28rem;
    font-weight: bold;
}

.mobile_ball li.ball1 {
    background-image: url("../images_v3/content3_ball_bg1.png");
    width: 2.3rem;
    height: 2.3rem;
    margin: -1.15rem;
    top: 34%;
    left: 12%;
    z-index: 5;
}

.mobile_ball li.ball1_w {
    width: 2.3rem;
    height: 2.3rem;
    margin: -1.15rem;
    top: 32%;
    left: 14%;
    background: rgba(255, 255, 255, 0.15);
    animation-duration: 7s;
}

.mobile_ball li.ball2 {
    background-image: url("../images_v3/content3_ball_bg2.png");
    width: 1.85rem;
    height: 1.85rem;
    margin: -0.925rem;
    top: 27%;
    left: 86%;
    z-index: 5;
    animation-delay: -1s;
}

.mobile_ball li.ball2_w {
    width: 1.85rem;
    height: 1.85rem;
    margin: -0.925rem;
    top: 25%;
    left: 88%;
    background: rgba(255, 255, 255, 0.15);
    animation-duration: 7.5s;
    animation-delay: -2s;
}

.mobile_ball li.ball3 {
    background-image: url("../images_v3/content3_ball_bg3.png");
    width: 1.85rem;
    height: 1.85rem;
    margin: -0.925rem;
    top: 74%;
    left: 13%;
    z-index: 5;
    animation-delay: -2s;
}

.mobile_ball li.ball3_w {
    width: 1.85rem;
    height: 1.85rem;
    margin: -0.925rem;
    top: 76%;
    left: 12%;
    background: rgba(255, 255, 255, 0.15);
    animation-duration: 7.2s;
    animation-delay: -4s;
}

.mobile_ball li.ball4 {
    background-image: url("../images_v3/content3_ball_bg4.png");
    width: 2.3rem;
    height: 2.3rem;
    margin: -1.15rem;
    top: 61%;
    left: 88%;
    z-index: 5;
    animation-delay: -3s;
}

.mobile_ball li.ball4_w {
    width: 2.3rem;
    height: 2.3rem;
    margin: -1.15rem;
    top: 63%;
    left: 85%;
    background: rgba(255, 255, 255, 0.15);
    animation-duration: 6.8s;
    animation-delay: -1s;
}

.popup_video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    text-align: center;
    font-size: 0px;
}

.popup_video:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.popup_video_content {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
}

.popup_video video {
    display: inline-block;
    vertical-align: middle;
    height: 90vh;
    max-height: 1000px;
    max-width: 100%;
    outline: none;
}

.popup_video .video_close {
    display: block;
    max-width: 800px;
    margin: auto;
    position: relative;
    z-index: 100;
}

.popup_video .video_close p {
    position: absolute;
    right: -5%;
    top: -0.55rem;
    width: 0.5rem;
    height: 0.5rem;
    box-sizing: border-box;
    border: 0.03rem solid #fff;
    background: #333;
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;
}

.popup_video .video_close p:before,
.popup_video .video_close p:after {
    content: "";
    position: absolute;
    width: 4%;
    height: 80%;
    margin: -40% -2%;
    background: #fff;
    display: block;
    left: 50%;
    top: 50%;
    transform: rotate(-45deg);
}

.popup_video .video_close p:after {
    transform: rotate(45deg);
}

.tech_analysis_group {
    display: block;
    margin: 0.25rem auto;
    padding-bottom: 0;
    border-radius: 0.1rem;
}

.tech_analysis_menu {
    display: block;
    border-radius: 0.1rem 0.1rem 0 0;
    overflow: hidden;
}

.tech_analysis_menu:after {
    display: block;
    content: "";
    clear: both;
}

.tech_analysis_menu li {
    display: block;
    float: left;
    width: 33.33%;
    height: 0.8rem;
    box-sizing: border-box;
    background: #8d51e1;
    text-align: center;
    color: #d1b3fb;
    font-size: 0.22rem;
    line-height: 1.2;
    cursor: pointer;
}

.tech_analysis_menu li.selected {
    background: #5417ab;
    color: #fbd568;
}

.tech_analysis_menu li:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tech_analysis_menu li+li {
    border-left: 1px solid #752cdb;
}

.tech_analysis_menu li span {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    word-break: break-all;
}

.tech_analysis_data {
    display: block;
    background: #fff;
    margin: 0;
    border-radius: 0 0 0.1rem 0.1rem;
    position: relative;
    min-height: 3.85rem;
}

.tech_analysis_data li {
    display: block;
    padding: 0.2rem 0.25rem 0.25rem 0.25rem;
    box-sizing: border-box;
    opacity: 0;
    transition-duration: 0.5s;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.tech_analysis_data li.selected {
    position: relative;
    z-index: 5;
    opacity: 1
}

.tech_analysis_data li h1 {
    color: #666666;
    font-size: 0.36rem;
    display: block;
}

.tech_analysis_data li .more_btn {
    display: block;
    float: right;
    font-size: 0.26rem;
    color: #fff;
    width: 2rem;
    line-height: 0.5rem;
    text-align: center;
    background: #6142de;
    border-radius: 0.1rem;
    cursor: pointer;
}

.tech_analysis_time_menu {
    display: block;
    background: #efefef;
    padding: 0.1rem;
    margin: 0.15rem auto 0.1rem auto;
    position: relative;
    text-align: left;
    font-size: 0px;
}

.tech_analysis_time_menu>span {
    display: inline-block;
    height: 0.45rem;
    text-align: center;
    color: #999999;
    font-size: 0.26rem;
    text-align: center;
    width: 1.2rem;
    border-radius: 0.1rem;
    cursor: pointer;
    line-height: 0.45rem;
}

.tech_analysis_time_menu>span.selected {
    background: #6142de;
    color: #fff;
}

.tech_analysis_time_menu .other_menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0.6rem;
    height: 0.6rem;
    overflow: hidden;
    transition-duration: 0.5s;
}

.tech_analysis_time_menu .other_menu i {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 0 0 auto;
    background: url("../images_v3/data_menu_icon2.png") no-repeat center;
    background-size: 0.25rem 0.25rem;
    cursor: pointer;
}

.tech_analysis_time_menu .other_menu.show {
    height: 5rem;
    width: 1.8rem;
}

.tech_analysis_time_menu .other_menu.show i {
    transform: rotate(180deg);
}

.tech_analysis_time_menu .other_menu p {
    display: block;
    border: 1px solid #d5d5d5;
    background: #efefef;
}

.tech_analysis_time_menu .other_menu p span {
    display: block;
    border-bottom: 1px solid #d5d5d5;
    font-size: 0.24rem;
    color: #333333;
    line-height: 0.7rem;
    padding-left: 0.3rem;
    cursor: pointer;
}

.tech_analysis_table {
    width: 100%;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

.tech_analysis_table th,
.tech_analysis_table td {
    border-bottom: 1px solid #d5d5d5;
    color: #333333;
    font-size: 0.26rem;
    padding: 0.05rem;
    box-sizing: border-box;
    height: 0.7rem;
}

.tech_analysis_table.table2 tr td+td {
    padding: 0.05rem 0.025rem;
    width: 32.5%;
}

.tech_analysis_table.table2 tr td:last-child {
    padding-right: 0.05rem;
}

.tech_analysis_table th {
    padding: 0.15rem 0 0.15rem 0.15rem;
}

.tech_analysis_table tr th+th {
    padding: 0;
}

.tech_analysis_table th:first-child,
.tech_analysis_table td:first-child {
    width: 35%;
    padding-left: 0.15rem;
}

.tech_analysis_table td p {
    display: block;
    padding: 0.1rem 0;
}

.tech_analysis_table tr th .bg_green {
    display: flex;
    background: #65b933;
    text-align: center;
    color: #fff;
    height: 0.72rem;
    align-items: center;
}

.tech_analysis_table tr td p {
    display: flex;
    background: #fff;
    text-align: center;
    color: #333;
    min-height: 0.6rem;
    align-items: center;
    font-size: 0.26rem;
    line-height: 1.2;
    padding: 0.04rem 0;
    box-sizing: border-box;
}

.tech_analysis_table tr td .bg_green {
    background: #b3e3af;
    color: #085c00;
}

.tech_analysis_table tr th .bg_red {
    display: flex;
    background: #b80405;
    text-align: center;
    color: #fff;
    height: 0.72rem;
    align-items: center;
}

.tech_analysis_table tr td .bg_red {
    background: #f2c7c7;
    color: #852121;
}

.tech_analysis_table tr th .bg_normal {
    display: flex;
    background: #a6a6a6;
    text-align: center;
    color: #fff;
    height: 0.72rem;
    align-items: center;
}

.tech_analysis_table tr td .bg_normal {
    background: #999999;
    color: #fff;
}

.tech_analysis_table tr td p span,
.tech_analysis_table tr .bg_normal span,
.tech_analysis_table tr .bg_red span,
.tech_analysis_table tr .bg_green span {
    display: block;
    margin: auto;
}

.tech_analysis_table tr .text_normal {
    color: #999999;
}

.tech_analysis_table tr .text_green {
    color: #65b933;
}

.tech_analysis_table.table2 tr .text_green {
    color: #085c00;
}

.tech_analysis_table tr .text_red {
    color: #b80405;
}

.tech_analysis_table.table2 tr .text_red {
    color: #852121;
}

.tech_analysis_group .tech_analysis_table tr td+td {
    width: 21.66%;
}

.tech_analysis_table_top {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #cbcbcb;
    font-size: 0.22rem;
}

.tech_analysis_table_top td {
    width: 35%;
    padding: 0.1rem 0.15rem;
    text-align: left;
}

.tech_analysis_table_top td+td {
    width: 32.5%;
    text-align: center;
}

.tech_analysis_table_top td+td+td {
    padding-right: 0.2rem;
}

.tech_analysis_table_group {
    display: block;
    padding: 0;
}

.tech_analysis_table_group:after {
    display: block;
    content: "";
    clear: both;
}

.tech_analysis_table_group>li {
    float: left;
    width: 48.5%;
    display: block;
}

.tech_analysis_table_group>li+li {
    margin-left: 2.2%;
}

.tech_analysis_btn {
    display: block;
    text-align: center;
    padding: 0.2rem 0 0 0;
}

.tech_analysis_btn a {
    display: block;
    margin: auto;
    font-size: 0.3rem;
    width: 3.5rem;
    height: 0.7rem;
    line-height: 0.7rem;
    color: #fff;
    font-weight: bold;
    border-radius: 0.1rem;
    background: #1d87cc;
    background: -moz-linear-gradient(left, #1d87cc 0%, #19b59d 100%);
    background: -webkit-linear-gradient(left, #1d87cc 0%, #19b59d 100%);
    background: linear-gradient(to right, #1d87cc 0%, #19b59d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1d87cc', endColorstr='#19b59d', GradientType=1);
}

.content5_btn {
    display: block;
    font-size: 0.3rem;
    color: #752cdb;
    width: 3.5rem;
    height: 0.7rem;
    line-height: 0.7rem;
    margin: 0.4rem auto 0 auto;
    background: #fff9d9;
    background: -moz-linear-gradient(top, #fff9d9 0%, #ffd37d 100%);
    background: -webkit-linear-gradient(top, #fff9d9 0%, #ffd37d 100%);
    background: linear-gradient(to bottom, #fff9d9 0%, #ffd37d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff9d9', endColorstr='#ffd37d', GradientType=0);
    border-radius: 0.7rem;
    text-align: center;
}

.tech_analysis_popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
    text-align: center;
    font-size: 0px;
}

.tech_analysis_popup:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tech_analysis_popup_content {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-width: 950px;
    box-sizing: border-box;
    background: #fff;
    font-size: 0.24rem;
    padding: 0.15rem;
    position: relative;
    border-radius: 0.05rem;
    text-align: justify;
}

.tech_analysis_popup_content h1 {
    display: block;
    font-size: 0.36rem;
    color: #666666;
    text-align: center;
    line-height: 0.7rem;
    border-bottom: 1px solid #d5d5d5;
    margin: -0.15rem -0.15rem 0.15rem -0.15rem;
}

.tech_analysis_popup_content h4 {
    font-size: 0.24rem;
    color: #666666;
    display: block;
    padding: 0.05rem 0;
}

.tech_analysis_popup_content .tech_analysis_time_menu .other_menu {
    display: none;
}

.tech_analysis_popup_content .tech_analysis_time_menu>span {
    width: 11.11%;
}

.tech_analysis_popup_content .tech_analysis_time_menu {
    padding: 0.1rem;
    margin: 0 auto 0.1rem auto;
}

.tech_analysis_popup_close {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 0.5rem;
    height: 0.5rem;
    margin: -0.25rem;
    box-sizing: border-box;
    border-radius: 100%;
    cursor: pointer;
}

.tech_analysis_popup_close:after,
.tech_analysis_popup_close:before {
    content: "";
    position: absolute;
    height: 68%;
    width: 0.01rem;
    background: #666;
    margin: -34% -0.005rem;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    transform: rotate(45deg);
}

.tech_analysis_popup_close:before {
    transform: rotate(-45deg);
}

.tech_analysis_popup_close {
    position: absolute;
    right: 0.05rem;
    top: 0.05rem;
    width: 0.5rem;
    height: 0.5rem;
    margin: -0.25rem;
    background: #3c3c3c;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 100%;
    cursor: pointer;
}

.tech_analysis_popup_close:after,
.tech_analysis_popup_close:before {
    height: 68%;
    background: #fff;
}

.suggest_popup_btn {
    padding: 0.25rem 0;
}

.tech_analysis_popup_content h4 {
    font-size: 0.28rem;
}

.pivot_point_table {
    display: none;
}

.tech_analysis_over {
    display: block;
    overflow: auto;
    height: 700px;
    margin: 0.2rem auto 0 auto;
}

.tech_analysis_over::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 10px;
}

.tech_analysis_over::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.tech_analysis_over::-webkit-scrollbar-thumb {
    background-color: #1d87cc;
    border-radius: 10px;
}

.tech_analysis_over .tech_analysis_table.table2 {
    margin-bottom: 0.35rem;
}

.tech_analysis_over .date_text {
    float: right;
    font-size: 18px;
    color: #666666;
    padding: 0.12rem 0.1rem 0 0;
    margin: 0 0 0 -2rem;
}

.tech_analysis_over .tech_analysis_table.table2 td {
    height: 0.8rem;
}

.tech_analysis_over .tech_analysis_table.table3 td {
    height: 0.4rem;
}

.tech_analysis_over .tech_analysis_table.table3 tr:last-child td {
    height: 0.8rem;
}

.tech_analysis_over .tech_analysis_table.table2 tr td p,
.tech_analysis_over .tech_analysis_table.table3 tr td p {
    min-height: auto;
    font-size: 18px;
    padding: 0;
    height: 100%;
}

.tech_analysis_over .date_text {
    font-size: 0.22rem;
    padding: 0.1rem 0.1rem 0 0;
}

.tech_analysis_over .tech_analysis_table.table2 tr td p,
.tech_analysis_over .tech_analysis_table.table3 tr td p {
    font-size: 0.22rem;
}

.tech_analysis_over .tech_analysis_table.table2 tr td:first-child p,
.tech_analysis_over .tech_analysis_table.table3 tr td:first-child p {
    font-size: 0.26rem;
}

.tech_analysis_over .tech_analysis_table.table3 td {
    height: 0.8rem;
}

.tech_analysis_table th,
.tech_analysis_table td {
    font-size: 0.26rem;
}

.tech_analysis_table tr td p {
    font-size: 0.22rem;
}

@media(max-width:750px) {
    html {
        font-size: 50px;
    }
    .tech_analysis_table_top {
        font-size: 0.22rem;
    }
    .tech_analysis_over .date_text {
        font-size: 0.22rem;
        padding: 0.1rem 0.1rem 0 0;
    }
    .tech_analysis_over .tech_analysis_table.table2 tr td p,
    .tech_analysis_over .tech_analysis_table.table3 tr td p {
        font-size: 0.22rem;
    }
    .tech_analysis_over .tech_analysis_table.table2 tr td:first-child p,
    .tech_analysis_over .tech_analysis_table.table3 tr td:first-child p {
        font-size: 0.26rem;
    }
    .tech_analysis_over .tech_analysis_table.table3 td {
        height: 0.8rem;
    }
    .tech_analysis_table tr th .bg_green,
    .tech_analysis_table tr th .bg_red,
    .tech_analysis_table tr th .bg_normal {
        height: 100%;
    }
    .tech_analysis_table_group {
        padding: 0.2rem 0 0 0;
    }
    .tech_analysis_table_group>li {
        float: none;
        width: 100%;
    }
    .tech_analysis_table_group>li+li {
        margin: 0.4rem 0 0 0;
    }
    .tech_analysis_over {
        height: 50vh;
    }
    .tech_analysis_menu li {
        font-size: 0.22rem;
    }
    .tech_analysis_data li h1 {
        font-size: 0.36rem;
    }
    .tech_analysis_time_menu>span {
        font-size: 0.26rem;
        width: 1.2rem;
        border-radius: 0.1rem;
    }
    .tech_analysis_time_menu {
        margin: 0.1rem auto;
    }
    .tech_analysis_popup_content .tech_analysis_time_menu .other_menu {
        display: block;
    }
    .tech_analysis_popup_content .tech_analysis_time_menu>span.mobile_hide {
        display: none;
    }
    .tech_analysis_popup_content .tech_analysis_time_menu>span {
        width: 1.1rem;
    }
}