$primary: #477fd3;
$success: #03b600;
$warn: #ffa700;
$text: #333;
$muted: #999;
$red: #e3525c;
$green: #59b668;


// funds
$color-primary: #4c6072;
$color-green: #11b873;
$color-red: #ff4653;
$color-yellow: #ffc741;
$color-orange: #e95a2a;
$color-blue: #52acff;
$login-bg-color:#0c0c0c;
$click-hight-color: rgba(238, 238, 237, 0.3); //点击高亮颜色


//
$layer-right-width:400px;
$layer-right-right:60px;
$layer-right-bottom:60px;
$layer-right-top:60px;