html {
	font-size:100px;
}
body { 
	 font-family: arial, PingFangSC-Regular, PingFangTC-Regular,  "Microsoft YaHei"; 
	 background: #f5f5f5;
	 padding:0;
	 margin:0; 
	}
.wrapper {
	overflow-x: hidden;
}
a {
    transition-duration: 0.5s; 
    -webkit-transition-duration: 0.5s;
	text-decoration:none;
}
input, button , select {
	 font-family: arial, PingFangSC-Regular, PingFangTC-Regular,  "Microsoft YaHei"; 
}
p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, pre, input, table, tr, td, form {    margin: 0;    padding: 0}
ol, ul, li { list-style: none}
input { border: 0 none}
img {border: 0 none}



.float_clear {
	float: none;
	clear:both;
	display:block;
	width:100%;
}

.load_content {
	display: block;
	margin: auto;
	max-width: 750px;
	width: 100%;
	background: #fff;
	min-height:100vh;
	box-sizing:border-box;
}
.main_content {
	display: block;
	max-width: 750px;
	width: 100%;
	margin: auto;
	background:#fff;
	overflow:hidden;
    font-size: 0.22rem;
	animation: main_content 0.5s;
	animation-fill-mode: forwards;
	min-height: 100vh;
	padding:0 0 2.2rem 0;
	box-sizing: border-box;
}
@keyframes main_content {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.main_content img {
	display: block;
	max-width: 100%;
}

.bottom_menu {
	display: block;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 50;
}
.bottom_menu img {
	display: block;
	max-width: 100%;
}
.bottom_menu .top_img {
	display: block;
	width: 7.5rem;
	margin: auto;
}
.bottom_menu>ul {
	height: 0.95rem;
	display: block;
	width: 7.5rem;
	margin: auto;
	background: #fff;
	position: relative;
	z-index: 10;
}
.bottom_menu>ul li {
	display: block;
	width: 20%;
	float: left;
	height: 0.95rem;
	font-size: 0.2rem;
}
.bottom_menu>ul li a {
	display: block;
	margin: 0 auto;
	width: 0.95rem;
	height: 0.95rem;
	text-align: center;
	box-sizing: border-box;
	border: 0.08rem solid #fff;
	color: #cacaca;
	border-radius: 100%;
	line-height: 1.5;
	transition-duration: 0.4s;
	background: #fff;
}
.bottom_menu>ul li a>span {
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 100%;
	box-sizing: border-box;
	background: #fff;
}
.bottom_menu>ul li a i {
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	margin: auto;
	background-size: 100% auto;
	background-position: top;
	background-repeat: no-repeat;
}
.bottom_menu>ul li.list1 a i {
	background-image: url("../images/bottom_icon1.png");
}
.bottom_menu>ul li.list2 a i {
	background-image: url("../images/bottom_icon2.png");
}
.bottom_menu>ul li.list3 a i {
	background-image: url("../images/bottom_icon3.png");
}
.bottom_menu>ul li.list4 a i {
	background-image: url("../images/bottom_icon4.png");
}
.bottom_menu>ul li.list5 a i {
	background-image: url("../images/bottom_icon5.png");
}
.bottom_menu>ul li.selected a {
	width: 1.25rem;
	height: 1.25rem;
	margin: -0.3rem auto;
	color: #fff;
	box-shadow: 0 -0.02rem 0.01rem rgba(0,0,0,0.2);
}
.bottom_menu>ul li.selected a span {
	padding: 0.12rem 0 0 0;
	background: rgb(0,85,218);
background: -moz-linear-gradient(-45deg,  rgba(0,85,218,1) 0%, rgba(0,49,120,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(0,85,218,1) 0%,rgba(0,49,120,1) 100%);
background: linear-gradient(135deg,  rgba(0,85,218,1) 0%,rgba(0,49,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055da', endColorstr='#003178',GradientType=1 );

}
.bottom_menu>ul li.selected a i {
	background-position: bottom;
}




.home_banner {
	display: block;
	height: 4.6rem;
	position: relative;
}
.home_banner:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 30;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 0.55rem;
	display: block;
	background: url("../images/main_banner_bottom.png") no-repeat;
	background-size: 100% 100%;
}

.home_banner .swiper-container-horizontal>.swiper-pagination-bullets, 
.home_banner .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0.65rem;
}
.swiper-pagination-bullet {
    width: 0.1rem;
    height: 0.1rem;
    display: inline-block;
    border-radius: 20px;
    background: #fff;
    opacity: 0.45;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.05rem;
}
.swiper-pagination-bullet-active {
    opacity: 1;
	background: #fff;
	width: 0.4rem;
}


.home_top_btn {
	display: block;
	padding: 0.1rem 0 0.4rem 0;
	text-align: center;
	font-size: 0px;
}
.home_top_btn a {
	display: inline-block;
	vertical-align: top;
	width: 3.35rem;
	height: 1.3rem;
	border-radius: 0.15rem;
	font-size: 0.22rem;
	box-sizing: border-box;
	border: 0.04rem solid #fff;
	box-shadow: 0 0 0.01rem rgba(0,0,0,0.25) , 0 0.08rem 0.04rem rgba(0,0,0,0.15);
	padding: 0.2rem 0 0 1.32rem;
	position: relative;
	text-align: left;
	line-height: 1.5;
	letter-spacing: 0.03rem;
}
.home_top_btn a:before {
	content: "";
	width: 0.9rem;
	height: 0.9rem;
	display: block;
	position: absolute;
	margin: -0.45rem;
	z-index: 1;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	top: 50%;
	left: 21%;
}
.home_top_btn a b {
	display: block;
	font-size: 0.34rem;
	color: #fff;
	line-height: 1.3;
	text-shadow: 0 0.04rem 0.07rem rgba(0,0,0,0.3);
}
.home_top_btn a span {
	display: block;
	font-size: 0.22rem;
	font-weight: bold;
	text-shadow: 0 0.02rem 0.04rem rgba(0,0,0,0.3);
}

.home_top_btn a.btn1 {
	background: rgb(0,87,223);
	background: -moz-linear-gradient(top,  rgba(0,87,223,1) 0%, rgba(0,46,113,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,87,223,1) 0%,rgba(0,46,113,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,87,223,1) 0%,rgba(0,46,113,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0057df', endColorstr='#002e71',GradientType=0 );
	color: #7aa5e7;
}
.home_top_btn a.btn1:before {
	background-image: url("../images/home_top_btn_icon1.png");
}
.home_top_btn a.btn2 {
	margin-left: 0.25rem;
	background: rgb(30,203,242);
background: -moz-linear-gradient(top,  rgba(30,203,242,1) 0%, rgba(1,86,105,1) 100%);
background: -webkit-linear-gradient(top,  rgba(30,203,242,1) 0%,rgba(1,86,105,1) 100%);
background: linear-gradient(to bottom,  rgba(30,203,242,1) 0%,rgba(1,86,105,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ecbf2', endColorstr='#015669',GradientType=0 );
	color: #8ae9ff;
}
.home_top_btn a.btn2:before {
	background-image: url("../images/home_top_btn_icon2.png");
}



.suggest_analysis {
	display: block;
}
.suggest_analysis:after {
	display: block;
	clear: both;
	content: "";
}
.suggest_analysis>li {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5rem 0.2rem 0.3rem 0.2rem;
	position: relative;
}
.suggest_analysis>li+li {
	padding-bottom: 1rem;
}
.suggest_analysis>li:before {
	content: "";
	display: block;
	position: absolute;
	height: 0.15rem;
	left: 0;
	width: 100%;
	top: 0;
	box-sizing: border-box;
	background: #efefef;
	border-bottom: 1px solid #cacaca;
	border-top: 1px solid #cacaca;
}

.text_title {
	display: block;
	color: #333;
	font-weight: bold;
	letter-spacing: 0.02rem;
	text-align: center;
	font-size: 0.34rem;
	background: url("../images/home_title_bg.png") no-repeat center;
	background-size: auto 0.3rem;
}

.suggest_data_group {
	display:block;
	width:100%;
	margin:0.25rem auto 0.1rem auto;
	position:relative;
}
.suggest_data_list {
	width:100%;
	margin:auto;
	display:block;
	min-height:1rem;
	background:#fff;
	box-sizing:border-box;
	border-radius: 0 0 0.15rem 0.15rem;
	padding:0;
	overflow: hidden;
	border: 0.04rem solid #fff;
	border-top: none;
	box-shadow: 0 0.05rem 0.03rem rgba(0,0,0,0.2);

}
.suggest_data_list .w_bg {
	display: block;
	padding: 0.05rem 0.1rem 0.1rem 0.1rem;
	background: #fff;
	border-radius: 0 0 0.03rem 0.03rem;
	box-sizing:border-box;
	min-height:3.85rem;
	
	background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );

}
.suggest_data_list table {
    border-collapse:collapse; 
    border-spacing:0;
	font-size:0.26rem; 
	text-align:left;
	width:100%;
}
.suggest_data_list table tr th {
	text-align:left;
	font-size:0.26rem;
	color:#cbcbcb;
	padding:0.1rem 0.05rem;
	font-weight: normal;
}
.suggest_data_list table tr td {
	padding:0.08rem 0.08rem;
	color:#333333;
	font-size:0.26rem; 
}
.suggest_data_list table tr td:first-child {
	width:0.55rem;
}

.suggest_data_list table tr td+td {
    min-width: 0.85rem;
}
.suggest_data_list table .icon {
	display:block;
	width:0.55rem;
}
.suggest_data_list table tr td:last-child {
	width:0.9rem;
}
.suggest_data_list table .r_btn {
	display:block;
	width:100%;
}
.suggest_data_list table .r_btn img {
	display:block;
	width:100%;
}

		 

.suggest_popup_group {
	display:none;
	background:rgba(0,0,0,0.7);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:80;
	text-align:center;
}
.suggest_popup_group:after {
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.suggest_popup_group .suggest_popup_content {
	max-width:540px;
	width:90%;
	vertical-align:middle;
	display:inline-block;
	background:#fff;
	text-align:lef;
	border-radius:0.1rem;
}
.suggest_popup_group .suggest_popup_content ul {
	display:block;
	border-bottom:2px solid #e6e6e6;
	padding:0.1rem 0.25rem;
}
.suggest_popup_group .suggest_popup_content ul li {
	display:block;
	height:0.7rem;
	border-bottom:0px solid #e6e6e6;
	position:relative;
}
.suggest_popup_group .suggest_popup_content ul li .suggest_data_all {
	display: block;
	font-size:0.32rem;
	line-height:0.95rem;
	text-align:left;
	padding:0 0 0 0.2rem;
	box-sizing:border-box;
	cursor: pointer;
	position: relative;
}
.suggest_popup_group .suggest_popup_content ul li .suggest_data_all i {
	width:0.6rem;
	height:0.6rem;
	margin:-0.3rem;
	display:block;
	position:absolute;
	top:50%;
    right: 6.9%;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-image:url(../images/checkbox1.png);
}
.suggest_popup_group .suggest_popup_content ul li .suggest_data_all.all i {
	background-image:url(../images/checkbox2.png);
}
.suggest_popup_group .suggest_popup_content ul li label {
	display:block;
	font-size:0.24rem;
	line-height:0.7rem;
	text-align:left;
	padding:0 0 0 0.2rem;
	box-sizing:border-box;
	cursor:pointer;
}
.suggest_popup_group .suggest_popup_content ul li input {
	position:absolute;
	right:5%;
	top:50%;
	width:0.15rem;
	height:0.15rem;
	margin-top:-0.075rem;
	border:1px solid #767676;
    transform: scale(2);
}

.suggest_popup_btn {
	display:block;
	text-align:center;
	padding:0.15rem 0;
}
.suggest_popup_btn a {
	display:inline-block;
	font-size:0.28rem;
	width:2.2rem;
	height:0.6rem;
	line-height:0.6rem;
	color:#fff;
	border-radius:0.1rem;
}
.suggest_popup_btn a.btn1 {
	background:#194a95;
}
.suggest_popup_btn a.btn2 {
	background:#194a95;
	margin-left:0.2rem;
}
.suggest_popup_btn a.btn3 {
	background:#0094b5;
}
.suggest_popup_header {
	display:block;
	color:#666666;
	height:0.8rem;
	box-sizing: border-box;
	border-bottom: 2px solid #e6e6e6;
	position:relative;
}
.suggest_popup_header p {
	display:block;
	position:absolute;
	top:50%;
	right:0.3rem;
	width:0.5rem;
	height:0.5rem;
	margin:-0.25rem;
	cursor:pointer;
}
.suggest_popup_header p:before,
.suggest_popup_header p:after {
	content:"";
	height:68%;
	width:1px;
	background:#666;
	left:50%;
	top:50%;
	margin:-34% -0.5px;
	position:absolute;
	display:block;
	transform: rotate(45deg);
}
.suggest_popup_header p:after {
	transform: rotate(-45deg);
}


.suggest_popup_header h2 {
	font-size:0.3rem;
	line-height:0.78rem;
}
.suggest_data_menu {
	display:block;
	position:relative;
	width:100%;
	height:0.8rem;
	text-align:center;
	box-sizing:border-box;
	line-height:1.45;
	border-radius: 0.15rem 0.15rem  0 0;
	
	background: rgb(0,88,225);
background: -moz-linear-gradient(top,  rgba(0,88,225,1) 0%, rgba(0,46,113,1) 100%);
background: -webkit-linear-gradient(top,  rgba(0,88,225,1) 0%,rgba(0,46,113,1) 100%);
background: linear-gradient(to bottom,  rgba(0,88,225,1) 0%,rgba(0,46,113,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0058e1', endColorstr='#002e71',GradientType=0 );
}
.suggest_data_menu div {
	display:block;
	height:100%;
	font-size:0.22rem;
	color:#7aa5e7;
	padding:0 0.5rem;
	box-sizing:border-box;
	padding:0.06rem 0;
	cursor: pointer;
	

}
.suggest_data_menu div p {
	font-size:0.26rem;
	color:#fff;
	background-image:url(../images/data_menu_icon.png);
	background-size:0.2rem 0.2rem;
	background-repeat:no-repeat;
	background-position:right center;
	padding:0 0.3rem;
	box-sizing:border-box;
	width: 96%;
	margin: auto;
	line-height:0.4rem;
}
.suggest_data_menu div p span {
	display:inline-block;
	padding:0;
}
.suggest_data_menu div p span+span:before {
	content:"/";
	display:inline-block;
    padding: 0 0.05rem;
}



.tech_analysis_group {
	display: block;
	margin: 0.25rem auto;
}
.tech_analysis_group .source_text {
	display: block;
	position: relative;
}
.tech_analysis_group .source_text span {
	display: block;
	position: absolute;
    right: 0.35rem;
	bottom: 0.2rem;
	z-index: 5;
	font-size: 0.22rem;
	color: #999999;
	transform: scale(0.65);
	transform-origin: center right;
}
.tech_analysis_menu {
	display: block;
	border-radius: 0.15rem 0.15rem 0 0;
	overflow: hidden;
}
.tech_analysis_menu:after {
	display: block;
	content: "";
	clear: both;
}
.tech_analysis_menu li {
	display: block;
	float: left;
	width: 20%;
	height: 0.8rem;
	box-sizing: border-box;
	background: #e1e7ef;
	text-align: center;
	color: #194a95;
	font-size: 0.22rem;
	line-height: 1.2;
	cursor: pointer;
}
.tech_analysis_menu li.selected {
	color: #fff;
	background: rgb(0,87,223);
	background: -moz-linear-gradient(top,  rgba(0,87,223,1) 0%, rgba(0,46,113,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,87,223,1) 0%,rgba(0,46,113,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,87,223,1) 0%,rgba(0,46,113,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0057df', endColorstr='#002e71',GradientType=0 );

}
.tech_analysis_menu li:after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.tech_analysis_menu li+li {
	border-left: 1px solid #fff;
}
.tech_analysis_menu li span {
	display: inline-block;
	width: 90%;
	vertical-align: middle;
	word-break: break-all;
}
.tech_analysis_data {
	display: block;
	background: #fff;
	margin: 0 auto;
	border-radius: 0 0 0.15rem 0.15rem;
	position: relative;
	border: 0.04rem solid #fff;
	border-top: none;
	box-shadow: 0 0.05rem 0.03rem rgba(0,0,0,0.2);
}
.tech_analysis_data li {
	display: block;
	padding: 0.2rem 0.25rem 0.5rem 0.25rem;
    min-height: 3.85rem;
	box-sizing: border-box;
	opacity: 0;
	transition-duration: 0.5s;
	position: absolute;
	top: 0;
	width: 100%;
	background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );

}
.tech_analysis_data li.selected {
	position: relative;
	opacity: 1
}
.tech_analysis_data li h1 {
	color: #333333;
	font-size: 0.34rem;
	display: block;
}
.tech_analysis_data li .more_btn {
	display: block;
	float: right;
	color: #fff;
	text-align: center;
	background: #194a95;
	color: #fff;
	border-radius: 0.1rem;
	cursor: pointer;
	font-size: 0.24rem;
	width: 1.5rem;
	line-height: 0.45rem;
}
.tech_analysis_time_menu {
	display: block;
	background: #efefef;
	padding: 0.1rem;
	margin: 0.2rem auto 0.1rem auto;
	position: relative;
	text-align: left;	
    font-size: 0px;
}
.tech_analysis_time_menu>span {
	display: inline-block;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	color: #999999;
	text-align: center;
	cursor: pointer;
	font-size: 0.26rem;
	width: 1.2rem;
	border-radius: 0.1rem;
}
.tech_analysis_time_menu>span.selected {
	background: #194a95;
	color: #fff;
}
.tech_analysis_time_menu .other_menu {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 0.6rem;
	height: 0.6rem;
	overflow: hidden;
	transition-duration: 0.5s;
	z-index: 6;
}
.tech_analysis_time_menu .other_menu i {
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	margin: 0 0 0 auto;
	background: url("../images/data_menu_icon2.png") no-repeat center;
	background-size: 0.2rem 0.2rem;
	cursor: pointer;
}
.tech_analysis_time_menu .other_menu.show {
	height: 5rem;
	width: 1.8rem;
}
.tech_analysis_time_menu .other_menu.show i {
	transform: rotate(180deg);
}
.tech_analysis_time_menu .other_menu p {
	display: block;
	border: 1px solid #d5d5d5;
	background: #efefef;
}
.tech_analysis_time_menu .other_menu p span {
	display: block;
	border-bottom: 1px solid #d5d5d5;
	color: #333333;
	line-height: 0.7rem;
	padding-left: 0.3rem;
	cursor: pointer;
	font-size: 0.26rem;
}


.tech_analysis_table {
	width: 100%;
	border-top:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5; 
	border-right:1px solid #d5d5d5;

    border-collapse:collapse; 
    border-spacing:0; 
	text-align: left;
	background: #fff;
}
.tech_analysis_table th ,
.tech_analysis_table td {
	border-bottom:1px solid #d5d5d5; 
	color: #333333;
	padding: 0.05rem;
	box-sizing: border-box;
	height: 0.7rem;
	font-size: 0.26rem;
}
.tech_analysis_table.table2 tr td+td {
	padding: 0.05rem 0.025rem;
    width: 32.5%;
}
.tech_analysis_table.table2 tr td:last-child {
	padding-right: 0.05rem;
}
.tech_analysis_table th {
	padding: 0.15rem 0 0.15rem 0.15rem;
}
.tech_analysis_table tr th+th {
	padding: 0;
}
.tech_analysis_table th:first-child ,
.tech_analysis_table td:first-child {
	width: 35%;
	padding-left: 0.15rem;
}
.tech_analysis_table td p {
	display: block;
	padding: 0.1rem 0;
}
.tech_analysis_table tr th .bg_green {
	display: flex;    
	background: #11b873;
	text-align: center;
	color: #fff;
	height: 0.72rem;
	align-items: center;
}
.tech_analysis_table tr td p {
    display: flex;
    background: #fff;
    text-align: center;
    color: #333;
    min-height: 0.6rem;
    align-items: center;
    line-height: 1.2;
    padding: 0.04rem 0;
    box-sizing: border-box;
    font-size: 0.22rem;
}
.tech_analysis_table tr td .bg_green {
    background: #b3e3af;
    color: #085c00;
}
.tech_analysis_table tr th .bg_red {
	display: flex;    
	background: #e3525c;
	text-align: center;
	color: #fff;
	height: 0.72rem;
	align-items: center;
}
.tech_analysis_table tr td .bg_red {
    background: #f2c7c7;
    color: #852121;
}
.tech_analysis_table tr th .bg_normal {
	display: flex;    
	background: #858d9a;
	text-align: center;
	color: #fff;
	height: 0.72rem;
	align-items: center;
}
.tech_analysis_table tr td .bg_normal {
    background: #999999;
    color: #fff;
}

.tech_analysis_table tr td p span,
.tech_analysis_table tr  .bg_normal span,
.tech_analysis_table tr  .bg_red span,
.tech_analysis_table tr  .bg_green span {
	display: block;
	margin: auto;
}
.tech_analysis_table tr .text_normal {
	color: #999999;
}
.tech_analysis_table tr .text_green {
	color: #11b873;
}
.tech_analysis_table.table2 tr .text_green {
	color: #085c00;
}

.tech_analysis_table tr .text_red {
	color: #e3525c;
}
.tech_analysis_table.table2 tr .text_red {
	color: #852121;
}
.tech_analysis_group .tech_analysis_table tr td+td {
	width: 21.66%;
}

.tech_analysis_table_top {
	width: 100%;
    border-collapse:collapse; 
    border-spacing:0; 
	color: #cbcbcb;
	font-size: 18px;
}
.tech_analysis_table_top td {
	width: 35%;
	padding: 0.1rem 0.15rem;
	text-align: left;
}
.tech_analysis_table_top td+td {
	width: 32.5%;
	text-align: center;
}
.tech_analysis_table_top td+td+td {
	padding-right: 0.2rem;
}

.tech_analysis_table_group {
	display: block;
	padding: 0;
}
.tech_analysis_table_group:after {
	display: block;
	content: "";
	clear: both;
}
.tech_analysis_table_group>li {
	float: left;
	width: 48.5%;
	display: block;
}
.tech_analysis_table_group>li+li {
	margin-left: 2.2%;
}

.tech_analysis_btn {
	display: block;
	text-align: center;
	padding: 0.2rem 0 0 0;
}
.tech_analysis_btn a {
	display: block;
	margin: auto;
	font-size: 0.3rem;
	width: 3.5rem;
	height: 0.7rem;
	line-height: 0.7rem;
	color: #fff;
	font-weight: bold;
	border-radius: 0.1rem;
	
	background: #194a95;
background: -moz-linear-gradient(left,  #194a95 0%, #19b59d 100%);
background: -webkit-linear-gradient(left,  #194a95 0%,#19b59d 100%);
background: linear-gradient(to right,  #194a95 0%,#19b59d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194a95', endColorstr='#19b59d',GradientType=1 );
}


.tech_analysis_popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 80;
	text-align: center;
	font-size: 0px;
}
.tech_analysis_popup:after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.tech_analysis_popup_content {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
    max-width: 950px;
	box-sizing: border-box;
	background: #fff;
	font-size: 0.24rem;
	padding: 0.15rem;
	position: relative;
	border-radius: 0.05rem;
	text-align: justify;
}
.tech_analysis_popup_content h1 {
	display: block;
	font-size: 0.36rem;
	color: #666666;
	text-align: center;
	line-height: 0.7rem;
	border-bottom: 1px solid #d5d5d5;
	margin: -0.15rem -0.15rem 0.15rem -0.15rem;
}
.tech_analysis_popup_content h4 {
	font-size: 0.24rem;
	color: #666666;
	display: block;
	padding: 0.05rem 0;
}
.tech_analysis_popup_content .tech_analysis_time_menu .other_menu {
	display:block;
}
.tech_analysis_popup_content .tech_analysis_time_menu>span {
	width:11.11%;
}
.tech_analysis_popup_content .tech_analysis_time_menu {
    padding: 0.1rem;
    margin: 0 auto 0.1rem auto;
}

.tech_analysis_over {
	display: block;
	overflow: auto;
	height: 700px;
	margin: 0.2rem auto 0 auto;
}
.tech_analysis_over::-webkit-scrollbar {
    width: 0.1rem;
	height: 0.1rem;
	border-radius:10px;
}
.tech_analysis_over::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
}
.tech_analysis_over::-webkit-scrollbar-thumb {
	background-color: #194a95;
	border-radius:10px;
}
.tech_analysis_over .tech_analysis_table.table2 {
	margin-bottom: 0.35rem;
}
.tech_analysis_over .date_text {
	float: right;
	font-size: 18px;
	color: #666666;
	padding:0.12rem 0.1rem 0 0;
	margin: 0 0 0 -2rem;
}
.tech_analysis_over .tech_analysis_table.table2 td {
	height: 0.8rem;
}
.tech_analysis_over .tech_analysis_table.table3 td {
	height: 0.4rem;
}
.tech_analysis_over .tech_analysis_table.table3 tr:last-child td {
	height: 0.8rem;
}
.tech_analysis_over .tech_analysis_table.table2 tr td p,
.tech_analysis_over .tech_analysis_table.table3 tr td p {
    min-height: auto;
	font-size: 18px;
    padding: 0;
	height: 100%;
}


.tech_analysis_popup_close {
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
	width: 0.5rem;
	height: 0.5rem;
	margin: -0.25rem;
	box-sizing: border-box;
	border-radius: 100%;
	cursor: pointer;
}
.tech_analysis_popup_close:after,
.tech_analysis_popup_close:before {
	content: "";
	position: absolute;
	height: 68%;
	width: 0.01rem;
    background: #666;
	margin: -34% -0.005rem ;
	left: 50%;
	top: 50%;
	border-radius: 10px;
	transform: rotate(45deg);
}
.tech_analysis_popup_close:before {
	transform: rotate(-45deg);
}

.pivot_point_table {
	display: block;
	padding-bottom: 0.4rem;
}
.pivot_point_table>table  {
	width: 99%;
	font-size: 0.18rem;
    border-collapse:collapse; 
    border-spacing:0;
	box-sizing: border-box;
}
.pivot_point_table>table th {
	border-bottom: 1px solid #d5d5d5;
	padding: 0.15rem 0.1rem;
	color: #cbcbcb;
	font-weight: normal;
}
.pivot_point_table>table td {
	border-bottom: 1px solid #d5d5d5;
	padding: 0.15rem 0.1rem;
}
.pivot_point_table>table td:first-child {
	border-left: 1px solid #d5d5d5;
}
.pivot_point_table>table td:last-child {
	border-right: 1px solid #d5d5d5;
	padding-right: 0.2rem;
}
.pivot_point_table>table tr td+td {
	text-align: right;
	width: 12%;
}
.pivot_point_table>table tr th+th {
	text-align: right;
}
.pivot_point_table>table tr th:last-child  {
	padding-right: 0.2rem;
}
.pivot_point_table>table tr th strong {
	color: #333;
}


.information_menu {
	display: block;
	height: 0.65rem;
	border-bottom: 1px solid #f9f9f9;
	box-sizing: border-box;
	text-align: center;
}
.information_menu a {
	display: inline-block;
	padding: 0 0.1rem;
	font-size: 0.24rem;
	color: #333333;
	line-height: 0.64rem;
	box-sizing: border-box;
	position: relative;
}
.information_menu a+a {
	margin-left: 1rem;
}
.information_menu a:after {
	content: "";
	display: block;
	position: absolute;
	height: 0.04rem;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #194a95;
	border-radius: 0.05rem;
	opacity: 0;
	transition-duration: 0.5s;
}
.information_menu a.selected:after {
	opacity: 1;
}
.information_menu a.selected {
	font-weight: bold;
}

.search_title {
	display: block;
	padding: 0 0.25rem;
	line-height: 0.8rem;
	height: 0.8rem;
	position:  relative;
	width: 100%;
	box-sizing: border-box;
}
.search_title h2 {
	display: block;
	font-size: 0.38rem;
	float: left;
}
.search_title .search_btn {
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	background: url("../images/search_icon.png") no-repeat center;
	background-size: 0.4rem 0.4rem;
	top: 0.1rem;
	right: 0.1rem;
	position: absolute;
}
.search_title>ul {
	display: block;
	float: left;
	padding: 0.15rem 0 0 0;
	box-sizing: border-box;
	line-height: 0.5rem;
}
.search_title>ul li {
	display: inline-block;
	font-size: 0.24rem;
    vertical-align: top;
	position: relative;
}
.search_title>ul li a {
	display: block;
	padding: 0 0.18rem;
	color: #333333;
	line-height: 0.5rem;
	transition-duration: 0.3s;
}
.search_title>ul li.selected a{
    font-size: 0.38rem;
}
.search_title>ul li a:after {
	content: "";
	display: block;
	position: absolute;
	width: 0.1rem;
	height: 0.1rem;
	margin: -0.05rem;
	border-radius: 100%;
    background: #194a95;
	left: 50%;
	top: 120%;
	opacity: 0;
	transition-duration: 0.3s;
}
.search_title>ul li.selected a:after {
	opacity: 1;
}


.my_account {
	display: block;
	background: url("../images/about_acc_bg.png") no-repeat center;
	background-size: cover;
	height: 3.25rem;
	box-sizing: border-box;
	padding: 0.4rem 0 0 0;
}
.profile_pic {
	display: block;
	width: 1.3rem;
	margin: auto;
	border-radius: 100%;
	overflow: hidden;
}
.profile_pic img {
	display: block;
	width: 100%;
}
.my_account .acc_btn {
	display: block;
	text-align: center;
	padding: 0.35rem 0 0 0;
}
.my_account .acc_btn a {
	display: inline-block;
	font-size: 0.34rem;
	width: 3.1rem;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #fff;
	border-radius: 0.8rem;
	vertical-align: top;
	margin: 0 0.05rem;
}
.my_account .acc_btn a.btn1 {
	background: #0058e1;
background: -moz-linear-gradient(top,  #0058e1 0%, #002e72 100%);
background: -webkit-linear-gradient(top,  #0058e1 0%,#002e72 100%);
background: linear-gradient(to bottom,  #0058e1 0%,#002e72 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0058e1', endColorstr='#002e72',GradientType=0 );
}
.my_account .acc_btn a.btn2 {
	background: #1fcef5;
background: -moz-linear-gradient(top,  #1fcef5 0%, #005467 100%);
background: -webkit-linear-gradient(top,  #1fcef5 0%,#005467 100%);
background: linear-gradient(to bottom,  #1fcef5 0%,#005467 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fcef5', endColorstr='#005467',GradientType=0 );
}

.my_account_menu {
	display: block;
	position: relative;
	padding: 0.3rem 0;
}
.my_account_menu:before {
    content: "";
    display: block;
    position: absolute;
    height: 0.15rem;
    left: 0;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    background: #efefef;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
}
.my_account_menu li {
	display: block;
	position: relative;
}
.my_account_menu li a {
	display: block;
	height: 0.85rem;
	box-sizing: border-box;
	padding: 0.2rem 0.2rem 0.2rem 0.95rem;
	line-height: 0.45rem;
	font-size: 0.28rem;
	color: #000;
}
.my_account_menu li a .icon {
	position: absolute;
	width: 0.4rem;
	display: block;
	margin: -0.2rem;
	left: 0.45rem; 
	top: 50%;
}
.my_account_menu li a .icon img {
	display: block;
	width: 100%;
}
.my_account_menu li:after {
	content: "";
	position: absolute;
	z-index: 5;
	top: 50%;
	right: 6%;
	width: 0.1rem;
	height: 0.1rem;
	box-sizing: border-box;
	margin: -0.05rem;
	transform: rotate(45deg);
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

.about_title {
	display: block;
	position: fixed;
	top: 0;
	left: 50%;
	width: 7.5rem;
	margin-left: -3.75rem;
	height: 0.65rem;
	box-sizing: border-box;
    border-bottom: 1px solid #f9f9f9;
	background: #fff;
    z-index: 50;
}
.about_title b {
	display: block;
	color: #333;
	font-size: 0.28rem;
	line-height: 0.64rem;
	text-align: center;
}
.about_title .back_btn {
	position: absolute;
	left: 0.2rem;
	display: block;
	font-size: 0.26rem;
	line-height: 0.64rem;
	color: #194a95;
}
.about_title .back_btn:before {
	content: "";
	display: inline-block;
    vertical-align: baseline;
	width: 0.2rem;
	height: 0.2rem;
	box-sizing: border-box;
	border-top:0.035rem solid #194a95;
	border-left:0.035rem solid #194a95;
	transform: rotate(-45deg);
}


.about_content {
	display: block;
	padding: 1.25rem 0.5rem 0.5rem 0.5rem;
	color: #333333;
	line-height: 1.6;
	font-size: 0.26rem;
	text-align: justify;
}
.about_content .text_banner {
	margin: 0 -0.25rem 0.25rem -0.25rem;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 0.08rem;
}
.about_content a {
	color: #194a95;
}
.about_content .text_banner>img {
	display: block;
	width: 100%;
}
.about_content .text_banner p {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	font-size: 0px;
}
.about_content .text_banner p:after {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.about_content .text_banner p b {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.52rem;
	color: #fff;
	letter-spacing: 0.02rem;
	font-weight: normal;
}


.feedback_text {
	display:block;
	width: 100%;
	font-size: 0.26rem;
	color: #333;
    height: 4.3rem;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 0.1rem 0.2rem;
   resize: none;
	outline: none;
	text-align: justify;
	border-radius: 0.1rem;
	line-height: 1.6;
	margin: 0 auto 0.5rem auto;
}

.submit_btn {
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 0.34rem;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 0.8rem;
	background: #0058e1;
background: -moz-linear-gradient(top,  #0058e1 0%, #002e72 100%);
background: -webkit-linear-gradient(top,  #0058e1 0%,#002e72 100%);
background: linear-gradient(to bottom,  #0058e1 0%,#002e72 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0058e1', endColorstr='#002e72',GradientType=0 );

}

.feedback_form {
	display: block;
}
.feedback_done {
	display: none;
	color: #11b873;
	text-align: center;
	font-size: 0.26rem;
	line-height: 1.5;
}
.feedback_done b {
	display: block;
	font-size: 0.52rem;
	line-height: 1.3;
}
.feedback_done .done_icon {
	display: block;
	width: 1.4rem;
	margin:1.5rem auto 0.45rem auto;
}


@media(max-height:1200px){
.tech_analysis_over {
	height: 5rem;
}
}

@media screen and (max-width: 750px) , screen and (max-height: 800px) {
.tech_analysis_over {
	height: 7.6rem;
}
}
@media(max-height:600px){
.tech_analysis_over {
	height: 6rem;
}
}


@media(max-width:1200px){

	
}

@media(max-width:960px){

.tech_analysis_popup_content .tech_analysis_time_menu .other_menu {
	display:block;
}
.tech_analysis_popup_content .tech_analysis_time_menu>span.mobile_hide {
	display:none;
}
.tech_analysis_popup_content .tech_analysis_time_menu>span {
	width:1.1rem;
}
	
.pivot_point_table {
	display: none;
}
	
.tech_analysis_table_group {
	padding: 0.2rem 0 0 0;
}
.tech_analysis_table_group>li {
	float: none;
	width: 100%;
}
.tech_analysis_table_group>li+li {
	margin: 0.4rem 0 0 0;
}	

}


@media(max-width:750px){
html {
	font-size: 55px;
}

.suggest_data_list table tr td {
    padding: 0.1rem 0.05rem;
    font-size: 0.26rem;
}	
.suggest_data_list table tr td:first-child {
    width: 0.6rem;
}	
.suggest_data_list table .icon {
    width: 0.55rem;
}	
.suggest_data_list table tr td:last-child {
	width:1.1rem;
}	
.suggest_data_list table tr th {
	font-size:0.24rem;
}
.suggest_data_list table tr td {
	padding:0.1rem 0.05rem;
}

.tech_analysis_menu li {
	font-size: 0.22rem;
}
.suggest_data_list table tr td+td {
    min-width: 1rem;
}
.suggest_data_menu div p {
	background-image:url(../images/data_menu_icon.png);
	font-size:0.27rem;
	padding:0 0.45rem;
	background-size:0.25rem 0.25rem;
    width: 96%;
}	
.tech_analysis_time_menu .other_menu i {
	background: url("../images/data_menu_icon2.png") no-repeat center;
	background-size: 0.25rem 0.25rem;
}

.suggest_popup_header p {
    right: 0.05rem;
    top: 0.05rem;
    width: 0.5rem;
    height: 0.5rem;
    margin: -0.25rem;
    background: #3c3c3c;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 100%;
}
.suggest_popup_header p:before, .suggest_popup_header p:after {
	background:#fff;
}
.suggest_popup_header {
    height: 0.35rem;
    border-bottom: 1px solid #e6e6e6;
}
.suggest_popup_header h2 {
	display:none;
}
.suggest_popup_group .suggest_popup_content ul {
	padding:0;
	border:none;
}
.suggest_popup_group .suggest_popup_content {
    width: 80%;
}
.suggest_popup_group .suggest_popup_content ul li {
	display:block;
	height:0.95rem;
	border-bottom:1px solid #e6e6e6;
	position:relative;
}
.suggest_popup_group .suggest_popup_content ul li .suggest_data_all {
	display: block;
	font-size:0.32rem;
	line-height:0.95rem;
	text-align:left;
	padding:0 0 0 0.2rem;
	box-sizing:border-box;
	cursor: pointer;
	position: relative;
}
.suggest_popup_group .suggest_popup_content ul li .suggest_data_all i {
	width:0.6rem;
	height:0.6rem;
	margin:-0.3rem;
	display:block;
	position:absolute;
	top:50%;
    right: 6.9%;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-image:url(../images/checkbox1.png);
}
.suggest_popup_group .suggest_popup_content ul li .suggest_data_all.all i {
	background-image:url(../images/checkbox2.png);
}
.suggest_popup_group .suggest_popup_content ul li label {
	display:block;
	font-size:0.32rem;
	line-height:0.95rem;
	text-align:left;
	padding:0 0 0 0.2rem;
	box-sizing:border-box;
}
.suggest_popup_group .suggest_popup_content ul li input {
	position:absolute;
	right:5%;
	top:50%;
	width:0.2rem;
	height:0.2rem;
	margin-top:-0.1rem;
    transform: scale(1);
}
.suggest_popup_group .suggest_popup_content ul li input:after {
	width:0.6rem;
	height:0.6rem;
	margin:-0.3rem;
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-image:url(../images/checkbox1.png);
}
.suggest_popup_group .suggest_popup_content ul li input:checked:after {
	background-image:url(../images/checkbox2.png);
}

.tech_analysis_popup_close {
	position: absolute;
	right: 0.05rem;
	top: 0.05rem;
	width: 0.5rem;
	height: 0.5rem;
	margin: -0.25rem;
	background: #3c3c3c;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-radius: 100%;
	cursor: pointer;
}
.tech_analysis_popup_close:after,
.tech_analysis_popup_close:before {
	height: 68%;
	background: #fff;
}
.suggest_popup_btn {
    padding: 0.25rem 0;
}
.tech_analysis_popup_content h4 {
	font-size: 0.28rem;
}
.tech_analysis_table_top {
	font-size: 0.22rem;
}	

.tech_analysis_over .date_text {
    font-size: 0.22rem;
    padding: 0.1rem 0.1rem 0 0;
}
.tech_analysis_over .tech_analysis_table.table2 tr td p, 
.tech_analysis_over .tech_analysis_table.table3 tr td p {
    font-size: 0.22rem;
}	
.tech_analysis_over .tech_analysis_table.table2 tr td:first-child p, 
.tech_analysis_over .tech_analysis_table.table3 tr td:first-child p {
	font-size: 0.26rem;
}
.tech_analysis_over .tech_analysis_table.table3 td {
    height: 0.8rem;
}	
.tech_analysis_table tr th .bg_green,
.tech_analysis_table tr th .bg_red,
.tech_analysis_table tr th .bg_normal {
    height: 100%;
}	
	

.suggest_data_menu div,
.tech_analysis_menu li,
.tech_analysis_time_menu>span,
.submit_btn,	
a {
	cursor: default;
}	
	
}
	
	
	