@charset "utf-8";

/* ============ Reset ============ */

body {
    font: 13px Microsoft YaHei, helvetica, arial;
    font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, STHeitiSC-Light, simsun, \\5B8B\4F53, WenQuanYi Zen Hei, WenQuanYi Micro Hei, "sans-serif";
    color: #333;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    padding-top: constant(0);
    padding-left: constant(0);
    padding-right: constant(0);
    padding-bottom: constant(0);
    background: #fff;
}

body,
p,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
pre,
input,
table,
tr,
td,
button,
textarea,
button {
    margin: 0;
    padding: 0;
}

input[type=button],
input[type=text],
input[type=password] {
    -webkit-appearance: none;
    outline: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
button {
    border: 0 none;
}

img {
    border: 0 none;
    max-width: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: 0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.dn {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mrrn {
    margin-right: 0!important;
}


/*
@font-face {
  font-family: 'DINCond-Black';
  src: url('../font/DINCond-Black.eot');
  src: url('../font/DINCond-Black.eot?#iefix') format('embedded-opentype'),
  url('../font/DINCond-Black.woff') format('woff'),
  url('../font/DINCond-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'din1451a';
src: url('../font/din1451a.eot');
src: url('../font/din1451a.eot?#iefix') format('embedded-opentype'),
    url('../font/din1451a.woff') format('woff'),
    url('../font/din1451a.ttf') format('truetype'),
    url('../font/din1451a.svg#din1451a') format('svg');
font-weight: normal;
font-style: normal;
}
*/

html {
    font-size: 100px;
    background: #ffffff;
}

.wrapper {
    margin: 0 auto;
    max-width: 750px;
    min-width: 320px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 1.5rem;
	margin-top:0.9rem;
}



/*CSS3特效*/

.delay-1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
}

.delay-2 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
}

.delay-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
}

.delay-4 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
}

.delay-5 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
}

.delay-6 {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
}

.delay-7 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
}

.delay-9 {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -moz-animation-delay: 5s;
    -ms-animation-delay: 5s;
}


/* 上下浮动效果
@-webkit-keyframes arrShake {
  0%,100%{ -webkit-transform: translateY(0);transform: translateY(0); }
  50%{ -webkit-transform: translateY(0.2rem);transform: translateY(0.2rem); }
}

@keyframes arrShake {
  0%,100%{ transform: translateY(0); }
  50%{ transform: translateY(0.2rem); }
}
.arrShake {
  animation-name: arrShake;
  -webkit-animation-name: arrShake;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
} */


/* //上下浮动效果 */

@-webkit-keyframes fadeInAndOut {
    0%,
    100% {
        opacity: 0;
    }
    25%,
    50% {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    0%,
    100% {
        opacity: 0;
    }
    25%,
    50% {
        opacity: 1;
    }
}

.fadeInAndOut {
    animation-name: fadeInAndOut;
    -webkit-animation-name: fadeInAndOut;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
}


/*公共按钮*/

.btn-group {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.btn-group a {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0.43rem auto 0;
}

.btn-group .openbtn1 {
    position: relative;
    width: 2.58rem;
    height: 0.71rem;
    background: url(../images/openbtn.png) no-repeat top center;
    background-size: 100% 100%;
    margin-right: 0.5rem;
}

.btn-group .openbtn2 {
    position: relative;
    width: 2.58rem;
    height: 0.71rem;
    background: url(../images/openbtn2.png) no-repeat top center;
    background-size: 100% 100%;
    margin-left: 0.5rem;
}

.btn-group .openbtn3 {
    position: relative;
    width: 2.58rem;
    height: 0.71rem;
    background: url(../images/openbtn3.png) no-repeat top center;
    background-size: 100% 100%;
    margin-left: 0.5rem;
}


/*雪碧图*/

.spiriteimg {
    background: url(../images/spiriteimg1.png) no-repeat top center;
    background-size: 2.61rem auto;
}


/*banner*/


/* .logo{
  position: absolute;
  top: 0.71rem;
  left: 0.26rem;
  width: 0.94rem;
  height: 0.41rem;
  background: url(../images/logo.png) no-repeat top center;
  background-size: 100% 100%;
  z-index: 3;
}
*/

.color-green {
    color: green !important;
}

.color-red {
    color: red !important;
}

.toplogo {
    position: relative;
    margin: 0 auto;
    width: 7.5rem;
    background: #fff;
    height: 0.57rem;
}

.toplogo .logo {
    position: absolute;
    top: 0.05rem;
    width: 2.23rem;
    height: 0.48rem;
    background: url(../images/logo.png) no-repeat top center;
    background-size: 100% 100%;
    transform: scale(0.8);
}

.askbtn {
    position: absolute;
    top: 0.08rem;
    right: 0.16rem;
    width: 1.44rem;
    height: 0.42rem;
    background: url(../images/askbtn.png) no-repeat top center;
    background-size: 100% 100%;
    /*z-index: 3;*/
}

.banner {
    position: relative;
    margin: 0 auto;
    width: 7.5rem;
    height: 2.57rem;
    background: url(../images/banner_v3.jpg) no-repeat top center;
    background-size: 100% 100%;
    /*z-index: 2;*/
}

.main-con {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.pro-con {
    position: relative;
    margin: 0.3rem 0.3rem 0;
}

.pro-con .morebtn {
    text-align: right;
    font-size: 0.2rem;
    color: #221815;
    line-height: 0.3rem;
    display: inline-block;
    float: right;
}

.pro-con .prolist {
    clear: both;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    display: flex;
    padding-top: .2rem;
}

.pro-con .prolist li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 2.3rem;
}

.pro-con .prolist li span {
    display: block;
    margin: 0 auto;
    color: #595757;
}

.pro-con .prolist li span.green {
    color: #009944;
}

.pro-con .prolist li span.red {
    color: #e60012;
}

.pro-con .prolist li .product {
    font-size: 0.2rem;
    line-height: 0.3rem;
    font-weight: bold;
    margin-bottom: 0.03rem;
}

.pro-con .prolist li .price {
    font-size: 0.32rem;
    font-family: 'din1451a';
    line-height: 0.36rem;
}

.pro-con .prolist li .benifit {
    font-size: 0.32rem;
    font-family: 'din1451a';
    line-height: 0.36rem;
    display: flex;
    flex-wrap: nowrap;
}

.pro-con .prolist li .benifit b {
    font-weight: normal;
    margin: 0 0.15rem;
}

.slide-wrap {
    position: relative;
    margin: 0.45rem 0.3rem 0;
    background: #00a0e9;
    padding: 0.08rem 0.2rem;
    display: flex;
}

.slide-wrap .title {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    font-size: 0.24rem;
    color: #efefef;
    line-height: 0.5rem;
        margin-right: 0.12rem;
}

.slide-wrap .marquee-con {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    background: #ffffff;
    line-height: 0.5rem;
    width: 5rem;
    padding: 0 0.1rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    overflow: hidden;
}

.slide-wrap .marquee-con ul {
    font-size: 0;
    height: 0.5rem;
}

.slide-wrap .marquee-con li {
    width: 5.25rem;
    height: 0.3rem;
    padding: 0.1rem;
    font-size: 0.24rem;
    color: #00a0e9;
    line-height: 0.3rem;
}

.advanlist {
    position: relative;
    margin: 0.5rem auto 0;
    text-align: center;
    font-size: 0;
}

.advanlist dd {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    text-align: center;
    margin: 0 0.28rem;
}

.advanlist dd .icons {
    display: block;
    margin: 0 auto 0.09rem;
    width: 1.05rem;
    height: 1.05rem;
}

.advanlist dd .icon1 {
    background: url(../images/icons1.png) no-repeat top center;
    background-size: 100% 100%;
}

.advanlist dd .icon2 {
    background: url(../images/icons2.png) no-repeat top center;
    background-size: 100% 100%;
}

.advanlist dd .icon3 {
    background: url(../images/icons3.png) no-repeat top center;
    background-size: 100% 100%;
}

.advanlist dd .icon4 {
    background: url(../images/icons4.png) no-repeat top center;
    background-size: 100% 100%;
}

.advanlist dd .txt {
    display: block;
    margin: 0 auto;
    font-size: 0.2rem;
    color: #221815;
    line-height: 0.3rem;
    font-weight: bold;
}

.inner-bg {
    position: relative;
    margin: 0 auto;
    width: 7.5rem;
    height: 11.33rem;
    background: url(../images/bottom-bg.jpg) no-repeat top center;
    background-size: 100% 100%;
}

.welfare {
    position: relative;
    margin: 0.4rem 0.5rem 0;
}

.welfare .title {
    font-size: 0.3rem;
    color: #004ea2;
    line-height: 0.4rem;
}

.welfare .title a {
    float: right;
    color: #004ea2;
}

.welfare .wellist {
    position: relative;
    margin: 0.2rem auto 0;
    font-size: 0;
    text-align: center;
    display: flex;
}

.welfare .wellist dd {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    width: 3.5rem;
    height: 2.55rem;
    background: url(../images/con1-bg.png) no-repeat top center;
    background-size: 100% 100%;
    overflow: hidden;
    margin-right: 0.21rem;
}

.welfare .wellist dd.last {
    margin-right: 0;
}

.welfare .wellist dd .txt {
    display: block;
    margin-top: 0.89rem;
    font-size: 0.3rem;
    color: #ffffff;
    line-height: 0.38rem;
    font-weight: bold;
    text-align: center;
}

.tradeway {
    position: relative;
    margin: 0.4rem 0.3rem 0;
}

.tradeway .title {
    font-size: 0.3rem;
    color: #ffffff;
    line-height: 0.4rem;
    margin-left: 0.2rem;
    margin-bottom: 0.15rem;
}

.tradeway .pic1 {
    position: relative;
    margin: 0 auto;
    width: 6.97rem;
    height: 2.08rem;
    background: url(../images/pic1.png) no-repeat top center;
    background-size: 100% 100%;
    overflow: hidden;
}

.tradeway .pic1 .infors {
    display: block;
    margin: 0 auto;
    font-size: 0.3rem;
    color: #ffffff;
    line-height: 0.4rem;
    margin-top: 0.82rem;
    font-weight: bold;
    text-align: center;
}

.tradeway .pic2 {
    position: relative;
    margin: 0.42rem 0;
    width: 6.97rem;
    height: 2.08rem;
    background: url('https://www.se6868w.com/GRAY%20(2).png') no-repeat top center;
    background-size: 100% 100%;
    overflow: hidden;
}

.tradeway .pic2 .more {
    position: absolute;
    right: 0.15rem;
    bottom: 0.12rem;
    font-size: 0.2rem;
    color: #ffffff;
    line-height: 0.3rem;
}

.about-con {
    position: relative;
    margin: 0.49rem 0.3rem 0;
    border: 1px solid #c9caca;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    padding: 0.15rem 0.2rem 0.2rem;
}

.about-con .title {
    font-size: 0.3rem;
    color: #004ea2;
    line-height: 0.4rem;
}

.about-con .more {
    float: right;
    font-size: 0.2rem;
    color: #000000;
    line-height: 0.3rem;
}

.about-con .txt {
    font-size: 0.18rem;
    color: #221815;
    line-height: 0.28rem;
    text-align: center;
    margin-top: 0.2rem;
    font-weight: bold;
}

.about-con .bntlist {
    position: relative;
    margin: 0.15rem auto 0;
    text-align: center;
    font-size: 0;
}

.about-con .bntlist .btn {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    margin: 0 0.05rem;
    *zoom: 1;
    width: 2.03rem;
    height: 0.65rem;
    background: url(../images/btn-bg2.png) no-repeat top center;
    background-size: 100% 100%;
    font-size: 0.26rem;
    color: #221815;
    line-height: 0.58rem;
    font-weight: bold;
}

.about-con .bntlist .btn.greenbtn {
    background: url(../images/btn-bg1.png) no-repeat top center;
    background-size: 100% 100%;
    color: #fff;
}

.totals-con {
    position: relative;
    margin: 0.2rem auto 0;
    text-align: center;
}

.totals-con dd {
    position: relative;
    margin: 0 0.05rem;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 3.05rem;
}

.totals-con dd h3 {
    font-size: 0.26rem;
    color: #221815;
    line-height: 0.36rem;
    margin-bottom: 0.1rem;
}

.totals-con dd span {
    position: relative;
    display: block;
    margin: 0 auto;
}

.totals-con dd span b {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 2.56rem;
    height: 0.51rem;
    background: url(../images/total-bg.png) no-repeat top center;
    background-size: 100% 100%;
    font-size: 0.36rem;
    color: #ffffff;
    line-height: 0.51rem;
    text-align: center;
}

.totals-con dd span i {
    font-style: normal;
    font-size: 0.26rem;
    color: #221815;
    line-height: 0.36rem;
    display: inline-block;
    vertical-align: bottom;
    *display: inline;
    *zoom: 1;
    margin-left: 0.08rem;
}

.floatwrapper {
    position: fixed;
    width: 100%;
    height: 1.1rem;
    bottom: 0;
    left: 50%;
    background: #ffffff;
    margin-left: -50%;
    z-index: 6;
}

.nav-list {
    position: relative;
    margin: 0.2rem auto 0;
    text-align: center;
    font-size: 0;
}

.nav-list dd {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    width: 19%;
}

.nav-list dd .icons {
    display: block;
    margin: 0 auto;
    width: 0.49rem;
    height: 0.47rem;
}

.nav-list dd .icons5 {
    background: url(../images/icons5.png) no-repeat top center;
    background-size: 100% 100%;
}

.nav-list dd .icons6 {
    background: url(../images/icons6.png) no-repeat top center;
    background-size: 100% 100%;
}

.nav-list dd .icons7 {
    background: url(../images/icons7.png) no-repeat top center;
    background-size: 100% 100%;
}

.nav-list dd .icons8 {
    background: url(../images/icons8.png) no-repeat top center;
    background-size: 100% 100%;
}

.nav-list dd .icons9 {
    background: url(../images/icons9.png) no-repeat top center;
    background-size: 100% 100%;
}

.nav-list dd .txt {
    display: block;
    margin: 0 auto;
    font-size: 0.24rem;
    color: #9fa0a0;
    line-height: 0.34rem;
    font-weight: normal;
}

.part_09 {
    border-radius: 0.2rem;
    border: solid 0.02rem #c9caca;
    margin: 0 0.3rem 0.4rem 0.3rem;
    padding: 0.2rem 0.4rem;
    height: auto;
    overflow: hidden;
}

.part_09 .i1 {
    display: block;
    text-align: center;
    font-size: 0.18rem;
    clear: both;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bolder;
}

.part_09 .bt {
    margin-bottom: 0.38rem;
}

.part_09 h3 {
    color: #004ea2;
    font-weight: bolder;
    font-size: .34rem;
    display: inline-block;
}

.part_09 .bt a {
    display: block;
    width: 32%;
    height: 0.51rem;
    line-height: 0.51rem;
    vertical-align: middle;
    text-align: center;
    font-size: 0.24rem;
    background-image: url(../images/bt_102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0.1rem;
    -webkit-box-shadow: 0 0.03rem 0.07rem rgba(0, 0, 0, 0.8);
    box-shadow: 0 0.03rem 0.07rem rgba(0, 0, 0, 0.8);
    float: left;
    margin-right: 1.8%;
    font-weight: bold;
}

.part_09 .more {
    float: right;
    text-align: center;
    transform: translateX(.2rem);
}

.part_09 .bt a:nth-child(1) {
    background-image: url(../images/bt_101.png);
    color: #fff;
}

.part_09 .bt a:nth-child(3) {
    margin-right: 0rem;
}

.part_09 ul.js {
    width: 50%;
    float: left;
    height: auto;
    overflow: hidden;
    margin-top: .5rem;
}

.part_09 ul.js h4 {
    font-weight: bolder;
    display: block;
    margin-bottom: 0.08rem;
    font-size: 0.24rem;
    text-align: center;
}

.part_09 ul:nth-child(3) li {
    text-align: right;
}

.part_09 ul.js li {
    line-height: 0.51rem;
    height: 0.51rem;
    vertical-align: bottom;
}

.part_09 ul.js li span.i2 {
    padding-left: 0.05rem;
    font-size: 0.24rem;
    line-height: 0.40rem;
    display: inline-block;
    vertical-align: bottom;
}

.part_09 ul.js li div {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    overflow: hidden;
    font-size: .5rem;
}

.numberRun1,
.numberRun2 {
    background-image: url(../images/mB601.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
    width: 2.54rem;
    height: 0.51rem;
}

.mt-number-animate {
    font-family: '微软雅黑';
    line-height: 0.51rem;
    height: 0.51rem;
    vertical-align: middle;
    /*设置数字显示高度*/
    ;
    font-size: 0.36rem;
    /*设置数字大小*/
    overflow: hidden;
    display: block;
    position: relative;
}

.mt-number-animate .mt-number-animate-dot {
    width: 0.15rem;
    margin-top: -0.05rem;
    /*设置分割符宽度*/
    float: left;
    margin-right: 0;
}

.mt-number-animate .mt-number-animate-dom {
    width: 0.28rem;
    margin-top: -0.05rem;
    /*设置单个数字宽度*/
    text-align: center;
    float: left;
    position: relative;
    top: 0;
    margin-right: 0;
}

.mt-number-animate .mt-number-animate-dom .mt-number-animate-span {
    width: 100%;
    float: left;
}

.part_10 {
    background-image: url(../images/bg02.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    /* background: #006093; */
}

.about_us_new_content {
    display: block;
    max-width: 750px;
    box-sizing: border-box;
    padding: 0.3rem 0.3rem 1rem 0.3rem;
    color: #333;
    font-size: 0.24rem;
    background: #fff;
}

.about_us_new_content h1 {
    display: block;
    font-size: 0.34rem;
    color: #333;
    margin: 0;
    padding: 0.15rem 0;
}

.about_us_new_content .more_btn {
    display: block;
    float: right;
    color: #a3a3a3;
    font-size: 0.24rem;
    text-decoration: none;
    margin-top: 0.25rem;
}

.about_us_new_content .more_btn i {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(45deg);
    margin: -0.02rem 0 0.02rem 0.04rem;
    width: 0.1rem;
    height: 0.1rem;
    border-top: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
}

.about_us_new_content .blue_icon {
    display: block;
    padding: 0.3rem 0 0.2rem 0;
    margin: auto;
}

.about_us_new_content .blue_icon:after {
    content: "";
    clear: both;
    display: block;
}

.about_us_new_content .blue_icon li {
    width: 31.33%;
    display: block;
    float: left;
    height: 1.3rem;
    text-align: center;
    border-radius: 0.08rem;
    box-sizing: border-box;
    padding: 0.15rem 0;
    color: #fff;
    font-size: 0.24rem;
    position: relative;
    background: #1d87cc;
    background: -moz-linear-gradient(left, #1d87cc 0%, #19b59d 100%);
    background: -webkit-linear-gradient(left, #1d87cc 0%, #19b59d 100%);
    background: linear-gradient(to right, #1d87cc 0%, #19b59d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1d87cc', endColorstr='#19b59d', GradientType=1);
}

.about_us_new_content .blue_icon li+li {
    margin-left: 3%;
}

.about_us_new_content .blue_icon li img {
    display: block;
    margin: 0 auto 0.05rem auto;
    width: 0.6rem;
}

.about_us_new_content .blue_icon li a {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.about_us_price_list {
    display: block;
    padding: 0;
    margin: 0;
}

.about_us_price_list:after {
    display: block;
    content: "";
    clear: both;
}

.about_us_price_list li {
    display: block;
    width: 3.35rem;
    height: 1.6rem;
    /*background:url(<!--#echo var='gwfx_m_cdn'-->/images/blue_line.png) no-repeat;*/
    background-size: 100% 100%;
    float: left;
    box-sizing: border-box;
    padding: 0.2rem 0 0 0;
}

.about_us_price_list li.list2 {
    margin-left: 0.2rem;
}

.about_us_price_list li span {
    display: block;
    margin: auto;
    background: #f5f5f5;
    width: 2.35rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.24rem;
    color: #333333;
    line-height: 0.5rem;
    text-align: center;
}

.about_us_price_list li span img {
    display: inline-block;
    width: 0.4rem;
    vertical-align: middle;
    margin: -0.04rem 0.02rem 0.04rem -0.05rem;
}

.about_us_price_list li p {
    display: block;
    font-size: 0.24rem;
    color: #a3a3a3;
    text-align: center;
    margin: 0 auto;
    padding: 0.15rem 0 0 0;
}

.about_us_price_list li p b {
    font-size: 0.48rem;
    color: #333;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    ;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.technical_analysis_suggest_data_menu,
.tech_analysis_menu li.selected {
    background: #f39800 !important;
}

.technical_analysis_suggest_data_menu div {
    color: black !important;
}

.tech_analysis_menu li {
    background: #00a0e9 !important;
    color: white !important;
}

.technical_analysis_main_content {
    background: none !important;
    padding-bottom: 0.3rem !important;
}

.technical_analysis_text_title {
    color: #004ea2 !important;
    text-align: left !important;
}

.inner-bg {
    height: 100% !important;
    /* background-position: top -100px left !important; */
}

.about_us_new_content {
    background: none !important;
    padding-bottom: 0 !important;
}

.about_us_new_content h1 {
    color: #004ea2 !important;
}

.wrapper {
    padding-bottom: 0.5rem;
}

.tech_analysis_data li .more_btn,
.tech_analysis_time_menu>span.selected {
    background: #f39800 !important;
}

.about_us_new_content .blue_icon li {
    background: linear-gradient(to right, #f39800 0%, #f28e26 100%) !important;
}

.tech_analysis_btn>a {
    background: linear-gradient(#f39800 0%, #f28e26 100%) !important;
}

.welfare {
    margin-top: 0 !important;
}

.about_us_price_list li {
    width: 3.3rem !important;
}