html {
	font-size:100px;
}
body { 
	 font-family: arial, "Microsoft YaHei"; 
	 background: #fff;
	 padding:0;
	 margin:0; 
	}
.wrapper {
	overflow-x: hidden;
}
a {
    transition-duration: 0.5s; 
    -webkit-transition-duration: 0.5s; 
	text-decoration: none;
}
input, button , select {
	 font-family: arial, "Microsoft YaHei"; 
}
p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, pre, input, table, tr, td, form {    margin: 0;    padding: 0}
ol, ul, li { list-style: none}
input { border: 0 none}
img {border: 0 none}

.float_clear {
	float: none;
	clear:both;
	display:block;
	width:100%;
}
.header-inner h1 .logo {
    background-image: url(../images/lp_logo.png);
	background-size: auto  100%;
}
.header a.app_down_btn ,
.header a.online_btn {
	width:1.3rem;
	height:0.4rem;
	line-height:0.4rem;
	text-align:center;
	display:inline-block;
	position:relative;
	color:#fff;
	border-radius:0.05rem;
	font-size:16px;
	box-sizing:border-box;
	padding:0 0 0 0.2rem;
	background-repeat: no-repeat;
	background-size:auto 100%;
	background-position:0.05rem 0px;
}
.header a.app_down_btn {
	display:none;
}
.header a.app_down_btn  {
	background-color:#1d82d2;
	background-image:url(../images/top_btn_icon2.png);
}
.header a.online_btn  {
	background-color:#18ce83;
	margin-left:0.1rem;
	background-image:url(../images/top_btn_icon1.png);
}

.header a.app_down_btn span {
	width:1.3rem;
	height:0;
	left:50%;
	margin-left:-0.65rem;
	position:absolute;
	top:100%;
	background:url(../images/top_qr.png) no-repeat;
	background-size:100% auto;
	transition-duration:0.5s;
}
.header a.app_down_btn:hover span {
	height:1.3rem;
}

.news_header {
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:0.85rem;
	z-index:50;
	transition-duration:0.5s;
}
.news_header.show_bg {
	background:rgba(0,0,0,0.4);
}
.news_header div {
	display:block;
	max-width:750px;
	margin:auto;
	position:relative;
	box-sizing:border-box;
	padding:0.24rem 0.25rem 0 0.25rem;
}
.news_header div .logo {
	width:1.05rem;
	display:block;
}
.news_header div .logo img {
	width:100%;
	display:block;
}
.news_header div .cs_btn {
	display:block;
	right:0.2rem;
	position:absolute;
	top:0.2rem;
	font-size:0.24rem;
	width:1.85rem;
	color:#fff;
	box-sizing:border-box;
	text-align:center;
	padding:0;
	line-height:0.55rem;
	height:0.55rem;
	background:rgba(10,40,115,0.5);
	border-radius:50px ;
}
.news_header div .cs_btn img {
	height:0.3rem;
	vertical-align:middle;
	margin:-0.02rem 0.05rem 0 -0.05rem;
}


.main_content {
	display: block;
	max-width: 750px;
	margin: auto;
	background:#1129a5;
	min-height:100vh;
	padding:0 0 1.4rem 0;
	overflow:hidden;
}
.main_banner {
	display: block;
	max-width: 1920px;
	margin: auto;
	height: 5.4rem;
	background: url(../images/banner_bg.png) no-repeat top center #1129a5;
	background-size: 100% auto;
	position: relative;
	box-sizing: border-box;
	padding: 1.4rem 0 0 0;
	text-align:center;
}
.banner_title {
	display: block;
	max-width: 6.8rem;
	margin: 0 auto ;
	padding-bottom: 0.15rem;
}
.banner_title img {
	display: block;
	max-width: 100%;
	margin-bottom: 0.18rem;
}
.banner_s_title {
	display: block;
	margin: auto;
	font-size: 0.42rem;
	width: 5.2rem;
	height: 0.76rem;
	line-height: 0.76rem;
	text-align: center;
	background: #f7b21b;
	border-radius: 50px;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 0.2rem rgba(0,0,0,0.2);
}

.content1 {
	display: block;
	width: 7.2rem;
	height: 2.65rem;
	background: url("../images/content1_bg.png") no-repeat;
	background-size: 100% 100%;
	margin: auto;
	box-sizing: border-box;
    padding: 0.38rem 0.38rem 0 0;
}
.content1>a {
	display: block;
	margin: 0 0 0 auto;
	background: url("../images/content1_btn.png");
	background-size: 100% 100%;
	width: 1.65rem;
	height: 1.86rem;
	text-align: center;
	box-sizing: border-box;
	padding: 1.25rem 0 0 0;
	font-size: 0px;
	animation-delay: 0.4s;
}
.content1>a i {
	background: url("../images/content1_btn_icon.png") no-repeat;
	background-size: 100% 100%;
	width: 0.2rem;
	height: 0.4rem;
	display: inline-block;
	margin-left: 0.05rem;
	opacity: 0.15;
	animation: content1_icon 2.5s;
	animation-iteration-count: infinite;
}
.content1>a i+i {
	animation-delay: 0.2s;
}
.content1>a i+i+i {
	animation-delay: 0.4s;
}
.content1>a i+i+i+i {
	animation-delay: 0.6s;
}
@keyframes content1_icon {
	0% , 60% , 100% {
		opacity: 0.15;
	}
	20% {
		opacity: 0.5;
	}
}

.content2 {
	display: block;
	padding: 0.8rem 0.3rem 0.3rem 0.3rem;
	box-sizing: border-box;
}

.text_title {
	display: block;
	font-size: 0.36rem;
	box-sizing: border-box;
	background: url("../images/title_icon.png") no-repeat;
	background-position: left top;
	background-size: 0.42rem;
	box-sizing:border-box;
	padding: 0 0 0 0.54rem;
	animation-name: text_title;
	transform-origin: 0.2rem 0.2rem;
}
@keyframes text_title {
	0% {
		transform: rotate(-15deg) translate(-40%, 0);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg)  translate(0 , 0);
		opacity: 1;
	}
}
.text_title p {
	color: #fff;
	display: block;
}
.text_title p+p {
	color: #fc9605;
}
.content2_list {
	display: block;
	margin: 0.35rem auto  0 auto;
	position: relative;
}
.content2_menu {
	display: block;
}
.content2_menu:after {
	display: block;
	content: "";
	clear: both;
}
.content2_menu li {
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	border-radius: 0.08rem;
	width: 23.65%;
	height: 0.75rem;
	line-height: 0.75rem;
	font-size: 0.36rem;
	color: #fff;
	cursor: pointer;
	background: #475efa;
background: -moz-linear-gradient(top,  #475efa 0%, #2038de 100%);
background: -webkit-linear-gradient(top,  #475efa 0%,#2038de 100%);
background: linear-gradient(to bottom,  #475efa 0%,#2038de 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475efa', endColorstr='#2038de',GradientType=0 );

}
.content2_menu li+li {
	margin-left: 1.8%;
}
.content2_menu li.show {
	color: #81490c;
	background: #f8bf26;
background: -moz-linear-gradient(top,  #f8bf26 0%, #f69906 100%);
background: -webkit-linear-gradient(top,  #f8bf26 0%,#f69906 100%);
background: linear-gradient(to bottom,  #f8bf26 0%,#f69906 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8bf26', endColorstr='#f69906',GradientType=0 );
}
.content2_list_page {
	display: block;
	height: 2rem;
	position: relative;
	margin: 0.25rem auto 0 auto;
}
.content2_list_page li {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	transform: perspective(1000px) rotateX(90deg);
	overflow: hidden;
	border-radius: 0.08rem;
	transition-duration: 0.6s;
	background: #475efa;
background: -moz-linear-gradient(top,  #475efa 0%, #2038de 100%);
background: -webkit-linear-gradient(top,  #475efa 0%,#2038de 100%);
background: linear-gradient(to bottom,  #475efa 0%,#2038de 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475efa', endColorstr='#2038de',GradientType=0 );
}
.content2_list_page li.show {
	z-index: 10;
	opacity: 1;
	transform:  perspective(1000px)  rotateX(0deg);
}
.content2_list_page li div {
	font-size: 0.26rem;
	color: #fff;
	line-height: 1.35;
	width: 68%;
	margin-left: 32%;
	box-sizing: border-box;
	padding: 0.35rem 0 0 0;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transform: translate(15%,0);
	opacity: 0;
}
.content2_list_page li.show div {
	transform: translate(0,0);
	opacity: 1;
}
.content2_list_page li div h4 {
	display: block;
	font-size: 0.32rem;
	line-height: 1.5;
	padding-bottom: 0.05rem;
	font-weight: normal;
}
.content2_list_page li div b {
	font-size: 0.34rem;
	color: #f8bc24;
    vertical-align: middle;
	margin: -0.02rem 0 0 0 ;
}
.content2_list_page li .pic {
	position: absolute;
	left: 0.1rem;
	top: 0;
	height: 100%;
}
.content2_list_page li .label {
	position: absolute;
	right: 0;
	top: 0;
	width: 1.1rem;
}

.content3 {
	display: block;
	padding: 1rem 0.3rem 0.3rem 0.3rem;
	box-sizing: border-box;
	min-height: 10rem;
	
	background: #6c1ee0;
background: -moz-linear-gradient(top,  #6c1ee0 0%, #ffb539 100%);
background: -webkit-linear-gradient(top,  #6c1ee0 0%,#ffb539 100%);
background: linear-gradient(to bottom,  #6c1ee0 0%,#ffb539 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c1ee0', endColorstr='#ffb539',GradientType=0 );

}

.content3_chart {
	display: block;
	position: relative;
	max-width: 6.9rem;
	margin: 0.4rem auto 0 auto;
}
.content3_chart img {
	display: block;
	max-width: 100%;
}
.content3_chart p {
	position: absolute;
	display: block;
	top: 0;
	text-align: center;
	color: #fff;
	font-size: 0.24rem;
	line-height: 0.7rem;
	width: 3.35rem;
	height: 3.7rem;
	transform-origin: bottom;
	animation-delay: 0.4s;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("../images/content3_chart_text_bg1.png");
}
.content3_chart p+p {
	right: 0;
	background-image: url("../images/content3_chart_text_bg2.png");
}
.content3_chart p b {
	color: #ffcb5c;
}


.load_bar {
	display: block;
	width: 6.9rem;
	height: 2.2rem;
	background: #fff;
	border: 0.06rem solid #a2c8fe;
	border-radius: 0.18rem;
	margin: 0.2rem auto 0.15rem auto;
	box-sizing: border-box;
	padding: 0.6rem 0.3rem 0 0.3rem;
	font-size: 0.24rem;
	color: #bcbcbf;
}
.load_bar>span {
	display: block;
	text-align: center;
}
.load_bar div {
	width: 100%;
	height: 0.45rem;
	display: block;
	border-radius: 0.1rem;
	padding: 0.1rem;
	box-sizing: border-box;
	margin: 0.1rem auto;
	background: #60a1fa;
background: -moz-linear-gradient(left,  #60a1fa 1%, #1129a5 100%);
background: -webkit-linear-gradient(left,  #60a1fa 1%,#1129a5 100%);
background: linear-gradient(to right,  #60a1fa 1%,#1129a5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a1fa', endColorstr='#1129a5',GradientType=1 );

}
.load_bar div p {
	width: 85%;
	height: 100%;
	display: block;
	position: relative;
	border-radius: 30px 0 0 30px;
	animation-name: load_bar;
	animation-duration: 2s;
	animation-delay: 0.4s;
}
@keyframes load_bar {
	0% {
		width: 0;
	}
	100% {
		width: 85%;
	}
}
.load_bar div p span {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 0.05rem;
	background: #dcf4ff;
background: -moz-linear-gradient(left,  #dcf4ff 0%, #3295ff 100%);
background: -webkit-linear-gradient(left,  #dcf4ff 0%,#3295ff 100%);
background: linear-gradient(to right,  #dcf4ff 0%,#3295ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcf4ff', endColorstr='#3295ff',GradientType=1 );
}
.load_bar div p i {
	display: block;
	width: 1.9rem;
	margin: 0 -1.16rem;
	height: 0.9rem;
	background: url(../images/bar_label.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0;
	bottom: 160%;
}

.content4 {
	display: block;
	padding: 1rem 0.3rem 0.6rem 0.3rem;
	box-sizing: border-box;
}
.content4_list {
	display: block;
	padding: 0.35rem 0 0 0;
}
.content4_list:after {
	display: block;
	content: "";
	clear: both;
}
.content4_list li {
	display: block;
	width: 48.5%;
	float: left;
	background: #3e55f4;
	font-size: 0.24rem;
	margin-bottom: 0.2rem;
	height: 3.3rem;
	border-radius: 0.1rem;
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
	padding: 0.2rem 0 0 0;
}
.content4_list li:nth-child(even) {
	margin-left: 3%;
}
.content4_list li b {
	font-size: 0.32rem;
	display: block;
	padding: 0 0 0.1rem 0;
}
.content4_list li img {
	display: block;
	margin: 0.05rem auto 0.1rem auto;
	width: 1rem;
}

.bottom_btn {
	display:block;
	height:1.4rem;
	position:fixed;
	bottom:0;
	left:50%;
	width:7.5rem;
	margin-left:-3.75rem;
	z-index:100;
	background: url("../images/bottom_btn_bg.png") repeat-x;
	background-size: auto 100%;
	box-sizing:border-box;
	padding:0.1rem 0 0 0;
}
.bottom_btn a {
	display:block;
	width:5.2rem;
	height:1.2rem;
	background:url(../images/bottom_btn.png) no-repeat;
	background-size:cover;
	margin:auto;
	text-align:center;
	box-sizing:border-box;
	padding:0.52rem 0 0 0;
	font-size:0.36rem;
	color:#81490c;
	font-weight: bold;
}


.new_content {
	display:block;
	max-width:750px;
	box-sizing:border-box;
	padding:0.3rem 0.3rem 1rem 0.3rem;
	color:#fff;
	font-size:0.24rem;
}
.new_content .text_title {
	margin-bottom: 0.25rem;
}
.new_content h1 {
	display:block;
	font-size:0.34rem;
	color:#333;
	margin:0;
	padding:0.15rem 0;
}
.new_content .more_btn2 {
	color: #f8bc24;
}
.new_content .more_btn {
	display:block;
	float:right;
	color:#a3a3a3;
	font-size:0.24rem;
	text-decoration:none;
	margin-top:0.25rem;
}
.new_content .more_btn i {
	display:inline-block;
	vertical-align:middle;
	transform:rotate(45deg);
	margin:-0.02rem 0 0.02rem 0.04rem;
	width:0.1rem;
	height:0.1rem;
	border-top:1px solid #a3a3a3;
	border-right:1px solid #a3a3a3;
}
.new_content .blue_icon {
	display:block;
	padding:0.3rem 0 0.2rem 0;
	margin:auto;
}
.new_content .blue_icon:after {
	content:"";
	clear:both;
	display:block;
}
.new_content .blue_icon li {
	width:31.33%;
	display:block;
	float:left;
	height:1.3rem;
	text-align:center;
	border-radius:0.08rem;
	box-sizing:border-box;
	padding:0.15rem 0;
	color:#fff;
	font-size:0.24rem;
	position:relative;
	background: #475efa;
background: -moz-linear-gradient(top,  #475efa 0%, #2038de 100%);
background: -webkit-linear-gradient(top,  #475efa 0%,#2038de 100%);
background: linear-gradient(to bottom,  #475efa 0%,#2038de 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475efa', endColorstr='#2038de',GradientType=0 );

}
.new_content .blue_icon li+li {
	margin-left:3%;
}
.new_content .blue_icon li img {
	display:block;
	margin:0 auto 0.05rem auto;
	width:0.6rem;
}
.new_content .blue_icon li b {
	font-weight: normal;
}
.new_content .blue_icon li a {
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position: absolute;
}
.new_content .img_title {
	margin-bottom: 0.2rem;
}
.price_list {
	display:block;
	padding:0;
	margin:0;
}
.price_list:after {
	display:block;
	content:"";
	clear:both;
}
.price_list li {
	display:block;
	width:3.35rem;
	height:1.6rem;
	border-radius: 0.1rem;
	
	background: #475efa;
background: -moz-linear-gradient(top,  #475efa 0%, #2038de 100%);
background: -webkit-linear-gradient(top,  #475efa 0%,#2038de 100%);
background: linear-gradient(to bottom,  #475efa 0%,#2038de 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475efa', endColorstr='#2038de',GradientType=0 );

	float:left;
	box-sizing:border-box;
	padding:0.2rem 0 0 0;
}
.price_list li.list2 {
	margin-left:0.2rem;
}
.price_list li span {
	display:block;
	margin:auto;
	background:rgba(255,255,255,0.15);
	width:2.35rem;
	height:0.5rem;
	border-radius:0.5rem;
	font-size:0.24rem;
	color:#fff;
	line-height:0.5rem;
	text-align:center;
}
.price_list li.list2 span {
}
.price_list li span img {
	display:inline-block;
	width:0.4rem;
    vertical-align: middle;
	margin:-0.04rem 0.02rem 0.04rem -0.05rem;
}
.price_list li p {
	display:block;
	font-size:0.24rem;
	color:#f8bc24;
	text-align:center;
	margin:0 auto;
	padding:0.15rem 0 0 0;
}
.price_list li p b {
	font-size:0.48rem;
}
.price_list li.list2 p {
	color:#f8bc24;
}


@media(max-width:750px){
	html {
		font-size: 50px;
	}
	
	


}
	
	
	