@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0 none;
    max-width: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

.clearFix {
    clear: both;
    width: 100%;
    display: block;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    overflow: hidden;
}

.clear {
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    -webkit-text-size-adjust: none;
    position: relative;
}

html {
    font-size: 100px;
}

.wrapper {
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    /* 共用 */
}


/* header */

body {
    padding-top: 0rem;
    color: #fff;
}

.headerMain {
    height: 1.4rem;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    z-index: 997;
}

.header-info {
    height: 1.2rem;
    position: relative;
    max-width: 750px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4)
}

.header-info .logo {
    position: absolute;
    top: 50%;
    height: 0.39rem;
    margin-top: -0.19rem;
    left: 0.3rem;
    display: block;
}

.header-info .headerBtQ {
    position: absolute;
    top: 50%;
    height: 0.46rem;
    margin-top: -0.23rem;
    right: 0.3rem;
}

.header-info .headerBtQ img {
    height: 0.58rem;
    display: block;
    float: left;
    margin-left: 0.15rem;
}

@keyframes bgFadeIn {
    0% {
        background-color: #4776e0;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes scaleDraw {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleDraw2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.yh1 {
    -webkit-animation-name: scaleDraw;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
}

.yh2 {
    -webkit-animation-name: scaleDraw2;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
}


/*.wrapper:before {
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	animation: bgFadeIn 0.5s ease-in both;
	top:0px;
	left:0px;
	z-index:0;
}*/

.wrapper {
    position: relative;
}

.part_01 {
    height: 9.49rem;
    background-image: url(../images/102.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.part_01 h2 {
    padding-top: 1.75rem;
}

.part_01 h2 img {
    display: block;
    margin: auto;
    width: 6.9rem;
}

.part_01 a {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 0.24rem;
    vertical-align: middle;
    width: 1.27rem;
    height: 1.1rem;
    line-height: 1.1rem;
    font-weight: bold;
    border-radius: 50%;
}

.part_01 a.b1 {
    top: 3.80rem;
    left: 1.72rem;
}

.part_01 a.b2 {
    top: 3.80rem;
    right: 0.83rem;
}

.part_01 a.b3 {
    top: 5.93rem;
    left: 1.72rem;
    color: #004ea2;
}

.part_01 a.b4 {
    top: 6.03rem;
    left: 3.41rem;
    color: #004ea2;
}

.part_01 a.b5 {
    top: 5.38rem;
    left: 4.5rem;
    color: #004ea2;
}

.part_01 a.b6 {
    top: 5.38rem;
    right: -0.05rem;
}

.part_01 a.b7 {
    top: 7.17rem;
    left: -0.05rem;
    color: #004ea2;
}

.part_01 a.b8 {
    top: 7.52rem;
    left: 2.65rem;
}

.part_01 a.b9 {
    top: 6.99rem;
    right: 0.85rem;
}

.part_02 {
    padding: 0.6rem 0 1rem 0;
}

.part_02 h3 img {
    display: block;
    width: 5.51;
    margin: 0 auto 0.75rem auto;
}

.hide {
    display: none;
}

.part_02 .i1 {
    width: 7rem;
    margin: auto;
    font-size: 0.3rem;
}

.part_02 .i1 #btbfl {
    margin: 0 0.05rem;
}

.part_02 .i1 #btbfl li {
    width: 1.34rem;
    height: 0.5rem;
    line-height: 0.5rem;
    vertical-align: middle;
    background-color: #00a0e9;
    float: left;
    text-align: center;
    margin-bottom: 0.05rem;
    margin-right: 0.05rem;
    cursor: pointer;
}

.part_02 .i1 #btbfl li:last-child {
    margin-right: 0px;
}

.part_02 .i1 #btbfl li.active {
    background-color: #fff100;
    color: #000;
}

.part_02 .i1 #btbShow {
    clear: both;
    height: 0.5rem;
    line-height: 0.5rem;
    vertical-align: middle;
    background-color: #d3edfb;
    color: #000000;
    text-align: center;
    margin: 0 0.05rem;
}

.part_02 .i1 table {
    border-collapse: separate;
    border-spacing: 0.05rem 0.05rem;
    width: 100%;
}

.part_02 .i1 table th {
    background-color: #d3edfb;
    color: #000000;
    height: 0.5rem;
    vertical-align: middle;
    text-align: center;
    width: 25%;
    font-weight: normal;
}

.part_02 .i1 table td {
    background-color: #d3edfb;
    color: #000000;
    height: 0.5rem;
    vertical-align: middle;
    text-align: center;
}

.part_03 {
    padding: 0.65rem 0 0.5rem 0;
    background-image: url(../images/303.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 1.5rem;
}

.part_03 h3 img {
    display: block;
    width: 7.06rem;
    margin: 0 auto 0.75rem auto;
}

.part_03 .i1 {
    width: 6.84rem;
    height: 6.2rem;
    background-color: rgba(255, 255, 255, 1.00);
    margin: 0 auto 1rem auto;
    -webkit-box-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.75);
    box-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.75);
}

.part_03 .i2 {
    width: 6.5rem;
    margin: auto;
}

.part_03 .i2 li {
    font-size: 0.2rem;
    line-height: 0.36rem;
    border: solid 1px #FFFFFF;
    padding: 0.5rem 0 0.5rem 3.04rem;
    position: relative;
    margin-bottom: 0.35rem;
}

.part_03 .i2 li img {
    display: block;
    position: absolute;
    left: 1.2rem;
    top: 50%;
    margin-top: -0.65rem;
    height: 1.31rem;
}

.part_04 {
    padding: 0.3rem 0 0.3rem 0;
    width: 7.5rem;
    margin: auto;
    background-color: #fff;
}

.part_04 img {
    display: block;
    width: 5.73rem;
    margin: auto;
}

.bottomBt {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 998;
}

.bottomBt .bts {
    background-image: url(../images/401.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 7.5rem;
    height: 1.15rem;
    padding-top: 0.42rem;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.bottomBt .bts a {
    display: block;
    width: 3.3rem;
    height: 0.48rem;
    padding-top: 0.34rem;
    background-color: #00a0e9;
    font-size: 0.36rem;
    text-shadow: 0.01rem 0.03rem 0.05rem rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0.03rem 0.03rem 0.1rem rgba(0, 0, 0, 0.35);
    box-shadow: 0.03rem 0.03rem 0.1rem rgba(0, 0, 0, 0.35);
    float: left;
    margin: 0 0 0 0.3rem;
    position: relative;
}

.bottomBt .bts a p {
    display: block;
    position: absolute;
    width: 1.94rem;
    height: 0.44rem;
    padding-top: 0.13rem;
    background-image: url(../images/btBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
    margin-left: -0.97rem;
    top: -0.2rem;
    font-size: 0.24rem;
    color: #000;
}

.bottomBt .bts a:nth-child(2) {
    float: right;
    margin: 0 0.3rem 0 0;
}

.videoTutor {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999999;
}

.videoClose {
    background-image: url(../images/close_btn.png);
    background-size: 100% 100%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.videoWrap {
    width: 3.8rem;
    margin: 0 auto;
    margin-top: 1rem;
}

@media screen and (max-width: 751px) {
    .videoWrap {
        width: 6.5rem;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

video {
    width: 100%;
    height: auto;
}