html {
	font-size:100px;
}
body { 
	 font-family: arial, "Microsoft YaHei"; 
	 background: #fff;
	 padding:0;
	 margin:0; 
	}
.wrapper {
	overflow-x: hidden;
	background-color: #810b0b;
}
a {
    transition-duration: 0.5s; 
    -webkit-transition-duration: 0.5s; 
}
input, button , select {
	 font-family: arial, "Microsoft YaHei"; 
}

.float_clear {
	float: none;
	clear:both;
	display:block;
	width:100%;
}

.banner {
	padding-top: 80px;
}
.main_content {
	display: block;
	max-width: 1920px;
	margin: auto;
	background: url(../images/main_bg.png);
	background-position-y: 100px;
	background-position-x: center;
	background-size: 2.22rem auto;
}
.index_banner {
	display: block;
	max-width: 1920px;
	margin: auto;
	height: 980px;
	background: url(../images/banner_bg.jpg) no-repeat top center;
	background-size: auto 100%;
	position: relative;
	box-sizing: border-box;
	padding: 145px 0 0 0;
    perspective: 200px;
	overflow: hidden;
  /*   overflow-x: hidden;*/
}
.banner_content {
	display: block;
	max-width: 1200px;
	margin: auto;
	padding: 0 10px;
	box-sizing: border-box;
}
.banner_title {
	display: block;
	width: 65%;
    max-width: 570px;
	margin: 0 0 0 auto;
}
.banner_title img.s_title {
	display: block;
	max-width: 96%;
	margin: 0 auto 20px auto;
}
.banner_title img.b_title {
	display: block;
	max-width: 100%;
	margin: 0 auto ;
}
.banner_title img.b_title.mobile {
	display: none;
}
.banner_btn {
	display: block;
	text-align: center;
	padding: 50px 0 0 0;
}
.banner_btn span {
	display: inline-block;
	vertical-align: top;
	margin: 0 4%;
	max-width: 220px;
	width: 40%;
}
.banner_btn span a {
	display: block;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.banner_btn span a img {
	display: block;
	max-width: 100%;
}
.banner_btn span b {
	font-size: 18px;
	color: #fff;
	text-shadow: 0 0 5px #000;
	display: block;
	padding: 15px 0 0 0;
	text-align: center;
	font-weight: normal;
}
.banner_btn span b i {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 1px;
	background: #fff;
	margin: 0 5px;
	opacity: 0.6;
}


.img_title {
	display: block;
}
.img_title img {
	display: block;
	max-width: 100%;
	margin: auto;
}
.img_title img+img {
	display: none;
}


.index_content1 {
	display: block;
	padding: 0 0.2rem 0.2rem 0.2rem;
	max-width: 1920px;
	margin: auto;
	box-sizing: border-box;
	position: relative;
	margin-top: -270px;
}
.content1_list {
	max-width: 1140px;
	display: block;
    height: 420px;
	margin: 90px auto 60px auto;
	position: relative;
}
.content1_list li {
	width: 550px;
	display: block;
	position: absolute;
	transform: translate(0,0) scale(0.6);
	z-index: 1;
	left: 50%;
	margin-left: -275px;
    transition-duration: 0.5s; 
}
.content1_list li.show {
	transform: translate(0,0) scale(1);
	z-index: 5;
}
.content1_list li.right {
	transform: translate(55%,0) scale(0.8);
	z-index: 3;
}
.content1_list li.left {
	transform: translate(-55%,0) scale(0.8);
	z-index: 3;
}
.content1_list img.title {
	position: absolute;
	width: 60%;
	margin-left: -30%;
	left: 50%;
	top: -6%;
}
.content1_list li p.bg {
	display: block;
	border-radius: 0.2rem;
	overflow: hidden;
	box-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
}
.content1_list li p.bg img {
	display: block;
	width: 100%;
}
.content1_list li div {
	display: block;
	position: absolute;
	width: 100%;
	padding: 13% 7% 0 7%;
	top: 0;
	color: #a53535;
	box-sizing: border-box;
}
.content1_list li div p ,
.content1_list li div span {
	font-size: 0.3rem;
	width: 50%;
	float: left;
	text-align: center;
	font-family: arial;
}
.content1_list li div span {
    margin: auto;
    float: none;
    display: block;
    padding-top: 48%;
	box-sizing: border-box;
	padding-right: 4%;
}
.content1_list li div b {
	font-size: 0.6rem;
	display:inline-block;
	vertical-align: top;
	font-weight: normal;
	line-height: 1;
	padding: 0 0.15rem 0 0;
}

.content1_btn {
	display: block;
	max-width: 1160px;
	margin: auto;
	position: relative;
}
.content1_btn p {
	position: absolute;
	display: block;
	width: 0.25rem;
	left: 0;
	top: 270px;
	cursor: pointer;
	opacity: 0.5;
	z-index: 20;
}
.content1_btn p:hover {
	opacity: 0.7;
}
.content1_btn p+p {
	left: auto;
	right: 0;
}



.index_content4 {
	display: block;
	padding: 0.4rem 0.2rem;
	max-width: 1920px;
	margin: auto;
	box-sizing: border-box;
	position: relative;
}

.content4_list {
	display: block;
	max-width: 1140px;
	margin: auto;
	padding: 0.5rem 0;
}
.content4_list li {
	display: block;
	width: 25%;
	float: left;
	text-align: center;
	color: #fff;
}
.content4_list li p {
	display: block;
	margin: auto;
	width: 140px;
	height: 140px;
	background: #fff;
	border-radius: 140px;
    box-shadow: 0 0.1rem 0.15rem rgba(0,0,0,0.3);
}
.content4_list li p img {
	display: block;
	width: 100%;
}
.content4_list li b {
	font-size: 24px;
	display: block;
	padding: 0.2rem 0;
	font-weight: normal;
}
.content4_list li span  {
    font-size: 16px;
    line-height: 1.6;
    display: block;
    max-width: 200px;
    margin: auto;
	width: 90%;
}
.content4_list li i {
	display: block;
	width: 40px;
	height: 2px;
	margin: 0 auto 0.2rem auto;
	background: #a65454;
}

.bottom_btn {
	display: block;
	text-align: center;
	padding: 0 0 0.5rem 0;
}
.bottom_btn a {
	width: 220px;
	display: block;
	margin: auto;
	box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.2);
}
.bottom_btn a img {
	display: block;
	width: 100%;
}


.popup_div {
	display:none;
	background:rgba(0,0,0,0.7);
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1200;
	text-align:center;
    perspective: 1200px;
}
.popup_div.fixfixed {
	position:absolute;
}
.popup_div.fixfixed .popup_div_content {
	display:block;
	margin-top:2vh;
}
.popup_div:after {
	content:"";
	height:100%;
	width:0px;
	display:inline-block;
	vertical-align:middle;
}
.popup_div_content {
	display:inline-block;
	background:#fff;
	max-width:980px;
	margin:auto;
	text-align:left;
	padding:0px;
    position: relative;
    vertical-align: middle;
    width: 90%;
	border-radius:5px;
	animation: fadeIn_popup1 0.7s forwards;
	animation-delay: 0.5s;
	opacity: 0;
	transform: rotateX(90deg);
}
@keyframes fadeIn_popup1 {
  0% {
	transform: rotateX(90deg) translateY(-500px) translateZ(200px);
	opacity: 0;
	 
  }
	50% {
	opacity: 1;
	}
  100% {
	transform: rotateX(0deg) translateY(0px) translateZ(0px);
	opacity: 1;
	  
  }
}
.popup_div_content h1 {
	display:block;
	font-size:30px;
	color:#a53535;
	border-bottom:1px solid #aaa;
	font-weight:normal;
	padding:0;
	text-align:center;
    position: absolute;
	height:70px;
	line-height:70px;
	background:#fff;
	width:100%;
	border-radius:5px 5px 0 0;
}
.popup_div_content h1 span {
	font-weight:bold;
}
.popup_div_content h2 {
	display:block;
	font-size:18px;
	color:#a53535;
	line-height: 1.5;
	font-weight:normal;
	padding:0 0 0 0;
	margin:0 0 5px 0;
}
.popup_div_content h3 {
	display:block;
	font-size:18px;
	color:#46528c;
	font-weight:normal;
	padding:0 0 0 0;
	margin:0 0 5px 0;
}
.popup_div_content .popup_inside {
	display:block;
	padding:70px 0 0 0;
	box-sizing:border-box;
}
.popup_div_content .popup_inside a {
	color:#26568d;
	text-decoration:underline;
}
.popup_div_content .popup_inside b {
	color:#26568d;
	font-size: 16px;
}
.popup_div_content .popup_inside .popup_inside_over {
	display:block;
	overflow:auto;
	max-height:80vh;
	padding:30px 35px;
	font-size:14px;
	color:#333333;
	line-height:1.8;
	text-align:justify;
	text-justify:inter-ideograph;
    position: relative;
}
.popup_div_content .popup_inside .popup_inside_over::-webkit-scrollbar {
    width: 10px;
	height:10px;
	border-radius:10px;
}
.popup_div_content .popup_inside .popup_inside_over::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
}
.popup_div_content .popup_inside .popup_inside_over::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius:10px;
}


.popup_div_content .popup_inside ol {
	padding:0 0 0 22px;
	margin:0;
	position:relative;
}
.popup_div_content .popup_inside ol li {
	list-style:decimal;
}
.popup_div_content .popup_inside ol li span.list_num {
	position: absolute;
	margin:0 0 0 -22px;
}

.popup_div_content p.popup_close {
	padding:0;
	margin:0;
	width:40px;
	height:40px;
	cursor:pointer;
	float:right;
	position:absolute;
	right:10px;
	top:15px;
	border-radius: 100%;
	z-index:5;
	box-sizing: border-box;
	padding: 0.1rem;
	background: #f1f1f1;
}
.popup_div_content p.popup_close img {
	width:100%;
	height:100%;
	display:block;
}
.popup_div_content p.popup_close:hover {
	opacity:1;
}

.login_div .popup_div_content{
	max-width:600px;
}

.login_form {
	display: block;
	max-width:300px;
	margin:auto;
	text-align: center;
	font-size: 16px;
}
.login_form input {
	display:block;
	width:100%;
	height:50px;
	box-sizing:border-box;
	border:1px solid #dde2e4;
	margin-bottom:15px;
	padding:0 50px 0 20px;
	font-size:18px;
}
.login_form button {
	cursor:pointer;
	color:#fff;
	font-size:18px;
	width:100%;
	height:50px;
	display:block;
	margin-top:20px;
	margin-bottom: 10px;
	background:#a53535;
	border:none;
	border-radius:5px;
}
.login_form button:hover {
	background:#da4d4d;
}
.login_form input.id_input {
	background:url(../images/key_icon.png) no-repeat right 3% center;
}
.login_form input.mobile_input {
	background:url(../images/phone_icon.png) no-repeat right 3% center;
}
.error_text {
	display: block;
	min-height: 0.25rem;
	color: #e45a44;
}






.share_popup {
	display:none;
	background:rgba(0,0,0,0.7);
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1200;
	text-align:center;
    perspective: 1200px;
	font-size: 0.2rem;
}
.share_popup:after {
	content:"";
	height:100%;
	width:0px;
	display:inline-block;
	vertical-align:middle;
}
.share_popup_content {
	display:inline-block;
	background:#fcf7f1;
	background-size: cover;
	max-width:670PX;
	margin:auto;
	text-align:left;
	padding:0 0 0.1rem 0;
    position: relative;
    vertical-align: middle;
    width: 90%;
	border-radius:5px;
	animation: fadeIn_popup1 0.7s forwards;
	animation-delay: 0.5s;
	opacity: 0;
	transform: rotateX(90deg);
	box-sizing: border-box;
	overflow: hidden;
}
.share_popup_content h1 {
	font-size: 45px;
	display: block;
	font-weight: normal;
	text-align: center;
	color: #a53535;
	padding: 0.4rem 0 0.2rem 0;
}
.share_popup_content .close_btn {
	display: block;
}
.share_popup_content .close_btn span {
	display: block;
	position: absolute;
	width: 0.45rem;
	height: 0.45rem;
	padding: 0.1rem;
	box-sizing: border-box;
	cursor: pointer;
	right: 0.1rem;
	top: 0.1rem;
	border-radius: 100%;
	background: #f1f1f1;
}
.share_popup_content .close_btn span:hover {
	opacity: 1;
}
.share_popup_content .close_btn span img {
	display: block;
	width: 100%;
}
.share_popup_content .share_list {
    margin: 0.15rem 0.4rem 0.2rem 0.4rem;
}
.share_popup_content .share_list li {
	position: relative;
}
.share_popup_content .share_list li a {
    max-width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	background: none;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.share_popup_content .share_list li p {
    max-width: 0.8rem;
	padding: 0;
	margin: auto;
}
.share_popup_content .share_list li:hover span img {
	opacity: 1;
}
.share_popup_content .share_list li b {
	text-align: center;
	color: #333;
	font-size: 18px;
}
.share_popup_content .share_list li:hover b {
	color: #a53535;
}
.share_popup_content .share_list li {
    position: relative;
}

.share_list {
	display: block;
	max-width: 1140px;
	margin: 0.4rem auto 0 auto;
}
.share_list li {
	float: left;
	width: 20%;
	font-size: 20px;
}
.share_list li a {
	display: block;
	max-width: 140px;
	margin: auto;
	text-align: center;
}
.share_list li  span {
	display: block;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.share_list li  span img {
	display: block;
	width: 100%;
	opacity: 0;
    transition-duration: 0.5s; 
    -webkit-transition-duration: 0.5s; 
}
.share_list li a:hover span img {
	opacity: 1;
}
.share_list li  b {
	display: block;
	font-weight: normal;
	padding: 0.15rem 0;
}
.share_list li.icon1  span {
	background-image: url(../images/share_icon1.png);
}
.share_list li.icon2  span {
	background-image: url(../images/share_icon2.png);
}
.share_list li.icon3  span {
	background-image: url(../images/share_icon3.png);
}
.share_list li.icon4  span {
	background-image: url(../images/share_icon4.png);
}
.share_list li.icon5  span {
	background-image: url(../images/share_icon5.png);
}

.copy_link_popup {
	position:fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	z-index: 1210;
	background: #fff;
    filter: drop-shadow( 0 0.05rem 0.15rem rgba(0,0,0,0.5) );
	display: none;
	transform: translate(235px, 125px);
	box-sizing: border-box;
	padding: 25px;
	border-radius: 10px;
}
.copy_link_popup:before {
	content: "";
	width: 20px;
	height: 15px;
	background: url(../images/arrow_icon.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: -15px;
	left: 50%;
	margin-left: -10px;
}
.copy_link_popup.show_link {
	display: block;
	animation: other_popup 0.5s 1;
}
.copy_link_popup  b {
	display: block;
	font-size: 24px;
	color: #a53535;
	text-align: center;
	font-weight: normal;
}
.copy_link_popup  input  {
	width: 100%;
	display: block;
	border: 1px solid #ddd;
	box-sizing: border-box;
	height: 40px;
	margin: 20px auto;
	padding: 0 10px;
	font-size: 18px;
}
.copy_link_popup p {
	display: block;
	width: 75%;
	background: #a53535;
	color: #fff;
	text-align: center;
	margin: auto;
    font-size: 18px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	border-radius: 0.05rem;
}

.qr_popup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 240px;
	margin-left: -120px;
	z-index: 1210;
	background: #fff;
    filter: drop-shadow( 0 0.05rem 0.15rem rgba(0,0,0,0.5) );
	display: none;
	transform: translate(-240px, 125px);
	box-sizing: border-box;
	padding: 25px;
	border-radius: 10px;
}
.qr_popup.show_qr {
	display: block;
	animation: other_popup 0.5s 1;
}
.qr_popup:before {
	content: "";
	width: 20px;
	height: 15px;
	background: url(../images/arrow_icon.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: -15px;
	left: 50%;
	margin-left: -10px;
}
.qr_popup img {
	display: block;
	margin: auto;
}

@keyframes other_popup {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.mobile_bottom_btn {
	display: none;
}
.mobile_tnc {
	display: none;
}

.tnc_btn {
	display: block;
	max-width: 1140px;
	margin: auto;
    height: 1px;
}
.tnc_btn p {
	display: block;
	margin: 0 0 0 auto;
	width: 120px;
	background: rgba(255,255,255,0.2);
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 40px;
	transform: translate(0, -100%);
	cursor: pointer;
}
.tnc_btn p:hover {
	background: rgba(255,255,255,0.35);
}
.popup_close2,
.copy_link_popup p.popup_close2 {
	display: none;
}


@media(max-width:1100px){
.pc_bottom_menu p {
    font-size: 35px;
}
}


@media(max-width:980px){

.banner {
    padding-top: 57px;
}
.pc_bottom_menu p {
    font-size: 32px;
}
.pc_bottom_menu p a {
    width: 200px;
}

}
@media(max-width:750px){
	html {
		font-size: 50px;
	}
.popup_div_content h1 {
    font-size: 0.3rem;
    height: 0.7rem;
    line-height: 0.7rem;
    border-radius: 5px 5px 0 0;
}
.popup_div_content .popup_inside {
    padding: 0.7rem 0 0 0;
}
.popup_div_content p.popup_close {
    width: 0.4rem;
    height: 0.4rem;
    right: 0.1rem;
    top: 0.2rem;
	box-sizing: border-box;
	padding: 0.1rem;
	background: #f1f1f1;
	opacity: 1;
}
.popup_div_content .popup_inside .popup_inside_over {
    max-height: 70vh;
    padding: 0.3rem;
    font-size: 0.2rem;
    line-height: 1.8;
}
.popup_div_content .popup_inside ol {
    padding: 0 0 0 0.25rem;
    margin: 0;
}
.popup_div_content h2 {
    font-size: 0.25rem;
    margin: 0 0 0.05rem 0;
}
.popup_div_content h3 {
    font-size: 0.22rem;
    margin: 0 0 0.05rem 0;
}
.popup_div_content .popup_inside ol li .li_num {
	margin:0 0 0 -0.25rem;
}

.content3_list li {
    font-size: 0.20rem;
}
.login_form input {
    display: block;
    width: 100%;
    height: 0.75rem;
	line-height: 0.75rem;
    border: 1px solid #dde2e4;
    margin-bottom: 0.15rem;
    padding: 0 50px 0 0.2rem;
    font-size: 0.22rem;
}
.login_form button {
    font-size: 0.22rem;
    width: 100%;
    height: 0.75rem;
    margin-top: 0.3rem;
    border-radius: 5px;
}	

.popup_div_content {
	display: block;
	margin-top: 0.5rem;
}	
@keyframes fadeIn_popup1 {
  0% {
	transform: rotateX(0deg) translateY(-100%) translateZ(0px);
	opacity: 0;
	 
  }
	50% {
	opacity: 1;
	}
  100% {
	transform: rotateX(0deg) translateY(0px) translateZ(0px);
	opacity: 1;
	  
  }
}		
	
	
.index_banner {
    height: 6.6rem;
    background: url(../images_share/banner_bg_m.jpg) no-repeat top center;
    background-size: auto 100%;
    padding: 0.5rem 0 0 0;
}		
.index_content1 {
    margin-top: -1.2rem;
}	
.banner_title {
    width: 100%;
    margin: auto;
	padding-top: 0.8rem;
}	
.banner_btn {
	display: block;
    padding-top: 0.75rem;
}	

.banner_title img.b_title.desktop {
	width: 54%;
	margin: 0 0 0 auto;
}
	
	
.content1_list {
    height: 4.5rem;
    padding: 0.5rem 0 0 0;
    margin: 0.3rem auto 0.3rem auto;
}	

.index_content4 {
	
}	
	


.img_title img {
	display: none;
}
.img_title img+img {
	display: block;
	height: 0.9rem;
}
.content1_list>li {
    width: 5.5rem;
	margin-left: -2.75rem;
}	
.content1_list li.right {
	transform: translate(25%,0) scale(0.8);
}
.content1_list li.left {
	transform: translate(-25%,0) scale(0.8);
}	
.content1_btn {
	display: none;
}	
.content4_list li {
    width: 50%;
	padding-bottom: 0.5rem;
}	
.content4_list li span {
    font-size: 0.22rem;
    width: 80%;
}	
.content4_list li b {
    font-size: 0.3rem;
}
.content4_list li p {
    width: 1.8rem;
    height: 1.8rem;
}	
.bottom_btn a {
    width: 2.8rem;
}
.banner_btn span {
    width: 2.8rem;
}	
.content4_list li i {
    width: 0.5rem;
}
	
}
	
	
	