html {
	font-size:100px;
}
body { 
	 font-family: arial, "Microsoft YaHei"; 
	 background: #fff;
	 padding:0;
	 margin:0; 
	}
.wrapper {
	overflow-x: hidden;
}
a {
    transition-duration: 0.5s; 
    -webkit-transition-duration: 0.5s; 
	text-decoration: none;
}
input, button , select {
	 font-family: arial, "Microsoft YaHei"; 
}
html,body, p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, pre, input, table, tr, td, form {    margin: 0;    padding: 0}
.icon, i {font-style: normal; text-decoration: none;}
ol, ul, li { list-style: none}
input { border: 0 none}
img {border: 0 none}

.float_clear {
	float: none;
	clear:both;
	display:block;
	width:100%;
}
.header-inner h1 .logo {
    background-image: url(../images/lp_logo.png);
	background-size: auto  100%;
}
.header a.app_down_btn ,
.header a.online_btn {
	width:1.3rem;
	height:0.4rem;
	line-height:0.4rem;
	text-align:center;
	display:inline-block;
	position:relative;
	color:#fff;
	border-radius:0.05rem;
	font-size:16px;
	box-sizing:border-box;
	padding:0 0 0 0.2rem;
	background-repeat: no-repeat;
	background-size:auto 100%;
	background-position:0.05rem 0px;
}
.header a.app_down_btn {
	display:none;
}
.header a.app_down_btn  {
	background-color:#1d82d2;
	background-image:url(../images/top_btn_icon2.png);
}
.header a.online_btn  {
	background-color:#18ce83;
	margin-left:0.1rem;
	background-image:url(../images/top_btn_icon1.png);
}

.header a.app_down_btn span {
	width:1.3rem;
	height:0;
	left:50%;
	margin-left:-0.65rem;
	position:absolute;
	top:100%;
	background:url(../images/top_qr.png) no-repeat;
	background-size:100% auto;
	transition-duration:0.5s;
}
.header a.app_down_btn:hover span {
	height:1.3rem;
}

.news_header {
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:0.8rem;
	z-index:50;
	transition-duration:0.5s;
	background: #fff;
	box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.2);
}
.news_header.show_bg {
}
.news_header div {
	display:block;
	max-width:750px;
	margin:auto;
	position:relative;
	box-sizing:border-box;
	padding:0.18rem 0.25rem 0 0.25rem;
}
.news_header div .logo {
	width:1.05rem;
	display:block;
	height: 0.5rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../images/top_logo.png);
}
.news_header div .logo img {
	width:100%;
	display:block;
}
.news_header div .cs_btn {
	display:block;
	right:0.2rem;
	position:absolute;
	top:0.2rem;
	font-size:18px;
	width:1.8rem;
	color:#fff;
	box-sizing:border-box;
	text-align:center;
	padding:0;
	line-height:0.6rem;
	height:0.6rem;
	background-color:rgba(0,0,0,0.2);
	background-size: 0.2rem auto;
	border-radius:0.05rem;
	padding: 0 0 0 0.2rem;
}
.news_header div .cs_btn img {
	height:0.3rem;
	vertical-align:middle;
	margin:-0.02rem 0.05rem 0 -0.05rem;
}

.news_header {
	background: none;
	box-shadow: none;
}
.news_header.show_bg {
	background:rgba(80,20,145,0.6);
}	
.news_header div .logo {
    background-image: url(../images/top_logo_m.png);
}	
.news_header div .cs_btn {
    right: 0.2rem;
    position: absolute;
    top: 0.15rem;
    font-size: 0.22rem;
	background-color:rgba(0,0,0,0.2);
	padding:0 ;
	width: 1.8rem;
	border-radius: 0.1rem;
}

.main_content {
	display: block;
	max-width: 750px;
	margin: auto;
	background:#0053dd;
	min-height:100vh;
	padding:0 0 0 0;
	overflow:hidden;
	font-size: 0.22rem;
}
.main_banner {
	display: block;
	max-width: 1920px;
	margin: auto;
	height: 7.3rem;
	background: url(../images/banner_bg.jpg) no-repeat top center ;
	background-size: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 0.85rem 0 0 0;
	text-align:center;
}

.banner_title {
	display: block;
	position: relative;
	width: 100%;
	z-index: 20;
}
.banner_title img {
	display: block;
	width: 100%;
}
.banner_title span {
	display: block;
	top: 0;
	position: absolute;
}
.banner_pic {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 4.4rem;
}
.banner_pic li {
	position: absolute;
	display: block;
	width: 4.2rem;
	margin: 0.3rem 0 0 0.2rem;
	animation-delay: 0.35s;
}
.banner_pic li+li {
	right: 0;
	width: 3.7rem;
	margin: 0 0.2rem 0 0;
}
.banner_pic li img {
	display: block;
	width: 100%;
    animation: banner_pic 10s linear;
    animation-iteration-count: infinite;
}
.banner_pic li+li img {
	animation-delay: -5s;
}
@keyframes banner_pic {
	0%, 100% {
		transform: translate(1%, 1%);
	}
	12.5%{
		transform: translate(2%, 0);
	}
	25%{
		transform: translate(1%, -2%);
	}
	37.5%{
		transform: translate(0, -2%);
	}
	50%{
		transform: translate(-1%, -1%);
	}
	62.5%{
		transform: translate(-2%, 0);
	}
	75%{
		transform: translate(-1%, 1%);
	}
	87.5%{
		transform: translate(0, 2%);
	}
}


.content1 {
	display: block;
	margin: -1.3rem auto 0 auto;
	position: relative;
	z-index: 10;
	padding: 0.1rem 0.3rem;
	box-sizing: border-box;
}
.login_form {
	display: block;
	background: #fff;
	padding: 0.5rem 0.4rem 0.2rem 0.4rem;
	min-height: 6rem;
	border-radius: 0.1rem;
	box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.2);
}
.login_form .form_title {
	display:block;
	width: 100%;
}
.login_form .error_msg {
	position:absolute;
	top:50%;
	left:30%;
	width:40%;
	background:rgba(0,0,0,0.7);
	color:#fff;
	z-index:50;
	text-align:center;
	padding:0.2rem 0;
	border-radius:0.2rem;
	display:none;
	transform: translate(0,-50%);
}
.login_form .error_msg span {
	display:block;
	padding:0.05rem 0;
	font-size:0.28rem;
}
.login_form .form_list {
	display:block;
	margin: 0.25rem auto 0 auto;
	width: 5.7rem;
}
.login_form .form_list li {
	display:block;
	position:relative;
	margin:0 0 0.1rem 0;
}
.login_form .form_list li input {
	display:block;
	box-sizing:border-box;
	width:100%;
	height:0.9rem;
	border:1px solid #d5d5d5;
	background:#fff;
	border-radius:0.1rem ;
	box-sizing:border-box;
	padding:0 0.3rem;
	font-size:0.32rem;
	color:#333;
	outline: none;
}
.login_form .form_list li.error input{
	background:#fff7f7;
	color:#fc6b6b;
	border:1px solid #fc6b6b;
}
.login_form .form_list li.list3 input {
	width: 60%;
}
.login_form .form_list li.list3 .code_btn {
	position:absolute;
	height:0.9rem;
	right:0;
	width:2.2rem;
	background:#0150db;
	top:50%;
	margin-top:-0.45rem;
	line-height:0.9rem;
	text-align:center;
	color:#fff;
	font-size:0.3rem;
	border-radius:0.1rem ;
	cursor:pointer;
}
.login_form .form_list li.list3 .code_btn.hide {
	background:#79a8ee;
	cursor:auto;
}
.login_form .form_list li input::placeholder {
	color:#9d9d9d;
}
.login_form .form_list li .form_btn {
	font-size:0.36rem;
	height:0.9rem;
	line-height:0.9rem;
	text-align:center;
	width:100%;
	margin:0.2rem auto 0.1rem auto;
	border-radius:0.1rem;
	border:none;
	color:#fff;
	cursor:pointer;
	display:block;
	outline: none;
	font-weight: bold;
	letter-spacing: 0.1rem;
	background: #1f49de;
background: -moz-linear-gradient(left,  #1f49de 0%, #8306b8 100%);
background: -webkit-linear-gradient(left,  #1f49de 0%,#8306b8 100%);
background: linear-gradient(to right,  #1f49de 0%,#8306b8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f49de', endColorstr='#8306b8',GradientType=1 );

}
.login_form .form_list li label {
	font-size:0.24rem;
	display:block;
	padding:0 0 0 0.5rem;
	color:#999999;
	cursor:pointer;
}
.login_form .form_list li label span {
	font-size:0.22rem;
	color:#477fd3;
	padding:0.08rem 0;
	display:block;
}
.login_form .form_list li.list5  input {
	position:absolute;
	left:0.05rem;
	top:0.05rem;
	width:0.2rem;
	height:0.2rem;
	border:none;
	
}
.login_form .form_list li.list5  input:after {
	width:0.4rem;
	height:0.4rem;
	margin:-0.2rem 0;
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:-0.1rem;
	background-color:#fff;
	background-size:100% auto;
	background-repeat:no-repeat;
	background-image:url(../images/checkbox.png);
}
.login_form .form_list li.list5  input:checked:after {
	background-position:center;
}
.login_form .form_list li.list5.error  input:after {
	background-position:bottom;
}
.login_form .form_list li.show_clear .clear_btn {
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	margin: -0.2rem;
	right: 0.4rem;
	top: 50%;
	z-index: 10;
	background: url("../images/clear_icon.png") no-repeat;
	background-size: 100%;
	cursor: pointer;
}
.login_form .form_list li.list3.show_clear .clear_btn {
    right: 2.7rem;
}
.login_form .form_list li.list4.show_clear .clear_btn {
    right: 0.9rem;
}
.login_form .form_list li .pw_btn {
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	margin: -0.2rem;
	right: 0.4rem;
	top: 50%;
	z-index: 10;
	background: url("../images/pw_icon.png") no-repeat;
	background-size: 100% auto;
	cursor: pointer;
}
.login_form .form_list li.show_pw .pw_btn {
	background-position: bottom;
}

.content2 {
	display: block;
	padding: 0.5rem 0;
}
.content2_menu {
	display: block;
	text-align: center;
	font-size: 0px;
}
.content2_menu li {
	display: inline-block;
	width: 2.35rem;
}
.content2_menu li p {
	display: block;
	width: 100%;
	height: 1.25rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	transition-duration: 0.5s;
}
.content2_menu li p.btn1 {
	background-image: url("../images/content2_menu_btn1.png");
}
.content2_menu li p.btn2 {
	background-image: url("../images/content2_menu_btn2.png");
}
.content2_menu li p.btn3 {
	background-image: url("../images/content2_menu_btn3.png");
}
.content2_menu li.show p {
	transform: translate(0,-10%);
	background: none;
}
.content2_menu li p img {
	display: block;
	width: 100%;
	opacity: 0;
}
.content2_menu li.show p img {
	opacity: 1;
}

.content2_page {
	display: block;
	position: relative;
}
.content2_page>li {
	position: absolute;
	opacity: 0;
	z-index: 1;
	width: 100%;
	top: 0;
	display: block;
	padding: 0.15rem 0 0 0;
	transition-duration: 0.5s;
}
.content2_page>li.show {
	position: relative;
	z-index: 5;
	opacity: 1;
}
.content2_title {
	display: block;
}
.content2_title img {
	display: block;
	margin: auto;
	height: 1.4rem;
}
.content2_s_title {
	display: block;
	font-size: 0.3rem;
	color: #fff;
	background: url("../images/content2_s_title.png") no-repeat;
	width: 4.1rem;
	height: 0.45rem;
	line-height: 0.45rem;
	text-align: center;
	margin: auto;
}
.content2_y_btn {
	display: block;
	position: relative;
	z-index: 30;
}
.content2_y_btn a {
	display: block;
	margin: auto;
	font-size: 0.3rem;
	color: #0053dd;
	width: 4.7rem;
	font-weight: bold;
	height: 0.8rem;
	line-height: 0.8rem;
	border-radius: 0.1rem;
	text-align: center;
	box-shadow: 0 0.15rem 0.2rem rgba(0,0,0,0.2);
	background: #fff7d7;
background: -moz-linear-gradient(top,  #fff7d7 0%, #ffeb63 100%);
background: -webkit-linear-gradient(top,  #fff7d7 0%,#ffeb63 100%);
background: linear-gradient(to bottom,  #fff7d7 0%,#ffeb63 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7d7', endColorstr='#ffeb63',GradientType=0 );

}

.content2_page2 {
	display: block;
	height: 3.8rem;
	width: 6.9rem;
	margin: 0.45rem auto;
	background: url("../images/content2_page2_bg.png") no-repeat bottom center;
	background-size: 100% auto;
	position: relative;
}
.content2_page2 div {
	position: absolute;
	display: block;
	bottom: 0.6rem;
	width: 2.1rem;
	margin-left: -1.05rem;
	height: 3.18rem;
	overflow: hidden;
}
.content2_page2 div p {
	display: block;
	width: 2.1rem;
	height: 3.18rem;
	box-sizing: border-box;
	color: #fff;
	font-size: 0.24rem;
	text-align: justify;
	padding: 1.75rem 0.2rem 0 0.2rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform: translate(0,100%);
	transition-duration: 0.75s;
	transition-delay: 0.3s;
}
.content2_page li.show .content2_page2 div p {
	transform: translate(0,0);
}
.content2_page2 div.label1 {
    left: 25.5%;
}
.content2_page2 div.label2 {
    left: 74.5%;
}
.content2_page2 div.label1 p {
	background-image: url("../images/content2_page2_label1.png");
}
.content2_page2 div.label2 p {
	background-image: url("../images/content2_page2_label2.png");
}

.content2_page3 {
	margin: 0.45rem auto;
	display: block;
	padding: 0 0.4rem ;
}
.content2_page3 .top_msg {
	display: block;
	font-size: 0.24rem;
	color: #fff;
	position: relative;
	padding: 0 0 0 1.2rem;
	line-height: 1.5;
}
.content2_page3 .top_msg b {
	color: #ffeb69;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	font-weight: normal;
}

.content2_chart {
	display: block;
	width: 6.9rem;
	height: 4.95rem;
	background: url("../images/content2_page3_chart.png") no-repeat;
	background-size: 100% 100%;
	margin: 0.35rem -0.1rem auto -0.1rem;
	border-radius: 0.2rem;
	position: relative;
}
.content2_chart p {
	position: absolute;
	width: 2rem;
	margin-left: -1rem;
    bottom: 1.25rem;
	left: 2.72rem;
	overflow: hidden;
}
.content2_chart p+p {
    left: 5.1rem;
}
.content2_chart p img {
	display: block;
	margin: auto;
	width: 100%;
	transform: translate(0,90%);
	transition-duration: 0.75s;
	transition-delay: 0.25s;
}
.content2_page li.show .content2_chart p img {
	transform: translate(0,0);
}

.content3 {
	display: block;
	min-height: 5rem;
	background: url("../images/content3_bg.png") no-repeat center top;
	background-size: 100% auto;
	background-color: #0053dd;
	padding: 0.45rem 0.3rem;
}

.content3_list {
	display: block;
}
.content3_list:after {
	display: block;
	content: "";
	clear: both;
}
.content3_list li {
	display: block;
	float: left;
	height: 4.7rem;
	background: #0129ac;
	width: 48.5%;
	margin-top: 0.5rem;
	position: relative;
	padding: 0.65rem 0.25rem 0 0.25rem;
	box-sizing: border-box;
	color: #fff;
	text-align: justify;
	line-height: 1.35;
	border-radius: 0.2rem;
	font-size: 0.24rem;
}
.content3_list li:nth-child(even) {
	margin-left: 3%;
}
.content3_list li .content3_title {
	position: absolute;
	width: 2.9rem;
	margin: -0.2rem 0 0 -1.45rem;
	left: 50%;
	top: 0;
}
.content3_list li .content3_title img {
	display: block;
	max-width: 100%;
}
.content3_list li>img  {
	display: block;
	margin: auto;
	width: 1.3rem;
}
.content3_list li b {
	font-size: 0.3rem;
	color: #ffeb69;
	display: block;
	line-height: 1.2;
	text-align: center;
	padding: 0.1rem 0 0.12rem 0;
}

.content3_btn {
	display: block;
	color: #0053dd;
	font-size: 0.3rem;
	width: 4.7rem;
	height: 0.8rem;
	line-height: 0.8rem;
	margin: 0.4rem auto ;
	border-radius: 0.1rem;
	text-align: center;
    font-weight: bold;
	box-shadow: 0 0.15rem 0.2rem rgba(0,0,0,0.2);
	background: #fff7d7;
background: -moz-linear-gradient(top,  #fff7d7 0%, #ffeb63 100%);
background: -webkit-linear-gradient(top,  #fff7d7 0%,#ffeb63 100%);
background: linear-gradient(to bottom,  #fff7d7 0%,#ffeb63 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7d7', endColorstr='#ffeb63',GradientType=0 );
}


.content4 {
	display: block;
	padding: 0.4rem 0;
	background: url("../images/content4_bg.jpg") no-repeat center;
	background-size: cover;
	position: relative;
}
.content4:after {
	content: "";
	display: block;
	width: 1rem;
	height: 100%;
	position: absolute;
	z-index: 20;
	background: url("../images/content4_mask.png") repeat-y center;
	background-size: 100% auto;
	right: 0;
	top: 0;
}

.content4_list_over {
	display: block;
	overflow: hidden;
	margin: 0.3rem 0 0.1rem 0;
}
.content4_list {
	display: block;
	width: 18rem;
	padding: 0 0 0 0.2rem;
	box-sizing: border-box;
}
.content4_list:after {
	display: block;
	content: "";
	clear: both;
}
.content4_list li {
	display: block;
	background: #fff;
	width: 1.88rem;
	height: 3.85rem;
	float: left;
	margin-right: 0.2rem;
	box-sizing: border-box;
	padding: 0.3rem 0;
	border-radius: 0.2rem;
}
.content4_list li p {
	display: block;
	padding: 0 0.2rem;
	font-size: 0.24rem;
	color: #333;
	text-align: justify;
    font-family: "Microsoft YaHei", arial ;
}
.content4_list li p b {
	color: #d62525;
}
.content4_list li .profile_pic {
	width: 0.95rem;
	display: block;
	margin: auto;
	border-radius: 100%;
	overflow: hidden;
}
.content4_list li .profile_pic img {
	display: block;
	width: 100%;
}
.content4_list li>b {
	display: block;
	text-align: center;
	font-size: 0.24rem;
	color: #333333;
	padding: 0.15rem 0;
}
.content4_list li .red_label {
	display: block;
	background: url("../images/red_label.png") no-repeat;
	background-size: 100% 100%;
	width: 1.5rem;
	height: 0.72rem;
	line-height: 0.72rem;
	box-sizing: border-box;
	padding: 0 0 0 0.55rem;
	margin: 0 auto 0.1rem auto;
	font-size: 0.36rem;
	color: #ffeb69;
	font-weight: bold;
}
.content4 .content2_title {
	position: relative;
	z-index: 30;
}


.mobile_ball {
	display: block;
	position: absolute;
	height: 8.4rem;
	width: 100%;
	left: 0;
	top: 2.5rem;
	z-index: 1;
}
.mobile_ball li {
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	border-radius: 100%;
	display: block;
	text-align: center;
	animation: ball1 6s linear;
	animation-iteration-count: infinite;
}
@keyframes ball1 {
	0%, 100% {
		transform: translate(5%, 5%);
	}
	12.5%{
		transform: translate(8%, 0);
	}
	25%{
		transform: translate(5%, -5%);
	}
	37.5%{
		transform: translate(0, -8%);
	}
	50%{
		transform: translate(-5%, -5%);
	}
	62.5%{
		transform: translate(-8%, 0);
	}
	75%{
		transform: translate(-5%, 5%);
	}
	87.5%{
		transform: translate(0, 8%);
	}
}
.mobile_ball li p {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0px;
	animation: ball2 6s;
	animation-iteration-count: infinite;
}
@keyframes ball2 {
	0%, 100% {
		transform: translate(0, 2%);
	}
	50% {
		transform: translate(0, -2%);
	}
}
.mobile_ball li p:after {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.mobile_ball li p span {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.28rem;
	font-weight: bold;
}
.mobile_ball li.ball1 {
	background-image: url("../images/content3_ball_bg1.png");
	width: 2.3rem;
	height: 2.3rem;
	margin: -1.15rem;
    top: 34%;
    left: 12%;
	z-index: 5;
}
.mobile_ball li.ball1_w {
	width: 2.3rem;
	height: 2.3rem;
	margin: -1.15rem;
    top: 32%;
    left: 14%;
	background: rgba(255,255,255,0.15);
	animation-duration: 7s;
}
.mobile_ball li.ball2 {
	background-image: url("../images/content3_ball_bg2.png");
	width: 1.85rem;
	height: 1.85rem;
	margin: -0.925rem;
    top: 27%;
    left: 86%;
	z-index: 5;
	animation-delay: -1s;
}
.mobile_ball li.ball2_w {
	width: 1.85rem;
	height: 1.85rem;
	margin: -0.925rem;
    top: 25%;
    left: 88%;
	background: rgba(255,255,255,0.15);
	animation-duration: 7.5s;
	animation-delay: -2s;
}
.mobile_ball li.ball3 {
	background-image: url("../images/content3_ball_bg3.png");
	width: 1.85rem;
	height: 1.85rem;
	margin: -0.925rem;
    top: 74%;
    left: 13%;
	z-index: 5;
	animation-delay: -2s;
}
.mobile_ball li.ball3_w {
	width: 1.85rem;
	height: 1.85rem;
	margin: -0.925rem;
    top: 76%;
    left: 12%;
	background: rgba(255,255,255,0.15);
	animation-duration: 7.2s;
	animation-delay: -4s;
}
.mobile_ball li.ball4 {
	background-image: url("../images/content3_ball_bg4.png");
	width: 2.3rem;
	height: 2.3rem;
	margin: -1.15rem;
    top: 61%;
    left: 88%;
	z-index: 5;
	animation-delay: -3s;
}
.mobile_ball li.ball4_w {
	width: 2.3rem;
	height: 2.3rem;
	margin: -1.15rem;
    top: 63%;
    left: 85%;
	background: rgba(255,255,255,0.15);
	animation-duration: 6.8s;
	animation-delay: -1s;
}



.mobile_screen {
	display:block;
	width:4rem;
	margin:0.4rem auto 0.5rem auto;
	position:relative;
	z-index: 10;
}
.mobile_screen .light_bg {
	position:absolute;
	z-index:0;
	width:98%;
	height:100%;
	background: rgba(108,178,238,0.7);
	display:block;
	top:0;
	left:1%;
	border-radius:0.5rem;
	box-shadow:0 0 0.2rem rgba(69,120,255,0.7);
	animation:light_bg 2s;
	animation-iteration-count:infinite;
}
@keyframes light_bg {
	0% , 100% {
		box-shadow:0 0 0.2rem rgba(69,120,255,0.7);
	}
	50% {
		box-shadow:0 0 0.6rem rgba(69,120,255,1);
	}
}
.mobile_screen img.bg {
	display:block;
	width:100%;
	position:relative;
	z-index:1;
}
.mobile_screen ul {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:5;
}
.mobile_screen ul li {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	transition-duration:0.5s;
	transition-delay: 0.5s;
	opacity:0;
}
.mobile_screen ul li.show {
	opacity:1;
	z-index: 5;
	animation: mobile_screen 1 0.5s;
}
@keyframes mobile_screen {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.mobile_screen ul li img {
	display:block;
	width:100%;
}
.mobile_screen ul li p {
	position:absolute;
	width:1.1rem;
	height:1.1rem;
	display:block;
	margin:-0.55rem;
	opacity: 0;
}
.mobile_screen ul li.show p {
	opacity: 1;
}
.mobile_screen ul li p i {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-image:url(../images/finger1.png);
	animation:finger 1.6s;
	animation-iteration-count:infinite;
}
@keyframes finger {
	0% , 65% , 100% {
		opacity:0;
	}
	10%, 55%  {
		opacity:1
	}
}
.mobile_screen ul li p i+i {
	background-image:url(../images/finger2.png);
	animation-delay:-0.8s;
}
.mobile_screen ul li.list1 p {
	top: 51%;
    left: 35%;
}
.mobile_screen ul li.list2 p {
	left: 72%;
    top: 90%;
}
.mobile_screen ul li.list3 p {    
	left: 95%;
    top: 12%;
}
.mobile_screen ul li.list4 p {
    left: 20%;
    top: 84%;
}
.mobile_screen ul li.list5 p {
    left: 98%;
    top: 40%;
}
.mobile_screen ul li.list1b span {
	position: absolute;
	width: 80%;
	top: 30%;
	left: 10%;
	overflow: hidden;
	border-radius: 0.3rem;
	box-shadow: 0 0 0.3rem rgba(0,0,0,0.35);
} 
.mobile_screen ul li.list1b span img ,
.mobile_screen ul li.list3b span img {
	display: block;
	width: 100%;
}

.mobile_screen ul li.list3b span {
	position: absolute;
	width: 80%;
	top: 45%;
	left: 10%;
	overflow: hidden;
	border-radius: 0.3rem;
	box-shadow: 0 0 0.3rem rgba(0,0,0,0.35);
} 


.mobile_bottom_btn {
	display:block;
	height:1.4rem;
	position:fixed;
	bottom:0;
	left:50%;
	width:7.5rem;
	margin-left:-3.75rem;
	z-index:100;
	background:rgba(70,12,149,0.9);
	box-sizing:border-box;
	padding:0.15rem 0 0 0;
	text-align: center;
	font-size: 0px;
}

.mobile_bottom_btn a {
	display:inline-block;
	width:3.55rem;
	height:1.2rem;
	background:url(../images/bottom_btn1.png) no-repeat;
	background-size:100%;
	margin:auto;
	text-align:center;
	box-sizing:border-box;
	padding:0.47rem 0 0 0;
	font-size:0.36rem;
	color:#3f139c;
	font-weight: bold;
	letter-spacing: 0.02rem;
}
.mobile_bottom_btn a.btn2 {
	background-image:url(../images/bottom_btn2.png);
	margin-left: 0.05rem;
}



.new_content {
	display:block;
	max-width:750px;
	box-sizing:border-box;
	padding:0.4rem 0.3rem 2rem 0.3rem;
	color:#fff;
	font-size:0.24rem;
	background: url("../images/bottom_bg.png") top center repeat-x #0b5de7;
	background-size: auto 2rem;
}
.new_content .big_title {
	margin-bottom: 0.25rem;
	display: block;
}
.new_content .big_title img {
	display: block;
	margin: auto;
	height: 0.8rem;
}
.new_content h1 {
	display:block;
	font-size:0.34rem;
	color:#333;
	margin:0;
	padding:0.15rem 0;
}
.new_content .more_btn2 {
	color: #ffeb69;
}
.new_content .more_btn {
	display:block;
	float:right;
	color:#a3a3a3;
	font-size:0.24rem;
	text-decoration:none;
	margin-top:0.25rem;
}
.new_content .more_btn i {
	display:inline-block;
	vertical-align:middle;
	transform:rotate(45deg);
	margin:-0.02rem 0 0.02rem 0.04rem;
	width:0.1rem;
	height:0.1rem;
	border-top:1px solid #a3a3a3;
	border-right:1px solid #a3a3a3;
}
.new_content .blue_icon {
	display:block;
	padding:0.3rem 0 0.2rem 0;
	margin:auto;
}
.new_content .blue_icon:after {
	content:"";
	clear:both;
	display:block;
}
.new_content .blue_icon li {
	width:31.33%;
	display:block;
	float:left;
	height:1.3rem;
	text-align:center;
	border-radius:0.1rem;
	box-sizing:border-box;
	padding:0.15rem 0;
	color:#0053dd;
	font-size:0.24rem;
	position:relative;
	box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.15);
	
	background: #fff7d8;
background: -moz-linear-gradient(top,  #fff7d8 0%, #ffeb61 100%);
background: -webkit-linear-gradient(top,  #fff7d8 0%,#ffeb61 100%);
background: linear-gradient(to bottom,  #fff7d8 0%,#ffeb61 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7d8', endColorstr='#ffeb61',GradientType=0 );



}
.new_content .blue_icon li+li {
	margin-left:3%;
}
.new_content .blue_icon li img {
	display:block;
	margin:0 auto 0.05rem auto;
	width:0.6rem;
}
.new_content .blue_icon li b {
	font-weight: normal;
}
.new_content .blue_icon li a {
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position: absolute;
}
.new_content .img_title {
	margin-bottom: 0.2rem;
}
.price_list {
	display:block;
	padding:0;
	margin:0;
}
.price_list:after {
	display:block;
	content:"";
	clear:both;
}
.price_list li {
	display:block;
	width:3.35rem;
	height:1.6rem;
	border-radius: 0.1rem;
	background: #fff;
	float:left;
	box-sizing:border-box;
	padding:0.2rem 0 0 0;
	border: 0.04rem solid #4865e0;
}
.price_list li.list2 {
	margin-left:0.2rem;
}
.price_list li span {
	display:block;
	margin:auto;
	background: #e5edfc;
	width:2.35rem;
	height:0.5rem;
	border-radius:0.5rem;
	font-size:0.24rem;
	color:#0053dd;
	line-height:0.5rem;
	text-align:center;
}
.price_list li.list2 span {
}
.price_list li span img {
	display:inline-block;
	width:0.4rem;
    vertical-align: middle;
	margin:-0.04rem 0.02rem 0.04rem -0.05rem;
}
.price_list li p {
	display:block;
	font-size:0.24rem;
	color:#0053dd;
	text-align:center;
	margin:0 auto;
	padding:0.15rem 0 0 0;
}
.price_list li p b {
	font-size:0.48rem;
}
.price_list li.list2 p {
	color:#0053dd;
}


.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 100;
	text-align: center;
	font-size: 0px;
}
.popup:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.popup_content {
	display: inline-block;
	vertical-align: middle;
	width: 5.9rem;
	height: 4.5rem;
	background: #fff;
	font-size: 0.24rem;
	color: #333333;
	position: relative;
	border-radius: 0.2rem;
}
.popup_content h1 {
	display: block;
	background: url("../images/popup_title_bg.jpg") no-repeat;
	background-size: cover;
	height: 0.9rem;
	line-height: 0.9rem;
	color: #fff;
	font-weight: normal;
	font-size: 0.36rem;
	border-radius: 0.2rem 0.2rem 0 0;
}
.popup_content  .popup_icon {
	display: block;
	margin: 0.4rem auto 0.25rem auto;
	width: 1rem;
}
.popup_content b {
	color: #0041b9;
	font-size: 0.26rem;
	font-weight: normal;
}
.popup_content  .popup_btn {
	display: block;
	width: 2.3rem;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	font-size: 0.24rem;
	border-radius: 0.1rem;
	color: #fff;
	margin: 0.3rem auto 0 auto;
	background: #1f49de;
background: -moz-linear-gradient(left,  #1f49de 0%, #8306b8 100%);
background: -webkit-linear-gradient(left,  #1f49de 0%,#8306b8 100%);
background: linear-gradient(to right,  #1f49de 0%,#8306b8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f49de', endColorstr='#8306b8',GradientType=1 );

}

.popup_close {
	display: block;
	position: absolute;
	width: 0.46rem;
	height: 0.46rem;
	margin: -0.23rem;
	display: block;
	background: #fff;
	right: 0;
	top: 0;
	border-radius: 100%;
	cursor: pointer;
	z-index: 10;
}
.popup_close:before ,
.popup_close:after {
	content: "";
	display: block;
	position: absolute;
	height: 60%;
	top: 20%;
	left: 50%;
	width: 1px;
	margin-left: -0.5px;
	background: #0f4cbd;
	transform: rotate(-45deg);
}
.popup_close:after {
	transform: rotate(45deg);
}


@media(max-width:1100px) {

}

@media(max-width:980px) {

	
}



@media(max-width:750px){
	html {
		font-size: 50px;
	}
	
	
	
}
	
	
	