html{
	font-size:100px;
}

.news_header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 50;
    background: #fff;
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.2);
}

.news_header.show_bg {}

.news_header div {
    display: block;
    max-width: 1280px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding: 15px 25px 0 25px;
}

.news_header div .logo {
    width: 120px;
    display: block;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/top_logo.png);
}

.news_header div .logo img {
    width: 100%;
    display: block;
}

.news_header div .cs_btn {
    display: block;
    right: 20px;
    position: absolute;
    top: 10px;
    font-size: 16px;
    width: 104px;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    line-height: 36px;
    height: 31px;
    background-color: #17ce83;
    background-image: url("../images/cs_icon.png");
    background-repeat: no-repeat;
    background-position: 0.12rem center;
    background-size: 16px auto;
    border-radius: 0.05rem;
    padding: 0 0 0 0.1rem;
}

.news_header div .cs_btn img {
    height: 30px;
    vertical-align: middle;
    margin: -0.02rem 0.05rem 0 -0.05rem;
}

.main_content {
    display: block;
    max-width: 1920px;
    margin: auto;
    background: #3f28bd;
    padding: 0 0 0 0;
    overflow: hidden;
    font-size: 0.2rem;
}