.layui-m-layer0 .register_success {
  padding: 50px;
  border-radius: 26px;
  background: url(../images/popup.png?hash=a396490055b1d058cdcf) no-repeat center center;
  width: 425px !important;
  height: 448px; }
  .layui-m-layer0 .register_success .layer-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%); }
  .layui-m-layer0 .register_success .register_success_content .text {
    font-size: 30px;
    color: #FFF0C6;
    letter-spacing: 0.86px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px; }
  .layui-m-layer0 .register_success .register_success_content .logo_success {
    width: 100%;
    height: auto; }
  .layui-m-layer0 .register_success .register_success_content .btn1,
  .layui-m-layer0 .register_success .register_success_content .btn2 {
    width: 124px;
    height: 38px;
    line-height: 38px;
    border-radius: 19px;
    flex: 0 0 124px;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    border: 0;
    letter-spacing: 0.82px;
    cursor: pointer;
    user-select: none; }
  .layui-m-layer0 .register_success .register_success_content .btn1 {
    border: 1px solid #fbe5d2;
    background-color: transparent; }
    .layui-m-layer0 .register_success .register_success_content .btn1 a {
      color: #fbe5d2;
      text-decoration: none; }
  .layui-m-layer0 .register_success .register_success_content .btn2 {
    background: linear-gradient(180deg, #fbe5d2 0%, #d59d5f 100%); }
    .layui-m-layer0 .register_success .register_success_content .btn2 a {
      color: #1c2454; }
  .layui-m-layer0 .register_success .register_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 312px;
    width: 84%; }

@media (max-width: 751px) {
  .layui-m-layer0 .register_success {
    width: 4.5rem !important;
    background-size: 100%;
    height: 4.48rem;
    padding: 0.5rem; }
    .layui-m-layer0 .register_success .register_success_content .register_bottom {
      width: 4.25rem;
      top: 2.96rem; }
      .layui-m-layer0 .register_success .register_success_content .register_bottom .btn1,
      .layui-m-layer0 .register_success .register_success_content .register_bottom .btn2 {
        width: 1.24rem;
        height: 0.38rem;
        line-height: 0.38rem;
        border-radius: 0.19rem;
        flex: 0 0 1.24rem;
        font-size: 0.16rem; } }
