@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}
img {
  border: 0 none;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.clearFix {
	clear:both;
	width:100%;
	display:block;
	font-size:0px;
	line-height:0px;
	height:0px;
	overflow:hidden;
}
.clear {
	clear:both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	-webkit-text-size-adjust: none;	
	position:relative;
}
html{
  font-size: 100px;
}
.wrapper{
	max-width:750px;
    min-width: 320px;
	margin: 0 auto;
	overflow:hidden;
	height:auto;
	/* 共用 */
}
/* header */
body {
	padding-top:0rem;
	background-color:#321eaf;	
	color:#fff;	
}
.headerMain {
    height:1.32rem;
	position: fixed;
	top:0rem;
	left:0rem;
	width:100%;
	z-index:997;
}
.header-info {
	height:1.32rem;
	position:relative;
	max-width:750px;
	margin:auto;
	margin:auto;
}
.header-info .logo {
	position:absolute;
	top:50%;
	height:0.48rem;
	margin-top:-0.24rem;
	left:4%;
	display:block;	
}
.header-info .headerBtQ {
	position:absolute;
	top:50%;
	height:0.58rem;
	margin-top:-0.29rem;
	right:4%;
}
.header-info .headerBtQ img {
	height:0.44rem;
	display:block;
	float:right;
	margin-left:0rem;
}
@keyframes bgFadeIn {
    0% {
        background-color: #4776e0;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
/*.wrapper:before {
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	animation: bgFadeIn 0.5s ease-in both;
	top:0px;
	left:0px;
	z-index:0;
}*/
.wrapper {
	position:relative;
	background-color:#2b6df9;
}
.part_01 {
	background-image:url(../images/bg_01.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding-top:1.28rem;
}
.part_01 h2 img {
	width:92.9%;
	margin:0 auto 1.5rem auto;
	display:block;	
}
.part_01 .i1 {
	width:47.8%;
	position:absolute;
	left:4%;
	top:4.14rem;
}
.part_01 .i2 {
	width:49%;
	position:absolute;
	right:4%;
	top:4.47rem;
}
.part_01 .i3 {
	display:block;
	width:100%;
}
.mBt {
	display:block;
	width:100%;
	font-size:0.52rem;
	line-height:0.72rem;
	background-image:url(../images/201.png);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% auto;
	text-align:center;
}
.mBt span {
	display: block;
	background: linear-gradient(to bottom, #fff, #ffefc5);
	color: transparent;
	-webkit-background-clip: text;
	/*-webkit-text-shadow: 0px 0.05rem 0.08rem rgba(0,0,0,0.3);
	text-shadow: 0px 0.05rem 0.08rem rgba(0,0,0,0.3);*/
}
.part_02 {
	padding:0.93rem 0 1.6rem 0;
	background-image:url(../images/bg_02.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:top center;
}
.part_02 .i1 {
	padding:0.68rem 4% 0.5rem 4%;
}
.part_02 .i1 table {
	width: 100%;
	border-radius: 0.18rem;
	color: #000;
}
.part_02 .i1 table th {
	font-size:0.28rem;
	line-height:0.36rem;
	text-align:center;
	vertical-align:middle;
	padding:0.15rem 2%;
}
.part_02 .i1 table td {
	font-size:0.22rem;
	line-height:0.27rem;
	text-align:center;
	vertical-align:middle;
	padding:0.15rem 2%;
}
.part_02 .i1 table tr:nth-child(1) th:nth-child(1) {
	border-radius: 0.18rem 0 0 0;
}
.part_02 .i1 table tr:nth-child(1) th:last-child {
	border-radius: 0 0.18rem 0 0;
}
.part_02 .i1 table tr:last-child td:last-child {
	border-radius: 0 0 0.18rem 0;
}
.part_02 .i1 table tr:last-child th:nth-child(1) {
	border-radius: 0 0 0 0.18rem;
}
.part_02 .i1 table th:nth-child(1) {
	width:18%;
}
.part_02 .i1 table td:nth-child(2),.part_02 .i1 table td:nth-child(3) {
	width:41%;
}
.part_02 .i1 table td:nth-child(1),.part_02 .i1 table td:nth-child(3),.part_02 .i1 table th:nth-child(1)  {
	background-color:#f9eabf;
}
.part_02 .i1 table td:nth-child(2) {
	background-color:#fefbf2;
	color:#591dc8;
}
.part_02 .i1 table tr:nth-child(even) td:nth-child(1),.part_02 .i1 table tr:nth-child(even) td:nth-child(3),.part_02 .i1 table tr:nth-child(even) th:nth-child(1) {
	background-color:#d1e4fd;
}
.part_02 .i1 table tr:nth-child(even) td:nth-child(2) {
	background-color:#f6faff;
}
.part_02 .i1 table tr:nth-child(1) th:nth-child(1),.part_02 .i1 table tr:nth-child(1) th:nth-child(3) {
	background-color:#f3d074;
	padding-top:0.22rem;
}
.part_02 .i1 table tr:nth-child(1) th:nth-child(2) {
	background-color:#fdf6e3;
	padding-top:0.22rem;
	color:#591dc8;
	position:relative;
}
.part_02 .i1 table tr:nth-child(1) th:nth-child(2):before {
	content:" ";
	position:absolute;
	width:0.7rem;
	height:0.46rem;
	background-image:url(../images/202.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	top:-0.29rem;
	left:50%;
	margin-left:-0.35rem;
}
.part_03 {
	background-image:url(../images/bg_03.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% 100%;
	padding:0 0 0.7rem 0;
	text-align:center;
}
.part_03 .mBt {
	margin-bottom:0.6rem;
}
.part_03 .i1 {
	position:relative;
	margin-bottom:0.3rem;
}
.part_03 .i1 .i1_1 {
	width:53.7%;
	margin:auto;
	position:relative;
	z-index:3;
}
.part_03 .i1 img.bg {
	display:block;
	width:100%;
}
.part_03 .i1 .i1_2 {
	position:absolute;
	left:0px;
	top:1.35rem;
	z-index:1;
	height:5.88rem;
}
.part_03 .i1 .i1_3 {
	position:absolute;
	right:0px;
	top:0.73rem;
	z-index:1;
	height:5.34rem;
}
.part_04 {
	background-image:url(../images/bg_04.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% 100%;
	
}
.part_04 .i1 {
	padding-top:0.8rem;
	margin:0 4% 0.15rem 4%;
	position:relative;
}
.part_04 .i1:before {
	content:" ";
	position:absolute;
	left:0.5rem;
	top:0.35rem;
	width:2.41rem;
	height:1.54rem;
	background-image:url(../images/401.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.part_04 .i1 li {
	height: 0.67rem;
	line-height: 0.67rem;
	vertical-align: middle;
	text-align: center;
	color: #f7e161;
	margin-bottom: 0.25rem;
	border-radius: 0.335rem;
	background: linear-gradient(to right, rgba(18,46,173,1.00), rgba(18,46,173,1.00));
	letter-spacing:0.02rem;
	font-size:0.28rem;
}
.part_04 .i1 li:nth-child(1) {
	background: linear-gradient(to right, rgba(18,46,173,0) 30%, rgba(18,46,173,1.00) 70%);
	text-align:right;
	padding-right:0.3rem;
}
.part_04 .i2 {
	margin: 0 4% 0.7rem 4%;
	border-radius: 0.19rem;
	padding:0.19rem;
	background-color:#476df5;
	-webkit-box-shadow: 0px 0px 0.08rem 0 rgba(0,0,0,0.3);
	box-shadow: 0px 0px 0.08rem 0 rgba(0,0,0,0.3);
}
.part_04 .i2 img {
	display: block;
	width: 100%;	
}
.part_05 {
	padding-bottom:0.7rem;
	background-image:url(../images/bg_05.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:100% 100%;
}
.part_05 .mBt {
	margin-bottom:0.5rem;
}
.part_05 ul {
	margin:0 4%;
	height:auto;
	overflow:hidden;
}
.part_05 ul li {
	width:46.5%;
	margin-right:7%;
	text-align:center;
	height:2.75rem;
	padding-top:0.55rem;
	background-image:url(../images/501.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-bottom:0.23rem;
	float:left;
}
.part_05 ul li:nth-child(2n) {
	margin-right:0%;
}
.part_05 ul li h4 {
	font-size:0.28rem;
	color:#5b8ab0;
}
.part_05 ul li img {
	display:block;
	padding:0.15rem 0;
	height:0.76rem;
	margin:auto;
}
.part_05 ul li div {
	height:0.76rem;
	line-height:0.76rem;
	vertical-align:middle;
	width:62.5%;
	margin:auto;
}
.part_05 ul li div p {
	display:inline-block;
	font-size:0.2rem;
	line-height:0.24rem;
	color:#000;	
}
.mBts {
	display: block;
	width: 2.83rem;
	height: 0.6rem;
	line-height: 0.6rem;
	vertical-align: middle;
	font-size: 0.29rem;
	background-color: #2b48cf;
	color: #b6d8fe;
	border-radius: 0.27rem;
	border: solid 0.04rem #b6d8fe;
	font-weight:bold;
	margin:auto;
}
.footerINfo {
	padding:0 0 0.5rem 0;
	position:relative;
	z-index:2;
	background-image:url(../images/bg_06.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
/*.footerINfo h3 {
	text-align: center;
	font-size: 0.56rem;
	padding-left: 0.2rem;
	text-align:left;
	color: #9f93eb;
	margin-bottom: 0.15rem;
	text-shadow: 0.05rem 0.05rem 0px #000000;
}
.footerINfo h3 img {
	width:88%;
	margin:0 auto 0 auto;
}*/
.footerINfo .mBt {
	margin-bottom:0.64rem;
}
.footerINfo .i1 {
	color:#fff;
	margin:0 4%;
}
.footerINfo .i1 a {
	color:#f7e161;
}
.footerINfo .i1 a img {
	display:inline-block;
	vertical-align:middle;
	height:0.13rem;
}
.footerINfo .i1 {
	font-size:0.24rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
	display:block;
	text-align:left;
}
.footerINfo .i2 {
	text-align:center;
	display:block;
	margin:0 4% 0.19rem 4%;
}
.footerINfo .i2 a img {
	display: inline-block;
	border-radius: 0.05rem;
	width: 31.4%;
}
.footerINfo .i2 a:nth-child(1) img {
	float:left;
}
.footerINfo .i2 a:nth-child(3) img {
	float:right;
}
.footerINfo .i3  {
	margin:0 4%;
}
.footerINfo .i3 li {
	width: 48%;
	float: left;
	text-align: center;	
	border-radius: 0.08rem;	
	padding-bottom:0.25rem;	
	color: #333333;
	border: solid 0.02rem #a2b3f5;
	background-color: #fff;
	/*background: linear-gradient(#2871fb,#2871fb);
	*/
}
.footerINfo .i3 li:nth-child(2) {
	float:right;
}
.footerINfo .i3 li h4 {
	display: inline-block;
	line-height: 0.48rem;
	padding: 0 0.2rem 0 0.7rem;
	background-image: url(../images/115_201.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0.2rem center;
	height: 0.48rem;
	vertical-align: middle;
	font-size: 0.24rem;
	font-weight: normal;
	border-radius: 0.24rem;
	background-color: #f5f5f5;
	color:#333333;
	margin:0.2rem;
}
.footerINfo .i3 li:nth-child(2) h4 {
	background-image: url(../images/115_202.png);
}
.footerINfo .i3 li p {
	font-weight:bold;
	font-size:0.48rem;
	line-height:0.48rem;
	vertical-align: bottom;
	color:#333333;
}
.footerINfo .i3 li p strong {
	line-height:0.24rem;
	font-size:0.24rem;
	font-weight:normal;
	color:#a3a3a3;
	vertical-align:bottom;
}
.footerINfo .i4 {
	clear:both;
	padding:0.58rem 0 0.4rem 0;
}
.footerINfo .i4 img {
	display:block;
	width:54%;
	margin:auto;
}
.mfooter {
	width:100%;
	position:fixed;
	left:0px;
	bottom:0px;
	z-index:998;
}
.mfooter div.i1 {
	max-width: 750px;
	padding: 0.17rem 0 0rem 0;
	background-color: #070c7c;
	margin: auto;
	text-align: center;
	height:auto;
}
.mfooter a {
	height: 1.21rem;
	display:block;
	width: 44%;
	background-image: url(../images/mBtBg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left:4%;
	float: left;
	position: relative;	
	color: #191b7e;	
	display: inline-block;
}
.mfooter a span {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	height:0.42rem;
	line-height:0.42rem;
	font-size:0.24rem;
}
.mfooter a p {
	position:absolute;
	top:0.52rem;
	left:0px;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	font-weight: bold;
}
.mfooter a:nth-child(2) {
	margin-left:0;
	margin-right:4%;
	float:right;
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity:1;
     }
    25% {
        opacity:0;
    }
    50% {
        opacity: 0;    
    }
    75% {
        opacity:1;
    }
}
.anim_fade_image {
    position:absolute;    
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -webkit-animation-direction: alternate;
}
/*popVideo*/
.popup_video {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 20;
	text-align: center;
	font-size: 0px;
	z-index:999;
}
.popup_video:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.popup_video video {
	display: inline-block;
	vertical-align: middle;
	height: 90%;
	max-width: 90%;
    outline: none;
}
.popup_video  .video_close {
	position: absolute;
	right: 0.15rem;
	top: 0.15rem;
	width: 0.5rem;
	height: 0.5rem;
	box-sizing: border-box;
	border: 0.03rem solid #fff;
	background: #333;
	border-radius: 100%;
	z-index: 10;
	cursor: pointer;
}
.popup_video  .video_close:before,
.popup_video  .video_close:after {
	content: "";
	position: absolute;
	width: 4%;
	height: 80%;
	margin: -40% -2%;
	background: #fff;
	display: block;
	left: 50%;
	top: 50%;
	transform: rotate(-45deg);
}
.popup_video  .video_close:after {
	transform: rotate(45deg);
}
.indexPic{
	position:absolute;
	left:2.5%;
	top:1.3%;
	width:94.27%;
	height:97.4%;
}
.index1{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../images/indexpic.png) no-repeat top center;
  background-size: 100% 100%;
}
.index2{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../images/indexpic2.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.index3{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../images/indexpic3.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.index4{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../images/indexpic4.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.index5{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../images/indexpic5.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.index6{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../images/indexpic6.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.finger1{
  top: 3.8rem;
  right: 1.8rem;
}
.finger2{
  bottom: 0.15rem;
  right: 0.6rem;
}
.finger3{
  top: 0.3rem;
  right: -0.4rem;
}
.finger4{
  bottom: 0.7rem;
  right: 2.55rem;
}
.finger5{
  top: 2.7rem;
  right: -0.55rem;
}
.finger{
  position: absolute;
  width: 0.78rem;
  height: 0.99rem;
  background: url(../images/finger2.png) no-repeat top center;
  background-size: 100% 100%;
}
.finger.on{
  width: 1.08rem;
  height: 1.06rem;
  background: url(../images/finger.png) no-repeat top center;
  background-size: 100% 100%;
}

#videoBox {
	display: none;
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Black background with opacity */
	z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}

video {
	max-width: 100vw;
	max-height: 100vh;
}
.video-flex {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
#closeBtn {
	position: absolute;
	color: red;
	font-size: 0.5rem;
	top: 0.1rem;
	right: 0.1rem;
	cursor: pointer;
	z-index: 999;
}

.part_02 a {
	height: 1.21rem;
	display:block;
	width: 45%;
	background-image: url(../images/mBtBg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left:4%;
	float: left;
	position: relative;	
	color: #191b7e;	
}
.part_02 a span {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	height:0.42rem;
	line-height:0.42rem;
	font-size:0.24rem;
}
.part_02 a p {
	position:absolute;
	top:0.52rem;
	left:0px;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	font-weight: bold;
}
.part_02 a:nth-child(2) {
	margin-left:0;
	margin-right:4%;
	float:right;
}

@media(max-width:750px){
	#closeBtn {
		font-size: 0.8rem;
	}
}