*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    background: #ccc;
    box-sizing: border-box;
    border-radius: 50px;
    /* padding-top: 6rem; */
}
#app .content{
    width: 100%;
    margin: 0 auto;
    border-radius: 0.27rem;
    background: #fff;
    overflow: hidden;
}

.products {
    height: 1.07rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: #F6F6F6;
    user-select: none;
}

.products >span{
    flex: 0 0 33.33%;
    height: 100%;
    line-height: 1.07rem;
    font-size: 0.3rem;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 0.05rem solid transparent;
    color: #ccc;
}

.products >span.active{
    color:#11B873;
    border-bottom: 0.05rem solid #11B873;
}


.main{
    display: flex;
    flex-direction: column;
    margin-top: 0.33rem;
    padding: 0 0.45rem;
    box-sizing: border-box;
}

.main .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    /* margin-bottom: 0.25rem; */
}
.main .info .nameAndCode{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: flex-end;
}

.main .info .nameAndCode .info-code{
    
    line-height: 0.27rem;
    font-size:0.27rem;
    color: #A0A0A0;
}

.main .info .nameAndCode .info-name{
    line-height: 0.32rem;
    font-size: 0.32rem;
    color: #333;
    margin-right: 0.2rem;
}


.main .info .data-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-top: 0.23rem;
}

.main .info .data-wrap .cur{
    flex: 0 0 2rem;
    font-size: 0.6rem;
    font-weight: 400;
}

.main .info .data-wrap .col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.3rem;
}

.main .info .data-wrap .upDownWidth{
    font-size: 0.29rem;
}

.main .info .data-wrap .upDownAmount{
    font-size: 0.29rem;
}


.btns{
    width: 100%;
    margin: 0.36rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
    height: 1.17rem;
    line-height: 1.17rem;
}


.btns .btn{
    flex: 0 0 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.13rem;
    font-size: 0.3rem;
    color: #fff;
    background: #aaa;
    text-decoration: none;
}

