@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}
img {
  border: 0 none;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.clearFix {
	clear:both;
	width:100%;
	display:block;
	font-size:0px;
	line-height:0px;
	height:0px;
	overflow:hidden;
}
.clear {
	clear:both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 26px;
	-webkit-text-size-adjust: none;	
	position:relative;
}
html{
  font-size: 100px;
}
.wrapper{
	width:7.5rem;
	margin: 0 auto;
	overflow:hidden;
	height:auto;
	/* 共用 */
}
/* header */
body {
	padding-top:0rem;
	color:#fff;	
}
.headerMain {
    height:0.93rem;
	position: fixed;
	top:0rem;
	left:0rem;
	width:100%;
	z-index:997;
}
.header-info {
	height:0.93rem;
	position:relative;
	max-width:750px;
	margin:auto;
	margin:auto;
}
.header-info .logo {
	position:absolute;
	top:50%;
	height:0.47rem;
	margin-top:-0.235rem;
	left:0.3rem;
	display:block;	
}
.header-info .headerBtQ {
	position:absolute;
	top:50%;
	height:0.48rem;
	margin-top:-0.24rem;
	right:0px;
}
.header-info .headerBtQ img {
	height:0.48rem;
	display:block;
	float:right;
	margin-left:0rem;
}
@keyframes bgFadeIn {
    0% {
        background-color: #4776e0;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
/*.wrapper:before {
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	animation: bgFadeIn 0.5s ease-in both;
	top:0px;
	left:0px;
	z-index:0;
}*/
.wrapper {
	position:relative;
	background-color:#51007b;
}
.part_01 {
	background-image:url(../images/bg_01.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:1.39rem 0 5.12rem 0;
	position:relative;
}
.part_01 h2 img {
	display:block;
	width:6.45rem;
	margin:auto;
}
.part_01 .i1 {
	position:absolute;
	right:0px;
	bottom:0.74rem;
	width:7.5rem;
	height:2.94rem;
}
.part_01 .i2 {
	left:0px;
	bottom:3.6rem;
	position:absolute;
	width:100%;
	text-align:center;
}
.part_01 .i2 a {
	display: block;
	width: 2.41rem;
	height: 0.61rem;
	line-height: 0.61rem;
	vertical-align: middle;
	font-size: 0.29rem;
	color: #462701;
	margin: auto;
	background-image: linear-gradient(to bottom, #ffdc4a , #fe7204);
	-webkit-box-shadow: 0px 0.05rem 0.05rem rgba(0,0,0,0.2);
	border-radius: 0.3rem;
	box-shadow: 0px 0.05rem 0.05rem rgba(0,0,0,0.2);
}
.part_02 {
	background-image:url(../images/bg_02.jpg);
	background-repeat:repeat-x;
	background-size:auto 100%;
	padding-bottom:1.06rem;
	border-radius: 50px;
}
.part_02 .mainInfo {
	width:6.90rem;
	height:auto;
	margin:auto;
}
.pop_hdxq {
	display:none;
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	z-index:998;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}
.pop_hdxq .main {
	position:fixed;
	width:3.52rem;
	height:6.8rem;
	left:50%;
	margin-left:-1.76rem;
	text-align:center;
	top:50%;
	margin-top:-3.4rem;
	z-index:999;
	background-image:url(../images/pop_01.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.pop_hdxq .main .i1 {
	padding-top:4.36rem;
	padding-bottom:0.2rem;
	font-size:0.28rem;
	line-height:0.36rem;
	text-align:center;
}
.pop_hdxq .main .i1 strong {
	font-weight:normal;
	color:#b90405;
}
.pop_hdxq .main .i2 a {
	display: block;
	width: 2.41rem;
	height: 0.61rem;
	line-height: 0.61rem;
	vertical-align: middle;
	font-size: 0.29rem;
	color: #462701;
	margin: auto;
	background-image: linear-gradient(to bottom, #ffdc4a , #fe7204);
	border-radius: 0.3rem;
	position:relative;
}
.pop_hdxq .main .i2 a span {
	display:block;
	width:1.23rem;
	height:1.26rem;
	background-image:url(../images/pop_02.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	position:absolute;
	right:-1.07rem;
	bottom:-0.92rem
}
.footerINfo {
	background-image:url(../images/bg_03.jpg);
	background-repeat:repeat-x;
	background-size:auto 100%;
	color: #fff;
	position: relative;
	z-index: 2;
	padding:0 0.3rem 1.59rem 0.3rem;
}
.footerINfo h3 {
	text-align:center;
	color:#ffe14d;
	font-size:0.48rem;
	margin-bottom:0.12rem;
}
.footerINfo .i1 {
	padding:0 0.2rem;
	font-size:0.24rem;
	line-height:0.3rem;
	margin-bottom:0.25rem;
}
.footerINfo .i1 a {
	color:#ffe14d;
}
.footerINfo .i1 a img {
	display:inline-block;
	vertical-align:middle;
	height:0.13rem;
}
.footerINfo .i1 {
	font-size:0.24rem;
	line-height:0.4rem;
	margin-bottom:0.2rem;
	display:block;
	text-align:left;
}
.footerINfo .i2 {
	text-align:center;
	width:100%;
	display:block;
	margin-bottom:0.19rem;
}
.footerINfo .i2 a img {
	display: inline-block;
	border-radius: 0.05rem;
	width: 31.4%;
}
.footerINfo .i2 a:nth-child(1) img {
	float:left;
}
.footerINfo .i2 a:nth-child(3) img {
	float:right;
}
.footerINfo .i3  {
	width:100%;
}
.footerINfo .i3 li {
	width: 48%;
	float: left;
	text-align: center;
	color: #fff;	
	border-radius: 0.08rem;	
	padding-bottom:0.25rem;
	background-color: #fff;
	border: solid 0.02rem #cd2c95;
	background: linear-gradient(#fff,#fff);
}
.footerINfo .i3 li:nth-child(2) {
	float:right;
}
.footerINfo .i3 li h4 {
	display: inline-block;
	line-height: 0.48rem;
	padding: 0 0.2rem 0 0.7rem;
	background-image: url(../images/115_201.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0.2rem center;
	height: 0.48rem;
	vertical-align: middle;
	font-size: 0.24rem;
	font-weight: normal;
	border-radius: 0.24rem;
	background-color: #f5f5f5;
	color:#333333;
	margin:0.2rem;
}
.footerINfo .i3 li:nth-child(2) h4 {
	background-image: url(../images/115_202.png);
}
.footerINfo .i3 li p {
	font-weight:bold;
	font-size:0.48rem;
	line-height:0.48rem;
	vertical-align: bottom;
	color:#333333;
}
.footerINfo .i3 li p strong {
	line-height:0.24rem;
	font-size:0.24rem;
	font-weight:normal;
	color:#a3a3a3;
	vertical-align:bottom;
}
.footerINfo .i4 {
	clear:both;
	padding:0.58rem 0 0.4rem 0;
}
.footerINfo .i4 img {
	display:block;
	width:54%;
	margin:auto;
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity:1;
     }
    25% {
        opacity:0;
    }
    50% {
        opacity: 0;    
    }
    75% {
        opacity:1;
    }
}
.anim_fade_image {
    position:absolute;    
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -webkit-animation-direction: alternate;
}
.indexPic{
	position:absolute;
	left:5.55%;
	top:2.8%;
	width:88.9%;
	height:94%;
}
.index1{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../img/indexpic.png) no-repeat top center;
  background-size: 100% 100%;
}
.index2{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../img/indexpic2.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.index3{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../img/indexpic3.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.index4{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../img/indexpic4.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.index5{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../img/indexpic5.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}
.index6{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height:100%;
  background: url(../img/indexpic6.png) no-repeat top center;
  background-size: 100% 100%;
  display: none;
}