html {
	font-size:100px;
}
body { 
	 font-family: arial, "Microsoft YaHei"; 
	 background: #fff;
	 padding:0;
	 margin:0; 
	}
.wrapper {
	overflow-x: hidden;
}
a {
    transition-duration: 0.5s; 
    -webkit-transition-duration: 0.5s; 
	text-decoration: none;
}
input, button , select {
	 font-family: arial, "Microsoft YaHei"; 
}
p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, pre, input, table, tr, td, form {    margin: 0;    padding: 0}
ol, ul, li { list-style: none}
input { border: 0 none}
img {border: 0 none}

.float_clear {
	float: none;
	clear:both;
	display:block;
	width:100%;
}
.header-inner h1 .logo {
    background-image: url(../images/lp_logo.png);
	background-size: auto  100%;
}
.header a.app_down_btn ,
.header a.online_btn {
	width:1.3rem;
	height:0.4rem;
	line-height:0.4rem;
	text-align:center;
	display:inline-block;
	position:relative;
	color:#fff;
	border-radius:0.05rem;
	font-size:16px;
	box-sizing:border-box;
	padding:0 0 0 0.2rem;
	background-repeat: no-repeat;
	background-size:auto 100%;
	background-position:0.05rem 0px;
}
.header a.app_down_btn {
	display:none;
}
.header a.app_down_btn  {
	background-color:#1d82d2;
	background-image:url(../images/top_btn_icon2.png);
}
.header a.online_btn  {
	background-color:#18ce83;
	margin-left:0.1rem;
	background-image:url(../images/top_btn_icon1.png);
}

.header a.app_down_btn span {
	width:1.3rem;
	height:0;
	left:50%;
	margin-left:-0.65rem;
	position:absolute;
	top:100%;
	background:url(../images/top_qr.png) no-repeat;
	background-size:100% auto;
	transition-duration:0.5s;
}
.header a.app_down_btn:hover span {
	height:1.3rem;
}

.news_header {
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:0.85rem;
	z-index:150;
	transition-duration:0.5s;
}
.news_header.show_bg {
	background:rgba(254,90,56,0.75);
}
.news_header div {
	display:block;
	max-width:750px;
	margin:auto;
	position:relative;
	box-sizing:border-box;
	padding:0.2rem 0.25rem 0 0.25rem;
}
.news_header div .logo {
	display:block;
}
.news_header div .logo img {
	height:0.5rem;
	display:block;
}
.news_header div .cs_btn {
	display:block;
	right:0.2rem;
	position:absolute;
	top:0.2rem;
	font-size:0.24rem;
	width:2rem;
	color:#fff;
	box-sizing:border-box;
	text-align:center;
	padding:0;
	line-height:0.48rem;
	height:0.48rem;
	border-radius:0.5rem;
	border: 1px solid #fff;

}
.news_header div .cs_btn img {
	height:0.3rem;
	vertical-align:middle;
	margin:-0.02rem 0.05rem 0 -0.08rem;
}

.main_content {
	display: block;
	max-width: 750px;
	margin: auto;
	min-height:100vh;
	padding:0;
	overflow:hidden;
	font-size: 0.22rem;
	background-color:#fbd95e;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100% auto;
}
.main_banner {
	display: block;
	max-width: 1920px;
	margin: auto;
	height: 9.8rem;
	background: url(../images/banner_bg.jpg) no-repeat top center #fbd95e;
	background-size: 100% auto;
	position: relative;
	box-sizing: border-box;
	padding: 0.75rem 0 0 0;
	text-align:center;
}

.banner_title {
	display:block;
	position:relative;
	z-index:20;
	max-width: 100%;
	margin: auto;
	z-index: 20;
	animation-duration: 0.75s;
}
.banner_title img {
	display: block;
	width: 100%;
}
.banner_title span {
	display: block;
	width: 100%;
}
.banner_title span+span {
	position: absolute;
	top: 0;
	left: 0;
}
.banner_title span.note {
	animation-name: banner_title_bote;
	animation-delay: 0.4s;
}
@keyframes banner_title_bote {
	0% {
		transform: translate(-50%, 15%);
		opacity: 0;
	}
	100% {
		transform: translate(0 , 0);
		opacity: 1;
	}
}
.banner_title p {
	width: 0.9rem;
	position: absolute;
	display: block;
	right: 3%;
	top: 37%;
	animation-delay: 0.7s;
}
.banner_title p i {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	animation: banner_title_pic 2s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}
@keyframes banner_title_pic {
	0% , 10%, 30% , 100% {
		filter: brightness(1);
		transform: scale(1);
	}
	5% , 20% {
		filter: brightness(2);
		transform: scale(1.1);
	}
}
.banner_pic {
	display: block;
	margin: -0.3rem 0 0 0;
	position: relative;
}
.banner_pic .bg_light {
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	animation: bg_light 2s;
	animation-iteration-count: infinite;
}
@keyframes bg_light {
	0% , 100% {
		opacity: 0.9;
	}
	20% , 40%, 80% {
		opacity: 0.4;
	}
	30% , 60% {
		opacity: 0.6;
	}
}
.banner_pic .bg {
	display: block;
	width: 100%;
	position: relative;
	z-index: 2;
}
.banner_pic .bg_front {
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 3;
	animation-name: bg_front;
	animation-delay: 0.4s;
}
@keyframes bg_front {
	0% {
		transform: translate(0,20%);
		opacity: 0;
	}
	100% {
		transform: translate(0,0);
		opacity: 1;
	}
}
.banner_pic>p {
	position: absolute;
	width: 0.7rem;
	z-index: 10;
}
.banner_pic>p img {
	display: block;
	width: 100%;
	transform-origin: bottom center;
	animation: banner_title_pic 2s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}
.banner_pic>p img+img {
	position: absolute;
	top: 0;
	left: 0;
	animation-delay: 0.25s;
}
.banner_pic>p.flash1 {
    top: 29%;
    left: 30%;
}
.banner_pic>p.flash2 {
    top: 30%;
    left: 60%;
}
.banner_pic>p.flash2 img {
	animation-delay: 0.5s;
}
.banner_pic>p.flash2 img+img {
	animation-delay: 0.75s;
}
.banner_pic .cash1 {
	position: absolute;
	z-index: 5;
	width: 1.6rem;
	bottom: 3rem;
	display: block;
	left: 8%;
	animation: cash1 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-delay:-1s;
}
@keyframes cash1 {
	0% { 
		transform: translate(-70%, -10%) scale(1);
		opacity: 0;
	}
	20% , 25% {
		opacity: 1;
	}
	30% , 100% {
		transform: translate(70%, 30%) scale(0.8);
		opacity: 0;
	}
	
}
.banner_pic .cash2 {
	position: absolute;
	z-index: 5;
	width: 1.6rem;
	bottom: 3rem;
	display: block;
	left: 72%;
	animation: cash2 3.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
@keyframes cash2 {
	0% { 
		transform: translate(70%, -10%) scale(1);
		opacity: 0;
	}
	20% , 25% {
		opacity: 1;
	}
	30% , 100% {
		transform: translate(-90%, 30%) scale(0.8);
		opacity: 0;
	}
	
}
.banner_pic .cash1 img ,
.banner_pic .cash2 img {
	display: block;
	width: 100%;
/*	animation: banner_cash1 4s;
	animation-iteration-count: infinite;*/
}
.banner_pic .cash2 img {
	animation-delay: -2s;
}
@keyframes banner_cash1 {
	0% , 100% {
		transform: translate(0,-10%);
	}
	50% {
		transform: translate(0,10%);
	}
}

.banner_pic .cash_mov {
	position: absolute;
	width: 0.6rem;
	height: 4rem;
	display: block;
	margin-left: -0.3rem;
	z-index: 9;
}
.banner_pic .cash_mov li {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	transform-origin: bottom center;
}
.banner_pic .cash_mov li p {
	display: block;
	width: 0.6rem;
	height: 1.4rem;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: cash_mov1 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	transform-origin: bottom center;
}
@keyframes cash_mov1 {
	0% {
		bottom: 60%;
		opacity: 0;
		transform: scale(1.75);
	}
	75%, 95% {
		opacity: 1;
	}
	100% {
		bottom: 0;
		opacity: 0;
		transform: scale(0.4);
	}
}
.banner_pic .cash_mov li p span {
	display: block;
	width: 100%;
	height: 100%;
	background: url("../images/banner_cash3.png") no-repeat;
	background-size: 100% 100%;
}
.banner_pic .cash_mov.left {
    left: 35%;
    bottom: 3.2rem;
}
.banner_pic .cash_mov.right {
    left: 63%;
    bottom: 3.2rem;
}


.content1 {
	display: block;
	padding: 0.25rem 0;
}

.pic_title {
	display: block;
	text-align: center;
	padding: 0.45rem 0 0.1rem 0;
}
.pic_title img {
	width: 100%;
	display: block;
}
.pic_title span {
	display: inline-block;
	width: 2.4rem;
	vertical-align: middle;
	margin: 0 -0.1rem 0 0;
	position: relative;
	z-index: 5;
	animation-duration: 0.6s;
}
.pic_title p {
	display: inline-block;
	width: 3.45rem;
	vertical-align: middle;
	animation-duration: 0.6s;
	animation-delay: 0.3s;
}

.main_btn {
	display: block;
	padding: 0.25rem 0;
}
.main_btn a {
	display: block;
	margin: auto;
	width: 6.15rem;
	height: 1rem;
	font-size: 0.4rem;
	color: #fff;
	font-weight: bold;
	line-height: 1rem;
	border-radius: 1rem;
	text-align: center;
	box-shadow: inset 0 -0.1rem 0.15rem rgba(120,55,255,0.5), 0 0.05rem 0.2rem rgba(0,0,0,0.3);
	background: #9c1fff;
background: -moz-linear-gradient(top,  #9c1fff 0%, #3e02b7 100%);
background: -webkit-linear-gradient(top,  #9c1fff 0%,#3e02b7 100%);
background: linear-gradient(to bottom,  #9c1fff 0%,#3e02b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c1fff', endColorstr='#3e02b7',GradientType=0 );
}
.main_btn a b {
	font-size: 0.55rem;
	display: inline-block;
    vertical-align: bottom;
}

.content1_list {
	display: block;
	background: #ea3637;
	width: 6.9rem;
	margin: 0.5rem auto 0.3rem auto;
	border-radius: 0.15rem;
	position: relative;
    padding: 0.4rem 0.15rem 0.1rem 0.15rem;
	box-sizing: border-box;
 /*   filter: drop-shadow(0 0 0.1rem rgba(0,0,0,0.3));*/
}
.content1_list:before {
	position: absolute;
	content: "";
	width: 1rem;
	height: 1rem;
	margin: -0.5rem;
	left: 50%;
	top: 0;
	display: block;
	background: url("../images/content1_list_icon.png") no-repeat;
	background-color: #ea3637;
	background-size: 100% 100%;
	border-radius: 100%;
}
.content1_list b {
	font-size: 0.24rem;
	color: #fce488;
	display: block;
	text-align: center;
	font-weight: normal;
	position: relative;
	z-index: 10;
}
.content1_list ul {
	display: block;
	padding: 0.15rem 0 0.1rem 0;
}
.content1_list ul li {
	display: block;
	height: 1rem;
	background: url("../images/content1_list_msg.png") no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.content1_list ul li div {
	display: block;
	height: 0.86rem;
	overflow: hidden;
}
.content1_list ul li p {
	width: 92%;
	display: inline-block;
	vertical-align: middle;
	line-height: 0.86rem;
	color: #58595b;
	font-size: 0.24rem;
	text-align: justify;
	transition-duration: 0.5s;
}


.demo {
	display: block;
	width: 6.84rem;
	margin: 0 auto 0.2rem auto;
	background: #93010b;
	overflow: hidden;
	border-radius: 0.07rem;
}
.demo img {
	display: block;
	max-width: 100%;
}

.content2 {
	display: block;
	background: url("../images/content2_bg.jpg") top no-repeat;
	background-size: 100% auto;
	padding: 1.5rem 0 0.1rem 0;
}
.content2_title {
	display: block;
	text-align: center;
	font-size: 0.4rem;
	color: #95670b;
	line-height: 0.6rem;
}
.content2_title span {
	color: #e71c18;
}
.content2_title span b {
	font-size: 0.55rem;
	vertical-align: bottom;
}
.content2_list {
	display: block;
	margin: 0.8rem auto;
	width: 4.8rem;
	position: relative;
}
.content2_list img {
	display: block;
	width: 100%;
}
.content2_list .bg {
	display: block;
}
.content2_list>ul {
	display: block;
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	animation-name: content2_list1;
	animation-duration: 1.5s;
} 
@keyframes content2_list1 {
	0% {
		transform: rotate(-360deg);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg);
		opacity: 1;
	}
}
.content2_list>ul li {
	width: 1.75rem;
	margin: -0.875rem;
	display: block;
	position: absolute;
	border-radius: 100%;
	animation-name: content2_list2;
	animation-duration: 1.5s;
	box-shadow: 0 0 0.2rem rgba(255,240,110, 1);
}
@keyframes content2_list2 {
	0% {
		transform: rotate(360deg);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg);
		opacity: 1;
	}
}
.content2_list>ul li.ball1 {
	left: 50%;
	top: 0;
}
.content2_list>ul li.ball2 {
	left: 100%;
	top: 50%;
}
.content2_list>ul li.ball3 {
	left: 50%;
	top: 100%;
}
.content2_list>ul li.ball4 {
	left: 0%;
	top: 50%;
}
.content2_list i {
	position: absolute;
	bottom: 12.5%;
	left: 0;
	width: 100%;
	display: block;
	animation-delay: 1.4s;
}



.content2_bottom_note {
	margin: 0.4rem auto;
	display: block;
	width: 6.9rem;
	height: 1.5rem;
	background: url("../images/content2_bottom_note.png") no-repeat right center;
	background-size: auto 100%;
	position: relative;
	animation-name: content2_bottom_note;
	animation-delay: 0.2s;
	animation-duration: 1.2s;
}
@keyframes content2_bottom_note {
	0% {
		width: 0.5rem;
	}
	100% {
		width: 6.9rem;
	}
}
.content2_bottom_note span {
	position: absolute;
	width: 0.45rem;
	left: 0;
	top: 0;
}
.content2_bottom_note p {
	position: absolute;
	width: 0.4rem;
	right: -0.2rem;
	top: 0;
	z-index: 5;
}
.content2_bottom_note p img,
.content2_bottom_note span img {
	display: block;
	width: 100%;
}



.bottom_btn {
	display: block;
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 7.5rem;
	z-index: 100;
	margin-left: -3.75rem;
	height: 1.4rem;
	background: rgba(255,50,45,0.8);
	box-sizing: border-box;
	padding: 0.2rem 0 0 0;
}
.bottom_btn a {
	width: 5.35rem;
	height: 1rem;
	background: url("../images/bottom_btn.png") no-repeat;
	background-size: 100% 100%;
	display: block;
	margin: auto;
	font-size: 0.22rem;
	overflow: hidden;
	line-height: 5rem;
	text-align: center;
	letter-spacing: 0.04rem;
	font-weight: bold;
	border-radius: 1rem;
    color: #004649;
    font-weight: bold;
	text-shadow: 0 -0.02rem 0.02rem rgba(255,255,255,0.5);
    box-shadow: 0 0.1rem 0.2rem rgb(0,0,0,0.3);
}

.new_content {
	display:block;
	max-width:750px;
	box-sizing:border-box;
	padding:0.3rem 0.3rem 2rem 0.3rem;
	color:#58595b;
	font-size:0.24rem;
/*	text-shadow:0 0 0.05rem rgba(0,0,0,0.5);*/
}
.new_content .pic_title2 {
	display: block;
	padding-bottom: 0.25rem;
}
.new_content .pic_title2 img {
	display: block;
	height: 0.55rem;
	margin: auto;
}
.new_content h1 {
	display:block;
	font-size:0.34rem;
	color:#333;
	margin:0;
	padding:0.15rem 0;
}
.new_content .more_btn2 {
	color: #684a05;
}
.new_content .more_btn {
	display:block;
	float:right;
	color:#a3a3a3;
	font-size:0.24rem;
	text-decoration:none;
	margin-top:0.25rem;
	text-shadow:0 0 0.05rem rgba(0,0,0,0);
}
.new_content .more_btn i {
	display:inline-block;
	vertical-align:middle;
	transform:rotate(45deg);
	margin:-0.02rem 0 0.02rem 0.04rem;
	width:0.1rem;
	height:0.1rem;
	border-top:1px solid #a3a3a3;
	border-right:1px solid #a3a3a3;
}
.new_content .blue_icon {
	display:block;
	padding:0.3rem 0 0.2rem 0;
	margin:auto;
}
.new_content .blue_icon:after {
	content:"";
	clear:both;
	display:block;
}
.new_content .blue_icon li {
	width:31.33%;
	display:block;
	float:left;
	height:1.3rem;
	text-align:center;
	border-radius: 0.07rem;
	box-sizing:border-box;
	padding:0.15rem 0;
	color:#fbe78d;
	font-size:0.24rem;
	position:relative;
	text-shadow:0 0 0.05rem rgba(0,0,0,0);
	
	background: #e9292e;
background: -moz-linear-gradient(top,  #e9292e 0%, #ec5248 100%);
background: -webkit-linear-gradient(top,  #e9292e 0%,#ec5248 100%);
background: linear-gradient(to bottom,  #e9292e 0%,#ec5248 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9292e', endColorstr='#ec5248',GradientType=0 );

}
.new_content .blue_icon li+li {
	margin-left:3%;
}
.new_content .blue_icon li img {
	display:block;
	margin:0 auto 0.05rem auto;
	width:0.6rem;
}
.new_content .blue_icon li b {
	font-weight: normal;
}

.new_content .blue_icon li a {
	display:block;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position: absolute;
}
.new_content .img_title {
	margin-bottom: 0.2rem;
}
.price_list {
	display:block;
	padding:0;
	margin:0;
	text-shadow:0 0 0.05rem rgba(0,0,0,0);
}
.price_list:after {
	display:block;
	content:"";
	clear:both;
}
.price_list li {
	display:block;
	width:3.35rem;
	height:1.6rem;
	background:url(../images/bottom_line.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:left;
	box-sizing:border-box;
	padding:0.2rem 0 0 0;
	border-radius: 0.05rem;
}
.price_list li.list2 {
	margin-left:0.2rem;
	background-image:url(../images/bottom_line2.png);
}
.price_list li span {
	display:block;
	margin:auto;
	background: #654f04;
	width:2.35rem;
	height:0.5rem;
	border-radius:0.5rem;
	font-size:0.24rem;
	color:#fbe483;
	line-height:0.5rem;
	text-align:center;
}
.price_list li.list2 span {
	background: #654f04;
}
.price_list li span img {
	display:inline-block;
	width:0.4rem;
    vertical-align: middle;
	margin:-0.04rem 0.02rem 0.04rem -0.05rem;
}
.price_list li p {
	display:block;
	font-size:0.24rem;
	color:#c31f20;
	text-align:center;
	margin:0 auto;
	padding:0.15rem 0 0 0;
}
.price_list li p b {
	font-size:0.48rem;
}
.price_list li.list2 p {
	
}	

.right_btn {
	position: fixed;
	width: 0.55rem;
	height: 2rem;
	right: 0;
	top: 50%;
	margin-top: -1rem;
	z-index: 100;
}
.right_btn a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/right_btn.png) no-repeat;
	background-size: 100% 100%;
}



@media(max-width:750px){
	html {
		font-size: 55px;
	}
	
	


}
	
	
	