@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0 none;
    max-width: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

.clearFix {
    clear: both;
    width: 100%;
    display: block;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    overflow: hidden;
}

.clear {
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Noto Sans SC", 'Microsoft YaHei', 'microsoft jhengHei', 'Apple LiGothic', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    -webkit-text-size-adjust: none;
    position: relative;
}

html {
    font-size: 100px;
}

.wrapper {
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    /* 共用 */
}


/* header */

body {
    padding-top: 0rem;
    color: #fff;
}

.headerMain {
    height: 0.93rem;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    z-index: 997;
}

.header-info {
    height: 0.93rem;
    position: relative;
    max-width: 750px;
    margin: auto;
    margin: auto;
}

.header-info .logo {
    position: absolute;
    top: 50%;
    height: 0.47rem;
    margin-top: -0.235rem;
    left: 0.3rem;
    display: block;
}

.header-info .headerBtQ {
    position: absolute;
    top: 50%;
    height: 0.48rem;
    margin-top: -0.24rem;
    right: 0px;
}

.header-info .headerBtQ img {
    height: 0.48rem;
    display: block;
    float: right;
    margin-left: 0rem;
}

@keyframes bgFadeIn {
    0% {
        background-color: #4776e0;
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes scaleDraw {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleDraw2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.yh1 {
    -webkit-animation-name: scaleDraw;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
}

.yh2 {
    -webkit-animation-name: scaleDraw2;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
}


/*.wrapper:before {
content:"";
position:absolute;
height:100%;
width:100%;
animation: bgFadeIn 0.5s ease-in both;
top:0px;
left:0px;
z-index:0;
}*/

.wrapper {
    position: relative;
    background-color: #51007b;
}

.part_01 {
    height: 5.79rem;
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg_01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.part_01 h2 img {
    display: block;
    width: 6.52rem;
    position: absolute;
    left: 50%;
    margin-left: -3.26rem;
    top: 1.35rem;
    z-index: 5;
}

.part_01 .i1 {
    width: 2.18rem;
    position: absolute;
    left: .78rem;
    top: 3rem;
    z-index: 5;
}

.part_01 .i2 {
    width: 2.18rem;
    position: absolute;
    right: .78rem;
    top: 3rem;
    z-index: 5;
}

.part_01 .i3 {
    position: absolute;
    right: 0px;
    top: 0.07rem;
    width: 7.38rem;
    z-index: 0;
}

.part_01 .i5 {
    width: 2.18rem;
    position: absolute;
    left: 2.65rem;
    top: 2.2rem;
    z-index: 5;
}

.btnWrap {
    display: flex;
    width: 6.5rem;
    justify-content: space-around;
    margin: 0 auto;
}

.part_01 .i4 {
    margin-top: 4.96rem;
    z-index: 99;
}

.part_01 .i4 a {
    display: block;
    width: 2.08rem;
    height: 0.52rem;
    line-height: 0.52rem;
    vertical-align: middle;
    font-size: 0.28rem;
    color: #f9f67a;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(to bottom, #cade22, #63a302);
    border-radius: 0.26rem;
}

.part_02 {
    background-image: url(../images/bg_02.jpg);
    background-repeat: repeat-x;
    background-size: 100% 100%;
    padding: 0 0.23rem 0.58rem 0.23rem;
    position: relative;
    background-color: #cd5c9f;
}

.part_02 .m1 {
    padding: 0.3rem 0.1rem 0 0.1rem;
    background-color: #dcdcdc;
    border-radius: 0.1rem;
    -webkit-box-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.part_02 .s1 {
    border-radius: 0.1rem;
    padding: 0.3rem 0.1rem;
    background-color: #fff;
    margin-bottom: 0.37rem;
    height: 2.88rem;
}

.part_02 .s1 table {
    width: 100%;
    font-size: 0.2rem;
    border-collapse: separate;
    border-spacing: 0.02rem 0;
}

.part_02 .s1 table td {
    padding: 0.19rem 0rem;
    font-weight: normal;
    font-size: 0.2rem;
    text-align: center;
    position: relative;
}

.part_02 .s1 table td .icon {
    position: absolute;
    width: 0.7rem;
    margin-left: -0.3rem;
    top: -.05rem;
}

.part_02 .s1 table tr:first-child td {
    padding-top: 0.12rem;
    border-radius: 0.08rem 0.08rem 0 0;
}

.part_02 .s1 table tr:last-child td {
    padding-bottom: 0.12rem;
    border-radius: 0 0 0.08rem 0.08rem;
}

.part_02 .s1 table td:nth-child(1) {
    background-image: linear-gradient(to right, #1907b6, #2806a7);
}

.part_02 .s1 table td:nth-child(2) {
    background-image: linear-gradient(to right, #2806a7, #3f0692);
}

.part_02 .s1 table td:nth-child(3) {
    background-image: linear-gradient(to right, #3f0692, #67046d);
}

.part_02 .s1 table td:nth-child(4) {
    background-image: linear-gradient(to right, #67046d, #930345);
}

.part_02 .s1 table td a {
    display: inline-block;
    width: 100%;
    height: 0.36rem;
    line-height: 0.36rem;
    vertical-align: middle;
    text-align: center;
    color: #f6f478;
    background-image: linear-gradient(to bottom, #c8dd21, #62a202);
    border-radius: 0.18rem;
    margin-left: 0.08rem;
}

.part_02 .container {
    position: relative;
    margin-bottom: 0.3rem;
}

.part_02 .tabs {
    position: relative;
}

.part_02 .tabs li {
    width: 2.27rem;
    margin-right: 0.01rem;
    height: 0.8rem;
    line-height: 0.8rem;
    vertical-align: middle;
    background-color: #2595fa;
    float: left;
    font-size: 0.24rem;
    text-align: center;
    cursor: pointer;
}

.part_02 .tabs li.curA {
    background-color: #ff6c00;
}

.part_02 .tabs li:first-child {
    border-top-left-radius: 0.12rem;
}

.part_02 .tabs li:last-child {
    border-top-right-radius: 0.12rem;
}

.swiper-container {
    width: 100%;
}

.part_02 .swiper-slide {
    background-image: url(../images/tabCBg.jpg);
    background-repeat: repeat-x;
    background-size: 100% 100%;
    padding-bottom: 0.02rem;
}

.part_02 .swiper-slide .i1 {
    margin: 0.02rem;
    padding: 0.27rem 0 0 0;
    background-color: #ebebeb;
}

.part_02 .swiper-slide .i1 .kxk {
    width: 6.63rem;
    height: 3.79rem;
    background-color: #000;
    margin: 0 auto 0.28rem auto;
}

.part_02 .swiper-slide .i2 {
    margin: auto;
    width: 6.59rem;
    height: 0.66rem;
    padding: 0.02rem;
    border-radius: 0.08rem;
    background: linear-gradient(to bottom, #a230d1, #fd4d05);
}

.part_02 .swiper-slide .i2 li {
    width: 2.915rem;
    float: left;
    height: 0.66rem;
    line-height: 0.66rem;
    vertical-align: middle;
    float: left;
    padding-left: 0.38rem;
    background-color: #ebebeb;
    color: #333333;
    font-size: 0.24rem;
    font-weight: bold;
}

.part_02 .swiper-slide .i2 li:first-child {
    border-radius: 0.06rem 0 0 0.06rem;
}

.part_02 .swiper-slide .i2 li:last-child {
    border-radius: 0 0.06rem 0.06rem 0;
}

.part_02 .swiper-slide .i2 li strong {
    font-size: 0.3rem;
    color: #b80305;
}

.part_02 .swiper-slide .i3 {
    background-image: url(../images/202.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.55rem 0.15rem 0.28rem 0.15rem;
    height: auto;
    overflow: hidden;
    clear: both;
}

.part_02 .swiper-slide .i3 a {
    width: 3.2rem;
    height: 0.7rem;
    line-height: 0.7rem;
    vertical-align: middle;
    font-size: 0.3rem;
    border-radius: 0.06rem;
    display: block;
    float: left;
    font-weight: bold;
    text-align: center;
    position: relative;
    display: block;
    background-color: #0a7700;
}

.part_02 .swiper-slide .i3 a span {
    width: 0.48rem;
    height: 0.47rem;
    background-image: url(../images/203_1.png);
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -0.24rem;
    top: -0.5rem;
    display: none;
}

.part_02 .swiper-slide .i3 a.curA span {
    display: block;
}

.part_02 .swiper-slide .i3 a:nth-child(2) {
    float: right;
    background-color: #b90405;
}

.part_02 .swiper-slide .i3 a:nth-child(2) span {
    background-image: url(../images/203_2.png);
}

.footerINfo {
    background-image: url(../images/bg_03.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 0 0.3rem .43rem 0.3rem;
}

.footerINfo h3 {
    text-align: center;
    color: #fcd112;
    font-size: 0.48rem;
    margin-bottom: 0.12rem;
}

.footerINfo .i1 {
    padding: 0 0.2rem;
    font-size: 0.24rem;
    line-height: 0.3rem;
    margin-bottom: 0.25rem;
}

.footerINfo .i1 a {
    color: #fcd112;
}

.footerINfo .i1 a img {
    display: inline-block;
    vertical-align: middle;
    height: 0.13rem;
}

.footerINfo .i1 {
    font-size: 0.24rem;
    line-height: 0.4rem;
    margin-bottom: 0.2rem;
    display: block;
    text-align: left;
}

.footerINfo .i2 {
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 0.19rem;
}

.footerINfo .i2 a img {
    display: inline-block;
    border-radius: 0.05rem;
    width: 31.4%;
}

.footerINfo .i2 a:nth-child(1) img {
    float: left;
}

.footerINfo .i2 a:nth-child(3) img {
    float: right;
}

.footerINfo .i3 {
    width: 100%;
}

.footerINfo .i3 li {
    width: 48%;
    float: left;
    text-align: center;
    color: #fff;
    border-radius: 0.08rem;
    padding-bottom: 0.25rem;
    background-color: #fff;
    border: solid 0.02rem #e64496;
    background: linear-gradient(#fff, #fff);
}

.footerINfo .i3 li:nth-child(2) {
    float: right;
}

.footerINfo .i3 li h4 {
    display: inline-block;
    line-height: 0.48rem;
    padding: 0 0.2rem 0 0.7rem;
    background-image: url(../images/115_201.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0.2rem center;
    height: 0.48rem;
    vertical-align: middle;
    font-size: 0.24rem;
    font-weight: normal;
    border-radius: 0.24rem;
    background-color: #ccdf22;
    color: #f9f67a;
    margin: 0.2rem;
}

.footerINfo .i3 li:nth-child(2) h4 {
    background-image: url(../images/115_202.png);
}

.footerINfo .i3 li p {
    font-weight: bold;
    font-size: 0.48rem;
    line-height: 0.48rem;
    vertical-align: bottom;
    color: #680d6e;
}

.footerINfo .i3 li p strong {
    line-height: 0.24rem;
    font-size: 0.24rem;
    font-weight: normal;
    color: #680d6e;
    vertical-align: bottom;
}

.footerINfo .i4 {
    clear: both;
    padding: 0.58rem 0 0.4rem 0;
}

.footerINfo .i4 img {
    display: block;
    width: 54%;
    margin: auto;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

.anim_fade_image {
    position: absolute;
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -webkit-animation-direction: alternate;
}

.indexPic {
    position: absolute;
    left: 5.55%;
    top: 2.8%;
    width: 88.9%;
    height: 94%;
}

.index1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../img/indexpic.png) no-repeat top center;
    background-size: 100% 100%;
}

.index2 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../img/indexpic2.png) no-repeat top center;
    background-size: 100% 100%;
    display: none;
}

.index3 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../img/indexpic3.png) no-repeat top center;
    background-size: 100% 100%;
    display: none;
}

.index4 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../img/indexpic4.png) no-repeat top center;
    background-size: 100% 100%;
    display: none;
}

.index5 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../img/indexpic5.png) no-repeat top center;
    background-size: 100% 100%;
    display: none;
}

.index6 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../img/indexpic6.png) no-repeat top center;
    background-size: 100% 100%;
    display: none;
}

.videoTutor {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999999;
}

.videoClose {
    background-image: url(../images/close_btn.png);
    background-size: 100% 100%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.videoWrap {
    width: 3.8rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.note {
    background-image: url(../images/note.png);
    background-size: 100% 100%;
    width: 7.5rem;
    height: 3.27rem;
}

.float {
    z-index: 10;
    bottom: 0;
    width: 7.5rem;
    height: 1.15rem;
    margin-bottom: 1rem;
}

.floatbtn {
    display: block;
    background-image: url(../images/floatbtn.png);
    background-size: 100% 100%;
    width: 4.98rem;
    height: 1.15rem;
    margin: 0 auto;
}

@media screen and (max-width: 751px) {
    .videoWrap {
        width: 6.5rem;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

video {
    width: 100%;
    height: auto;
}